[2019-06-07 15:01] #926 closed, assigned to AlexeyTishkin

[2019-06-07 15:10] MaksymTikhomirov commented on #957
Надо, уже прям подгорает (((

[2019-06-10 07:41] kattrina-brekhova opened #958 "Объект учета НА: не получается удалить сам объект и удалить строку с этим объектом в ранее проведенном и распроведенном документе"
создала объект Основные средства, оприходовала его от инвестора. нужно заменить: распровела документ, но убрать строку с этим объектом не удается - на этапе сохранения такое сообщение
![image](https://user-images.githubusercontent.com/38099938/59179950-42812700-8b6c-11e9-83d7-fe58c0abbea3.png)
то есть получается, что нужно создавать новый документ по новому. так же не удается удалить документ и са

[2019-06-11 00:47] htrofymova commented on #958
Предлагаю делать операции с НА уже из нового раздела: Операции (beta).
Именно такая операция -  Створити документ - Прийом-передача необоротних активів (прийом) - внутри выбрать операцию Внесення майна до статутного капіталу (емітент).

[2019-06-11 00:57] htrofymova commented on #958
А так - не могу повторить.

[2019-06-11 09:53] #958 closed, assigned to nobody

[2019-06-11 12:48] AlexeyTishkin commented on #956
Сделал.

[2019-06-11 18:23] AndriyNesterenya opened #959 "Убрать режим "Печать с просмотром""
Предлагаю вообще удалить режим "Друкувати з попереднім переглядом"
![image](https://user-images.githubusercontent.com/38098758/59296455-b287ce00-8c8e-11e9-9370-788466dbbe66.png)

От него сейчас вред один:
Если юзер просит печатать БЕЗ просмотра - ему откроется стандартный диалог печати с просмотром.
Если юзер просит печатать С предпросмотром - ему показывают печатную форму в окне без контроллов, ч

[2019-06-12 09:42] DenisClone commented on #652
Появилась еще одна мысль: можно удалять такие учетки вручную. Т.к. такие ситуации не частые.
Если мыло не подтверждено, то возле него в админке, выводить кнопку - "Удалить".
Это позволит нам оперативно удалить учетку, в которой указано несуществующее мыло, и дать возможность клиенту зарегистрироваться заново, указав тот же самый номер телефона.

[2019-06-13 07:52] kattrina-brekhova opened #960 "Раздел Необоротные активы подраздел Операции (бета): в операции Приём необоротных активов не пзволяет выбрать контрагента с ролью "Поставщик""
К выбору возможен контрагент, у которого роль "Покупатель" и "Поставщик" одновременно

[2019-06-13 08:46] Anestezia opened #961 "Добавить возможность создать контрагента физлицо и ФОП под одним ИНН."
![image](https://user-images.githubusercontent.com/42540074/59417867-b28fe700-8dd0-11e9-9b95-519b29be61c7.png)
В базе есть контрагент Физлицо, и нельзя добавить этого же человека ФОПом, так как коды одинаковые. Даже если я первого добавила через физлиц в персонале.

Вдруг у меня человек работает на предприятии, а еще он ФОП и я решила у него что-то купить.
Или бывший сотрудник ушел на аутсорс.
Или

[2019-06-13 08:48] Anestezia opened #962 "В Выписке при выборе Отрим. цільового фінансування добавить выбор вида финансирования"
Просят на этом этапе в этой операции добавить прямо в выписку выбор вида целевого финансирования, так как создается по умолчанию проводка по 483 счету, и потом приходится заходить в саму платежку сформированную этой выпиской, снимать проведение, выбирать подвид, чтоб поставило в данном случае 484 счет. И таких операций у клиента почему-то много. Вот сюда:
![image](https://user-images.githubusercon

[2019-06-13 08:51] Anestezia opened #963 "Добавить в платежке на Перказ між своїми рахунками возможность создать на его основании Поступление на другой счет."
Также как и у нас был вопрос о создании из операции нового интерфейса Видаток з рахунку в банку в касу, сделать Приход в кассу тут же. Так и с этой операцией: в старом виде из нее можно сразу и приход сделать было.а в новом такого нет. Я бы добавила.

[2019-06-13 09:58] Anestezia opened #964 "Сделать на основании парные операции Видаток з каси на рахунок в банку и Тут же приход в банк этих сумм"
Как в старом интерфейсе было:
https://github.com/a2develop/bugTracker/issues/105
![image](https://user-images.githubusercontent.com/42540074/59423431-d0fae000-8dda-11e9-87cf-b1c0d1aa3878.png)
![image](https://user-images.githubusercontent.com/42540074/59423514-f8ea4380-8dda-11e9-935d-1abeaf9146e7.png)

[2019-06-13 11:45] htrofymova commented on #960
Не понятно, какая операция имеется ввиду. Если документ "Прийом-передача необоротних активів (прийом)", то в нем можно выбрать 2 операции, в которых можно выбрать любого контрагента в качестве поставщика.

[2019-06-13 14:01] AlexeyTishkin commented on #963
Платеж "Переказ між своїми рахунками" создает сразу две операции: "Видаток на інший власний рахунок" и "Надходження з іншого власного рахунку".

[2019-06-14 07:12] kattrina-brekhova commented on #960
Приём-передача необоротных активов (приём) - "Приобретение объектов нематериальных активов"
при выборе контрагента с ролью поставщик - тут же исчезает из рядка. при выборе контрагента с ролью поставщик-покупатель - контрагент остается в рядке документа

[2019-06-14 07:14] kattrina-brekhova commented on #960
![image](https://user-images.githubusercontent.com/38099938/59490365-27285b80-8e8d-11e9-96ff-68260f5ce9b8.png)

[2019-06-14 08:55] kattrina-brekhova opened #965 "Акт приймання передачі об’єкта нематеріальних активів: пропущен пробел"
![image](https://user-images.githubusercontent.com/38099938/59496877-0830c600-8e9b-11e9-8471-56eafd264831.png)

[2019-06-14 08:59] kattrina-brekhova commented on #960
хотя очень странно. у меня создан контрагент БукКипер, я хочу его выбрать в документ на приход нематериальных активов. если следовать логике, то добавила роль в учете - поставщик, покупатель. но все равно почему-то не могу выбрать в документ
это на сервисе
логин behappy120486@gmail.com
пароль behappy1204
посмотрите пожалуйста, почему не получается

[2019-06-14 10:27] #956 closed, assigned to AlexeyTishkin

[2019-06-14 10:56] htrofymova commented on #960
исправлено

[2019-06-14 10:57] htrofymova commented on #965
исправлено

[2019-06-14 11:02] #965 closed, assigned to nobody

[2019-06-14 11:24] #960 closed, assigned to nobody

[2019-06-14 11:45] kattrina-brekhova opened #966 "Раздел НА: не удаляется не проведенный документ Придбання об’єктів нематеріальний активів"
![image](https://user-images.githubusercontent.com/38099938/59507184-f5c28680-8eb2-11e9-9711-2f53fb23ad0b.png)

[2019-06-14 11:46] kattrina-brekhova commented on #966
на сервисе
логин behappy120486@gmail.com
пароль behappy1204

[2019-06-14 11:54] Anestezia opened #967 "Автонумерация для инвентарного номера"
Звонила женщина, спрашивала про автонумерацию для инвентарного номера, может по принципу счета? первый мы вводим, а следующие программа как за образец берет и продолжает

[2019-06-14 12:27] AlexeyTishkin commented on #940
Останавливаемся на том, что оплата штрафа осуществляется тем же шаблоном, что и перечисление налога ?

[2019-06-14 12:55] kattrina-brekhova opened #968 "Раздел НА: не возможно внести изменение в проведенном документе Акт прийома-получения ОС в статутных капитал"
ситуация. сделала документ, оприходовала объекты учета на склад. есть необходимость разбить документ на два - часть объектов на один склад, а часть на другой. ни один из объектов учета не вводила в эксплуатацию
но переделать документ не получается. не удобно. получается, что я не могу внести изменения, удалить и отменить проведение документа
![image](https://user-images.githubusercontent.com/38099

[2019-06-18 08:36] #658 closed, assigned to nobody

[2019-06-18 08:45] DenisClone commented on #932
Выяснилось, что ошибка старая и устойчивая, вот ишью от декабря:
https://github.com/a2develop/bugTracker/issues/711

[2019-06-18 08:46] DenisClone commented on #711
Это ишью закрываю, дублируется с ишью https://github.com/a2develop/bugTracker/issues/932

[2019-06-18 08:46] #711 closed, assigned to alex-kukhtin

[2019-06-18 12:00] Anestezia opened #969 "Не вистачає налаштувань колонок реєстрів документів. Проекты"
Не вистачає налаштувань колонок реєстрів документів. Наприклад, в документах можна вказати додаткову аналітику ПРОЕКТ. Але в списку документів немає такої колонки. Неможливо згрупувати та накласти фільтр по проекту.

[2019-06-18 14:10] htrofymova commented on #966
исправлено. Чтобы "все получилось", надо заново провести-"распровести" документ, а потом уже удалить.

[2019-06-18 14:27] htrofymova commented on #968
исправлено. То же, что #966

[2019-06-19 08:52] #966 closed, assigned to nobody

[2019-06-19 08:52] #968 closed, assigned to nobody

[2019-06-19 10:24] Illya-Lykhachov commented on #740
Сделать отчет "Ведомость по товарам на комиссии", который будет показывать остатки товаров в разрезе комиссионеров.

[2019-06-19 10:40] Illya-Lykhachov commented on #821
НДС с прайсе (вид цены) должен соответствовать НДС в документе. В прайсе указываем, в документе отображаем (disabled)

[2019-06-19 11:17] Illya-Lykhachov commented on #866
CheckBox в накладной и колонка в отчёте

[2019-06-19 11:27] #866 closed, assigned to AlexeyTishkin

[2019-06-19 11:35] #202 closed

[2019-06-19 11:52] Illya-Lykhachov commented on #326
Нестрогий валидатор, как в накладной.

[2019-06-19 11:54] Illya-Lykhachov commented on #369
Спецдокумент

[2019-06-19 12:05] Illya-Lykhachov commented on #911
Отдельный документ (операция)

[2019-06-19 12:09] Illya-Lykhachov commented on #54
Остались кассовые ордера

[2019-06-19 12:23] Illya-Lykhachov commented on #695
Уточнить какой счет какими проводками закрывается

[2019-06-19 13:00] #702 closed, assigned to AlexeyTishkin

[2019-06-19 13:04] #599 closed, assigned to htrofymova

[2019-06-19 13:09] Illya-Lykhachov commented on #638
Уточнить является ли такая операция доходом и проводки

[2019-06-19 13:15] Illya-Lykhachov commented on #920
Глобальный период. При переключении между подразделами надоело менять период. Даже при возврате в предыдущий подраздел он сбрасывается

[2019-06-19 13:16] alex-kukhtin commented on #920
Ну так сделай сам. Зачем на меня назначать? Чтобы подвесить на неопределенный срок?

[2019-06-19 13:24] Illya-Lykhachov commented on #963
В кассе нужно сделать как в банке

[2019-06-19 13:27] #963 closed, assigned to htrofymova

[2019-06-19 13:28] Illya-Lykhachov commented on #859
уже нет такого раздела

[2019-06-19 13:39] kattrina-brekhova commented on #562
в принципе курсовую разницу можно было бы начислить и бухгалтерской справкой. но почему-то не отражаются в отчетах нужные суммы и проводки
например
делаю проводку Д362 -К714
в новом интерейсе ручной проводкой вообще кнопка "провести" не активная - ишью в "васт ишью" писала
в старом интерфейсе проводит
![image](https://user-images.githubusercontent.com/38099938/59770320-8385e380-92b0-11e9-8103-69ae

[2019-06-19 13:42] Illya-Lykhachov commented on #759
Давай внешний вид (если это отчёт).
Ну и уточни возможность вести её в электронном виде

[2019-06-19 13:42] #859 closed, assigned to Illya-Lykhachov

[2019-06-19 13:42] #223 closed

[2019-06-19 13:46] Illya-Lykhachov commented on #267
В основном номере маска нужна. Или вводить дополнительные номера без маски или пусть примечанием пользуется

[2019-06-19 15:57] htrofymova commented on #562
Наверно, нужно сделать соответствующую валютную операцию к документу Бухгалтерська довідка (НЕ Бухгалтерсьвка довідка (вручну)). Тем более, что уже есть две операции по курсовым разницам при покупке-продаже валюты.
В отчет не попадают именно потому, что в операциях нет валюты.
Сделаю.

[2019-06-19 17:16] htrofymova commented on #939
готово

[2019-06-19 18:05] htrofymova commented on #638
из свежего -  https://news.dtkt.ua/debet-kredit/partner-news/53477
это от 15/02/2019
ключевая фраза: "Отже, вкотре можемо зробити висновок, що кошти, які внесені на розрахунковий рахунок, не є доходом виключно тоді, якщо призначення платежу буде «Виторг за період»."

[2019-06-19 20:13] AndriyNesterenya commented on #759
Формы обоих книг есть тут:
https://zakon.rada.gov.ua/laws/show/z0800-15#n20
https://zakon.rada.gov.ua/laws/show/z0801-15#n3

Насколько я понимаю, возможность ведения этой самой книги в электронном виде декларируется, но на данный момент не до конца регламентирована.

В самом приказе пишут следующее (из того же документа):

[2019-06-19 22:37] htrofymova commented on #562
готово.
Сделала две операции: доход и расход отдельно.
Бывают еще неоперационные курсовые разницы, а также предприятие может вступать в иновалютные отношения со своими собственниками, но то таке, изыски уже.

[2019-06-20 04:29] Illya-Lykhachov commented on #638
Тогда, при выборе операции, нужно подставлять «Виторг за період» в назначение платежа.

[2019-06-20 06:53] htrofymova commented on #638
проводку бы... придумать

[2019-06-20 09:34] alex-kukhtin commented on #957
v 7501

[2019-06-20 09:56] #562 closed, assigned to htrofymova

[2019-06-20 10:05] kattrina-brekhova commented on #638
https://bk.kiev.ua/chi-vklyuchati-do-dohodu-vlasni-koshti-fop-vneseni-na-rozrahunkovij-rahunok/
общесистемник фоп может вносить деньги на счет и это не будет считаться доходом
также не будет доходом если будет внесена выручка фоп 1-3 групп
во всех остальных случаях - считается доходом

[2019-06-20 10:08] kattrina-brekhova commented on #638
как вариант проводка Дт301 КТ685 (отправитель - ФИО самого ФОП). Дт311 Кт301
но єто не точно

[2019-06-20 14:56] DenisClone commented on #928
Нет возможности сделать выделение текста в списках, поэтому не копируется текст в двух местах.
В остальном все в админке копируется.

[2019-06-20 14:56] #928 closed, assigned to alex-kukhtin

[2019-06-21 06:24] alex-kukhtin commented on #959
Переход всего и вся на диалоги потихоньку вообще уберет это окно.
Будет как в платежках - сразу печать или экспорт.

[2019-06-21 06:25] alex-kukhtin commented on #850
v 7501

[2019-06-21 11:07] AndriyNesterenya opened #970 "[Urgent] Вернуть возможность новой в выписке подставлять плательщиком физлицо без ИНН"
В старой версии выписки был глюк, позволявший подставлять физлицо типа "Інше" без ИНН в качестве плательщика при оплате физлицом через банк (по умолчанию плательшиком значится собственно платящий банк).
Это была ценнейшая возможность для всех продавцов услуг типа юристов/турфирм/ремонтников и т.д.

Живые клиенты бунтуют и требуют вернуть таковую возможность взад.

[2019-06-21 11:55] #939 closed, assigned to htrofymova

[2019-06-21 11:59] Anestezia opened #971 "В карточке объекта учета расширить поле наименование, больше символов"
Нужно, чтоб влезло такое

Сервер HPE DL360 Gen10 4LFF CTO Server у складі: 1 шт. 860663-L21 HPE DL360 Gen10 Xeon-G 5118 FIO Kit 1 шт. 860663-B21 HPE DL360 Gen10 Xeon-G 5118 Kit 2 шт. 815098-B21 HPE 16GB 1Rx4 PC4- 2666V-R Smart Kit 2 шт. 861691-B21 HPE 1TB SATA 7.2K LFF SC DS HDD 2 шт. P04693-B21 HPE 300GB SAS 15K LFF SCC DS HDD 1 шт. 804394-B21 HPE Smart Array E208ip SR Gen10 Ctrlr 2 шт. 865414-B2

[2019-06-21 13:43] AndriyNesterenya commented on #959
Тады ОК

[2019-06-21 13:43] #959 closed, assigned to alex-kukhtin

[2019-06-21 14:34] Anestezia opened #972 "В акте услуг добавить 949 счет"
Добрый день.
Пытаюсь вести учет в системе двух неприбыльных организаций.
Хочется и надо, чтоб система была удобна, полезна и для бухгалтера, не только для предпринимателя, не имеющего понятия о бухучете, а нуждающемуся в "кто-то правильно сделает". может через признак, кто вводит доки - предприниматель или бухгалтер, как-то давать возможность бухгалтеру изменять проводки. Попытаюсь ниже уточнить.

[2019-06-24 06:58] DenisClone commented on #932
Ошибка снова повторилась - 22.06.2019

[2019-06-24 08:24] #957 closed, assigned to alex-kukhtin

[2019-06-24 08:40] DenisClone opened #973 "Отображение "client ID" в учетной записи пользователя"
Для удобства идентификации клиента, необходимо быстро найти "client ID". Для этого нужно отображать ID на всех страницах учетной записи.
Предлагаем делать это возле ФИО клиента, в правом верхнем углу сервиса. Например: Иванов Иван (id: b0123)

![image](https://user-images.githubusercontent.com/42002015/60004130-b6dfbe00-9674-11e9-9e6a-2e214302e893.png)

[2019-06-25 09:54] AlexeyTishkin commented on #961
Сделал.

[2019-06-25 13:01] kattrina-brekhova opened #974 "виготовлення на основе рецептуры"
зачем нужен документ "Створення рецептуры", если даже подтянув в документ "виготовлення" соотвествующую рецептуру, материалы и сырье нужно все равно вводить вручную. возможно ли автоматизировать этот учет?
![image](https://user-images.githubusercontent.com/38099938/60100435-6777bb80-9762-11e9-83ad-6c4e423debc2.png)

[2019-06-25 13:06] kattrina-brekhova commented on #974
![image](https://user-images.githubusercontent.com/38099938/60100611-c50c0800-9762-11e9-9a68-260c08e0e93e.png)

[2019-06-26 08:14] AlexeyTishkin commented on #970
Сделал.

[2019-06-26 08:19] AlexeyTishkin commented on #653
Сделал.

[2019-06-26 08:20] AlexeyTishkin commented on #972
Сделал.

[2019-06-26 09:54] htrofymova commented on #638
готово. проводка: дт311 кт 682

[2019-06-26 10:14] htrofymova commented on #644
На данный момент, в кассовом расходном ордере такой запрет отключен. Это сделали после появления раздела Зарплата. также для возможности выплатить зарплату уже уволенному сотруднику. Может не актуально уже?

[2019-06-26 12:27] Anestezia commented on #940
Я им систему предложенную описала, спросила подходит ли. Не ответили, наверное все ок.

[2019-06-26 12:27] #940 closed, assigned to AlexeyTishkin

[2019-06-26 12:27] #850 closed, assigned to alex-kukhtin

[2019-06-26 12:54] #846 closed, assigned to Illya-Lykhachov

[2019-06-26 12:55] #837 closed, assigned to Illya-Lykhachov

[2019-06-26 12:59] Anestezia commented on #500
Таки просят по ФОПам сделать автоподтягивание информации по 157 признаку.  Можно это?

[2019-06-26 13:22] Anestezia opened #975 "1 ДФ не подтягивается информация про договоры ГПХ"
![image](https://user-images.githubusercontent.com/42540074/60183175-6f9d2d00-982e-11e9-993a-464a900f3d79.png)
В 1ДФ не разграничивает трудовые договоры и ГПХ, а должно. Все валит на трудовые.

[2019-06-26 13:44] Anestezia opened #976 "Неприбыльные "просьбы""
[Використання цільового фінансування для придбання основних засобів.docx](https://github.com/a2develop/bugTracker/files/3330288/default.docx)

[2019-06-26 15:32] AlexeyTishkin commented on #962
Сделал.

[2019-06-27 06:52] AlexeyTishkin commented on #971
Сделал.

[2019-06-27 07:08] AlexeyTishkin commented on #894
Это в каком ?
В F0103306 - исправил.

[2019-06-27 09:45] Anestezia opened #977 "В выписке лишняя проверка при проведении по счету с отрицательным балансом"
Изначально на счете отрицательный остаток, операцию по нему провести дает, а вот снять проведение уже не дает.
Если бух не посмотрел счет расчетный или остаток провтыкал, то ошибку он уже не исправит
В новых платежах выбросили все эти проверки. В выписке оставались для совместимости со старой.
![image](https://user-images.githubusercontent.com/42540074/60255978-61581b00-98d9-11e9-8f92-0d7092595ad8

[2019-06-27 12:32] #972 closed, assigned to AlexeyTishkin

[2019-06-27 17:15] htrofymova commented on #54
готово

[2019-06-27 18:44] htrofymova commented on #753
Сумма в платежке по з/п проекту и так редактируемая. Ну, а "Відомість на поповнення карткових рахунків" не видит, что сумма выплачена не вся, но это не ко мне.

[2019-06-27 23:35] htrofymova commented on #964
готово

[2019-06-30 19:38] #970 closed, assigned to AlexeyTishkin

[2019-06-30 19:45] AndriyNesterenya opened #978 "Запретить в счете процент скидки больше 100% :)"
Оказалось, что у нас в счете допускается ввод процента скидки больше 100%, и в результате общая сумма уходит в минус.
На жизнь особо не влияет, но ИМХО стоит для приличия приделать туда валидатор, ограничивающий значения числами от 0 до 100.

Разрешать ли отрицательные значения для наценки - сами думайте :)

![image](https://user-images.githubusercontent.com/38098758/60401323-3ba46d80-9b88-11e9-95

[2019-06-30 19:51] AndriyNesterenya commented on #894
А еще там кнопки печати теперь нету.
Отправить в сонату можно, в XML сохранить можно, а напечатать - нельзя.

[2019-07-01 05:26] AlexeyTishkin commented on #894
Ее там никогда не было. Как и в остальных фискальных отчетах

[2019-07-01 10:14] AndriyNesterenya commented on #894
В смысле считаем, что и не нужно?

[2019-07-01 10:16] AndriyNesterenya opened #979 "Формировать платежные поручения на основе операции начисления налогов (или отчета по ЕН)"
Хорошо бы давать возможность юзеру формировать платежные поручения на основе операции начисления налогов (или отчета по ЕН).
Для ЕН и ЕСВ без наемных работников хотя бы.

[2019-07-01 10:17] AlexeyTishkin commented on #894
В смысле, что это отдельный большой вопрос...

[2019-07-01 12:54] AlexeyTishkin commented on #977
Сделал.

[2019-07-02 12:44] #638 closed, assigned to kattrina-brekhova, htrofymova

[2019-07-02 12:59] AlexeyTishkin commented on #974
Сделал.

[2019-07-02 13:05] AlexeyTishkin commented on #978
Сделал.

[2019-07-02 13:11] #653 closed, assigned to AlexeyTishkin

[2019-07-02 13:12] #54 closed

[2019-07-02 13:18] #974 closed, assigned to AlexeyTishkin

[2019-07-02 20:48] #971 closed, assigned to AlexeyTishkin

[2019-07-02 20:49] #964 closed, assigned to htrofymova

[2019-07-02 20:50] #977 closed, assigned to AlexeyTishkin

[2019-07-02 20:50] #962 closed, assigned to AlexeyTishkin

[2019-07-02 20:51] #961 closed, assigned to AlexeyTishkin

[2019-07-03 10:05] GalinaLuk opened #980 ""Оплата покупця з комісією" новый вид операций в платежах"
Новый вид операций при создании платежного поручения и или/ввода выписки
"Оплата покупця з комісією"
При выборе этой операции  будет показываться поле "Комиссия", обязательное для заполнения. По сумме, указанной пользователем будут создаваться дополнительные проводки   (кроме обязательной для банковской выписки Дт 311 - Кт 361  оплата покупателя)
Дб 93 - Кт 361
Дт 791 - Кт 93

[2019-07-03 11:06] htrofymova commented on #976
Когда вводятся документы, зачисляющие целевые посупления, то выбирается "вид поступления". Перечень видов посуплений привязан к Отчету неприбыльной организации J0101911. Т.е. вид послуплений соотвествует строке отчета. Если "Надходження  коштів на придбання основних засобів" в отчет должны попасть в строку 1.6, то, сначала они долны попасть в одну из строк 1.6.1 (Благодійна допомога), 1.6.2ГД (гум

[2019-07-03 11:29] AlexeyTishkin commented on #876
Сделал.

[2019-07-04 14:47] kattrina-brekhova opened #981 "При отнесении стоимости услуг на 152 счет, суммы этих услуг суммируются, а когда хочу отразить в Акте модернизации 1 из услуг, мне выбирает среднее арифметичное"
у меня 2 услуги разными актами, и с разной ценой, но одной датой отнесены на 152 счет,
![image](https://user-images.githubusercontent.com/38099938/60674738-76a5ea00-9e83-11e9-9281-90941126d83f.png)
и я хочу отразить каждую из них на разный акт модернизации
но я не могу выбрать одну из них, считает среднее арифметичное
![image](https://user-images.githubusercontent.com/38099938/60674823-a9e87900-9e

[2019-07-05 08:01] kattrina-brekhova opened #982 "менять счет затрат, чтобы указывать счет затрат для каждого объекта необоротных активов, например, в Акте ввода в экусплуатацию"
Как на счет того, чтобы возможно было создавать несколько ведомостей амортизации в 1 месяц?
в Амортизац ведомость включила некоторые ОЗ и отнесла амортизацию на 23 счет
хочу сделать еще одну, на другие объекты но с отнесением на другой счет
сервис не позволяет, пишет, что уже начисление амортизации было создано

[2019-07-05 13:50] AlexeyTishkin commented on #326
Сделал.

[2019-07-06 07:12] #326 closed

[2019-07-08 17:20] kattrina-brekhova opened #983 "Таможенная декларация - импорт товаров: сделать возможность отнесения на себистоимость услуг - брокера, транспортых и т.д..."
по аналогии, как сделано в распределении транспортно-заготовительных затрат

[2019-07-08 17:21] #978 closed, assigned to AlexeyTishkin

[2019-07-08 17:31] AlexeyTishkin commented on #983
Повтор.
https://github.com/a2develop/bugTracker/issues/890

[2019-07-08 17:39] kattrina-brekhova commented on #983
упс, это я вдохновилась семинаром по вед )))

[2019-07-08 17:39] #983 closed, assigned to nobody

[2019-07-09 08:00] GalinaLuk opened #984 "При создании ОСВ по банковскому счету создавать сообщение о непроведенных документах"
При создании оборотно-сальдовой ведомости по банковскому счету создавать всплывающее сообщение о непроведенных документах, если за выводимый период есть такие документы.

Увага! В данному періоді існують непроведені документи!
Подивитись детальніше можливо в розділі "Платежі" - "Чернетки"

[2019-07-10 08:01] Illya-Lykhachov opened #985 "1ДФ"
"общалась с нашей клиентком, она напомнила вопрос об отчете 1ДФ за квартало, ситуация в чем - подтягивает только наемных сотрудником и за договорами цпх, а фопы (у нее предприятие работает с 28 фопами) в отчет автоматически не попадают. возможно ли усовершенствовать, что отчет подтягивал начисления по ним и не нужно было вручную вводить?"

[2019-07-10 08:13] AlexeyTishkin commented on #984
Сделал.

[2019-07-10 08:17] AlexeyTishkin commented on #980
Сделал.

[2019-07-10 11:38] htrofymova commented on #981
ну, не согласна,что это баг.

[2019-07-10 11:40] kattrina-brekhova commented on #981
так а если у меня 2 отдельные позиции услуг на два различных объекта, то как выбрать каждый из них? только по одному создавая...?

[2019-07-10 11:47] htrofymova commented on #981
создавая разные объекты или количеством регулировать.

[2019-07-10 11:49] kattrina-brekhova commented on #981
если технически єто сложно реализовать - я отстаю )) действительно, что єто не совсем типичная ситуация, я в ней оказалась случайно, но ощутила неудобство

[2019-07-10 11:53] htrofymova commented on #981
я сделаю, чтобы можно было редактировать сумму услуг.

[2019-07-10 12:55] #876 closed, assigned to AlexeyTishkin

[2019-07-10 14:31] kattrina-brekhova opened #986 "кейс: расчет НДС в операциях импорт услуг"
1.	Відповідно 186.2.1 ПКУ, місцем постачання послуг, пов’язаних з рухомим майном, є місце їх фактичного постачання, тобто місця, де вони фактично здійснені. Це транспортно-допоміжні послуги, навантаження, розвантаження, перевантаження, складської обробки товарів, переробітки сировини, проведення експертизи та оцінки рухомого майна, послуги перевезення пасажирів і вантажів, постачання продуктів хар

[2019-07-10 14:56] AlexeyTishkin commented on #821
Сделал.

[2019-07-11 10:51] htrofymova commented on #981
готово. Також і в операції Виготовлення ОЗ.

[2019-07-11 16:13] htrofymova commented on #967
Готово

[2019-07-12 09:36] AlexeyTishkin commented on #399
Добавлены свойства: "Здійснюється зовнішньоекономічна діяльність", "Назва англійською мовою", "Адреса англійською мовою".

[2019-07-12 10:37] kattrina-brekhova opened #987 "Операция "Передача товарів комісіонеру" добавить возможность выбора и использования активов 20, 26 и других счетов....."
![image](https://user-images.githubusercontent.com/38099938/61122302-14b03a80-a4aa-11e9-9ec4-a1d3059273aa.png)

[2019-07-12 11:03] htrofymova commented on #982
Если все это ради того, чтобы менять счет затрат, то было как-то обсуждение, чтобы указывать счет затрат для каждого объекта необоротных активов, например, в Акте ввода в экусплуатацию, но issue так и не написали. Делать?

[2019-07-12 13:26] kattrina-brekhova commented on #982
значит да, эта тема. это нужно для этого. меняю название ишью

[2019-07-14 10:08] #985 closed, assigned to Illya-Lykhachov

[2019-07-14 10:13] Illya-Lykhachov commented on #871
[Здесь решение](https://github.com/a2develop/bugTracker/issues/985)

[2019-07-15 12:17] kattrina-brekhova opened #988 "Привязать к складу сотрудника, чье ФИО будут автоматически проставляться в расходных накладных"
![image](https://user-images.githubusercontent.com/38099938/61215444-98b92b00-a713-11e9-810e-9a14dfdaafde.png)

[2019-07-15 13:57] DenisClone opened #989 "Ошибка при экспорте в Excel"
При экспорте появляется ошибка:  The process cannot access the file 'D:\home\site\wwwroot\App_apps\admin\tenant\list\tenants.xlsx' because it is being used by another process.

Повторил так: под одной учеткой, два раза подряд нажал на один и тот же экспорт. Первый раз операция отработала успешно, второй раз появилась ошибка.
Спустя несколько часов, все повторилось: удачная операция, потом ошибка.

[2019-07-15 15:11] alex-kukhtin commented on #989
fixed in 7505

[2019-07-16 09:05] htrofymova commented on #982
Готово

[2019-07-16 10:53] Illya-Lykhachov commented on #975
Заодно выделены начисления и удержания по договорам ГПХ в отдельные строки с признаком дохода 102. В т.ч. если один и тот же сотрудник работал и в штате, и по договору ГПХ.

[2019-07-16 10:55] Illya-Lykhachov opened #990 "Сотрудники, документы. Добавить фильтр с периодом"

[2019-07-16 11:13] kattrina-brekhova commented on #982
Галина, в ведомости начисления амортизации по дебету подтягивает счет, который указан в соответсвующей строке
![image](https://user-images.githubusercontent.com/38099938/61290085-b1891580-a7d3-11e9-83c1-22fe3f154cd4.png)
счет отнесения затрат, который указала при вводе в експлуатацию, система не учла
![image](https://user-images.githubusercontent.com/38099938/61290171-e09f8700-a7d3-11e9-8e6d-7d670

[2019-07-16 11:14] kattrina-brekhova commented on #982
если мы указываем в карточке ввода в експлуатацию счет затрат, тогда необходимость в амортизационной ведомости строки с указанием счета - не нужна
но если ее убрать, не полетит ли учет у наших клиентов?

[2019-07-16 13:26] htrofymova commented on #982
Я добавила подсказку, о том, что счет общий выбирается только, если надо установить одинаковый для всех объектов счет отнесения затрат (появляется, если навести мышку на метку "Рахунок віднесення витрат"). По умолчанию, этот счет - пустой. И если он пустой, то при проведении счет подставляется из свойств объекта. Таким образом, приоритет у счета выбраного в конкретном документе. При чем, выбор сче

[2019-07-16 14:54] kattrina-brekhova opened #991 "При копировании акта изготовления будущим числом не учитывает новое поступление запасов"
Ситуация: создала акт изготовления в январе, списала все остатки
![image](https://user-images.githubusercontent.com/38099938/61304563-0a67a680-a7f2-11e9-8160-7f38d0314da0.png)

в феврале было поступление запасов и на новое производство хватает
копирую акт и меняю дату, но присутствие остатков не учитывается
![image](https://user-images.githubusercontent.com/38099938/61304636-2c612900-a7f2-11e9-95d

[2019-07-17 07:50] #984 closed, assigned to AlexeyTishkin

[2019-07-17 07:58] #980 closed, assigned to AlexeyTishkin

[2019-07-17 08:14] #399 closed, assigned to AlexeyTishkin

[2019-07-17 08:28] kattrina-brekhova commented on #981
галина, наверное нужен этот механизм и в операцию "введение в эксплуатацию". так как при выборе услуг тоже считает среднеарефметическое, и сумма не корректируется

[2019-07-17 08:32] Illya-Lykhachov commented on #500
таки сделал

[2019-07-17 09:00] #821 closed, assigned to AlexeyTishkin

[2019-07-17 09:25] kattrina-brekhova commented on #982
в принципе понятно. может как то выделить строку "рахунок віднесення витрат" - ну или желтым, или знак вопроса со всплывалкой сделать, так как вероятность того, что подсказку увидят 0,01%
еще в подсказке допущены опечатки
![image](https://user-images.githubusercontent.com/38099938/61364079-c629e400-a88d-11e9-9f15-0883fffcdef6.png)
"Заповнюється, якщо треба обрати спільний рахунок для всіх об’єктів

[2019-07-17 09:30] kattrina-brekhova commented on #982
и возможно ли сделать в перечне счетов выбор "пустого поля" - без счета. или например название "Рахунки, вказані в Акті введення в експлуатацію". чтоб если отмена выбора какого-то счета, то не нужно было удалять и заново пересоздавать документ
![image](https://user-images.githubusercontent.com/38099938/61364308-3fc1d200-a88e-11e9-9319-80b290d38e13.png)

[2019-07-17 10:00] kattrina-brekhova opened #992 "возможность создавать операции, которые не попадают в фискальную налоговую отчетность"
при этом нужно чтоб операции которые не попадают в фискальные отчеты, можно было анализировать через внутреннюю бухгалтерскую отчетность
источник - потенциальный клиент

[2019-07-17 10:58] htrofymova commented on #991
исправлено.. Так же для Акта ремонта и Акта ввода в эксплуатацию.

[2019-07-17 11:00] htrofymova commented on #981
сделала в Акте ввода в експлуатацию

[2019-07-17 11:11] alex-kukhtin opened #993 "Страница регистрации"
Autocomplete. Chrome BUG!
Если заполнить пароль, выбрав его из списка, то ИМЯ вставляется в поле номера телефона.

Он, сука, вставляет в предыдущий input в dom-дереве!!!!!

Починить можно переставив элементы и закинув все в grid.

[2019-07-17 11:12] htrofymova commented on #982
опечатки исправила.
Добавила в список позицию "не обрано"

[2019-07-17 11:17] #981 closed, assigned to nobody

[2019-07-17 11:17] #991 closed, assigned to nobody

[2019-07-17 11:19] #982 closed, assigned to nobody

[2019-07-17 11:21] #975 closed, assigned to Illya-Lykhachov

[2019-07-17 12:08] kattrina-brekhova opened #994 "Создать возможность в документах Приходования услуг и нематериальных активов выбрать для Дт счет 39 Расходы будущих периодов"
также добавить  списание с расходов будущих периодов на затраты.
Ишью появилось в ходе переписки с Зоей Степановой. вот суть:
З. Степанова:
![image](https://user-images.githubusercontent.com/38099938/61374240-8a4e4900-a8a4-11e9-8f45-e96bead0785f.png)
К. Брехова:
![image](https://user-images.githubusercontent.com/38099938/61374270-9f2adc80-a8a4-11e9-9d80-4630cefee30a.png)
З. Степанова:
![image](htt

[2019-07-17 14:30] kattrina-brekhova opened #995 "Расходный кассовый ордер на выплату аванса, созданный на основании Ведомости на выплату налички - не проводит задним числом"
Это первый документ по зарплате с начала года, провести задним числом не удается

[2019-07-17 14:36] kattrina-brekhova commented on #995
операция потребовалась для подготовки методички в университет Черновцов

[2019-07-17 14:38] #500 closed, assigned to Illya-Lykhachov

[2019-07-17 15:06] kattrina-brekhova opened #996 "раздел Платежи, операция "Выдача в кассу": проблема с выбором получателя"
дает к выбору только контрагентов - ни наших сотрудников, ни наше предприятие... не корректно получается. возможно причина в том, что эта операция создается из группы операций "платеж контрагенту"?....
![image](https://user-images.githubusercontent.com/38099938/61386656-53d0f800-a8bd-11e9-8845-dd000434e36c.png)
![image](https://user-images.githubusercontent.com/38099938/61386780-8f6bc200-a8bd-11e9

[2019-07-17 20:24] htrofymova commented on #994
для неаетериальньіх активов добавила

[2019-07-18 08:35] #995 closed, assigned to nobody

[2019-07-18 09:26] kattrina-brekhova opened #997 "Хотелка от клиента: операция "Придбання послуг з матеріалами""

[2019-07-18 09:26] #996 closed, assigned to nobody

[2019-07-18 09:47] kattrina-brekhova commented on #997
по аналогии "Реалізація послуг з матеріалами"

[2019-07-18 12:29] AndriyNesterenya commented on #916
Покупка-Получение товара-Возврат
Имеем недоразумение при возврате товара нами поставщику
![image](https://user-images.githubusercontent.com/38098758/61456305-635c4980-a96e-11e9-9c10-207684e1c177.png)

В доп. инфе по счету три области - Платежі - Придбання - Повернення

Сейчас имеем:
В разделе Платежи отображается наш платеж поставщику.
В разделе Придбання отображается приходная накладная.
Если сде

[2019-07-19 06:49] kattrina-brekhova commented on #942
Продолжение темы с кошторысом. клиент Юрий просит такую реализацию:
![image](https://user-images.githubusercontent.com/38099938/61515112-7290d500-aa0a-11e9-9794-e03770cbb699.png)

[2019-07-19 07:32] kattrina-brekhova commented on #997
кейс такой:

Я виставив Замовнику "Комерційну пропозицію" (зробив ""Рахунок" на послуги з матеріалами і змінив назву на "Комерційна пропозиція") отримав замовлення. Під час складання договору з Замовником назву "Комерційна пропозиція" замінюємо на "Кошторис" і робимо додатком до договору. Замовлення самостійно виконати не можу. Залучаю субпідрядника по договору субпідряду. Субпідрядник виконує роб

[2019-07-19 08:15] kattrina-brekhova opened #998 "Операция "Реалізація послуг з матеріалами": сделать нумерацию страниц по типу "Сторінка 1 з 2", "Сторінка 2 з 2""

[2019-07-19 09:13] kattrina-brekhova opened #999 "Выставление счета: отменить вывод системного сообщения "Указанное кол-во меньше остатка" для объектов учета УСЛУГИ"

[2019-07-19 09:17] kattrina-brekhova opened #1000 "При выставлении счета нельзя указать цену с "в т. ч. НДС""
Похоже, ошибка появилась после нового функционала в свойствах прайс-листов: цена с ндс, без ндс
в общем, кнопка ндс в т. ч. не активная
![image](https://user-images.githubusercontent.com/38099938/61524424-1a180280-aa1f-11e9-9dab-2e843f4aaef6.png)

[2019-07-19 12:26] kattrina-brekhova opened #1001 "Операция "Відпустка": при нажатии "Нарахування авансу" на основании Наказу про відпустки выдает окошко с неправильным уведомлением про "продолжение больничного""
![image](https://user-images.githubusercontent.com/38099938/61534940-9ae3f800-aa39-11e9-93a8-56f4109d9cc3.png)

[2019-07-19 12:32] DenisClone commented on #989
На боевой админке ошибка осталась.

[2019-07-19 13:40] kattrina-brekhova opened #1002 "Розрахунково-платіжна відомість и Оборотная ведомость по 661 счету: при расчете зарплаты за 2 половину месяца не учитываются уже расчитаные налоги, а суммы налогов с авансовой ведомости суммируются к зарплатной за 2 половину месяца"

[2019-07-19 14:19] kattrina-brekhova commented on #1002
начислила аванс и выплатила налоги
в Ведомости начисления зарплаты за 2 половину месяца указываю общее количество отработанных дней в периоде
![image](https://user-images.githubusercontent.com/38099938/61541608-a5f25480-aa48-11e9-8756-56d1b2094209.png)
Ошибка: в расчетно-платежной ведомости к суммам начисленных налогов по зарплате добавляются суммы налогов по авансу. например:
![image](https://use

[2019-07-19 15:37] kattrina-brekhova opened #1003 "Операция Нарахування авансу на основании Наказу про надання відпустки: автоматически не заполняется сумма"
![image](https://user-images.githubusercontent.com/38099938/61547452-1652a300-aa54-11e9-8e15-c4addb84fa54.png)
за предыдущие периоды зарплата была начислена и т.д...
![image](https://user-images.githubusercontent.com/38099938/61547509-31bdae00-aa54-11e9-8fd8-5406cfc8a3be.png)

[2019-07-19 17:06] AlexeyTishkin commented on #1000
В документах "Счет исходящий", "Расходная накладная", "Акт оказанных услуг", "Акт оказанных услуг с материалами" изменено поведение свойства "ПДВ в т.ч.". Теперь значение этого свойства зависит от значения свойства вида цены "Ціна з ПДВ". Если вид цены в документе не выбран, то значение можно менять вручную.

[2019-07-22 09:11] Anestezia opened #1004 "Выплата дивидендов - добавить операцию"
Вітаю, підкажіть будь-ласка яким чином здійснювати проводки під час прийняття рішення, нарахування та виплати дивідендів учаснику-фізособі. Маю на увазі:

1. Прийнято рішення про виплату дивідендів. Як відобразити бухгалтерський облік ДТ 441; Кт 443.

2. Нараховано дивіденди.  Дт443; Кт 6713

3. Утримано ПДФО.  Дт6713; Кт641/ПДФО

4. Утримано ВЗ.  Дт6713; Кт642

5. Перераховано до бюджету ПДФО. Дт

[2019-07-22 10:06] kattrina-brekhova commented on #1000
поняла, дяк!!

[2019-07-22 10:06] #1000 closed, assigned to nobody

[2019-07-22 11:53] kattrina-brekhova opened #1005 "начислили больничные, проводка Д... - К663. Но при выдаче денег 663 счет не учитывается, а списывает с 661, висят остатки"
начисление больничных пошло на 663 счет
![image](https://user-images.githubusercontent.com/38099938/61630269-fc9d9f80-ac8f-11e9-9265-2c4cb0c5d410.png)
значит и выплата должна идти с 663 счета
а у нас выплата больничных в том числе формируется с 661
![image](https://user-images.githubusercontent.com/38099938/61630355-28b92080-ac90-11e9-9ea2-137cb785cc86.png)
![image](https://user-images.githubuserc

[2019-07-22 13:57] Illya-Lykhachov commented on #1002
Как посмотреть? Это тестовый аккаунт?

[2019-07-23 07:37] kattrina-brekhova commented on #1002
на сервисе, в этом аккаунте готовлю лабораторки для университета
логин behappy120486@gmail.com
пароль behappy1204

[2019-07-23 08:22] Illya-Lykhachov commented on #1002
Ошибка в последовательности создания и проведения документов.
Id	DateCreated	DateApplied
66303	2019-07-19 08:49:11.620	**2019-07-19 13:25:15.640** - Начисление аванса
66394	**2019-07-19 12:50:37.820**	2019-07-19 14:12:21.050 - Расчётная ведомость
В момент создания **и заполнения** расчётной ведомости, документ начисления аванса ещё не был проведен. Поэтому удержания и ЕСВ с аванса не учтены при ра

[2019-07-23 08:23] kattrina-brekhova commented on #1002
да, я вносила изменения. перепроводила, удаляла, сохраняла....

[2019-07-23 08:24] kattrina-brekhova commented on #1002
этот нюанс может быть починен? или допускается только строгий алгоритм проведения?

[2019-07-23 08:25] kattrina-brekhova commented on #1002
посмотрите пожалуйста еще это ишью https://github.com/a2develop/bugTracker/issues/1005

[2019-07-23 08:25] kattrina-brekhova commented on #1002
в этом же акке

[2019-07-23 08:27] Illya-Lykhachov commented on #1002
Перезаполни расчётную ведомость и подтянутся суммы удержаний из аванса. Здесь не должно быть ноль!
![image](https://user-images.githubusercontent.com/35328100/61695727-b18d9600-ad3c-11e9-8b92-fe21295db92f.png)

[2019-07-23 08:28] Illya-Lykhachov commented on #1002
Только строгий алгоритм.

[2019-07-23 08:29] kattrina-brekhova commented on #1002
Хорошо, пройдусь еще раз, спасибо

[2019-07-23 08:30] Illya-Lykhachov commented on #1005
Данные аккаунта здесь:
https://github.com/a2develop/bugTracker/issues/1002

[2019-07-23 08:32] kattrina-brekhova commented on #1005
да, аккаунт:
логин behappy120486@gmail.com
пароль behappy1204

[2019-07-23 08:39] kattrina-brekhova commented on #1005
и здесь еще есть проблема:
https://github.com/a2develop/bugTracker/issues/1001

[2019-07-23 09:33] kattrina-brekhova commented on #1002
Дело не во времени начисления зарплаты....
я удалила и заново начала вводит документы, та же история
в расчетно платежной ведомости сидит сумма по налогам по авансу и по зарплате (она не вычитывает уже начисленные и выплаченные по авансу налоги)
![image](https://user-images.githubusercontent.com/38099938/61700513-7d6aa300-ad45-11e9-8a24-8349ce17de1e.png)
Денисенко: оклад 6000 * 18% ПДФО = 1080. в

[2019-07-23 10:44] kattrina-brekhova commented on #1002
я дико извиняюсь, но опять ошибка повторилась
убила, заново создала такую же последовательность документов: начисление аванса - выплата по кассе, насисление зарплаты / выплата по банку и то же задвоение налогов по всем обороткам

[2019-07-23 12:15] Anestezia opened #1006 "Начисление налогов для ФОП 4 группы - операция"

[2019-07-24 08:53] Anestezia opened #1007 "Сделать оборотку по счету 311"

[2019-07-24 08:54] Anestezia opened #1008 "Включить в "Оборотно-сальдова відомість по рахунку в банку" возможность строить ее по всем счетам"
А не только по одному конкретному

[2019-07-24 09:25] #894 closed, assigned to AlexeyTishkin

[2019-07-24 11:47] #967 closed, assigned to htrofymova

[2019-07-25 08:35] Anestezia commented on #1006
ведется на каждый пай карточка пая, в которой заполняется информация: Размер (Га), Нормативная оценка всего участка, Назначение участка. У каждого пайщика может быть несколько участков, т.е. если делать диалог, то с возможностью добавлять строку. Также эту таблицу нужно сделать копируемой, и чтоб заполнялась раз в год, так как могут быть  изменения. Соответственно, проверка на то, что в этом отчет

[2019-07-25 08:40] Anestezia commented on #1006
Кстати, изменения могут быть и на протяжении года, поэтому возможно нужна будет возможность уточнения данных или заполнения карточек не раз в год, в случае изменений. Например, участок в середине года сменил владельца.

[2019-07-25 08:57] kattrina-brekhova commented on #1002
ура, все работает, спасибище!!

[2019-07-25 08:57] #1002 closed, assigned to Illya-Lykhachov

[2019-07-25 09:04] kattrina-brekhova opened #1009 "Начисление больничных за счет ФССУ - по Дебету используется 663 счет. А должен 378"
Одновременно: начисление больничных на 663 счет, а выплата идет с 661 счета. итого - висят остатки

[2019-07-25 09:05] kattrina-brekhova commented on #1009
На сервисе
логин behappy120486@gmail.com
пароль behappy1204

[2019-07-25 12:10] Anestezia opened #1010 "Не подтягивается из Актов ГПХ в Д4 табл.6 период начисления в графу 11."
При отображении гпх должно автоматически заполняться графа 11, месяц и год, за которые проведено начисление.
![image](https://user-images.githubusercontent.com/42540074/61873319-59969100-aeee-11e9-8ff1-d6764cc2a801.png)

[2019-07-26 09:16] Anestezia opened #1011 "Добавить механизм редактирования Начального баланса"
Пользователь ввел начальный баланс по запасам, но ошибочно ввел цену не закупочную, а продажную. Теперь по этому запасу ввел сто накладных, партия списана. А цену в начальном балансе откорректировать не может, так как надо распроводить, а партии списаны, или часть партий.

Нужно добавлять механизм редактирования проведенного документа. Но документ по вступительному балансу - универсальный, нужно с

[2019-07-26 09:33] kattrina-brekhova opened #1012 "Операция введение НА в эксплуатацию: в документе строчки Дата и Назва НА не активные, нельзя заполнитьн"
на Сервисе

[2019-07-26 11:08] htrofymova commented on #1012
на ДЕВ уже исправлено

[2019-07-26 11:33] #1012 closed, assigned to nobody

[2019-07-28 13:38] AlexeyTishkin commented on #1008
Добавлены отчеты "Оборотно-сальдова відомість по рахунках в банках", "Оборотно-сальдова відомість по рахунках в банках в валюті".

[2019-07-28 13:39] AlexeyTishkin commented on #1007
Добавлены отчет "Оборотно-сальдова відомість по рахунках в банках", "Оборотно-сальдова відомість по рахунках в банках в валюті".

[2019-07-29 08:10] alex-kukhtin commented on #973
Сделано в личном кабинете

[2019-07-29 12:40] #1007 closed, assigned to AlexeyTishkin

[2019-07-29 12:40] #1008 closed, assigned to AlexeyTishkin

[2019-07-29 14:22] AlexeyTishkin commented on #994
Операция "Придбання послуг". В список счетов для списания добавлен счет 39.

[2019-07-29 14:46] AlexeyTishkin commented on #999
Проверка на превышение остатка не осуществляется для объектов типа "Послуги", "Послуги з аренди".

[2019-07-29 14:51] AlexeyTishkin commented on #998
Сделал.

[2019-07-30 10:19] AlexeyTishkin commented on #1004
Добавлена операция "Виплата дивідендів". Дб 671 - Кр 311.

[2019-07-30 10:25] AlexeyTishkin commented on #987
Сделал.

[2019-07-30 12:08] #1004 closed, assigned to AlexeyTishkin

[2019-07-30 13:28] Anestezia opened #1013 "Уведомление о приеме, колонка 4. нужен валидатор"
Нужен валидатор. в колонке 4 не должно быть ничего отличного от 1 или 2.

Там сейчас стоит по умолчанию 0, и с ним проводится, а потом показывает ошибку, непонятную пользователю, при экспорте в хмл.

![image](https://user-images.githubusercontent.com/42540074/62133154-fc804e00-b2e6-11e9-94bd-11db0ca1ebcd.png)

[2019-07-30 13:29] Anestezia opened #1014 "Уведомление о приеме. Колонка 5, нужен валидатор (поле обязательно к заполнению)"
Сейчас нет проверки и красным строка не горит. А после проведения (успешного), при попытке экспорта в хмл выдается ошибка, не понятная пользователю
![image](https://user-images.githubusercontent.com/42540074/62133301-3b160880-b2e7-11e9-97e2-4d2d7d08203e.png)

[2019-07-30 13:31] Anestezia opened #1015 "Уведомление о приеме. Нужна возможность создавать несколько отчетов в одном периоде."
Сейчас выдается такое сообщение, и непонятно, какие реквизиты совпадают.
![image](https://user-images.githubusercontent.com/42540074/62133467-7e707700-b2e7-11e9-81f9-3cc954fefc09.png)
Исправить проверку дубликатов для уведомлений

[2019-07-31 08:21] #994 closed, assigned to AlexeyTishkin

[2019-07-31 08:21] #999 closed, assigned to AlexeyTishkin

[2019-07-31 08:28] #998 closed, assigned to AlexeyTishkin

[2019-08-01 12:28] kattrina-brekhova opened #1016 "Отчет комиссионера: нельзя выбрать объкты учета на счетах 26, 20 и т.д."
В расходной накладной проверила, а в отчете комиссионера нет((((

[2019-08-01 12:29] #987 closed, assigned to AlexeyTishkin

[2019-08-02 11:40] #1014 closed, assigned to Illya-Lykhachov

[2019-08-02 11:41] #1013 closed, assigned to Illya-Lykhachov

[2019-08-02 11:46] Anestezia opened #1017 "Функция "Удалить" - Обсуждение"
Я вижу расклад из двух составляющих этого действия: 1) Пометить на удаление (он уже не является проведенным и дочерним)
 и 2) окончательно удалить из системы.
Насчет прав редактирования, этот момент может стать важным, в том числе и для определения, что делалось в системе. Обычному пользователю (бухгалтеру, менеджеру) давать возможность редактировать, создавать, распроводить и помечать на удаление

[2019-08-02 17:59] GalinaLuk opened #1018 "Отчет уведомление о приеме"
Вдогонку к ишью https://github.com/a2develop/bugTracker/issues/1015
1. Возможность ввода отчета на основании приказа о приеме на работу по типу "создания документов на основании" => после проведения приказа в его правой колонке появляется возможность создать отчет. Этот вариант хорош тем, когда в 1 день принимается на работу только один сотрудник. Отчет должен подтянуть данные именно из этого прик

[2019-08-02 18:04] GalinaLuk commented on #1015
Добавила ишью https://github.com/a2develop/bugTracker/issues/1018, что касается 1015 - отчетов такого типа  должно быть разрешено сдавать неограниченное количество, потому что их может быть сколько угодно за месяц, и похоже, может быть несколько даже за день.

Этот вопрос в налоговой мне не удалось выяснить, но лично я, чтобы не попасть на штраф, сделала бы следующим образом:
Если уже отправлен от

[2019-08-05 08:56] DenisClone commented on #932
Up!

[2019-08-05 12:30] kattrina-brekhova opened #1019 "Операции "Курсова різниця при продажу/купівлі) валюти" - не проводит документ, кнопка "Провести" не активная"

[2019-08-05 12:32] kattrina-brekhova opened #1020 "Раздел "Бухгалтерская справка": для каждой закладки применить фильтр возможных для создания операций"
по типу: в закладке курсовые разницы - только операция курсовые разницы.....
![image](https://user-images.githubusercontent.com/38099938/62464820-41e4c580-b796-11e9-8b27-1ba25979ea40.png)

[2019-08-05 13:06] kattrina-brekhova opened #1021 "Операция "Операційна курсова різниця - витрати" - не правильно формирует проводку"

[2019-08-05 13:07] #1021 closed, assigned to nobody

[2019-08-05 13:24] kattrina-brekhova opened #1022 "В Общей оборотно-сальдовой ведомости по 362 счету на конец периода по Дб и Кр висят одинаковые суммы, которые появились в результате курсовой переоценки дебиторки. Нормально ли это?"
![image](https://user-images.githubusercontent.com/38099938/62467865-6a23f280-b79d-11e9-9014-0892121aedca.png)
![image](https://user-images.githubusercontent.com/38099938/62467903-8031b300-b79d-11e9-8d19-ee47a7b5a57d.png)
почему они не закрылись, не понимаю?

[2019-08-05 13:25] kattrina-brekhova commented on #1022
суммы сформированы операцией «Операційна курсова різниця (витрати)».

[2019-08-05 13:52] htrofymova commented on #1019
исправлено

[2019-08-05 13:59] #1019 closed, assigned to nobody

[2019-08-05 14:43] Illya-Lykhachov opened #1023 "Расшифровки расчёта среднедневной зарплаты для отпускных и больничных"

[2019-08-05 14:50] kattrina-brekhova opened #1024 "К обсуждению: переоценка валюты на дату баланса отражается в общей ОСВ, но конечное сальдо в ОСВ по счетам в банке в валюте не меняется и ручная проводка не отражается"
![image](https://user-images.githubusercontent.com/38099938/62473298-1ddeaf80-b7a9-11e9-930c-5260c26ba777.png)

![image](https://user-images.githubusercontent.com/38099938/62473370-4666a980-b7a9-11e9-93de-847f2b8e0edd.png)

![image](https://user-images.githubusercontent.com/38099938/62473408-58e0e300-b7a9-11e9-8ba8-380b2d0be4f0.png)

[2019-08-05 14:54] AlexeyTishkin commented on #1024
В "Бухгалтерской справке" нужно добавить аналитики "Валюта", "Расчетный счет".

[2019-08-05 14:55] kattrina-brekhova commented on #1024
да, таких строк в ней нету

[2019-08-05 14:56] AlexeyTishkin commented on #1024
Поэтому и не попадает в отчет по счетам.

[2019-08-06 15:30] #973 closed, assigned to alex-kukhtin

[2019-08-07 11:36] AlexeyTishkin commented on #1011
Сделал.

[2019-08-07 12:13] Anestezia opened #1025 "Не выводить на печать номер страницы, если в документе 1 страница"

[2019-08-07 13:33] AlexeyTishkin commented on #1016
Сделал.

[2019-08-07 15:06] AlexeyTishkin commented on #1025
Сделал.

[2019-08-07 16:13] htrofymova commented on #1020
готово

[2019-08-07 20:43] htrofymova commented on #1022
как это можно посмотреть? или это у клиента?

[2019-08-07 20:50] htrofymova commented on #1024
нужно сделать еще пару операций курсовых разниц, уже с привязкой к текущему счету.

[2019-08-08 06:21] kattrina-brekhova commented on #1022
нет, у меня. на сервисе
логин behappy120486@gmail.com
пароль behappy1204

[2019-08-08 06:22] #1020 closed, assigned to nobody

[2019-08-08 06:26] #1016 closed, assigned to AlexeyTishkin

[2019-08-08 14:23] Illya-Lykhachov opened #1026 "Зарплата. Погрешности округления"
[Платіжна відомість № 5.docx](https://github.com/a2develop/bugTracker/files/3482192/5.docx)
[Помилка_в_обчисленні_заробітної.xlsx](https://github.com/a2develop/bugTracker/files/3482193/_._._.xlsx)
тенант 1326

[2019-08-09 12:59] htrofymova commented on #1022
исправлено

[2019-08-12 08:05] Anestezia opened #1027 "Добавить заполнение кода ДКПП в Импорт списка объектов учета"

[2019-08-12 08:44] #1022 closed, assigned to nobody

[2019-08-12 11:59] #1025 closed, assigned to AlexeyTishkin

[2019-08-12 11:59] #1011 closed, assigned to AlexeyTishkin

[2019-08-12 12:39] Anestezia opened #1028 "Расчеты по ГПД и ЗП 949 добавить в зп. остальные в ГПД."
Расчеты по ГПД (и ЗП тоже)
надо дать возможность бухгалтеру настраивать на какой счет относить затраты по начислениям сотрудникам. Директору начисления производятся за счет админрасходов, что устраивает, А остальным сотрудникам - на 23 счет. Напоминаю, у меня две неприбыльные благотворительные орг-ции, проектным сотрудникам начисляем в Дт 949.  В принципе, по штатным я пока выкручиваюсь, бухсправк

[2019-08-12 12:42] Anestezia opened #1029 "Бухсправка - просят добавить некоторые элементы"
Так же просятся проекты в бухсправку. есть операции, с которыми я пока не морочу голову разработчику, провожу бухсправкой, и без проекта они выпадают из отчетов (по проекту).
Просьба привязать к 39-му счету справочник услуг в качестве основной аналитики (дабы в бухсправке можно было выбрать какую позицию я закрываю на затраты, и отчет построить по ОУ). Удобно и логично контролировать в разрезе ОУ

[2019-08-12 12:43] Anestezia opened #1030 "ЗП - ГПД - Отчеты - неточности с кодами"
Сформировала отчет по ЕСВ - всем ГПД-шникам в Таблице 5 проставилась "1" - это для случаев, когда ФЛ является сотрудником предприятия, и еще по каким-то надобностям с ним заключают ГПД. Для сторонних ГПД - проставляется "0". А в Таблице 6 этим товарищам проставился код нарахувань - "2". Это ж код доначислений при исправлении ошибок.... При отражении начислений текущего месяца оставляеся "0":
Из По

[2019-08-13 07:55] Anestezia opened #1031 "Добавить печать и сохранение в документ: Створення прайс-листа"

[2019-08-13 11:31] Anestezia opened #1032 "Возможность 100% стоимости списать в момент ввода в эксплуатацию"
Итак, это у них малоценка, на 112, вводят в эксплуатацию и хотят сразу при поступлении 100% амортизации начислять.

[2019-08-13 11:55] Illya-Lykhachov commented on #1026
Не понял в чём проблема в платёжной ведомости.
Подоходный они считают неправильно - по отдельности за 1-ю и 2-ю половину месяца, округляют дважды, вот и погрешности. Как они в этом случаю будут льготу применять, вообще не понятно. В таблицу добавил колонку с нашим расчётом, посмотрите на формулы, там всё понятно.
[Помилка.xlsx](https://github.com/a2develop/bugTracker/files/3496816/default.xlsx)

Б

[2019-08-13 13:48] Anestezia opened #1033 "Оплата покупателя с комиссией - уточнить отображение долга в списке Бета операций"
Кейс: Выставлен счет на сумму 100 грн. в т.ч. НДС 16,67. На основании создается оплата, по умолчанию вид операции: Оплата покупателя. Стоит сумма 100 грн.
Выбираем операцию Оплата покупателя с комиссией, Здесь клиенту бы пояснение (!!!!). какую именно сумму туда прописывать, а то сразу не заметит, что у него от контрагента переплата на 361 висит.

 Ставим вручную сумму 80,00 грн. и 20 грн сумма ко

[2019-08-14 06:02] #1023 closed, assigned to Illya-Lykhachov

[2019-08-14 13:57] kattrina-brekhova opened #1034 "Оплата покупця з комісією: кейс"
у налоговой есть 2 позиции отражения дохода для ЕН по платежам эквайринга:
1. Базой является только сумма, зашедшая на счет (к примеру 80 гривен). Это следует из НКУ: база налогообложения - только все зашедшие деньги на счет. Этой же логикой руководствуются при отражения доходов в инвалюте - то есть комиссия, списанная банком самостоятельно, уменьшает базу налогообложения единщика
2. Базой являетс

[2019-08-14 14:09] kattrina-brekhova commented on #1034
еще аргументы в пользу такой позиции:
1) комиссия банка является не чем иным, как расходами продавца товаров, поэтому не должна уменьшать его доходы от продажи;
2) в квитанции (чеке) платежного терминала также отражается вся сумма покупки без уменьшения на комиссию банка.
и еще, хоть в ЗИР и написано, что доходом является «вся сумма, поступившая на расчетный счет», налоговики эту фразу трактуют и

[2019-08-14 14:13] kattrina-brekhova commented on #1033
расписала корректный кейс с точки зрения налогового учета https://github.com/a2develop/bugTracker/issues/1034

[2019-08-14 14:16] kattrina-brekhova commented on #1034
соответственно в БК в платежном поручении указываем 100 гривен, сумму комиссии 20 гривен. ндс расчитываться должно со 100 гривен

[2019-08-14 14:33] AlexeyTishkin commented on #1034
К631 (банк) - Д311 20
Д93 - К631 (банк) 20

В таком случае наша отчетность не будет совпадать с выпиской из банка. Реально у нас не было движения по р/с в виде прихода 100 грн и расхода 20 грн. Был только приход 80 грн.

[2019-08-14 14:33] AlexeyTishkin commented on #1034
А зачем прогонять это через 631 ?

[2019-08-14 14:36] AlexeyTishkin commented on #1034
Насколько я помню, клиент говорил, что выписке нет ни общей суммы Счета, ни суммы комисиии. Есть только сумма поступления, а остальные суммы он должен искать в программе.

[2019-08-14 14:43] kattrina-brekhova commented on #1034
наша отчетность - это оборотно-сальдовая ведомость?
кроме как для внутренней аналитики она нигде не используется. проблемы появляются, когда несоответсвие между задекларированным доходом и фактически перечисленными нам деньгами

можно не проганять по 631. а можно проганять для дополнительной аналитики суммы комиссий за период

вроде Галя сказала, что в назначении стоит сумма комиссии
и когда я раб

[2019-08-14 14:46] AlexeyTishkin commented on #1034
Да. И это было первым требованием клиента: он не хотел завышать приход и делать фиктивный расход.

[2019-08-14 14:47] kattrina-brekhova commented on #1034
и кстати нельзя утверждать несоответсвие оборотно-сальдовой ведомости по 311 с выпиской.
потому как в книгу доходов и расходов тоже нужно показывать сумму фактического платежа от покупателя - на 100 гривен

[2019-08-14 14:48] AlexeyTishkin commented on #1034
Описанная ситуация решается существующими шаблонами: Оплата от покупателя и Оплата банківських послуг. Нет никакого смысла показывать комиссию по каждому платежу.

[2019-08-14 14:48] kattrina-brekhova commented on #1034
ну что ж, по сегодняшнему разговору с клиентом, у него мнение, что нужно показывть в доходе 100 гривен

[2019-08-14 14:49] AlexeyTishkin commented on #1034
Фактический платеж - 80 грн. Это то, что реально зашло на р/с.

[2019-08-14 14:49] kattrina-brekhova commented on #1034
нет, фактический - это то, что нам отправили

[2019-08-14 14:50] AlexeyTishkin commented on #1034
:)

Ну тогда Оплата от покупателя и Оплата банківських послуг.
В Оплате от покупателя 100 грн, в Оплата банківських послуг 20 грн.
И ничего нового придумывать не надо.

[2019-08-14 14:50] kattrina-brekhova commented on #1034
ну я не из головы придумала это. читала в консультациях, статьях, на порталах
не показывать в доходе разницу комиссии - это занижать доход, из-за чего проблем с налоговой не обберешься!

[2019-08-14 14:51] kattrina-brekhova commented on #1034
удобнее когда одним документом можно провести 2 операции, тем более когда они связаны!

[2019-08-14 14:52] kattrina-brekhova commented on #1034
операции связаны. можно двумя операциями - когда то мы так и проводили. но хотелка была, чтоб 1 документом 2 операции провести

[2019-08-14 14:53] AlexeyTishkin commented on #1034
В таком случае нет смысла комиссию проводить по каждому поступлению. Одной суммой за день.

[2019-08-14 14:54] AlexeyTishkin commented on #1034
Отдельную операцию делали именно из-за того, чтобы не показывать фиктивное движение денег.

[2019-08-14 14:55] kattrina-brekhova commented on #1034
Галя не разобралась, мы не выяснили кейс прежде чем делать новую операцию.

[2019-08-14 14:56] kattrina-brekhova commented on #1034
но это же удобнее, когда десятки эквайринга за день и можно их провести быстро комплексной операцией! и когда не нужно высчитывать по каждому платежу комиссию и их суммировать!!!
если много таких платежек - это можно сойти с ума

[2019-08-14 15:00] AlexeyTishkin commented on #1034
В чем ошибка ? Зачем bug ?

[2019-08-14 15:01] kattrina-brekhova commented on #1034
в том, что эта операция занижает базу налогообложения

[2019-08-14 15:01] AlexeyTishkin commented on #1034
Комиссию можно проводить не общей операцией, а на каждую оплату. Сумма комиссии все равно вносится руками.

[2019-08-14 15:03] AlexeyTishkin commented on #1034
Так она для этого и была сделана :)
Для новой постановки она не предназначена.

[2019-08-14 15:05] kattrina-brekhova commented on #1034
если эту операцию не изменить, то ее не должно быть в сервисе, так как она занижает базу налогообложения. а потом клиенты, которых прижучат - не дай бог, придут к нам

[2019-08-14 15:05] kattrina-brekhova commented on #1034
и мы будем крайние за то, что продаем неправильный софт

[2019-08-14 15:07] AlexeyTishkin commented on #1034
А клиент понял, что у него в программе движение по банку не будет совпадать с отчетностью банка ? И согласился с этим ?

[2019-08-14 15:09] AlexeyTishkin commented on #1034
"Клиент очень не хочет показывать в выписке полную сумму с комиссией и потом отдельно в выписке комиссию, потому что фактически она ему не поступает" - это из первоначального общения.

[2019-08-14 15:13] kattrina-brekhova commented on #1034
клиент может не понимать, что такая операция уменьшит задекларированный доход и не знать, что он подает отчетность с ошибками. и будет уверен, что у него все в порядке, до момента проверки. а потом - неожиданность и штраф

[2019-08-14 15:13] kattrina-brekhova commented on #1034
потому что изначально мы тоже глубоко не копали. хотя кому как не нам предусмотреть все последствия подобных операций

[2019-08-14 15:15] kattrina-brekhova commented on #1034
главное чтоб сальдо пошло на конец и на начало дня. а если в оборотке в сервисе с обороткой в клиент банке не сходятся десятки гривен - господи, ну на что это влияет? бухгалтер на это не обрати внимания, это не существенно

[2019-08-14 15:20] AlexeyTishkin commented on #1034
В таком случае "Оплату с комиссией" убираем. Ничего нового не добавляем, пользуемся двумя существующими.
Ждем фидбека от других клиентов по такому же кейсу.

[2019-08-14 16:06] GalinaLuk commented on #1034
Я не считаю, что я не разобралась, а скорее недорассмотрела все вопросы, когда писала ишью в первый раз. Считаю что я не учла вопрос корреткного отражения НДС и закрытия цепечики в варианте представления для Беты, и  клиент хотел именно так видеть комиссию, как она есть сейчас, его смущали только незакрытые сообщения (оплачено частково) и он дополнительно просил чтоб они все-таки выглядели как зав

[2019-08-14 17:08] AlexeyTishkin commented on #1034
Это исправим.

[2019-08-14 17:27] kattrina-brekhova commented on #1034
перед тем как исправлять, давайте согласуем необходимость этой операции. потому что даже, если у клиента исправится, и у него будет красивая оборотка, у него будет некрасивый отчет по ЕН

[2019-08-14 17:32] htrofymova commented on #1024
додала в "Курсові різниці", операції Операційна курсова різниця (витрати) та Операційна курсова різниця (дохід). Якщо рахунок по дебету або кредиту  312, то з'являється можливість обрати  банківській рахунок.

[2019-08-14 18:31] AlexeyTishkin commented on #1034
Согласен. С фиктивными операциями бухгалтер может "химичить" сам, но делать такую операцию стандартной - нельзя.

[2019-08-14 18:35] AlexeyTishkin commented on #1034
База отражения в начислении налогов - отдельный вопрос. Если законодательно обосновано, что в качестве базы нужно использовать "фактически продавцу поступила бОльшая сумма", а не "только сумма, зашедшая на счет" то нужно менять алгоритм начисления налогов.

[2019-08-14 18:43] kattrina-brekhova commented on #1034
на сегодняшний день у дфс есть 2 позиции и 2 письма разъяснения. киевская область считает, что в базу налогообложения включать только сумму, зашедшую на счет. ровенская область - что всю сумму - то есть бОльшую
завтра будут этот вопрос обсуждать с аудиторами

[2019-08-15 08:38] Anestezia opened #1035 "Добавить кассовую книгу"
просят, чтоб в конце каждого дня можно было распечатывать кассовый лист, как составляющую кассовой книги

[2019-08-15 09:40] Anestezia commented on #1034
Интересно и другое, допустим, мы приняли решение єту операцию: Оплата покупця з комиссией, убрать. А что будет с документами, которые клиенты уже посоздавали? Как система отреагирует?

[2019-08-15 09:41] AlexeyTishkin commented on #1034
Останутся. Нельзя будет создать новую.

[2019-08-15 09:59] AndriyNesterenya opened #1036 "[Улучшайзинг] Дополнить название операции "Списання коштів банком за обслуговування" словом "Комиссия" для облегчения поиска"
Пипл тупит при поиске операции для банковских комиссий.
У нас все это объединено названием "Списання коштів банком за обслуговування",  а народ в первую очередь начинает искать "комиссию".

Не обозвать ли операцию "Списання коштів банком за обслуговування (комісія банку)"?
Будет попадать в результаты поиска, и народ будет меньше нервничать.

[2019-08-15 10:05] Anestezia commented on #1034
По большому счету это у нас может быть операция Приход и Расход в одном платежном поручении-операции (выписке). И проводки совместные от двух операций: Приход 100 грн, в т.ч. НДС 16.67, и Расход на банковские услуги 20 грн.
311 - 361 == 100 грн. База налогообложения 100 грн.

92 - 311 == 20 грн.
791 - 92 == 20 грн.

А не примазывать к 20 гривнам комисии 361 клиентский счет. Комиссия -- это не его

[2019-08-15 10:06] Anestezia commented on #1034
А если понадобится распровести, откорректрировать, то потом уже ее не проведет. А если попытается скопировать?

[2019-08-15 10:08] AlexeyTishkin commented on #1034
Не может быть такого в одной строке выписки. Только приход или расход.

[2019-08-15 10:09] AlexeyTishkin commented on #1034
Обсудили же уже... Это - фиктивное движение.

[2019-08-15 10:09] AlexeyTishkin commented on #1034
Все сможет сделать.

[2019-08-15 10:25] Anestezia commented on #1034
комиссию 20 грн. с 361 убрать предлагаю, и только.

[2019-08-15 12:58] GalinaLuk opened #1037 "Корректировка отчета по Единому налогу"
В отчете j0103507 ЕН для плательщиков 3-й группы
сделать подсвечивающую рамку в 5-м разделе, если не выбран налоговый орган
[
![Снимок экрана в 2019-08-15 15-52-09](https://user-images.githubusercontent.com/46449132/63095886-0a83cf00-bf75-11e9-8341-6ad8689df489.png)
](url)

[2019-08-15 14:11] Anestezia opened #1038 "Авансовый отчет, поменять формат даты прикрепленного документа"
Сейчас:
 м\дд\гг, а лучше дд/мм/гг, а то когда будет 3/05/19, то по старому и не докажешь, что это от пятого марта.
На примере, от 14 августа
![image](https://user-images.githubusercontent.com/42540074/63100390-ae727800-bf7f-11e9-9261-e6c1e8d67377.png)

[2019-08-16 10:10] Anestezia opened #1039 "Д4 табл.6 ГПД - в переходящем не считает количество дней"
Д4 табл.6 ГПД. Если договор переходящий, то не считает количество дней, просто красные клетки.

[2019-08-16 10:29] kattrina-brekhova opened #1040 "Експорт запасов: при реализации ОС, переведенного в состав товаров, по дебету идет списание не с 286 счета, а с 152"
перевела ОС в состав товаров
![image](https://user-images.githubusercontent.com/38099938/63161643-39f41380-c029-11e9-871a-8603a9a770e1.png)
сделала инвойс, создала таможенную декларацию
![image](https://user-images.githubusercontent.com/38099938/63161764-83dcf980-c029-11e9-8327-9cf47d621185.png)
в итоге она у меня подхватили 152 счет
в оборотке по 286 и 152 висят остатки, не закрываются операции
!

[2019-08-16 10:43] GalinaLuk commented on #1034
Я была сегодня у аудитора и еще читала законодательство.
I. Аудитор однозначно рекомендует
1. по банковской выписке учитывать сумму без комиссии банка (в нашем варианте "80")
2. включать сумму комиссии банка в том числе и в доход (только смотреть, чтобы не задваивалось в зависимости от системы учета) - это позиция осторожного налогоплательщика, который не хочет в дальнейшем иметь проблем с налогов

[2019-08-16 10:47] kattrina-brekhova commented on #1034
ну вот, ничего нового. те же 2 позиции, которые законом никак не урегулированы ((((

[2019-08-16 11:23] GalinaLuk commented on #1034
Ну для меня много чего поменялось. Я не надеялась, что мне может аудитор сказать что-то новое с точки зрения законодательства, но хотела понять, как они ведут на практике - если до встречи я говорила, что я сама вела бы по принципу "100-20" как бухгалтер (хоть и не согласна с этим, но не понимала, как по-другому достичь правильного учета), то теперь я точно знаю, что я бы вела по "80", подтягивая

[2019-08-16 11:42] kattrina-brekhova commented on #1034
Галя, а с НДС? сумма ндс уменьшает базу налогообложения ЕН. она уменьшается на 16,67? 100/6

[2019-08-16 11:43] kattrina-brekhova commented on #1034
отважные и безбашные плательщики 3 группы с НДС должна уменьшить 80 грн на 16,67 (или на 13,33)?

[2019-08-16 11:51] kattrina-brekhova opened #1041 "Создание с нуля (не на основании) операции Повернення вид покупця: не работают поля договор, склад, проект, таблица"
![image](https://user-images.githubusercontent.com/38099938/63165886-5ac26600-c035-11e9-9954-3816b76c6f53.png)

в сервисе

[2019-08-16 11:54] AlexeyTishkin commented on #1041
Создать полностью вручную нельзя. Нужно обязательно выбрать основание. После выбора поля заполняются из родительского документа.

[2019-08-16 12:27] #1041 closed, assigned to nobody

[2019-08-16 12:48] GalinaLuk commented on #1034
На какую сумму выписывать НН, если первое событие — отгрузка? Клиент сказал, что он бы хотел на 100, а не на 80 показывать. К тому же, я как контрагент прекратила бы общение с поставщиком, так как у меня бы в НН было 100 — сумма, которую я отправила, а он бы мне закрыл только 80?
Все остальное как в обычном учете, как если бы на счет поступило 100, а не 80

[2019-08-16 12:52] kattrina-brekhova commented on #1034
у 3 группы плательщиков ндс, ен рассчитывается с поступления на счет - минус сумма ндс
100 - 16,67
или 100 - 13,33
или 80 - 16,67
или 80 - 13,33
?? :)

[2019-08-16 13:08] GalinaLuk commented on #1034
отважные и безбашные плательщики 3 группы с НДС должна уменьшить 80 грн на 16,67 (или на 13,33)?
- Если они берутся вести это ручками (самим подгребать свою комиссию не системой), то и выписывать НН будут сами на свое усмотрение. Короче, что хотят, то пусть и делают. Просто если будет эта птичка, которая позволяет им не вносить в доход 20, то с НДС пусть решают сами, как им лучше выписывать. По их

[2019-08-16 13:12] GalinaLuk commented on #1034
у 3 группы плательщиков ндс, ен рассчитывается с поступления на счет - минус сумма ндс
100 - 16,67
или 100 - 13,33
или 80 - 16,67
или 80 - 13,33
?? :)
Если это будет наш автоматизированный учет комиссии, то отражается поступление только 80 грн, налоговая выписывается на 100 (в т.ч. НДС 16,67). При этом будет меняться алгоритм начисления налогов, чтобы так посчитать. И нужно будет показывать (разво

[2019-08-16 13:28] GalinaLuk commented on #1034
Если мое предприятие заявило, что оно платит комиссию, а не я — покупатель, то пусть и платит. И уберет комиссию с 361 счета (аналитика Клиент) Пусть туда себя ставит мое предприятие, раз оно платит.
Настя, я хочу понять, какие последствия видишь ты, чего не вижу я:  для пользователя бухгалтерии все будет выглядеть и рассчитываться так, как будто на счет поступило 100 грн. Единственная нестыковка

[2019-08-16 14:25] #1024 closed, assigned to htrofymova

[2019-08-16 14:40] kattrina-brekhova opened #1042 "Взаємозалік заборгованостей: вопрос о необходимости отражения НДС"
![image](https://user-images.githubusercontent.com/38099938/63175424-aa605c00-c04c-11e9-982b-eeb90044e100.png)

![image](https://user-images.githubusercontent.com/38099938/63175458-b8ae7800-c04c-11e9-8d64-c461ac78f70b.png)

![image](https://user-images.githubusercontent.com/38099938/63175505-d085fc00-c04c-11e9-904b-2dd5a1f742df.png)

на сервисе
логин behappy120486@gmail.com
пароль behappy1204

[2019-08-16 14:53] kattrina-brekhova commented on #1042
ввела сумму долга вручную, поставила галочку в т .ч. с ПДВ
в итоге НДС добавилась к сумме взаимозачета
![image](https://user-images.githubusercontent.com/38099938/63176293-5787a400-c04e-11e9-83dd-59fd3ada27cb.png)
![image](https://user-images.githubusercontent.com/38099938/63176316-62423900-c04e-11e9-9795-659c013f7827.png)
возможно причина в том, что у меня уже в прайс-листах заложено НДС... или н

[2019-08-16 16:14] kattrina-brekhova commented on #1040
вот и в балансе эта строка с минусом
![image](https://user-images.githubusercontent.com/38099938/63181952-0087cc00-c05a-11e9-916e-4733d8b3d6e8.png)

[2019-08-18 14:32] htrofymova commented on #1038
готово

[2019-08-20 09:51] alex-kukhtin opened #1043 "Юзер видит лишние фирмы"
1.  Юзер видит фирмы, к которым есть явный запрет доступа. А не должен.
         обсуждение: https://bookkeepersaas.slack.com/archives/CLNKL1XJP/p1566294768000500

[2019-08-20 10:00] AndriyNesterenya commented on #1043
2. Ошибка при создании банка из МФО
The MERGE statement conflicted with the FOREIGN KEY SAME TABLE constraint "FK_Agents_CompanyCreated_Agents". The conflict occurred in database "Segment1_master", table "a2.Agents"
Один счет добавился нормально (IBAN). Все последующие - не хотят
PS Удалил первый счет IBAN - ничего не изменилось.
Но теперь не дает повторно создать тот же IBAN - пишет, на красной в

[2019-08-20 10:09] AndriyNesterenya opened #1044 "Ошибка при создании банка из МФО"
Ошибка при создании банка из МФО
The MERGE statement conflicted with the FOREIGN KEY SAME TABLE constraint "FK_Agents_CompanyCreated_Agents". The conflict occurred in database "Segment1_master", table "a2.Agents"
Один счет добавился нормально (IBAN). Все последующие - не хотят
PS Удалил первый счет IBAN - ничего не изменилось.
Но теперь не дает повторно создать тот же IBAN - пишет, на красной вспл

[2019-08-20 10:32] #1038 closed, assigned to htrofymova

[2019-08-20 12:04] alex-kukhtin commented on #1043
Done 7532

[2019-08-20 12:06] alex-kukhtin opened #1045 "Убрать шестеренку????"
![image](https://user-images.githubusercontent.com/26379138/63345722-07655600-c35c-11e9-81ed-f2221489a2d1.png)

В связи с мультифирменностью предлагаю убрать шестеренку.

Обсуждение здесь:
https://bookkeepersaas.slack.com/archives/CLNKL1XJP/p1566309760005400

[2019-08-20 12:14] #1043 closed, assigned to nobody

[2019-08-20 12:35] DenisClone opened #1046 "Невидно кто из пользователей имеет доступ к юр.лицу"
Под учеткой админа тенанта, в разделе "Мои фирмы" не отображаются пользователи, которые имеют доступ к юр.лицам

Как я понимаю для этого и сделана вкладка - "Пользователи"

![image](https://user-images.githubusercontent.com/42002015/63347480-d71fb680-c35f-11e9-9da9-77b021d734f3.png)

[2019-08-20 12:46] AlexeyTishkin commented on #1044
Сделал.

[2019-08-20 13:00] kattrina-brekhova opened #1047 "Анализ налогового обязательства НДС по первому событию/Механизм определения 1 события по НДС и отражение его в учете"
нужна функция отражения налогового обязательства по ндс для выписки налоговой накладной по первому событию.
нигде не отражается не закрытое обязательство, и в случае невнимательности или еще чего можно прошляпить и нарушить сроки выписки и регистрации налоговой по ндс

[2019-08-20 13:07] kattrina-brekhova opened #1048 "Расчетно-платежная ведомость: возможность аналитики и "проваливаться" в строки отчета"

[2019-08-20 14:29] Anestezia opened #1049 "Добавить кнопку Видалити в 1ДФ внутри"

[2019-08-20 14:57] alex-kukhtin opened #1050 "Комментарии к документам"
Если юзер имеет доступ "только просмотр", должен ли он иметь возможность вводить комментарии к документам?

[2019-08-20 15:07] alex-kukhtin opened #1051 "Меню по зеленому плюсику. Содержимое должно зависеть от прав"
Бухгалтерии нету.

[2019-08-20 20:37] htrofymova opened #1052 "Процедуры Permission.Check..."
Надо бы сделать процедуры Permission.Check для проверки каждого из разрешений отдельно: canEdit, canView ...

[2019-08-21 08:51] alex-kukhtin commented on #1052
Done in 7533

[2019-08-21 08:52] #1045 closed, assigned to nobody

[2019-08-21 10:09] Anestezia opened #1053 "Вопросы по роли Только просмотр"
https://bookkeepersaas.slack.com/archives/CLMKL187M/p1566312792001100?thread_ts=1565108564.004300&cid=CLMKL187M
[Роли.docx](https://github.com/a2develop/bugTracker/files/3524776/default.docx)

[2019-08-21 14:06] GalinaLuk opened #1054 "Банковская выписка в мультифирме"
Импортирую по апи выписку, открываю первую, чтобы провести, выбираю вид операции и после этого происходит автозамена - подставляются наименование и реквизиты 1-й фирмы (при создании тенанта) , а не той, с которой я работаю в текущий момент. Т.е. после выбора вида банковской операции меняется хозяин операции

[2019-08-21 14:20] Anestezia opened #1055 "В списке договоров по отдельному контрагенту отображается удаленный договор."
![image](https://user-images.githubusercontent.com/42540074/63440071-e4a86f80-c437-11e9-96c4-2fc745c6d75b.png)
А в общем списке договоров его уже нет, соответственно.
![image](https://user-images.githubusercontent.com/42540074/63440139-fdb12080-c437-11e9-8a4d-c1c1726103d2.png)

[2019-08-21 15:06] Anestezia opened #1056 "Добавить строку для транзитного счета в документ Зарплатный проект"
добавлю таранзитный счёт в договор и подстановку его в платёжку при перечислении.

[2019-08-21 15:34] AndriyNesterenya commented on #1044
Проверено - ОК

[2019-08-21 15:34] #1044 closed, assigned to AlexeyTishkin

[2019-08-21 15:37] AndriyNesterenya opened #1057 "[Улучшайзинг] - список КВЕД"
При добавлении кодов в список КВЕД (и последующего использовании списка КВЕДов в отчетах) в таблице КВЕД у фирмы и в последствии в отчетах КВЕДы отображаются в порядке добавления.

Было бы крайне полезно (нагляднее и искать глазами удобнее) во всех случаях сортировать список по цифромому коду КВЕД по возрастанию, если это возможно.

[2019-08-21 16:01] AndriyNesterenya opened #1058 "[UX] Создание фирм + создание юзеров"
Упражнялся с фирмами и юзерами.

Наехал на два не-UXных момента.

1. После создания фирмы во закладке Користувачі меню "Мои фирмы" светится пустое поле с текстом "_Тут має бути список користувачів з ролями для вибраної фірми_"
Хорошо бы там иметь ссылку на меню пользователей.

2. Новый пользователь в меню "Користувачі" создается бесправным без ролей. Для начала назначения ролей нужен лишний клик н

[2019-08-21 16:14] AndriyNesterenya commented on #1054
Подтверждаю.
Имею две фирмы.
В обоих есть счет с настройками Приватовского API
В первой по счету (с которой регистрировались) с виду все ОК.
При работе с выпиской у позднее добавленной фирмы происходит следующее:
Собственно выписка отображается, позволяет импортировать.
Даже отображается в списке выписок.
При переключении куда угодно (входящие/исходящие/черновики и т.д.) импортированные выписки из

[2019-08-21 16:34] #1052 closed, assigned to nobody

[2019-08-21 16:35] alex-kukhtin commented on #1058
Проект не забывай назначать на issue!

[2019-08-21 19:30] htrofymova commented on #1042
1. Задолженность покупателя не заполняется, потому, что она не привязана к контракту, если контракт убрать - заполняется.
2. По ПДВ - думаю, что его надо убрать вообще. Читала вот тут, но может есть что-то посвежее. https://i.factor.ua/ukr/journals/nibu/2016/november/issue-92/article-23106.html

[2019-08-22 08:30] Anestezia opened #1059 "Возможность вводить серию и номер паспорта в строку ИНН сотрудника (физлица)"
И также добавить во всплывалке соответствующий комментарий

[2019-08-22 08:44] Anestezia opened #1060 "Виплата. Картки -- выводится не то сообщение-подсказка. Не к той операции."
Здесь должно ссылаться на ведомость, а не на ПІБ и ІПН.
![image](https://user-images.githubusercontent.com/42540074/63500267-3ef60e80-c4d2-11e9-9791-986e345b0cd2.png)

[2019-08-22 09:09] Anestezia opened #1061 "Сообщение о том, что зп в периоде уже рассчитана, приходят из другой фирмы"
![image](https://user-images.githubusercontent.com/42540074/63501987-44088d00-c4d5-11e9-9457-5867f573f439.png)
Все, что есть по зарплате в системе. Один только аванс. Теперь делаю за месяц расчет.
![image](https://user-images.githubusercontent.com/42540074/63502015-4ff44f00-c4d5-11e9-9cdb-e30b2d7a4fcc.png)
Пишет, что уже Розрахована зп, хотя явно по этой фирме еще нет.
Решила перепроверить, создал

[2019-08-22 09:45] #1061 closed, assigned to nobody

[2019-08-22 10:53] alex-kukhtin opened #1062 "МОЖНО ТЕСТИРОВАТЬ Multicompany/Multiuser"
- Придбання
- Необоротні активи
- Бухгалтерія
  - Рахунки
  - Платежі
  - Платежі в валюті
  - Каса
  - Підзвіт
  - Початковий баланс
  - Бухгалтерська довідка
- Персонал
- Зарплата
- Звітність

[2019-08-22 13:07] alex-kukhtin opened #1063 "Регламентированные отчеты"
Неправильный MyCompany

[2019-08-22 13:11] kattrina-brekhova opened #1064 "Клиенты П24, обмен платежами с Клиентбанком и операция выплата зарплаты на карточку: в платежке в БукКипер указывается ФЛ и его ИНН, а поэтому документ нельзя отправить в П24 для корректного проведения в банке"
в платежке в банк указывается мфо, едрпоу банка и только в назначении платежа - ФЛ и его ИНН
возможно ли как-то автоматизировать эту операцию? чтобы в платежном поручении по выплате зарплаты фл в буккипер указывались реквизиты банка и в дополнительной аналитике (как например у нас с основанием "счета"....) - уже сам сотрудник и его ИНН?

[2019-08-22 13:19] kattrina-brekhova commented on #1042
точно. єто я по невнимательности

[2019-08-22 13:24] AndriyNesterenya opened #1065 "Не полностью обновляется список операций при удалении дочерних документов"
Если у операции есть дочерние документы - в списке имеется собственно дочерний документ, исходный документ, и открывающееся по (+) доп инфо.
![image](https://user-images.githubusercontent.com/38098758/63517784-5516c580-c4f8-11e9-8921-00828da8a40e.png)

Если дочерний документ удаляется - из списка автоматом пропадает удаленная операция, но (+) с расшифровкой продолжает висеть пока не перезагрузится

[2019-08-22 13:30] kattrina-brekhova commented on #1042
А зачем нужна эта функция?
если здесь речь идет о денежном долге будь то: за неоплаченные товары или не возвращенные предоплаты и т.д...
ндс начисляется на 1 из двух событий - оплата или поставка. а взаимозачет не входит ни в одно из этих событий

[2019-08-22 13:38] kattrina-brekhova commented on #1042
это посвежее будет
правда это индивидуальная консультация, но я по сути согласна
https://www.profiwins.com.ua/uk/letters-and-orders/ink/13643-3688-18.html
главное там в самом низу:

Статтею 601 ЦКУ визначено, що зобов’язання припиняється зарахуванням зустрічних однорідних вимог, строк виконання яких настав, а також вимог, строк виконання яких не встановлений або визначений моментом пред’явлення ви

[2019-08-22 14:02] AndriyNesterenya opened #1066 "[мелочь] Не копипастится общая сумма во входящем и исходящем счетах."
Во входящем  и исхродящем счете копипастится все, что надо, кроме общей суммы
![image](https://user-images.githubusercontent.com/38098758/63520933-35829b80-c4fe-11e9-8f24-1e0db1e2087d.png)

[2019-08-22 15:39] AlexeyTishkin commented on #1062
* Придбання

[2019-08-22 19:38] alex-kukhtin commented on #1046
Done in 7537

[2019-08-22 19:40] alex-kukhtin opened #1067 "Нужно понятное описание ролей"
![image](https://user-images.githubusercontent.com/26379138/63544356-c2911900-c52d-11e9-9cd6-471e31711d92.png)

Нужно написать понятное описание ролей
(тексты в базе a2security_tenant)

[2019-08-23 07:29] htrofymova commented on #1042
ПДВ - убрала

[2019-08-23 07:35] #1046 closed, assigned to alex-kukhtin

[2019-08-23 09:27] AndriyNesterenya opened #1068 "Расходная накладная: криво отображается код УКТЗЕД - отображается только артикул"
В расходной накладной и ее печатной форме криво отображается код УКТЗЕД
Точнее не отображается вообще - в настройках переключаемся на код УКТЗЕД - отображается артикул.

![image](https://user-images.githubusercontent.com/38098758/63582042-f9544700-c5a0-11e9-91dc-1b537a1d23ec.png)

В настройках товара на примере код УКТЗЕД заполнен

[2019-08-23 09:28] AlexeyTishkin commented on #1068
Диалог называется "Налаштування форми для друку". Настраивается отображение ПЕЧАТНОЙ формы.

[2019-08-23 09:29] AlexeyTishkin commented on #1068
В рабочей поиск только по артикулу.

[2019-08-23 09:38] AndriyNesterenya commented on #1068
Ага... Чуток неинтуитивно - пипл дергается.
Попробую объяснить :)

[2019-08-23 09:40] AlexeyTishkin commented on #1068
В планах от форм отказаться, а диалог не должен ассоциироваться с видом на печати.

[2019-08-23 10:01] AlexeyTishkin commented on #1054
Сделал.

[2019-08-23 10:59] #1068 closed, assigned to nobody

[2019-08-23 11:02] AndriyNesterenya opened #1069 ""Transaction (Process ID хх) was deadlocked" - ошибка при проведении счета"
Ковырялся на Dev в Продажах на уровне создать счет - создать оплату - создать накладную - все пораспроводить и поменять и обратно попроводить.
При проведении счета (ничего выдающегося - просто счет) наехал на невиданное ранее сообщение:
"Transaction (Process ID 67) was deadlocked on lock resources with another process and has been chosen as the deadlock victim. Rerun the transaction."
Со второго р

[2019-08-24 11:52] kattrina-brekhova commented on #1067
https://drive.google.com/file/d/1SPcP0K4EvNLjf1FmXlYVLcLszGOnVALR/view?usp=sharing

перечень возможностей каждой роли
в 255 символов не влазит.
лучше бы увеличить поля.
если нет - тогда буду думать, как сократить
желтым выделила то, что не понятно мне (о каком "налаштуванни" идет речь?)
в описание заносила функционал из матрицы доступа https://docs.google.com/spreadsheets/d/19MDak9NTlYtY7wngpmL-TG

[2019-08-25 11:39] #1051 closed, assigned to nobody

[2019-08-25 15:57] alex-kukhtin opened #1070 "Основание в проведенных документах"
Сделать возможность назначать документ-основание в проведенных документах
В частности - в платежках.

[2019-08-26 18:55] #1058 closed, assigned to nobody

[2019-08-26 18:56] AndriyNesterenya commented on #1054
Работает вроде бы уже

[2019-08-26 19:03] AndriyNesterenya commented on #1062
Продажі - операції
http://dev.a2start.com/sales/operations
В списке операций не открываются ссылки "Оплата покупця на рахунок в банку" в доп инфе по счету
Ошибка: File not found 'document/payment_order_in/model.json'

![image](https://user-images.githubusercontent.com/38098758/63715823-4b20f980-c84d-11e9-91e5-c49651527602.png)

https://bookkeepersaas.slack.com/archives/CLNKL1XJP/p1566846069011200?

[2019-08-26 19:18] AndriyNesterenya commented on #1062
Если в выписке полезть в Додатково, и на поле Проекта ткнуть на три вертикальных точки - получится
![image](https://user-images.githubusercontent.com/38098758/63716631-1a41c400-c84f-11e9-83a5-bc13565988d6.png)
если потом ткнуть на само поле Проекта -
![image](https://user-images.githubusercontent.com/38098758/63716690-465d4500-c84f-11e9-80a2-03a176e10e16.png)

[2019-08-26 19:22] AndriyNesterenya commented on #1062
В выписке в операции "Повернення коштів постачальником" нет возможности выбрать основание.
В случае возврата денег за неоказанную услугу основание для возврата - исходный счет? платеж - предоплата?

[2019-08-27 06:40] AlexeyTishkin opened #1071 "Проведение/отмена проведения документа"
После сообщения из ХП о том, что документ уже проведен необходимо загрузить документ и обновить диалог/форму.

[2019-08-27 08:13] #1042 closed, assigned to nobody

[2019-08-27 08:16] kattrina-brekhova opened #1072 "Операция "Надходження з каси" на основании расходного ордера "Видаток на рахунок в банку" - не дает провести"
![image](https://user-images.githubusercontent.com/38099938/63753617-0f714880-c8bc-11e9-8bd7-672c92c55aa0.png)

[2019-08-27 10:04] GalinaLuk opened #1073 "Приказ о приеме на работу - нельзя выбрать "посаду""
Приказ о приеме на работу - нельзя выбрать "посаду", проводит документ без этого поля, и не подсвечивает его красным.
http://dev.a2start.com/personnel/employee

[2019-08-27 10:04] #1072 closed, assigned to nobody

[2019-08-27 10:12] Illya-Lykhachov commented on #1073
![image](https://user-images.githubusercontent.com/35328100/63762847-39326b80-c8cc-11e9-8b16-8fa56626eb33.png)
Не повторяется. И выбрать даёт и не проводит (кнопка активна, но ничего не делает)

[2019-08-27 10:14] GalinaLuk commented on #1073
Других людей с другими должностями нормально проводит.
Что делать, давать права на свой тенат?

[2019-08-27 10:15] GalinaLuk commented on #1073
Из необычного - установлен низкий оклад (2 тыс грн - это 0,25 ставки)

[2019-08-27 10:19] GalinaLuk commented on #1073
![Снимок экрана в 2019-08-27 13-03-54](https://user-images.githubusercontent.com/46449132/63763416-5ca9e600-c8cd-11e9-8e66-4a94606c2bbf.png)

[2019-08-27 10:34] #1073 closed, assigned to Illya-Lykhachov

[2019-08-27 11:02] Anestezia opened #1074 "Только доступ - Платежка к Авансовому отчету - Не открывается документ, прикрепленный во вкладке Дополнительно"
![image](https://user-images.githubusercontent.com/42540074/63766221-5f0f3e80-c8d3-11e9-9350-ec508c11054c.png)

[2019-08-27 11:04] Anestezia opened #1075 "Документы старого образца, начиная от Счета - Только просмотр - Глючит режим Внести коригування и Змінити"
![image](https://user-images.githubusercontent.com/42540074/63766320-97168180-c8d3-11e9-9479-026b4eeab4a1.png)
Внести коригування

![image](https://user-images.githubusercontent.com/42540074/63766341-a269ad00-c8d3-11e9-82aa-6e19873238e1.png)
Змінити

[2019-08-27 11:13] Anestezia opened #1076 "Д4 Табл. 5 заполняется ведомостями из другой фирмы"
![image](https://user-images.githubusercontent.com/42540074/63766863-c5489100-c8d4-11e9-934e-e59b7b6ca821.png)

[2019-08-27 11:15] Anestezia opened #1077 "Только просмотр - Регл. отчеты - Выход без сохранения созданного отчета с глюком."
![image](https://user-images.githubusercontent.com/42540074/63766982-0f317700-c8d5-11e9-886b-7b562aaf8481.png)

[2019-08-27 11:18] Anestezia commented on #1076
Он даже проводится, а при попытке экспорта в хмл ему конечно же не нравится код.
![image](https://user-images.githubusercontent.com/42540074/63767160-849d4780-c8d5-11e9-9264-c8373e9c5414.png)
Только сообщение пользователю не понять.

[2019-08-27 11:18] kattrina-brekhova opened #1078 "Печатные формы документов: Наказ про прийняття на роботу, про звыльнення, про надання выдпустки - плохая видимость, серые строки практически не видны на печати"

[2019-08-27 11:27] kattrina-brekhova commented on #1078
в тексте должно быть не серым а черным
проблема решается только если пересохранить приказ в ворде и серый текст заменыить черным. но это не удобно

[2019-08-27 11:38] DenisClone opened #1079 "Смена реквизитов при формировании счета для клеинта"
При формировании счета на оплату сервиса для клиента, указываем наши реквизиты в Привате (теперь для всех клиентов).
Через Приват нам удобней сейчас обрабатывать поступления.

[2019-08-27 11:41] Anestezia opened #1080 "Только просмотр - Операции бета - Копирование, нужно правильное сообщение про закрытый доступ"
![image](https://user-images.githubusercontent.com/42540074/63768405-cbd90780-c8d8-11e9-9f12-99047055b461.png)

[2019-08-27 11:43] Anestezia commented on #1080
В обычных операциях это тоже повторяется

[2019-08-27 11:53] Anestezia commented on #1053
Комментарии печатаются и сохраняются.
В старых операциях редактировать и создавать документ не получается. Кое-где подпривить сообщения о закрытом доступе - ишью есть.
По справочникам -- создать и редактировать нельзя. Все разделы исключают создание и редактирование.
Отчеты регламентированные создать можно.
Скачать списки контрагентов. объектов учета и печатные формы документов можно.
Персонал и З

[2019-08-27 11:53] #1053 closed, assigned to nobody

[2019-08-27 12:35] AlexeyTishkin commented on #1075
Сделал.

[2019-08-27 12:37] AlexeyTishkin commented on #1054
Закрываем ?

[2019-08-27 12:53] alex-kukhtin commented on #1079
Напиши здесь реквизиты.

[2019-08-27 12:54] alex-kukhtin commented on #1079
Или мне в телегу скинь

[2019-08-27 12:57] alex-kukhtin commented on #1069
Вроде починили. Надо наблюдать

[2019-08-27 13:09] alex-kukhtin commented on #1056
Это о чем? Нужно расшифровать.

[2019-08-27 13:11] alex-kukhtin commented on #929
А как вы себе это представляете?
Как по мне - вполне нормальное поведение.

[2019-08-27 13:13] #851 closed, assigned to nobody

[2019-08-27 13:15] #922 closed, assigned to alex-kukhtin

[2019-08-27 13:17] alex-kukhtin commented on #989
Уже починилось. Закрывай нафиг

[2019-08-27 13:31] htrofymova commented on #1074
исправлено

[2019-08-27 13:32] htrofymova commented on #976
готово

[2019-08-27 14:16] kattrina-brekhova opened #1081 "Бух по персоналу: раздел Зарплата - через док "Начисление аванса" не подтягивает в базу фирмы профессии из справочника"
https://bookkeepersaas.slack.com/archives/CLNKL1XJP/p1566915102011200

[2019-08-27 14:17] kattrina-brekhova commented on #1081
не загружает из справочника проффесий и через пункт меню "Справочники" - раздел Зарплата

[2019-08-27 14:17] #1081 closed, assigned to nobody

[2019-08-27 14:18] kattrina-brekhova commented on #1081
не подгружает професии из справочника в пункте "Справочники" раздел Персонал

[2019-08-27 14:20] kattrina-brekhova commented on #1081
не подгружает и через наказ про принятие на работу в разделе Персонал

[2019-08-27 14:33] kattrina-brekhova opened #1082 "Бух по зарплате: должен иметь доступ к составлению СВОЕЙ отчетности"
https://bookkeepersaas.slack.com/archives/CLNKL1XJP/p1566916051012900

[2019-08-27 14:41] AlexeyTishkin commented on #1080
Сделал.

[2019-08-27 14:46] AlexeyTishkin commented on #1055
Исправил.

[2019-08-27 16:07] AlexeyTishkin commented on #1066
Сделал.

[2019-08-27 16:39] DenisClone commented on #1079
Реквизиты уже есть в сервисе. Насколько я знаю, мы формируем эти счета для всех кто пришел с "privatmarket". Теперь такой же счет нужно формировать всем тенантам.

[2019-08-27 17:01] AndriyNesterenya opened #1083 "[улучшайзинг] В выписке разрешить "Запам`ятати цей рахунок" для проведенных выписок"
Опыт показал, что народ в упор не видит в выписках надписи "Запам`ятати цей рахунок" (даром, что цветом выделено).
![image](https://user-images.githubusercontent.com/38098758/63791863-09538a00-c905-11e9-9a56-f3966f40fc73.png)
Потом со временем раздупляются, а в уже проведенной выписке эта штука неактивна и запомнить счет без распроведения уже нельзя.

Не стоит ли разрешить сохранение счета у контр

[2019-08-27 17:02] AndriyNesterenya commented on #941
Просю не забыть....
Юзера жалуются.

[2019-08-27 17:04] alex-kukhtin commented on #1067
Сделано

[2019-08-27 17:07] #1067 closed, assigned to kattrina-brekhova, GalinaLuk

[2019-08-27 17:10] alex-kukhtin commented on #1079
Блин. Спросишь еще у меня что-нибудь.
Я тебе тоже отвечу - оно уже есть в базе данных :-)

[2019-08-27 17:10] #1069 closed, assigned to alex-kukhtin

[2019-08-27 17:11] #1066 closed, assigned to AlexeyTishkin

[2019-08-27 17:13] AndriyNesterenya opened #1084 "Косяк в верстке в Выписках (Проекты)"
Если в выписке полезть в Додатково, и на поле Проекта ткнуть на три вертикальных точки - получится
![image](https://user-images.githubusercontent.com/38098758/63716631-1a41c400-c84f-11e9-83a5-bc13565988d6.png)
если потом ткнуть на само поле Проекта -
![image](https://user-images.githubusercontent.com/38098758/63716690-465d4500-c84f-11e9-80a2-03a176e10e16.png)

https://bookkeepersaas.slack.com/arch

[2019-08-27 17:16] alex-kukhtin commented on #1084
Вроде ж уже поправили.

[2019-08-27 17:16] AndriyNesterenya opened #1085 "Ошибка: File not found 'document/payment_order_in/model.json' в Продажі - операції"
Продажі - операції
http://dev.a2start.com/sales/operations
В списке операций не открываются ссылки "Оплата покупця на рахунок в банку" в доп инфе по счету
Ошибка: File not found 'document/payment_order_in/model.json'

![image](https://user-images.githubusercontent.com/38098758/63793080-913a9380-c907-11e9-8bf1-b9886c27d8f6.png)

https://bookkeepersaas.slack.com/archives/CLNKL1XJP/p1566846069011200?

[2019-08-27 17:17] alex-kukhtin opened #1086 "Новый формат счета на оплату сервиса"
Реквизиты - приват
Согласовать назначение платежа

[2019-08-27 17:18] AndriyNesterenya commented on #1084
Да, не обновилось у меня.

[2019-08-27 17:18] #1084 closed, assigned to nobody

[2019-08-27 17:20] alex-kukhtin commented on #1035
Полезешь сюда - звякни мне. У меня запрос есть более менее готовый

[2019-08-27 17:20] AndriyNesterenya commented on #1085
... Вроде исправлено

[2019-08-27 17:21] alex-kukhtin commented on #1060
Там все правильно. Надо только расширить описание.
Или указывается в ведомости.
Это сообщение к счету.

[2019-08-27 17:31] #1085 closed, assigned to AlexeyTishkin

[2019-08-27 18:26] htrofymova commented on #1040
В общем-то, это не bug а enchancement. Возможность продажи необоротных активов на экспорт на самом деле не реализована. То, что в инвойсе можно выбрать объект необоротных активов, на данный момент является "неявной возможностью". Пока не будет полностью реализован экспорт необоротных, я эту "неявную возможность" отключу.

[2019-08-28 05:02] AlexeyTishkin commented on #1077
Нужны подробности. Судя по картинке - это открытие авансового отчета в старом интерфейсе (форме).

[2019-08-28 06:46] Illya-Lykhachov commented on #1078
Сделал метки потемнее во всех печатных документах. Достаточно?

[2019-08-28 06:53] Illya-Lykhachov commented on #1060
Неправильно "ИНН и номер карты указывается в примечании к платежу". Это выплата по ведомости в которой **список**. Т.е. там много ИННов и карт. В примечание это не поместить.
ИНН и карты указываются в примечании платёжки на конкретного сотрудника, когда не используется зарплатный проект и, соответственно, нет ведомости.

[2019-08-28 06:58] alex-kukhtin commented on #1060
Блин. Баннер к СЧЕТУ
Напишите в баннере.
"Если это выплата чуваку, то в назначении указывается ИНН и номер карты, если это выплата зарплаты по ведомости, то номер и дата ведомости на выплату зарплаты."

Не усложняйте без необходимости.

Щас будешь кучу кода вставлять, чтобы баннер красивый сделать.

P.S.  Это не обсуждение. это прямой приказ :-)

[2019-08-28 07:07] AlexeyTishkin commented on #1057
Сделал.
Если где-то не так, то напиши конкретное место.

[2019-08-28 07:27] AlexeyTishkin commented on #1063
Сделал.

[2019-08-28 08:16] #1063 closed, assigned to AlexeyTishkin

[2019-08-28 09:09] #929 closed, assigned to nobody

[2019-08-28 09:28] kattrina-brekhova commented on #1078
распечатали. лучше чем вчера. но все-равно серое. у нас лазерный принтер. на струйном будет еще хуже. нужен черный цвет

[2019-08-28 09:31] kattrina-brekhova commented on #1078
![image](https://user-images.githubusercontent.com/38099938/63843814-afe46d00-c98f-11e9-92c1-7b72fa544f85.png)

[2019-08-28 09:49] #1076 closed, assigned to Illya-Lykhachov

[2019-08-28 09:57] DenisClone commented on #1078
сейчас RGB: 105,105,105
а нужно RGB: 0,0,0

[2019-08-28 09:57] #976 closed, assigned to Anestezia

[2019-08-28 10:06] #1055 closed, assigned to AlexeyTishkin

[2019-08-28 10:09] #1074 closed, assigned to htrofymova

[2019-08-28 10:13] #1075 closed, assigned to AlexeyTishkin

[2019-08-28 10:15] #1080 closed, assigned to AlexeyTishkin

[2019-08-28 10:23] Illya-Lykhachov commented on #1010
Исправлено

[2019-08-28 12:37] Illya-Lykhachov commented on #1028
Сделал в части использования счёта затрат в договоре ГПХ.
С проектами понятно для ГПХ, а для обычной заплаты пока нет. Можно в должность проект добавить или выбирать в строках расчётной ведомости (тогда один сотрудник сможет работать в разных проектах, но не в одном месяце).

[2019-08-28 13:27] Illya-Lykhachov commented on #1078
готово

[2019-08-28 13:32] #1078 closed, assigned to Illya-Lykhachov

[2019-08-28 13:41] kattrina-brekhova opened #1087 "страница Главная: можно ли в графике расчетов отображать также наличные поступления, либо выбирать - наличку, безнал?"
![image](https://user-images.githubusercontent.com/38099938/63860941-a8828b00-c9b2-11e9-8b90-6b63a9e2fedf.png)

[2019-08-28 14:52] Illya-Lykhachov commented on #1059
Сделано. Только не комментарий, а валидатор

[2019-08-28 16:23] alex-kukhtin commented on #1087
Можно как угодно. Заводите обсуждение в слаке и принимайте решение, как надо.

[2019-08-29 07:37] #989 closed, assigned to alex-kukhtin

[2019-08-29 07:45] kattrina-brekhova opened #1088 "Отчет Оборотная ведомость по складу: возможно ли в отчете создать колонку с ценой продажи"
потенциальный клиент, занимается производством  и продажей продукции, цена на которую сезонно отличается. ему нужна аналитика стоимости продукции на складе по цене продажи
с прайс-листами работает. я не знаю, как это сделать технически, но может возможно, чтоб эта информация отражалась.

у нас есть рядок "цена", но НЕ бухгалтера не понимают, что это реальная себестоимость
![image](https://user-ima

[2019-08-29 07:52] AlexeyTishkin commented on #1088
В отчетах, которые показывают обороты за период, добавить цену прайс-листа невозможно. Цена в периоде может меняться каждый день.

[2019-08-29 07:54] AlexeyTishkin commented on #1088
Если клиента интересует "стоимости продукции на складе по цене продажи", то можно сделать отчет, типа "Остаток на складе в ценах прайс-листа". В нем будет отображен только остаток (на определенную дату) и цена из прайс-листа, которая действует на эту же дату. Ну и сумму, соответственно.

[2019-08-29 07:55] kattrina-brekhova commented on #1088
да, именно оно!

[2019-08-29 07:56] #1057 closed, assigned to AlexeyTishkin

[2019-08-29 08:01] AlexeyTishkin commented on #1088
Тогда надо с ним согласовать:
1. Отчет строится на определенную дату (дата одна, нет начала и конца).
2. В отчете только группа колонок "Сальдо на кінець".
3. В отчете выбирается прайс-лист и вид цены.
4. Колонка "Ціна" - цена из выбранного вида цены на выбранную дату.

[2019-08-29 08:01] AlexeyTishkin commented on #1088
Если да - создать новый issue, а этот закрыть.

[2019-08-29 08:07] kattrina-brekhova commented on #1088
и соответвенно общее количество и полная стоимость продукции по заданной цене

[2019-08-29 08:08] AlexeyTishkin commented on #1088
Ну да, группа колонок "Сальдо на кінець": кол-во, цена прайс, сумма = кол-во * цена прайс.

[2019-08-29 12:07] alex-kukhtin opened #1089 "Платежка. Печатная форма. Счет IBAN"
![image](https://user-images.githubusercontent.com/26379138/63938921-a2ea7b00-ca6e-11e9-825b-85cb1eb34e02.png)

[2019-08-29 12:11] alex-kukhtin opened #1090 "Платежка с ошибками. "Провести" разрешено и ничего не делает"

[2019-08-29 12:48] htrofymova commented on #1090
какая операция?

[2019-08-29 16:09] alex-kukhtin opened #1091 "Если удалить юзера, он может неограниченно долго работать в существующей сессии."

[2019-08-29 16:10] #1086 closed, assigned to alex-kukhtin

[2019-08-29 16:11] alex-kukhtin opened #1092 "Если юзеру запрещены все фирмы, он все равно может зайти в сервис."

[2019-08-29 17:11] kattrina-brekhova commented on #1088
пока пусть висит. клиент потенциальный, выносит мозг третий день, не сказал о своем решении

[2019-08-29 17:25] kattrina-brekhova opened #1093 "БЕТА: При создании 2 доп логина настроила ему права 1. только просмотр, 2 бух по зп. Потм как блондинка "что-то случилось" и 2 логин тоже стал админом"
с 3 логином пока повторить не могу
![image](https://user-images.githubusercontent.com/38099938/63962170-0db1ab80-ca9b-11e9-8884-fd947c9acf24.png)

[2019-08-29 17:26] kattrina-brekhova commented on #1093
одновременно у 2 логина прав к настройке нет
![image](https://user-images.githubusercontent.com/38099938/63962291-418cd100-ca9b-11e9-883c-c131de7f190f.png)

[2019-08-29 17:38] kattrina-brekhova opened #1094 "БЕТА: роль Бух по зп: создаю документы, потом распровести не могу"
![image](https://user-images.githubusercontent.com/38099938/63963114-f83d8100-ca9c-11e9-9ae4-261fcdcbbf44.png)

[2019-08-29 17:43] kattrina-brekhova commented on #1093
доступы, которые изначально настроили - для одной фирмы только просмотр, для другой - бух по зп - сохраняются

[2019-08-29 17:50] kattrina-brekhova opened #1095 "Сервис: раздел Бухгалтерия - Рахунки: странная верстка"
![image](https://user-images.githubusercontent.com/38099938/63963739-5880f280-ca9e-11e9-86ab-35f58569f153.png)

экран на 15"

[2019-08-29 17:58] kattrina-brekhova opened #1096 "Сервис: раздел Персонал: начислила аванс, при проведении отдельных операций "Выплата. картки.", "Выплата. наличка" кнока "заповнити" не срабатывает, документы не начисляются"
![image](https://user-images.githubusercontent.com/38099938/63964366-9cc0c280-ca9f-11e9-9dae-836d9855f6aa.png)

![image](https://user-images.githubusercontent.com/38099938/63964429-bcf08180-ca9f-11e9-80c9-5db709de897c.png)
и тоже самое с ведомостью выплаты налички

[2019-08-30 05:32] #1054 closed, assigned to AlexeyTishkin

[2019-08-30 07:25] Anestezia opened #1097 ""Оплатить услуги буккипер" - сразу с реквизитами."
Вам не здається дивним, що оплату послуг буккіпер треба робити через одне місце? йти у власний кабінет, потім скачувати інвойс, потім ВРУЧНУ перебивати його у рахунок, створений у вашій же программі. чому це все не робиться одним кліком, так щоб в системі автоматом з'являвся сформований рахунок і я міг в один клік відправити платіжне доручення в банк?

 Нужна явная операция "Оплатить услуги буккип

[2019-08-30 07:29] Anestezia opened #1098 "Изменить систему ввода номенклатуры, КВЕДОВ, чтоб не сбрасывалось значение на предыдущей странице отбора."
Клиенты жаловались на неудобство, когда много номенклатуры в счет или накладную вводить, Поставил галочки на одной странице диалога подбора, перешел на другую, те отметки исчезли. Нужно чтоб либо они оставались, либо сразу добавлялись в документ без закрытия диалога подбора номенклатуры или кодов.

[2019-08-30 07:44] alex-kukhtin commented on #1059
Hint надо!!!!
"В это поле вводится ИНН (10 цифр) или серия и номер паспорта (две буквы и 6 цифр)

[2019-08-30 08:17] #1092 closed, assigned to alex-kukhtin

[2019-08-30 08:17] #1091 closed, assigned to alex-kukhtin

[2019-08-30 08:18] #1062 closed, assigned to nobody

[2019-08-30 08:18] alex-kukhtin commented on #1077
А как ты туда попала?

[2019-08-30 08:55] DenisClone opened #1099 "При смене пароля для дополнительного логина, в учетке админа тенанта, не выдается сообщение о успешном результате"
1. Нужно добавить уведомление о успешной смене пароля для доп.лигина
2. Нужно подправить окно про ошибку смены пароля. На нем задвоенная информация.

![image](https://user-images.githubusercontent.com/42002015/64007464-e8fe1800-cb1c-11e9-8f22-ca93313413b3.png)

[2019-08-30 09:04] #1093 closed, assigned to alex-kukhtin

[2019-08-30 09:05] #1059 closed, assigned to Illya-Lykhachov

[2019-08-30 09:19] Anestezia opened #1100 "Возможность ввести паспорт вместо ИНН в свойствах физлица-контрагента"
С последующим подтягиванием в НН и другие связанные доки (если есть), как есть, без префиксов.
![image](https://user-images.githubusercontent.com/42540074/64009361-66775780-cb20-11e9-9d4a-57a75181060b.png)

[2019-08-30 10:15] AlexeyTishkin opened #1101 "Наполнение справочников при создании фирмы"
1. Какие справочники?
2. Автоматически или с дополнительным вопросом/опцией ?

[2019-08-30 10:18] AlexeyTishkin commented on #1101
https://bookkeepersaas.slack.com/archives/CLNKL1XJP/p1567160209003800

[2019-08-30 10:20] AlexeyTishkin opened #1102 "Прайс-лист, виды цен. Убрать системные"

[2019-08-30 10:26] DenisClone opened #1103 "При создании доп.логина не корректная последовательность перехода по палям при использовании кнопки Tab"
![image](https://user-images.githubusercontent.com/42002015/64014009-be668c00-cb29-11e9-9a18-d6739f18e4af.png)

[2019-08-30 11:39] DenisClone opened #1104 "Под ролью бухгалтер попадает на несуществующий урл"
Создал нового пользователя, дал ему доступ к основному предприятию, роль бухгалтер.
При первом входе в учетку (залогинился), такая ошибка.
Откуда то подтягивается лишний /home/ в урле.

![image](https://user-images.githubusercontent.com/42002015/64017636-c8d95380-cb32-11e9-8f5a-2c0225540516.png)

У Лёши была такая последовательность перед ошибкой:
Роль бухгалтер. Закрыл закладку. Открыл новую и за

[2019-08-30 11:41] DenisClone commented on #1104
Устойчиво повторил:
1. Из закладки или истории браузера (или еще откуда) открываем урл: http://dev.*******.com/home
2. Логинимся под бухгалтером
3. При входе в урл добавляется лишний  /home/

[2019-08-30 11:53] kattrina-brekhova opened #1105 "РКО - операция "возврат дене покупателю: при выборе системного контрагента - кинцевый споживач, сервис воспринимает его как юрика"
![image](https://user-images.githubusercontent.com/38099938/64018636-a3017e00-cb35-11e9-9d2f-46514ba6b6ae.png)

здесь странная ситуация - выдача денег всегда происзодится конкретному физику на основании паспорта.
у нас нет возможности указать в даном документе конкретного физика его паспорты данные, чтоб распечатать док и дать РКО на подпись получателю денег
если же мы будем создавать отдельного ф

[2019-08-30 14:10] #1094 closed, assigned to nobody

[2019-08-30 14:14] kattrina-brekhova opened #1106 "опеачатка в тексте на главной : Ще"
![image](https://user-images.githubusercontent.com/38099938/64027573-a272e280-cb49-11e9-8b12-de11056bd022.png)

[2019-08-30 15:00] #1106 closed, assigned to nobody

[2019-08-30 16:09] kattrina-brekhova opened #1107 "клиент просит формы внутренних приказов (не по зарплате)."
наш бух Анна Григорьевна спрашивает, можно ли создать внутренние приказы - не кадровые. а например, на перемещение - нужно уточнить у нее список приказов, которые она хочет
мне как бухгалтеру не понятна такая хотелка (если есть всегда ворд под рукой и интернет с формами приказов).
к обсуждению

[2019-08-31 11:07] GalinaLuk opened #1108 "Быстрый выбор произвольного периода/даты в выпадающем календаре"
https://docs.google.com/document/d/1YULz9duZ0PRzUG7wQmMDhmxMLIbaUuzfYUs5nQgM5ac/edit?usp=sharing

Внутри 2 картинки, которые предлагают
1. Сверху добавить две ячейки для  ручного ввода дат
2. Возле названия "месяц" и "год" при нажатии на треугольник сделать выпадающий список для выбора опций
Ищу еще

[2019-08-31 11:19] GalinaLuk commented on #1108
Этот вариант не предлагаю, но привожу в пример, как бывает:
https://tables.finance.ua/ru/currency/cash/-/ua,0,7oiylpmiow8iy1smadi/usd/2#2:0
![4](https://user-images.githubusercontent.com/46449132/64063237-42884480-cbfa-11e9-8057-4c24db95067c.png)

[2019-09-01 18:44] AndriyNesterenya opened #1109 "[Улучшайзинг] Админка (раздел ТЕНАНТИ) - дополнительный функционал для мультифирмы/мультиюзера"
С внедрением мультиюзерности/мультифирменности назрели изменения в админке (раздел ТЕНАНТИ):
1. Необходимо добавить отображение количества фирм.
2. Желательно добавить отображение списка наименований фирм тенанта в таблицу явно + во всплывающее окно с инфой
3. Исправить глюк - не сортируется список по кол-ву пользователей

![image](https://user-images.githubusercontent.com/38098758/64080838-ea8835

[2019-09-01 20:51] #615 closed, assigned to alex-kukhtin

[2019-09-02 09:06] kattrina-brekhova opened #1110 "Отпуск: при расчете отпускных, на которых припадают праздничные дни из периода следует автоматически вычесть праздничные и нерабочие дни"
положение 100, пункт 7
https://zakon.rada.gov.ua/laws/show/ru/100-95-%D0%BF

Святкові та  неробочі  дні  (стаття  73  Кодексу законів про
працю України) ( 322-08 ),  які припадають на період відпустки,  у
розрахунок тривалості відпустки не включаються і не оплачуються.
( Абзац другий пункту 7 в редакції Постанови КМ N 348 ( 348-95-п )
від 16.05.95 )

[2019-09-02 09:16] kattrina-brekhova commented on #1110
в приказе на отпуск можно подкорректировать кол-во дней, но в расчетную ведомость автоматически попадает кол-во дней с праздником
в ведомости можно в ручную так же внести правильное кол-во дней

[2019-09-02 10:27] #1102 closed, assigned to AlexeyTishkin

[2019-09-02 10:30] AlexeyTishkin commented on #1100
Сделал.

[2019-09-02 10:31] AlexeyTishkin commented on #1100
Физ. лицо не может быть плательщиком НДС, поэтому в НН будет условный ИНН.

[2019-09-02 10:37] #1010 closed, assigned to Illya-Lykhachov

[2019-09-02 11:19] #1100 closed, assigned to AlexeyTishkin

[2019-09-02 11:20] Anestezia commented on #1100
Проверила, физлицо не ругается на ввод паспорта в списке контрагентов, а нн идет с условным кодом. Дало создать фоп с таким же паспортом, плательщика НДС и в НН подставилось.

[2019-09-02 11:44] kattrina-brekhova opened #1111 "нужен производственный календарь"
для правильного расчета среднедневной зарплаты
для правильного расчета периода отпуска https://github.com/a2develop/bugTracker/issues/1110

[2019-09-02 12:26] Anestezia opened #1112 "Операция по внесению в кассу разменной монеты на начало дня. Нужна (реал.)"

[2019-09-02 19:37] MaksymTikhomirov commented on #1109
+++
Важно

[2019-09-03 08:10] Anestezia opened #1113 "Из операции "Приймання-передача в операційну оренду" создавать оплату"
У них кейс, аренда у физлица земельного участка. Приход через этот акт сделать-то можно, а как оплатить (прямо из него)? Они у себя на 39 насчитывают ар.плату (затраты будущих периодов), а потом выплачивают из кассы.

[2019-09-03 08:53] Anestezia opened #1114 "По поводу розницы, запрос клиента"
![image](https://user-images.githubusercontent.com/42540074/64158550-612c4c80-ce41-11e9-9bb6-772bdc52a151.png)

[2019-09-03 08:57] DenisClone commented on #552
пока не актуально

[2019-09-03 08:57] #552 closed, assigned to alex-kukhtin

[2019-09-03 08:58] #1079 closed, assigned to alex-kukhtin

[2019-09-03 09:14] Anestezia commented on #1077
Как попала не знаю, повторить не могу, может что-то уже подкорректировали по этому вопросу. Но есть другой. Создаются из режима "Только просмотр" додатки к отчетам. Дальше ничего с ними сделать нельзя, но они висят уже прикрепленные и пустые.
![image](https://user-images.githubusercontent.com/42540074/64160274-5de69000-ce44-11e9-9d60-d4b5c3576a73.png)

[2019-09-03 09:34] AndriyNesterenya commented on #1109
+ туда же стоит добавить какое-то визуальное выделение (в идеале с возможностью сортировки) тенантов с вручную назначенными тарифами.
... раз уж у нас такая возможность есть и скорее всего аутсорсеры и им подобные будут ходить торговаться.

[2019-09-03 11:58] Anestezia commented on #1088
1. Насчет самой формы складского отчета, говорит, что даже наименование колонки Цена не есть корректным, потому что это и не цена продажи, и не себестоимость, так как не включает в себя зп, аренду, логистику.
2. Его кейс - Производство, пользуется нашими операциями Виготовлення и Рецептура. Но там не хватает нематериальных затрат.
3. 1.Предлагает в отчет о складских остатках, валовий прибуток, роз

[2019-09-03 13:10] DenisClone opened #1115 "Доработка админки для механизма мультифирменность"
1. Предлагаю сделать цифру «количество пользователей» в виде ссылки которая открывает окно со статистикой по пользователям в этом тенанте (для меня например, это более интуитивно).

![image](https://user-images.githubusercontent.com/42002015/64175886-f7be3500-ce64-11e9-93f1-f85f3ccd5708.png)

2. Необходимо добавить информацию о количестве фирм и их данные. Это можно сделать новым пунктом «Фирмы» в

[2019-09-03 13:53] Anestezia opened #1116 "Оплата любых других налогов, кроме встроенных. Нужна."

[2019-09-03 14:08] alex-kukhtin commented on #1116
1. Налог на недвижимость
2. Пени и штрафы
3. И, пожалуй, "Прочие налоги".
Там все равно указывается в назначении платежа.
А получаетель - один хрен, всегда казначейство.

[2019-09-03 14:09] AlexeyTishkin commented on #1116
Проводки какие ?

[2019-09-03 14:19] AlexeyTishkin commented on #1037
Валидатор на этом поле есть и работает.

[2019-09-03 14:19] AlexeyTishkin commented on #1037
Нужны подробности для того, чтобы повторить.

[2019-09-03 14:21] AlexeyTishkin commented on #1077
Испраил.

[2019-09-03 17:15] AndriyNesterenya opened #1117 "[multiuser Security BUG] По ссылке с окна приветствия дополнительный пользователь имеет доступ к свойствам основной фирмы тенанта"
Ситуация:
Имею аккаунт с основной фирмой А.
В своем аккаунте создаю доп. фирму В.
Создаю пользователя, имеющего полный доступ к доп. фирме В, которому запрещен доступ ко всем остальным фирмам тенанта.
Результат:
При этом у юзера с полными правами на фирму В нет возможности править реквизиты фирмы В
![image](https://user-images.githubusercontent.com/38098758/64194256-55fc0f80-ce87-11e9-89e8-61e37ea

[2019-09-03 17:21] AndriyNesterenya commented on #1117
Ситуация лечится демонстрацией ДРУГОГО приветственного окна для доп. юзеров, в котором сказано, что по всем вопросам обращайтесь к администратору с мылом + телефоном из свойств главного юзера.
Или вообще приветственное окно дополнительным не показывать.

Ну или нужно давать юзерам с полными правами возможность править фирмы, к которым есть полный доступ (что делать с ссылко на старом окне приветст

[2019-09-04 08:30] Anestezia commented on #1116
Начисление 92 - 641
Выплата 641 - 311.
Возникает вопрос аналитики, все налоги скопом будут валиться на 641 и их четко не отделить. Например, акциз и недвижимость, и земля. Что делать в этом случае?

[2019-09-04 08:39] Anestezia opened #1118 "НН для филиалов"
По одному из клиентов НУЖНО
в НН менять НАЗВАНИЕ предприятия и номер ЕДРПОУ,
т.е. в счете и акте ОДНО название и номер,
в НН ДРУГОЕ название и номер.

Видимо, что это все в цепочку подвязывалось тоже, а не разрозненная накладная висеть будет.  Он это спрашивает именно из-за работы с филиалом.

[2019-09-04 10:59] DenisClone opened #1119 "Сохранять свормированный счет на оплату сервиса БК, и показывать его в админке для удобного разнесения оплат"
При нажатии клиентом кнопки - "Сформировать счет" на оплату сервиса БК, сохранять калькуляцию выбранных им услуг (блок "расчет тарифа"), с привязкой к номеру счета.
В админке можно добавить новый пункт "Счета" в разделе "Биллинг", и в нем выводить все такие сохраненные счета с указанием id и логина тенанта.

[2019-09-04 11:20] alex-kukhtin commented on #1119
А смысл какой? Если юзер десять раз кнопку нажмет, я тебе десять счетов сохраню. Что ты с ними делать будешь?

[2019-09-04 11:20] alex-kukhtin commented on #1119
Я могу тебе показать текущее состояние, все предыдущие и когда оно менялось.

[2019-09-04 11:21] alex-kukhtin commented on #1119
Состояние меняется когда юзер добавляет/удаляет фирму/юзера.

[2019-09-04 11:38] DenisClone commented on #1119
В принципе подойдет и такой вариант.
Мне казалось, что там есть дополнительно выбор периода оплаты (количество месяцев).
Но в текущем состоянии ЛК, вполне подойдет ваш вариант.

[2019-09-04 12:29] Anestezia opened #1120 "Послуги отримані - нет нумерации страниц (со второй)"
![image](https://user-images.githubusercontent.com/42540074/64254235-a7f47200-cf27-11e9-97f3-c9318782773e.png)

[2019-09-04 12:30] Anestezia opened #1121 "Придбання послуг - на печати не влезает и не переносится артикул"
![image](https://user-images.githubusercontent.com/42540074/64254881-f1918c80-cf28-11e9-9342-277c1752f7d0.png)

[2019-09-04 12:46] Anestezia opened #1122 "Об'єкти обліку - Послуги - Звіти, замінити на потрібні."
1. С услуг убрать оборотную по складу.
2. Сделать отчет реестр документов по объекту.

[2019-09-04 12:50] Anestezia opened #1123 "Перенос из Исходящего счета в Акт услуг с материалами Названия для печати, отсутствует для материалов."
Счет исходный
![image](https://user-images.githubusercontent.com/42540074/64256101-682f8980-cf2b-11e9-9644-99bb5e65240c.png)
Акт
![image](https://user-images.githubusercontent.com/42540074/64256124-7382b500-cf2b-11e9-9fb2-85dc9c76ccf3.png)
Услуга попала со вторым названием, а материал нет.
В самом документе ее не видно, но на печать выводятся по обеим позициям.
Стоит сделать, чтоб и в самом докуме

[2019-09-05 05:36] alex-kukhtin commented on #932
Done in 7552

[2019-09-05 13:17] #1096 closed, assigned to Illya-Lykhachov

[2019-09-06 08:44] Anestezia opened #1124 "Добавить Немат.актив в выбор со 152 счета для Изготовления или Модернизации ОС"
Кейс клиента:
Здраствуйте.
Возможно я не нашла подходящего документа для своей ситуации:
Куплены ноутбуки и Windows OEI. Поставщик в накладной указывает отдельными позициями технику и ПО. Поскольку ПО -  OEI.-, т.е. привязано к компу и без него не живет, то его нет необходимости отражать в составе нематериальных активов, приходовать на 154 счет. На практике все приходуется на 152, перед вводом в э

[2019-09-06 08:52] #1077 closed, assigned to AlexeyTishkin

[2019-09-06 09:06] Anestezia opened #1125 "ПРи создании операции Оприходование и Списание по Объекту Услуга, не должно быть заполнения"
![image](https://user-images.githubusercontent.com/42540074/64415865-c466ea80-d09e-11e9-84da-5add8bcb1789.png)

[2019-09-06 09:20] #1124 closed, assigned to nobody

[2019-09-06 09:42] alex-kukhtin opened #1126 "Добавить "Реестр проводок" в отчеты в плане счетов"

[2019-09-06 09:43] alex-kukhtin commented on #1125
Вообще не должны эти документы создаваться из "Услуги"

[2019-09-06 13:00] alex-kukhtin commented on #1115
Вроде все сделано в 7554.
И не пиши по несколько пунктов в одном issue! Ну сколько раз просить?

[2019-09-06 13:01] alex-kukhtin commented on #1109
Done in 7554

[2019-09-06 13:02] alex-kukhtin commented on #1109
Насчет ручных тарифов - пишите отдельный issue. Там надо сделать хотя-бы их визуализацию.

[2019-09-06 13:02] alex-kukhtin commented on #652
7554. Тупо добавил кнопку удаления.

[2019-09-06 13:05] DenisClone commented on #932
В боевой админке не починилось (или не применилось к старым записям), в "Билинг - Оплаты", у тенанта №1205 так и висит "0" по всем платежам.

[2019-09-06 13:11] #932 closed, assigned to alex-kukhtin

[2019-09-06 13:12] DenisClone commented on #652
Удалил старую тестовую запись)

[2019-09-06 13:12] #652 closed, assigned to alex-kukhtin

[2019-09-06 13:20] #1115 closed, assigned to alex-kukhtin

[2019-09-06 18:48] alex-kukhtin opened #1127 "Мои фирмы. Проверка дубликатов"
Сейчас проверка дубликатов выполняется внутри ТЕКУЩЕЙ фирмы.
В результате нельзя создать НОВУЮ, если в ТЕКУЩЕЙ есть контрагент с таким-же ЕДРПОУ.

[2019-09-07 14:18] alex-kukhtin commented on #1127
Done. Надо проверить.

[2019-09-07 14:36] alex-kukhtin opened #1128 "Отправка e-mail из сервиса"
Мы собираемся сделать автоотправку писем с сервиса.
Надо разобраться, что нужно сделать, чтобы не попасть в спам при массовых рассылках.

[2019-09-08 08:51] AndriyNesterenya opened #1129 "Аренда у физлица авто/земли/помещения - реализовать"
Добавить возможность компании арендовать у физлица автомобиля/земельного участка/нежилого помещения

[2019-09-08 08:53] AndriyNesterenya opened #1130 "Invoice на услугу (импорт услуг) - добавить"
Нет возможности создать входящий инвойс на услугу.

Инвойс - оплата - акт выполненных работ.

[2019-09-08 09:01] AndriyNesterenya opened #1131 "[Улучшайзинг] предупреждение о приближении срока оплаты в Личном кабинете"
Добавить в Личный кабинет (и может быть в "шапку") предупреждения о приближении срока оплаты за использование сервиса (при недостатке денег на балансе для оплаты следующего платежа).

[2019-09-08 09:39] AndriyNesterenya commented on #1130
по возможности срочно - платящим юзерам надобно постоянно.

[2019-09-08 09:41] AlexeyTishkin commented on #1130
Нужны подробности:
1. Проводки по каждой операции.
2. Отражение НДС.
3. Отражение в регламентированных отчетах.

[2019-09-08 10:31] AndriyNesterenya commented on #1127
Вроде полечилось.
Заводил новые фирмы и контрагентов с одним ЕДРПОУ в разных комбинациях - пока без проблем

[2019-09-08 11:44] #1127 closed, assigned to nobody

[2019-09-09 06:58] DenisClone commented on #1128
Принял.
Предварительно: если будем отправлять через smtp gmail, то проблем не будет.

[2019-09-09 09:10] Anestezia commented on #1034
Изначально вопрос в том, что клиент заплатил (361 клиентский) всю сумму по счету, а БукКипер считает, что есть недоплата от клиента. Этого быть не должно, поэтому я и говорю, что раз клиент не платит комиссию, то  и нечего ее на него вешать в учете.

[2019-09-09 10:23] Anestezia opened #1132 "Просят сделать отчет РРО"

[2019-09-09 12:46] DenisClone commented on #1128
Собрал все в Слаке:
https://bookkeepersaas.slack.com/archives/CJQJ3KZFS/p1568032232000900

[2019-09-09 12:59] DenisClone opened #1133 "Не удаляется тенант, не подтвердивший мыло"
Не могу удалить тенант 1702 из админки

![image](https://user-images.githubusercontent.com/42002015/64532905-1451e580-d31b-11e9-9aee-dcc9c70db210.png)

[2019-09-09 14:04] DenisClone opened #1134 "Редактирование внесенного платежа и бонуса, в админке"
Для корректировки возможной ошибки во внесенном платеже или бонусе, предлагается сделать механизм его редактирования.

Есть еще мысль сделать защиту, например давать редактировать платеж только в дату его внесения. Бонус можно редактировать всегда.

[2019-09-10 12:56] kattrina-brekhova commented on #986
еще по теме http://www.visnuk.com.ua/uk/publication/100007075-poslugi-vid-nerezidenta

[2019-09-11 10:37] kattrina-brekhova opened #1135 "кейс к обсуждению: выдача выручки в банк через сотрудника предприятия - что указывать в строке "видати""

[2019-09-11 10:56] kattrina-brekhova commented on #1135
что нарыла:
в индивидуальной налоговой консультации ДПС пишет, что реквізит видаткового касового ордеру "Видати", у якому зазначається прізвище, ім’я та по батькові особи, якій видано готівку з каси має бути заповнений обов’язково.
https://buhgalter911.com/normativnaya-baza/pisma/gfsu/schodo-zapovnennya-rekvizitiv-1037056.html
и рекомендуют запросить консультацию от НБУ - автора Положения 148

сог

[2019-09-11 11:28] kattrina-brekhova commented on #1135
при выдаче через инкасаторскую службу (а у нас такой операции нет), получателем ставится "банк через инкасаторскую службу" подпись не требуется

[2019-09-11 11:32] kattrina-brekhova opened #1136 "новая операция: выдача денег в банк через инкасаторскую службу""
различие между операцией "выдача денег в банк" от "выдачей через инкассаторов" в получателе.
в случае самостоятельного внесения - ставим сотрудника https://github.com/a2develop/bugTracker/issues/1135
в случае с инкассацией ПАТ "Альфабанк" через інкасаторську службу
основание "інкасація торговльної виручки"
сума - заполняет предприятие
одержав, дата, подпись - не заполняется

[2019-09-11 11:36] kattrina-brekhova commented on #1135
вот еще разъяснение НБУ http://vobu.ua/ukr/documents/item/lyst-nbu-vid-120618-r-50-0007-32326
У разі оформлення видаткового касового ордеру для здавання готівки до банку в реквізиті "Видати" зазначається прізвище, ім'я, по батькові касира або іншого працівника підприємства, відповідального за здавання готівки до банку.

[2019-09-11 11:36] kattrina-brekhova commented on #1135
https://news.dtkt.ua/state/cash-handling/50211

[2019-09-11 12:23] Anestezia opened #1137 "Документы по ЗП не видят возврата ЗП."
Кейс: Начислена и выплачена зарплата. Позже оказалось, что ошибочно перечислили не на тот счет, и банк деньги вернул. Выписка затянута (Повернення ЗП) проведено.
661 в этом случае закрылся, расход и приход(от возврата) по нему видны. А вот сам документ Выплата зп по банку, созданный из ведомости начисления, считает, что уже зп выплачена и возврата не видит. Не видит возврата и отчет Розрахунково-п

[2019-09-11 16:07] AlexeyTishkin commented on #1126
Добавил.

[2019-09-11 17:56] AlexeyTishkin commented on #1121
Исправил.

[2019-09-11 17:56] AlexeyTishkin commented on #1120
Добавил.

[2019-09-11 18:03] AlexeyTishkin commented on #1083
Сделал.

[2019-09-11 18:04] #1126 closed, assigned to AlexeyTishkin

[2019-09-11 19:04] kattrina-brekhova commented on #1083
где вы там видите "запам’ятати цей рахунок"?
![image](https://user-images.githubusercontent.com/38099938/64726841-2630b580-d4e0-11e9-8199-e36c8fb80715.png)

[2019-09-11 23:52] htrofymova commented on #1029
Готово, кроме отчета "с перламутровыми пуговицами".
Объекты учета - выбираются все виды.

[2019-09-12 00:03] htrofymova commented on #1105
исправлено.
Конкретного физика заполняем в поле "Представник отримувча", его пасп, данные - "Документ, що засвідчує особу отримувача"

[2019-09-12 00:14] htrofymova commented on #1060
готово

[2019-09-12 04:27] AlexeyTishkin commented on #1083
Есть что запоминать ? Счет как был выбран ? Если отменить проведение - появится ?

[2019-09-12 06:16] kattrina-brekhova commented on #1083
а, есть!

[2019-09-12 06:32] Illya-Lykhachov commented on #631
закрыть пора

[2019-09-12 06:34] Illya-Lykhachov commented on #1026
пора закрывать

[2019-09-12 06:35] Illya-Lykhachov commented on #1028
пора закрывать

[2019-09-12 06:36] Illya-Lykhachov commented on #1110
Сделано. Добавлен календарь.

[2019-09-12 08:25] AndriyNesterenya opened #1138 "Допилить окно ошибки при регистрации: выделить сообщение об ошибке"
В случае ошибки при регистрации не выделяет явно сообщение об ошибке, юзер может не заметить и отправиться на страницу входа.
IMHO достаточно красного фона надписи в цветах ошибок внутри сервиса

![image](https://user-images.githubusercontent.com/38098758/64767253-0df87f00-d550-11e9-9c48-9b2c4799f866.png)

[2019-09-12 08:40] alex-kukhtin commented on #1117
Починил

[2019-09-12 09:10] Anestezia opened #1139 "экспорте в exсel, если масштаб винды 125-150%, неправильная высота строки"
![image](https://user-images.githubusercontent.com/42540074/64770636-3c795880-d556-11e9-9320-a5a5d9e7fc61.png)

[2019-09-12 14:00] kattrina-brekhova commented on #986
1.	Податкові зобов’язання з ПДВ на імпортовані послуги нараховують юрособи – платники ПДВ, і в тому числі платники ЄП 5% (не платники ПДВ).
 Стаття 180.2 ПКУ говорить про те, що особою, відповідальною за нарахування та сплату податку ПДВ до бюджету, у разі постачання послуг нерезидентами, якщо місце постачання послуг розташоване на території України, є одержувач таких послуг. З цього зробимо перши

[2019-09-12 14:10] AndriyNesterenya opened #1140 "[верстка] кривое окно выписки под Edge"
![image](https://user-images.githubusercontent.com/38098758/64791257-208aac80-d580-11e9-88f8-f532a1df61f0.png)

[2019-09-12 14:10] #1121 closed, assigned to AlexeyTishkin

[2019-09-12 14:10] #1120 closed, assigned to AlexeyTishkin

[2019-09-12 15:18] AndriyNesterenya commented on #1109
Во всплывающем окне (выделено на картинке вверху) осталась только инфа по юзерам, кол-во фирм не отображаеся, что нелогично нифига

[2019-09-12 15:20] alex-kukhtin commented on #1109
А что это за картинка?
Админка уже пару недель как другая.

[2019-09-12 15:21] AndriyNesterenya commented on #1117
Все починилось, кроме ситуации когда у юзера права "Только просмотр" - он все равно видит дашбоард может с приветственого окна править параметры текущей фирмы

[2019-09-12 16:02] AndriyNesterenya commented on #1129
Из обсуждения на бух форуме
"- ФОП орендує офіс у фізособи. ПДФО сплачує за неї сам. А військовий збір? Якщо так, то коли саме?

-В момент выплаты аренды, перечисляете оба налога. ВЗ для всех счет один, а вот ндфл с аренды на отдельный счет 85 11010400 00
Назва податку
ПОДАТОК НА ДОХОДИ ФIЗИЧНИХ ОСIБ, ЩО СПЛАЧУЄТЬСЯ ПОДАТ АГЕНТАМИ IЗ ДОХОДIВ ПЛАТНИКА ПОДАТКУ IНШИХ НIЖ З/П

-ВС платится одновременн

[2019-09-13 08:37] kattrina-brekhova commented on #986
нужен еще отдельный кейс для экспедиторов, которые покупают у иностранных перевозчиков услуги и их перепродают нашим компаниям.
задача: в выставленном счете и актах оказанных услуг прописываются двумя строками услуги: 1 - услуга перевозки например з Германии в Киев, по которой НДС начисляется по 0 ставке и 2 - собственно услуга экспедитора (его маржа) - НДС 20%
в счете и акте нужно вставлять отдел

[2019-09-13 11:03] #1105 closed, assigned to htrofymova

[2019-09-13 11:03] #1110 closed, assigned to Illya-Lykhachov

[2019-09-13 11:35] #1111 closed, assigned to nobody

[2019-09-13 11:36] #1095 closed, assigned to nobody

[2019-09-13 12:30] Anestezia opened #1141 "Компенсация за неиспользованный отпуск"
По увольняемому сотруднику откорректировала компенсацию за неиспользованный отпуск вручную. Ожидания оправдались, спасибо. НО! При формировании отчета  Расчетно-платежная ведомость для печати красивого результата выяснилось, что в нее не подтягивается компенсация, только сумма по окладу. Печально.
Очень нужен такой же вариант (вручную сумма) для отпускных. Сотрудник в отпуске, а сумма отпускных по

[2019-09-13 12:42] DenisClone opened #1142 "Не хватает прав у группы "Все пользователи" в админке"
Пользователь входящий только в группу "Все пользователи" в админке, при экспорте файла exel, со страницы "Тенанты - Тенанты" получает пустой файл. При этом в админке все данные на этой странице он видит.

Страницы "Тенанты - Пользователи" и "Тенанты - Статистика" тоже пустые. Возможно так и планировалось, но эти данные все равно можно увидеть через страницу "Тенанты - Тенанты", в столбцах "Логины"

[2019-09-13 13:47] Anestezia opened #1143 "Создать приход из авансового, и чтоб в придбанні (бета) не висело, что ждет оплаты."

[2019-09-16 08:04] AndriyNesterenya commented on #688
Апнем ишью....

[2019-09-16 08:04] AndriyNesterenya commented on #1138
Есть старое
https://github.com/a2develop/bugTracker/issues/688

[2019-09-16 08:04] #1138 closed, assigned to nobody

[2019-09-16 08:31] #1060 closed, assigned to Illya-Lykhachov, AlexeyTishkin, htrofymova

[2019-09-17 14:07] Anestezia commented on #1137
Очень просят это решить в кратчайшие сроки, работа стоит, дальше продвинуться нормально не могут.

[2019-09-18 08:35] Anestezia opened #1144 "Отследить появление новых правильных реквизитов для уплаты налогов."

[2019-09-18 13:32] htrofymova opened #1145 "Расширение "Реестра проводок"."
Есть чудный реестр проводок по банку. Добавьте, пожалуйста туда возможность выгрузить такой же, но "с перламутровыми пуговицами" (с), т.е. с выводом договоров и проектов. Мне донору надо такой предоставлять ежемесячно. Думаю такое будет полезно и другим пользователям.

Зоя Степанова

[2019-09-18 13:32] htrofymova commented on #1029
Отчет сделаю отдельным issue. А по бух.справке - закрывать, наверно, можно.

[2019-09-18 17:42] AndriyNesterenya opened #1146 "[Проекты, улучшайзинг] - Добавить Проект в Акт списания ТМЦ + Добавить проект свойством в Договор"
From Zoya Stepanova:

1. _**Добавить возможность выбора проекта для документа Акт списания ТМЦ.**_
Стоимость проектов собираем по Дт счета 949.
При оприходовании услуг есть возможность внести проект.
Приобретенные ТМЦ на расходы относятся по списанию документом Акт списания, в котором такого поля нет.
И данные проводки невозможно связать с проектом.

2.  **_Добавить в качестве свойства договора пр

[2019-09-19 08:46] #1028 closed, assigned to Illya-Lykhachov

[2019-09-19 08:52] #860 closed, assigned to Illya-Lykhachov

[2019-09-19 08:52] #631 closed, assigned to Illya-Lykhachov

[2019-09-19 08:54] #578 closed, assigned to Illya-Lykhachov

[2019-09-19 09:33] AlexeyTishkin commented on #1140
Исправил.

[2019-09-19 09:35] AndriyNesterenya commented on #1109
Текущий вид админки на Сервисе:

![image](https://user-images.githubusercontent.com/38098758/65232483-e79b8c00-dad9-11e9-9efb-4df5a5421877.png)

![image](https://user-images.githubusercontent.com/38098758/65232532-feda7980-dad9-11e9-93f2-8579c295ba3f.png)

[2019-09-19 09:49] kattrina-brekhova opened #1147 "Звіт підзвітної особи: не експортирует проведенный документ"
выдает такую ошибку:
![image](https://user-images.githubusercontent.com/38099938/65233720-f97e2e80-dadb-11e9-9a9f-001dcd44d81a.png)

[2019-09-19 09:58] kattrina-brekhova opened #1148 "Нужны операции с разменной монетой, субсчет 301.1. Кейс пользователя"

[2019-09-19 10:03] kattrina-brekhova commented on #997
прошу пардону - смотрела как реализовано в 1с. несмотря на всю громоздкость программы, эта операция проводится одним документом.
одновременно нужна возможность материалы и услуги вешать на различные счета (20, 152, 92, 93,....) - все наши задействованные счета

[2019-09-19 10:04] #1112 closed, assigned to nobody

[2019-09-19 10:04] Anestezia commented on #1148
https://github.com/a2develop/bugTracker/issues/1112 - дубль, закрываю

[2019-09-19 10:16] kattrina-brekhova commented on #1148
Согласно положению Нацбанка 148 от 29.12.2017:
Тобто, розмінна монета, отримана з каси підприємства або залишена в скриньці РРО з попереднього дня, має проводитися через РРО за допомогою операції «службове внесення».
то есть, предусмотрены операции "отримання з каси підприємства розмінної монети"
проводка в учете Д301.1 - К301
нужна операция "надходження в касу розмінної монети" Д301 - К301.1

[2019-09-19 10:24] kattrina-brekhova commented on #1034
разные банки указывают по разному. Приватбанк не указывает аналитику входящего платежа, айбокс банк делает двумя разными операциями, альфабанк прописывает суммы комисии

[2019-09-19 10:28] kattrina-brekhova commented on #1034
общались сегодня с нашим бухгалтером - она бы не использовала операцию "оплата з комісією".
у нее есть єквайринг по другой фирме. на проводит двумя разніми платежами:
Д311 - К361
Д92 (банк) -  К311
и ей все-равно, что реальные обороты по банковской выписке меньше, чем обороты в программе, на суммы показанной комиссии
относительно единщиков. она считает, что объектом налогообложения является 100 гр

[2019-09-19 11:17] AndriyNesterenya opened #1149 "Нужна операция в стиле "Возврат суммы банковской гарантии""
Наехал на ситуацию:
Оформлялась банковская гарантия под обеспечение собственными средствами.
Была перечислена некая сумма на счет банка.
Срок гарантии прошел - деньги вернулись на расчетный счет.
А провести по-человечески - непонятно как.

[2019-09-19 12:40] Anestezia opened #1150 "Кнопка "Выбрать все" в подборе номенклатуры"
![image](https://user-images.githubusercontent.com/42540074/65244672-c21b7c00-daf3-11e9-85de-a7ccbca56c21.png)

[2019-09-19 13:00] DenisClone opened #1151 "О разделении счетов по разным юр.лицам внутри одного тенанта"
В связи с введением мультитенантности, нужно доработать функционал формирования счетов на оплату сервиса, т.к. усложняется процесс разнесения оплат и формирования актов.

1.	В ЛК, в разделе «Состояние счета» добавляем чек-бокс «Платить от одного юр.лица»
По умолчанию он активирован и возле кнопки «Сформировать счет» находится поле с выбором всех юр.лиц в этом тенанте. Это юр.лицо будет подставлять

[2019-09-19 14:11] kattrina-brekhova opened #1152 "Новые валюты: не загружает со встроенного справочника"
При нажатии на "додати" новую валюту повторяет это окно
![image](https://user-images.githubusercontent.com/38099938/65251733-876c1080-db00-11e9-9aca-554ae67c7e3a.png)

[2019-09-19 15:25] htrofymova commented on #1147
исправлено

[2019-09-20 10:15] #1147 closed, assigned to nobody

[2019-09-23 09:20] kattrina-brekhova commented on #1034
вот єквайринг Таса
![image](https://user-images.githubusercontent.com/38099938/65414466-73742780-ddfc-11e9-86db-a062e609cbe1.png)

[2019-09-24 13:10] AlexeyTishkin commented on #890
Сделал.

[2019-09-25 08:42] AlexeyTishkin commented on #1064
В команду SendDocument (clr-type:Bookkeeper.ClientBank.SendDocument; assembly=Bookkeeper) нужно внести изменения. В случае, если р/с получателя (Document.BankAccountAgent.No) начинается с 2924, то в качестве имени получателя (Отримувач) необходимо использовать наименование банка из р/с (Document.BankAccountAgent.BankName), в качестве кода получателя - код банка из р/с (Document.BankAccountAgent.Ba

[2019-09-25 12:27] Anestezia opened #1153 "Странное поведение Платежки-мемориального ордера Списання до бюджету зобов'язань з ПДВ."
Если создать в выписке операцию Списання до бюджету зобов'язань з ПДВ, то создается платежка-мемориальный ордер. Она отображается в списке платежей потом после проведения. Если ее открыть и снять с проведения, то потом провести тут же уже нельзя. Кнопка Провести активна, нажимаешь, а ничего не происходит.

В самой выписке эта строка  остается проведенной.
Также, если саму платежку распровести в са

[2019-09-25 15:37] AlexeyTishkin commented on #1122
Сделал.

[2019-09-26 04:47] Illya-Lykhachov commented on #1137
Сделано
![image](https://user-images.githubusercontent.com/35328100/65658799-d00c5800-e031-11e9-8d88-48ad75fa8bb4.png)

[2019-09-26 07:20] Illya-Lykhachov commented on #1141
И отчёт и суммы руками

[2019-09-26 08:43] AlexeyTishkin commented on #1090
Исправил.

[2019-09-26 08:43] #1090 closed, assigned to alex-kukhtin, AlexeyTishkin

[2019-09-26 08:47] AlexeyTishkin commented on #1153
Подробней, не могу повторить. Отменил проведение. Провести активна, при нажатии документ проводится.

[2019-09-26 09:16] #1122 closed, assigned to AlexeyTishkin

[2019-09-26 09:21] AlexeyTishkin commented on #1152
Исправил.

[2019-09-26 10:13] #1152 closed, assigned to AlexeyTishkin

[2019-09-26 10:51] #1140 closed, assigned to AlexeyTishkin

[2019-09-26 10:52] #1083 closed, assigned to AlexeyTishkin

[2019-09-26 11:20] Anestezia opened #1154 "Не работает кнопка Прийняти Співробітника в начальном балансе и еще в документах, каких - надо проверить."
https://www.loom.com/share/fec5ee64c8bd4a69947a23a4d9eda841

[2019-09-26 11:24] Anestezia opened #1155 "Внести коригування контрагента в Імпорті запасів - Договор либо обнулять либо подставлять нужный"
Если отредактировать контрагента, а по старому уже введен договор, то при подстановке нового контрагента остается старый договор по старому контрагенту. Убирается только после распроведения вручную. Если просто снять проведение. а потом тут же провести ничего не меняя, то договор по новому контрагенту не подтягивается. Более того, этот договор наследуется в платежку на основании.

[2019-09-26 11:35] Anestezia opened #1156 "Накладна на повернення - Не влезает артикул на печати, нужен перенос"
![image](https://user-images.githubusercontent.com/42540074/65685470-b4717380-e06a-11e9-92ac-488ec5fea387.png)

[2019-09-26 11:46] Anestezia opened #1157 "Платежи - Основание - добавить в список подбора не только счета неоплач. но и накладные"
Главное, чтоб не дублировало потребность в оплате. Т.е. сделать так: если есть в цепочке счет, то он главный и он -- основание для оплаты, а если нет, то накладная. Ведь многие счета не вводят, а сразу накладные. (Возможно внутри нужен некий признак, привязана ли накладная к счету).

[2019-09-26 12:26] AndriyNesterenya commented on #1117
... ничего не изменилось. Юзер с правами "только просмотр" может править свойства фирмы, на которую у него только просмотр

[2019-09-26 13:06] Anestezia commented on #1137
Из аванса не работает?

[2019-09-26 13:51] #890 closed, assigned to AlexeyTishkin

[2019-09-26 13:51] #1137 closed, assigned to Illya-Lykhachov, htrofymova

[2019-09-26 14:30] Illya-Lykhachov commented on #1137
Ведомости на выплату без разницы откуда она сделана, из аванса или начисления зп

[2019-09-26 15:53] AndriyNesterenya opened #1158 "В Edge косячит переключение на API в настройках выписки Привата"
В Edge на окне настроек выписки переключалка на АПИ выглядит неактивной, при наведении мышки показывает запрещающий значок, но физически кликнуть и переключиться дает.
(На скриншоте значка-курсора не видно)

![image](https://user-images.githubusercontent.com/38098758/65704173-b4836a80-e08e-11e9-8e7e-51c200ba4574.png)

[2019-09-26 20:04] AndriyNesterenya opened #1159 "Перегружать страницу принудительно после удаления фирмы"
После удаления текущей фирмы в селекторе фирм остается "Unselected"

![image](https://user-images.githubusercontent.com/38098758/65720971-c62a3980-e0b1-11e9-93ae-18aeebc8f81a.png)

IMHO лечится принудительной перезагрузкой, как при создании.

[2019-09-27 10:16] kattrina-brekhova opened #1160 "Оплата контрагенту на основании акта полученных услуг/работ: выдает ошибку, не создает"
![image](https://user-images.githubusercontent.com/38099938/65762163-0547a180-e129-11e9-8d45-00f104f9a0be.png)
и касса и банк - не создает

[2019-09-27 10:21] kattrina-brekhova opened #1161 "Отчет 1ДФ: нужна автоматизация отражения сумм доходов и налогов, уплаченных физикам-контрагентам-арендодателям, признак доходов код 106"

[2019-09-27 11:26] AlexeyTishkin commented on #1160
Исправил

[2019-09-27 13:23] #1154 closed, assigned to nobody

[2019-09-27 13:58] Anestezia commented on #1116
и штрафы на 642

[2019-09-27 14:04] Anestezia commented on #1161
К сожалению так и не нашли в Вашей программе ,отношения с арендодателями физлицами ,
Арендодателя (физ лицо) , к сожалению нельзя отнести к списку поставщиков, так как по ним насчитывается ВЗ и ПДФО .

Нет возможности начислить орендную плату , и как следствие -выплатить ее с оплатой пдфо и вз. Есть только расчеты с поставщиками , но это не поставщики , это по сути - Кредиторы физ лица . и выплаты

[2019-09-27 15:02] kattrina-brekhova commented on #1161
НДФЛ, начисляется при выплате арендной платы физлицу, уплачивается по местонахождению арендатора (налогового агента).
Отражение в форме № 1ДФ налога и сбора проводится в периоде, в котором такое начисление происходит, уточняющий расчет в таком случае не представляется. Код доходов с признаком 106.
В персонификации Д4 суммы не отражаются - по ним не начисляется ЕСВ.

[2019-09-27 15:10] kattrina-brekhova commented on #1161
сейчас я попробовала начисление НДФЛ провести бух справкой
![image](https://user-images.githubusercontent.com/38099938/65779906-4fdd1400-e151-11e9-99c7-e587ae993cc2.png)
однако это никак не повлияло на сумму взаиморасчетов с физиком
![image](https://user-images.githubusercontent.com/38099938/65780026-89158400-e151-11e9-8161-8730a7fae714.png)

по факту нужно чтоб с суммы акта с физиком удерживался

[2019-09-27 15:11] kattrina-brekhova commented on #1161
относительно ЕСВ: не облагается, потому что это не трудовые отношения.
аренда устанавливается в рамках гражданско-правового договора, к трудовым отношениям не относится

[2019-09-28 18:09] kattrina-brekhova commented on #1144
вообще-то они уже есть)
https://bookkeeper.kiev.ua/novi-rekviziti-dlya-splati-podatkiv/

[2019-09-28 18:12] #1160 closed, assigned to AlexeyTishkin

[2019-09-28 18:12] #1145 closed, assigned to htrofymova

[2019-09-28 18:12] #1141 closed, assigned to Illya-Lykhachov

[2019-09-28 18:26] kattrina-brekhova commented on #1114
торговая наценка? распиши кейс, о чем речь?

[2019-09-28 18:31] #1088 closed, assigned to nobody

[2019-09-28 18:36] #1040 closed, assigned to htrofymova

[2019-09-28 18:39] #1036 closed, assigned to nobody

[2019-09-28 18:46] AndriyNesterenya opened #1162 "[BUG] Админка: Биллинг -> Оплаты не работает кнопка экспорта в Эксель"
Админка:
Биллинг -> Оплаты не работает кнопка экспорта в Эксель

При наведении показывает запрещающий значок и не нажимается.

![image](https://user-images.githubusercontent.com/38098758/65821088-a02fa100-e239-11e9-839a-8dcd56c5ec7f.png)

[2019-09-29 09:12] #1089 closed, assigned to htrofymova

[2019-10-01 11:46] kattrina-brekhova opened #1163 "Мультифирменность: единая база контрагентов и договоров - клиенты просят"

[2019-10-02 09:40] kattrina-brekhova opened #1164 "Ведомость на выплату зарплаты наличкой: копейки изъяли, на повестке дня - НБУ рекомендует выплаты зарплаты проводить в суммах, кратных 10 коп с соответсвцющим переносом копеек на след месяц"
пока из клиентов еще ничего никто не просил. но возможно будут просьбы возможность выплаты с перенесением копеек 1,2,3,...9 на следующий период
![image](https://user-images.githubusercontent.com/38099938/66034297-a9f32600-e511-11e9-8b52-acb725fc9d31.png)
![image](https://user-images.githubusercontent.com/38099938/66034314-b1b2ca80-e511-11e9-987d-83f079eb2a5b.png)

[2019-10-03 09:30] kattrina-brekhova opened #1165 "Импорт базы контрагентов: открывает окно с ошибкой"
![image](https://user-images.githubusercontent.com/38099938/66115474-94493380-e5d9-11e9-90ac-faa2ca08a6f6.png)

[2019-10-03 14:07] htrofymova commented on #1148
готово.
1. Бухгалтерія-Довідники: добавлен справочник Підрозділи - создаются подразделения; внутри подразделения - создаются кассьі.
2. Бухгалтерія-Каса: для кассовьіх ордеров длобавленьі операции Внесення до РРО и Винос з РРО; для єтих операция добавлена возможность указать аналитику - Реєстратор.
3. Бухгалтерія-План рахунків: для счета 303 добавлен отчет Оборотно-сальдова відомість по касовим ре

[2019-10-03 14:31] kattrina-brekhova commented on #1148
все супер!
не понятна операция "инкасация (касса)" . єто по єтой теме? https://github.com/a2develop/bugTracker/issues/1136

[2019-10-03 16:33] htrofymova commented on #1148
инкассация - заготовка для #1136

[2019-10-04 14:30] AlexeyTishkin commented on #1165
Импорт ? Или экспорт в Excel ?

[2019-10-04 15:51] AlexeyTishkin commented on #1165
Если экспорт - то исправил.

[2019-10-04 15:57] AlexeyTishkin commented on #1156
Исправил.

[2019-10-04 16:53] kattrina-brekhova commented on #1165
экспорт! да, спасибо

[2019-10-04 16:53] #1165 closed, assigned to AlexeyTishkin

[2019-10-07 08:53] Anestezia opened #1166 "ВЕД-Бета Операции - Некорректное отображение остатков по оплате"
В Придбання - Операції (beta) есть строка (скриншот)
![image](https://user-images.githubusercontent.com/42540074/66297775-ffa44580-e8f8-11e9-9a93-0d6812f2b98f.png)
смутило вот это Оплачено частково. Залишок: 97 364,81 Потому что есть оплата на полную сумму (скриншот)
![image](https://user-images.githubusercontent.com/42540074/66297816-12b71580-e8f9-11e9-8917-dd91683618b2.png)
101396,48 грн - 4031,

[2019-10-07 08:57] Anestezia opened #1167 "Закладка "Автоподстановка" и там Склад, договор, проект и пр. в карточке контрагента. На обсуждение"

[2019-10-07 15:19] htrofymova commented on #1136
готово

[2019-10-07 15:28] htrofymova commented on #1149
А перечисление на банковский счет какой операцией провели?

[2019-10-08 08:47] kattrina-brekhova commented on #1136
супер, спасибо!

[2019-10-08 08:47] #1136 closed, assigned to htrofymova

[2019-10-08 10:06] Anestezia opened #1168 "Нет номеров доков при экспорте списка операций"
![image](https://user-images.githubusercontent.com/42540074/66387377-7eb67e00-e9cc-11e9-861a-7e023b72d496.png)

[2019-10-08 10:32] kattrina-brekhova opened #1169 "справочник ПОСАДИ: со встроенного справочника класификатора професий не подгружается профессия с кодом 1210.1"
![image](https://user-images.githubusercontent.com/38099938/66389002-ff2aae00-e9cf-11e9-9422-ed2e4d127ce8.png)
эта професия не подгрузилась
![image](https://user-images.githubusercontent.com/38099938/66389036-1073ba80-e9d0-11e9-89c0-0f1955fed8b3.png)
в итоге ничего нет
![image](https://user-images.githubusercontent.com/38099938/66389057-21bcc700-e9d0-11e9-8273-7a88190325ae.png)

[2019-10-08 13:06] Anestezia opened #1170 "Раздел НА Не работает поиск среди документов по названию контрагента"
Например, ГО "СТЕЙТВОТЧ". Пишу ГО -- выводит все ГО. Пишу СТЕЙТ, стейт -- не ищет.
![image](https://user-images.githubusercontent.com/42540074/66398046-be3d9400-e9e5-11e9-84bb-b46d746d0369.png)
![image](https://user-images.githubusercontent.com/42540074/66398066-c8f82900-e9e5-11e9-9400-d5b91e3031fd.png)

[2019-10-08 13:14] Anestezia opened #1171 "361 При поиске контрагента в отчете. если длинное название нужен перенос, а то остальных не видно и выбираешь вслепую"
![image](https://user-images.githubusercontent.com/42540074/66398517-96026500-e9e6-11e9-8817-c9454a15bbd6.png)

[2019-10-08 13:39] Anestezia opened #1172 "Личный кабинет - Начисления абонплаты, убрать в колонке Период название месяца и поставить срок, напр. 29.08 по 29.09"
![image](https://user-images.githubusercontent.com/42540074/66400182-a9fb9600-e9e9-11e9-8ede-58b2b64a747e.png)
А то получается, например, клиент зарегистрировался 29 марта и получил бесплатный месяц по 29 апреля. 29 апреля ему начислится абонплата и период будет указан Апрель. Получается по актам, что не было бесплатного месяца.
Нужно вот так период указывать в личном кабинете
 ![image](https://us

[2019-10-08 13:44] htrofymova commented on #1170
Все работает: просто буковка "С" в названии ГО "СТЕЙТВОТЧ" - латинская.

[2019-10-08 14:41] AndriyNesterenya commented on #1109
Текущие соображения по желаемому виду таблички в Тенанты/Статистике:
Поля:
1. Тенант
2. Створенний (дата/час)
3. Логін
4. Ім'я
5. Кількість користувачів (+ обязательно сортировка! + желательно список логинов)
6. Кількість фірм (+ открывалка по клику с ЕДРПОУ+Названием)
7. Кількість транзакцій
8. Остання транзакція (дата/час)
9. Розмір БД
10. Залишок на рахунку
11. Статус (юзер-не юзер)

Пример таб

[2019-10-08 15:55] alex-kukhtin commented on #1171
Done in 7564

[2019-10-08 16:00] alex-kukhtin commented on #1151
Нет. Жуткие и непонятные навороты. Нафига это вообще?

[2019-10-08 16:02] alex-kukhtin commented on #209
Сделал простое удаление неподтвержденных мейлов.
Проблема решена.

[2019-10-08 16:02] #209 closed

[2019-10-09 08:33] #1171 closed, assigned to alex-kukhtin

[2019-10-09 08:33] #1156 closed, assigned to AlexeyTishkin

[2019-10-09 08:33] #1029 closed, assigned to htrofymova

[2019-10-09 11:19] AlexeyTishkin opened #1173 "Импорт из клиент-банка"
При наличии нерезидента с таким же кодом и таким же р/с как у "моей фирмы" происходит не правильный импорт.
Пример: 26285170, UA773524790000026005052225712.
[0000001647948984.1.0.zip](https://github.com/a2develop/bugTracker/files/3707022/0000001647948984.1.0.zip)

[2019-10-09 13:54] #1109 closed, assigned to alex-kukhtin

[2019-10-09 14:05] AndriyNesterenya opened #1174 "[Улучшайзинг] Новая админка - замечания"
Все красиво, и уже решает кучу проблем

Из замеченных недостатков:

- [Тенанти-Користувачі] Нет поиска по тексту в Примітці
- [Біллінг-Оплати] Нет опции sales в селекторе регистраций (остальные есть)

[2019-10-09 14:56] AndriyNesterenya opened #1175 "Команда "Изменить тип" ТМЦ при отсутствии проведенных документов."
Для облегчения участи клиентов, успевших не глядя импортировать или ввести все ТМЦ с типом "Товар" нужно сделать команду "Изменение типа" и разрешить менять тип ТМЦ например с "Товар" -> "Готова продукція" (возможно какие-то еще комбинации) при отсутствии проведенных документов.
При наличии таковых документов - предупреждать и просить распровести.

[2019-10-09 16:12] AlexeyTishkin commented on #1132
Сделал.

[2019-10-10 06:39] AlexeyTishkin commented on #1168
Исправил.

[2019-10-10 06:45] AlexeyTishkin commented on #1166
Исправил

[2019-10-10 06:52] Illya-Lykhachov commented on #1164
До 10 копеек по умолчанию, меньше уже нельзя

[2019-10-10 07:22] Illya-Lykhachov commented on #1169
неправда Ваша. Всё подгружается

[2019-10-10 08:01] Illya-Lykhachov opened #1176 "Вступительный балас по зарплате"
Остатки по сотрудникам

[2019-10-10 10:25] AndriyNesterenya commented on #1174
+ всплыло ранее незамеченное.

Если клиент регался через чей-то домен - ему присваивается текстовая метка типа SA-1111
А если этот же клиент делает себе доп. фирмы - у этих фирм получается SE-1112
Конторе так выгоднее :) но рефералы могут напрячься.

[2019-10-10 10:25] #1166 closed, assigned to AlexeyTishkin

[2019-10-10 11:08] Anestezia opened #1177 "Если создать счет и сделать его не активным, то в разделе Рахунки-Бухгалтерия его уже нельзя увидеть"
В разделе Рахунки-Бухгалтерия создала счет, сделала его не активным. обновила или перешла на другую страницу, вернулась и увидела:
![image](https://user-images.githubusercontent.com/42540074/66563818-45fedc00-eb67-11e9-9bdb-40e39294ac94.png)
Должен быть способ показывать не активные, если активного счета и меню с работой с этими счетами.

[2019-10-10 11:09] AlexeyTishkin commented on #1175
Сделал

[2019-10-10 11:11] alex-kukhtin commented on #1177
Если все счета неактивные, то их не видно.
Как по мне - ну очень уж искусственный кейс.

[2019-10-10 11:13] Anestezia commented on #1170
Тогда должно по другим вариантам буквосочетаний искать. Я пробовала разными кусками, с больших и маленьких букв. У меня сработало только на вотч и все.

[2019-10-10 11:21] #1168 closed, assigned to AlexeyTishkin

[2019-10-10 11:22] alex-kukhtin commented on #1172
done in 7567

[2019-10-10 11:31] alex-kukhtin commented on #1133
Повторить не могу. Все удаляется.

[2019-10-10 11:34] #927 closed, assigned to alex-kukhtin

[2019-10-10 11:56] DenisClone commented on #1133
Да, сейчас все ОК.

[2019-10-10 11:56] #1133 closed, assigned to alex-kukhtin

[2019-10-10 12:07] #1164 closed, assigned to Illya-Lykhachov

[2019-10-10 12:26] #1132 closed, assigned to AlexeyTishkin

[2019-10-10 14:04] #1172 closed, assigned to alex-kukhtin

[2019-10-10 14:52] #1162 closed, assigned to alex-kukhtin

[2019-10-10 14:53] #1175 closed, assigned to AlexeyTishkin

[2019-10-10 17:14] alex-kukhtin commented on #1174
Таки все сделано. Проверяте

[2019-10-10 18:39] alex-kukhtin commented on #839
Похоже это уже надо закрывать.
Все по другому переделали нафиг.

[2019-10-11 07:46] DenisClone commented on #839
Под диллеров нужно будет что-то делать в любом случае. Но наверное, уже когда будет реальная необходимость.

[2019-10-11 07:46] #839 closed, assigned to alex-kukhtin

[2019-10-11 11:49] kattrina-brekhova opened #1178 "Відомість РРО: выбираю РРО, после нажатия кнопки "провести" он исчезает"
![image](https://user-images.githubusercontent.com/38099938/66649172-284c7800-ec36-11e9-8cb2-6c32fe46580f.png)
![image](https://user-images.githubusercontent.com/38099938/66649202-42865600-ec36-11e9-9831-cd40ee240a48.png)

[2019-10-11 12:08] kattrina-brekhova commented on #1178
странно, но при этом в 303 по РРО сумма попадает
![image](https://user-images.githubusercontent.com/38099938/66650330-0accdd80-ec39-11e9-84db-1724c576a9be.png)

[2019-10-11 12:13] AlexeyTishkin commented on #1178
Исправил

[2019-10-11 12:15] kattrina-brekhova opened #1179 "Операция "Инкасация РРО": в отчет "Оборотно-сальдовая ведомость по кассовых реестраторах" по кредиту 303 счета не попадает сумма инкасации. во всех остальных отчетах по 303 счету сумма операуци попадает"
![image](https://user-images.githubusercontent.com/38099938/66650648-c8f06700-ec39-11e9-9ecf-98577aa0320f.png)
![image](https://user-images.githubusercontent.com/38099938/66650676-dd346400-ec39-11e9-9c0d-ea14951e06b3.png)

![image](https://user-images.githubusercontent.com/38099938/66650694-e9b8bc80-ec39-11e9-9929-a22ec100fd8c.png)

![image](https://user-images.githubusercontent.com/38099938/66650

[2019-10-11 12:16] #1178 closed, assigned to AlexeyTishkin

[2019-10-11 12:17] #1148 closed, assigned to htrofymova

[2019-10-11 14:10] Anestezia opened #1180 "Отчет Валовий прибуток, добавить фильтры по контрагенту и товару."

[2019-10-15 10:20] #1170 closed, assigned to nobody

[2019-10-15 10:38] AlexeyTishkin commented on #1155
Сделал.

[2019-10-15 15:03] AlexeyTishkin commented on #1180
Сделал.

[2019-10-15 18:05] htrofymova commented on #1179
исправлено

[2019-10-15 18:06] htrofymova commented on #1143
готово

[2019-10-16 09:00] Anestezia opened #1181 "Отчет РРО - Ввод на основании - Налоговой накладной неплатнику"
к отчетам РРО прикрепить возможность создавать налоговую накладную на неплатника, чтоб отдельно всю номенклатуру не набирать.

Только надо описать все особенности: точное название контрагента, условный ИНН и причину.

Возможно будет просто Кинцевий споживач, но выбор, возможно, надо оставить.  условный ИНН и причина - в автоподстановку с возможностью редактирования.

П.С. Заодно это будет заделом

[2019-10-16 09:43] #1155 closed, assigned to AlexeyTishkin

[2019-10-16 09:59] Anestezia opened #1182 "Ввести колонку Индексация в Ведомости по ЗП"
Чи можливо в відомість про нарахування зар.плати ввести графу - "Нарахування індексації". Для того, щоб було видно, що підприємство нараховує індексацію на зар.плату?

[2019-10-16 10:00] #1180 closed, assigned to AlexeyTishkin

[2019-10-16 18:32] #920 closed, assigned to alex-kukhtin

[2019-10-17 08:32] #1143 closed, assigned to htrofymova

[2019-10-17 09:01] AndriyNesterenya commented on #1174
![image](https://user-images.githubusercontent.com/38098758/66994365-cd070380-f0d5-11e9-9f53-5039642e970f.png)

На всплывающем окне предупреждения об удалении стоит явно и жирным шрифтом указывать номер тенанта и логин удаляемого юзера.
Для проверки, на случай косолапости.

[2019-10-17 09:06] AndriyNesterenya commented on #1174
+ хорошо бы поставить ограничение, чтобы удалить можно только тенанты с неподтвержденной почтой

[2019-10-17 09:52] #1179 closed, assigned to nobody

[2019-10-17 11:54] Anestezia commented on #1181
Складена по підсумку операцій на кінець дня.

[2019-10-17 16:12] alex-kukhtin commented on #1174
Блин, а сейчас как?
Попробуй удалить любой другой.

[2019-10-17 16:13] alex-kukhtin commented on #1174
Последний раз прошу. Дальше застрелюсь и все. Не пиши разные задачи в одном issue.

[2019-10-18 15:41] AlexeyTishkin commented on #1123
Сделал.

[2019-10-18 19:25] alex-kukhtin opened #1183 "Счета, Накладные. Проверка дубликатов"
Как это лучше делать - надо обсудить. Втупую проверять - будет довольно медленно на больших документах.
Надо попробовать.

[2019-10-19 15:18] #1174 closed, assigned to alex-kukhtin

[2019-10-19 15:26] AndriyNesterenya opened #1184 "Разрешить отменять проведение, если есть НЕПРОВЕДЕННЫЕ дочерние для Входящего и Исходящего счета."
Разрешить отменять проведение, если есть НЕПРОВЕДЕННЫЕ дочерние документы для Входящего и Исходящего счета.

Цель - дать возмождность юзеру изменить тип ТМЦ, даже если по нему уже были созданы счета-реализации.

[2019-10-21 09:00] Anestezia opened #1185 "Подтягивать в декларацию НДС налоговый кредит/обязательство прошлых периодов"

[2019-10-21 09:07] AlexeyTishkin commented on #1181
Условный ИНН для неплательщика сейчас должен подставляться.

В обычной реализации причина какая ? Постачання неплатнику податку ?

[2019-10-21 13:12] AlexeyTishkin commented on #1184
Сделал.

[2019-10-21 13:18] htrofymova commented on #1032
готово. Добавлена операция "Введення в експлуатацію МНМА (100% амортизація)"

[2019-10-21 13:37] AlexeyTishkin commented on #1181
Сделал.

[2019-10-22 06:13] #1026 closed, assigned to Illya-Lykhachov

[2019-10-23 09:04] AlexeyTishkin commented on #997
В новом интерфейсе "Акта полученных услуг" есть возможность оприходования ТМЦ.

[2019-10-23 13:21] AlexeyTishkin commented on #1157
Сделал.

[2019-10-23 13:21] #997 closed, assigned to AlexeyTishkin

[2019-10-23 14:58] #1181 closed, assigned to AlexeyTishkin

[2019-10-23 16:46] Anestezia opened #1186 "В Мозиле не отображает кнопки Сонаты при установленном агенте."

[2019-10-23 16:47] Anestezia commented on #1186
![image](https://user-images.githubusercontent.com/42540074/67415521-d8729700-f5cd-11e9-9e7b-554c77083770.png)
Опера
![image](https://user-images.githubusercontent.com/42540074/67415539-e3c5c280-f5cd-11e9-8ca1-c333717364d2.png)
Мозила, тот же документ

[2019-10-24 08:55] #1157 closed, assigned to AlexeyTishkin

[2019-10-24 08:55] #1123 closed, assigned to AlexeyTishkin

[2019-10-24 10:48] #1184 closed, assigned to AlexeyTishkin

[2019-10-24 11:12] kattrina-brekhova opened #1187 "на основании операции "отримання послуг від інших дебіторів" создавать операцию по оплате "перерахування послуг іншим дебіторам."
сейчас на основании акта делается операция "оплата постачальнику" где 631 счет
так же нелогична операция "оплата постачальнику з каси" с 631 - на основании акта с 377 счетом
пока из клиентов никто ничего не говорил

[2019-10-24 11:16] kattrina-brekhova commented on #1169
подгружается в справочнике професии
![image](https://user-images.githubusercontent.com/38099938/67480488-af531480-f668-11e9-8363-2883da027532.png)

но через справочник посади не загружается
![image](https://user-images.githubusercontent.com/38099938/67480551-d6114b00-f668-11e9-914c-76a4808fe102.png)

![image](https://user-images.githubusercontent.com/38099938/67480563-dc072c00-f668-11e9-93e4-a76e6

[2019-10-24 14:43] #1032 closed, assigned to htrofymova

[2019-10-24 14:47] Anestezia opened #1188 "МНМА 100-50% - выбор МВО не подстраивается"
Есть моменты в выбытии. Если выбрал одного МВО, а при подборе объекта выбрал внутри другого, то в самом документе остается старый мво, а объект от другого. И проводится.
![image](https://user-images.githubusercontent.com/42540074/67497175-49758580-f686-11e9-8404-1ebb4709378a.png)
а на самом деле объект вот чей
![image](https://user-images.githubusercontent.com/42540074/67497206-54c8b100-f686-11e9-

[2019-10-24 14:50] Anestezia opened #1189 "ОСВ по рахункам в банках, пустой список в подборе счетов"
![image](https://user-images.githubusercontent.com/42540074/67497468-aec97680-f686-11e9-9630-c12f2437e805.png)
а на самом деле счетов вот сколько
![image](https://user-images.githubusercontent.com/42540074/67497497-bab53880-f686-11e9-85fb-a7ae0c0821e9.png)

[2019-10-25 05:14] Illya-Lykhachov commented on #1169
Не могу повторить на своём аккаунте. Давай пароль от test@3

[2019-10-25 12:14] AlexeyTishkin commented on #1065
Исправил.

[2019-10-28 10:04] kattrina-brekhova commented on #1169
логин test@3.ua
пароль behappy1204

[2019-10-28 10:04] kattrina-brekhova commented on #1169
ВАТ "Есфель"

[2019-10-28 20:52] AndriyNesterenya opened #1190 "Опечатка ЕДПОУ на странице свойств фирмы"
https://service.bookkeeper.kiev.ua/home/cabinet/show/3
Особистий кабінет - Мої Фірми - вкладка Загальна інформація

Опечатка ЕДПОУ вместо ЕД**Р**ПОУ

![image](https://user-images.githubusercontent.com/38098758/67717035-9da99e00-f9d5-11e9-8f98-5cfc53f4dd4e.png)

[2019-10-29 13:10] Anestezia opened #1191 "В видатковом ордере в поле Додатково переименовать ячейку Підстава в Документ-підстава"

[2019-10-29 14:33] htrofymova commented on #1188
готово

[2019-10-29 14:42] htrofymova commented on #1191
готово

[2019-10-29 15:02] Anestezia opened #1192 "Обсуждение! Бланк выставляемого счета - расписывать по разным объектам учета"
![image](https://user-images.githubusercontent.com/42540074/67779511-6981bc00-fa6d-11e9-8187-011d76a571e4.png)
Сбоку есть таблица, в которой расписано, сколько лицензий и каких. Как насчет в печатной форме тоже как-то расписывать количество и номенклатуру в таком же ключе. Чтоб напрямую тянуло не только сумму, но и табличную часть.
![image](https://user-images.githubusercontent.com/42540074/677795

[2019-10-29 15:05] #1191 closed, assigned to htrofymova

[2019-10-30 15:30] #1188 closed, assigned to nobody

[2019-10-30 15:37] Anestezia opened #1193 "Розгортка вікна Рахунок на весь екран. 2. випадаючий список щоб розкривався більше"
Не зручно обирати об'єкт обліку - дуже маленьке вікно.

Не на весь экран, а 90% для большого экрана, и на полный на мелких. min-width порядка 1280 или как-то так

![image](https://user-images.githubusercontent.com/42540074/67873277-e11e1c80-fb3b-11e9-93a2-317f73172822.png)

[2019-10-30 18:11] #1131 closed, assigned to nobody

[2019-10-30 18:11] #1065 closed, assigned to AlexeyTishkin

[2019-10-30 18:15] AndriyNesterenya opened #1194 "[Улучшайзинг] Новая админка - дашбоард"
Для облегчения жизни Максу хочется добавить на дашбоард админки кроме статистики оплат по дням за последние 30 дней еще и статистику оплат за последние 12 месяцев.
Или одновременно или с возможностью переключения 30 дней/12 мес.
В идеале в обеих статистиках исключить оплаты с пометкой "Бонус"

[2019-10-31 13:14] AndriyNesterenya opened #1195 "Лажа с названиями контрагента"
Имеем проблему, водящую в заблуждение юзера.
В свойствах контрагента пишем, что в документах будет выводиться ПОЛНОЕ название контрагента.
![image](https://user-images.githubusercontent.com/38098758/67949808-10429580-fbf1-11e9-9c6b-bf56ef1d05a6.png)

А в счетах-накладных реально выводим сокращенное.
![image](https://user-images.githubusercontent.com/38098758/67949684-d07bae00-fbf0-11e9-8c6a-e8f3fa

[2019-10-31 13:22] AlexeyTishkin commented on #1195
Нужен полный перечень печатных форм, где не выводится полное наименование.

[2019-10-31 21:50] AndriyNesterenya commented on #1195
Да везде...

- Рахунок (вхід)
- Акт виконаних робіт
- Видаткова накладна
- Вхідний платіж (оплата по банку)
- Прибутковий касовий ордер (оплата по касі)
- Рахунок (вихідний)
- Видатковий касовий ордер - собственное название
- Платіжне доручення

И собственное название и название контрагента выводится краткое, а не полное.
По логике вещей краткое должно выводиться, если полное не заполнено.

[2019-11-01 08:02] AlexeyTishkin commented on #1130
Сделал.

[2019-11-01 09:31] AlexeyTishkin commented on #1195
Сделал.

[2019-11-01 14:55] Anestezia opened #1196 "При вводе дубликата объекта в акте, накладной нужен переход на строку, в которой он в первый раз был."
![image](https://user-images.githubusercontent.com/42540074/68033381-3d15ac00-fcc8-11e9-9919-15f9ab0d7aa8.png)
ну дуже не хочеться додавати позиції по матеріалу і суми матеріалу при переносі з акту, затвердженого контрагентом
-клиент

 Нам бы механизм подбития суммы по одинаковым позициям, и возможно напоминалку, что такой объект уже существует. Сразу при введении, а не постфактум - Провести нельз

[2019-11-04 10:56] Anestezia opened #1197 "НА - создать возможность распроводить документ, при существующих дочерних непроведенных."
![image](https://user-images.githubusercontent.com/42540074/68116009-72a5d980-ff02-11e9-87bb-d1ae78f49e7d.png)

[2019-11-04 14:03] htrofymova opened #1198 "Опять неприбыльные просьбы"
В операциях "Безоплатне одержання запасів", "Введення в експлуатацію ОЗ, НМА" сделать возможность вьібрать 48-й счет (как в кассовом ордере и платежном поручении).
В "Бухгалтерскій довідці" також - операція "Визнання операційного доходу за рахунок цільових надходжень"

[2019-11-04 15:27] AlexeyTishkin commented on #986
Должна быть строка с 0 ставкой ? А код ставки какой ?
Или вообще не должно быть в НН этой строки ? Т.е. в НН только одна строка со ставкой 20% ?

да, строка со ставкой 0%:
международные перевозки грузов, пассажиров и багажа облагают НДС по ставке 0 %

знаю, что некоторые компании просят, чтоб в одной налоговой была возможность указания объектов налогообложения  с разными ставками, некоторые приним

[2019-11-04 15:29] AlexeyTishkin commented on #986
Тут именно нет НДС ? Не НДС со ставкой 0 ? И НН тоже нет ?

Если «везет» нерезидент, то «нулевые» правила обложения международной перевозки не работают и ставку 0 % НДС не применяют. Как разъяснили налоговики в ОНК № 610 (вопрос 10 разд. II), если перевозчик — нерезидент, то налоговые обязательства по НДС со стоимости услуг по перевозке не возникают. Поэтому международную перевозку от перевозчика-

[2019-11-04 15:59] htrofymova commented on #1198
"Введення в експлуатацію ОЗ, НМА" сделала

[2019-11-04 16:07] htrofymova commented on #1197
готово

[2019-11-04 16:21] kattrina-brekhova commented on #986
по практике - перевозчики сами понимаю, что делают, и строгих условий начисления ндс при различных операциях не нужно устанавливать в системе
дать интсрумент, которым они бы считали и декларировали эти операции

[2019-11-04 17:48] AlexeyTishkin commented on #986
международные перевозки грузов, пассажиров и багажа облагают НДС по ставке 0 %

Это два разных вида: НДС 0% и нет НДС.
Какие варианты выбора НДС должны быть в строке Акта ?

К примеру:
![image](https://user-images.githubusercontent.com/35917940/68143986-48bcd900-ff3b-11e9-9cf3-07485348867d.png)

Нужен вариант "Без НДС" ?
Т.е. кейс, когда мы указали, что услуга № 1 без НДС, услуга № 2 с НДС 0%, а у

[2019-11-04 18:07] AlexeyTishkin commented on #986
Или такой же механизм как в Придбанні, т.е. вначале выбрали есть ли НДС у документа:
![image](https://user-images.githubusercontent.com/35917940/68145375-5162de80-ff3e-11e9-9b32-e03195e26d60.png)
А потом уже выбираем ставку для кажой строки.
В этом случае, если НДС нет, то НН создать нельзя, а если НДС есть, то НН создается на все позиции на выбранные ставки:
![image](https://user-images.githubuse

[2019-11-04 18:24] kattrina-brekhova commented on #986
однозначно, что строки БЕЗ НДС в НН не попадают, а со ставкой 0% попадают
нашла ИНК, в которой рекомендуют сосздавать 2 налоговіе - по 0% ставке на стоимость перепроданной перевозке и на 20% на маржу

[2019-11-04 18:29] AlexeyTishkin commented on #986
Тогда для единообразия делаем механизм такой, как в остальном приобретении: вначале указываем с НДС или без, а потом построчно НДС. Если в одной НН не хотим смешивать ставки, то делаем два Акта с НДС: первый с 0%, второй с 20%.

[2019-11-04 18:31] kattrina-brekhova commented on #986
да, и все строки акта где ставка ндс 0% должны попадать в НН

[2019-11-04 18:33] AlexeyTishkin commented on #986
Конечно.

[2019-11-05 09:39] Anestezia opened #1199 "Добавить операцию Переказ між своїми рахунками у валюті"
Не очень удобно, что нет возможности перевода между своими счетами в иностранной валюте. В Райффайзен Банк Аваль у клиентов есть основной и транзитный долларовые счета. Валюта приходит на основной, а до 20 июня 2019, когда действовала обязательная продажа - 50% суммы в долларах перечислялось на транзитный счет. Также транзитный счет используется для продажи остатка в валюте. Сейчас, чтобы отразить

[2019-11-05 09:43] Anestezia opened #1200 "Добавить счет в формате iban в выставляемый нами счет за БК."

[2019-11-05 09:50] #1197 closed, assigned to htrofymova

[2019-11-05 11:53] kattrina-brekhova opened #1201 "Панель управления раздел Продажи - добавить иконку "Ведомость РРО"/реализация товаров через РРО"

[2019-11-05 15:01] AlexeyTishkin commented on #986
Странный момент с Сонатой. Она настаивает на том, что суммы в строке 13 должны быть равны соответствующим строкам из Приложения № 1. Но в Приложении № 1 отражаются только корректировки.

![image](https://user-images.githubusercontent.com/35917940/68218730-78c4b480-ffed-11e9-938a-d6966b07a8c9.png)

[2019-11-05 15:02] AlexeyTishkin commented on #986
Строку 6 (обязательства) пропустила. Хотя там сумма не равна строке из Приложения № 1.

![image](https://user-images.githubusercontent.com/35917940/68219099-191ad900-ffee-11e9-94a7-322df6c3971d.png)

[2019-11-05 15:58] kattrina-brekhova opened #1202 "Платежное поручение - оплата поставщику: при выборе документа основания - накладной, сумма платежа становится такой же как и в накладной. изначально в платежку вносила другую сумму"
создаю платежное поручение, ввожу сумму. потом указываю документ - основание - накладную - на сумму большую чем платежное поручение. сервис автоматически подставляет сумму из накладной

[2019-11-05 16:28] AlexeyTishkin commented on #1202
Так и должно быть. При выборе наследуются все реквизиты, в т.ч. неоплаченная сумма Счета/Накладной/Акта. При желании после выбора сумму можно изменить.

[2019-11-06 07:17] AlexeyTishkin commented on #1201
Добавил.

[2019-11-06 07:23] AlexeyTishkin commented on #1185
Сделал

[2019-11-06 11:33] #1202 closed, assigned to nobody

[2019-11-06 11:34] #1201 closed, assigned to AlexeyTishkin

[2019-11-06 14:43] kattrina-brekhova opened #1203 "Проблемы при заполнении декларации ЕН ФОП - мультифирменность"
1. если в другой фирме уже существует отчет за этот период - в новой фирме отчет создаваться не хочет
![image](https://user-images.githubusercontent.com/38099938/68307515-0cf94f00-00b4-11ea-93df-54c7703488cb.png)
нажимаю ок и снова провести - проводит

2. при нажатии через декларацию ЕН на документ расчета налогов - чтоб открыть
![image](https://user-images.githubusercontent.com/38099938/68307589-

[2019-11-06 18:48] AlexeyTishkin commented on #1203
Исправил

[2019-11-07 10:36] Anestezia opened #1204 "Импорт входящих НН в хмл формате."

[2019-11-07 10:45] Illya-Lykhachov opened #1205 "Импорт налоговых накладных из хml"

[2019-11-07 12:26] #1203 closed, assigned to AlexeyTishkin

[2019-11-08 15:00] Anestezia opened #1206 "НН кредит - нет валидатора на дате выписки накладной"
В результате кнопка Провести не активна, а не видно почему.

[2019-11-08 16:17] #1185 closed, assigned to AlexeyTishkin

[2019-11-08 17:11] AndriyNesterenya opened #1207 "Косяк в печатной форме НА-Поліпшення"
Косяк в печатной форме НА-Поліпшення
В конце в после подписи
"Особа, яка відобразила господарську операцію в бухгалтерському обліку"
на разном уровне места под подпись и посаду

![image](https://user-images.githubusercontent.com/38098758/68496630-78c9ec00-025b-11ea-86aa-323802750e79.png)

[2019-11-09 13:11] #1207 closed, assigned to nobody

[2019-11-09 13:14] #1195 closed, assigned to AlexeyTishkin

[2019-11-09 13:18] AndriyNesterenya commented on #1190
Не забываем, пжлст.
Одну ж буковку вставить - и проблемы нет.

[2019-11-09 13:20] #1130 closed, assigned to AlexeyTishkin

[2019-11-12 14:30] AlexeyTishkin commented on #986
Похоже, что начисление налога нужно делать в операции "Оплата постачальнику в валюті". 632 нужно закрыть в т.ч. по валюте, а в платежке по перечислению налога (Д641/Податок з доходів нерезидентів — Кр311) нет ни валюты, ни курса, ни суммы в валюте.

[2019-11-12 16:48] AlexeyTishkin commented on #1116
Добавлена операция "Перерахування інших податків". Дб 6419 - Кр 311. При выборе данной операции в платежном поручении/строке банковской выписки появляется селектор "Податок".

[2019-11-12 16:51] AlexeyTishkin commented on #1116
Начисление в операцию перечисления не вписывается, т.к. для каждого налога свой механизм. К примеру, акциз начисляется так же как НДС и на 92 не относится.
По поводу начислений - нужен отдельный issue с формализацией.

[2019-11-12 16:53] AlexeyTishkin commented on #1116
Для перечисления штрафов по налогам используем операции по перечислению самих налогов. Т.е. для перечисления штрафа по единому налогу используем "Перерахування єдиного податку".

[2019-11-13 09:59] AlexeyTishkin commented on #1204
[1205](https://github.com/a2develop/bugTracker/issues/1205)

[2019-11-13 09:59] AlexeyTishkin commented on #1204
Дубликат.

[2019-11-13 15:23] AlexeyTishkin commented on #1206
Добавил.

[2019-11-13 15:32] AlexeyTishkin commented on #1200
Изменил.

[2019-11-13 16:01] AlexeyTishkin commented on #1199
Добавил.

[2019-11-13 16:07] AlexeyTishkin commented on #1190
Исправил.

[2019-11-14 11:42] kattrina-brekhova opened #1208 "Переведіть текст помилки українською"
![image](https://user-images.githubusercontent.com/38099938/68854440-b65bc880-06e4-11ea-9f7c-9da6277f6063.png)

ошибка нормальная, правильная. начала создавать налоговую. потом в другом окне изменила на другую фирму. поэтому налоговая не провелась - мол я находилась в другой фирме.

[2019-11-14 13:44] AlexeyTishkin commented on #1189
Исправил.

[2019-11-14 13:44] AlexeyTishkin commented on #1208
Перевел.

[2019-11-14 14:02] AlexeyTishkin commented on #1187
Сделал.

[2019-11-14 14:03] #1208 closed, assigned to AlexeyTishkin

[2019-11-14 15:53] #1200 closed, assigned to AlexeyTishkin

[2019-11-14 15:53] #1199 closed, assigned to AlexeyTishkin

[2019-11-14 15:54] #1206 closed, assigned to AlexeyTishkin

[2019-11-14 15:57] #1189 closed, assigned to AlexeyTishkin

[2019-11-14 15:59] Anestezia commented on #1116
641/«Податок з реклами», екологічний податок/641, Рентна плата/641, Транспортний податок (збір) 641,

 Туристичний збір/642, збір за здійснення деяких видів підприємницької діяльності (642/«Торгові патенти»),
Є ще пенсійний збір (наприклад, при купівлі авто) 642, та не ЄСВ.  В принципе можно по тому же принципу на 642 сделать операцию Інші обов'язкові платежі.

[2019-11-14 16:04] Anestezia opened #1209 "Вопрос отображения МФО в Счете и Платежках"
Переходный период вроде как продлен до 12.01.20. Из разъяснений о заполнении платежки везде приведена эта картинка. Код банка при применении айбан, 0.
![image](https://user-images.githubusercontent.com/42540074/68874006-2da35380-0709-11ea-8bba-3f9cbb6523a7.png)

[2019-11-14 16:29] AlexeyTishkin commented on #1209
В Счете в реквизитах в случае IBAN, МФО вообще не показывать ?

[2019-11-15 07:50] AlexeyTishkin commented on #1116
Добавил.

[2019-11-15 14:32] AlexeyTishkin commented on #1209
Сделал.

[2019-11-15 15:05] kattrina-brekhova opened #1210 "Расходный кассовый ордер (операция возврат денег покупателю): при изменении контрагента, документ унаследуюет реквизит договора предыдущего контрагента"

[2019-11-15 15:15] kattrina-brekhova opened #1211 "Почему в расходном кассовом ордере по операции "оплата поставщику" может быть выбрано юр. лицо, а в возврат покупателю или оплата другим дебыторам - только ФЛ или ФЛП?"

[2019-11-18 11:39] Anestezia opened #1212 "Трехсторонний акт, накладная, договор"
[Зразок акта.xlsx](https://github.com/a2develop/bugTracker/files/3858402/default.xlsx)

[2019-11-18 13:32] htrofymova commented on #1210
готово

[2019-11-18 15:06] #1210 closed, assigned to htrofymova

[2019-11-18 19:34] #1190 closed, assigned to AlexeyTishkin

[2019-11-19 12:04] kattrina-brekhova opened #1213 "Платежное поручение: оплата других налогов: неявная верстка и окна с выбором налога (прячется за окном "комментарий""
![image](https://user-images.githubusercontent.com/38099938/69145079-7d9d6400-0ad5-11ea-91d4-be8f256d0cdc.png)

[2019-11-19 12:14] #1187 closed, assigned to AlexeyTishkin

[2019-11-19 13:29] kattrina-brekhova commented on #1213
то же самое "перерахування инших обоязкови платежив"

[2019-11-20 09:48] AndriyNesterenya opened #1214 "[Улучшайзинг] Новая админка - нет экспорта из Біллінг -> Користувачі"
Нет экспорта из раздела Біллінг -> Користувачі
https://bookkeeper-admin.azurewebsites.net/billing/customer

[2019-11-20 09:52] AndriyNesterenya opened #1215 "[Улучшайзинг] Новая админка - в экспорт из Тенанти -> Тенанти не попадает признак User"
В экспорт из Тенанти -> Тенанти не попадает признак User

[2019-11-20 11:28] htrofymova commented on #1211
Попыталась найти ответ... Не знаю, почему. Если нужно убрать ограничение - уберу.

[2019-11-20 14:12] Anestezia opened #1216 "Переделать страницу объектов учета"
![image](https://user-images.githubusercontent.com/42540074/69245613-cfb2b800-0baf-11ea-8cb0-a7d44c6646ac.png)
Свернула боковую синюю панель меню, потом развернула — пропал боковой скрол.
Действий не видно, внизу скрола нет
![image](https://user-images.githubusercontent.com/42540074/69245979-89aa2400-0bb0-11ea-8f6b-ce9e9a9e3fed.png)

[2019-11-20 14:14] Anestezia opened #1217 "В свойствах объекта учета сразу отображать счет учета"
![image](https://user-images.githubusercontent.com/42540074/69246113-c83fde80-0bb0-11ea-9b87-40aad5d90e32.png)

[2019-11-20 14:51] #1209 closed, assigned to AlexeyTishkin

[2019-11-20 14:52] #1116 closed, assigned to AlexeyTishkin

[2019-11-20 15:22] kattrina-brekhova commented on #1211
когда-то - в сентябре 2018 - мы обсуждали эту тему: так как в расходном ордере обязательно нужно указывать фио получателя и его подпись, решили ограничить подобные операции с кассы только на физ лиц и фопов
сейчас смотрю, что в ордере предусмотрена строка для указания получателя (представителя получателя)
но если честно прямого запрета в законодательстве (кроме как ограничений расчетов предприятия

[2019-11-20 15:23] kattrina-brekhova commented on #1211
http://www.visnuk.com.ua/uk/publication/100004908-bezpechna-robota-z-gotivkoyu

[2019-11-20 15:56] AlexeyTishkin commented on #1217
В каком месте и в каком виде ?

[2019-11-20 20:42] alex-kukhtin commented on #1213
Done in 7585

[2019-11-20 20:45] alex-kukhtin commented on #1192
Нет. Попробуй написать там не 1275 грн, а, например 2000 и скажи, что в этом случае должно быть в счете?

[2019-11-20 23:08] htrofymova commented on #1211
готово

[2019-11-20 23:15] htrofymova commented on #1035
готово.

[2019-11-21 07:08] Illya-Lykhachov commented on #1161
Ну мы же этот вопрос решили. Аренда оформляется договором ГПХ и отражается в учёте актом к нему. Закрывайте уже это issue и отпишитесь клиенту.

[2019-11-21 09:16] #1213 closed, assigned to alex-kukhtin

[2019-11-21 09:17] #1211 closed, assigned to htrofymova

[2019-11-21 09:18] #1161 closed, assigned to Illya-Lykhachov

[2019-11-21 11:22] Illya-Lykhachov commented on #1176
Вступительный по зарплате - это только начисления/удержания для расчёта средней. Нужен ещё документ остатков расчётов с сотрудниками (661 и зарплатный журнал). Бухсправки по 661 недостаточно. И в зарплатныый журнал сума должна ложиться хитрая: начисления минус удержания и минус выплаты. Придётся вступительный переделать по каждому сотруднику отдельно

[2019-11-21 11:53] Illya-Lykhachov commented on #1169
Тонкий глюк, Исправил

[2019-11-21 12:52] #1169 closed, assigned to Illya-Lykhachov

[2019-11-21 12:53] #1182 closed, assigned to Illya-Lykhachov

[2019-11-21 12:55] #1035 closed, assigned to htrofymova

[2019-11-21 14:15] Anestezia opened #1218 "Вопрос: Почему в 1420 баланса при нулевых движениях по 441-442 счету есть сумма."
[Загальна оборотно-сальдова відомість.xlsx](https://github.com/a2develop/bugTracker/files/3875034/-.xlsx)
[Фінінсовий звіт.pdf](https://github.com/a2develop/bugTracker/files/3875040/default.pdf)

[2019-11-21 14:56] AlexeyTishkin commented on #1218
В данном случае это корректировка равенства баланса.
Актив = 1131.8
Пасив = 1131.9
Разница = -0.1 идет в 1420.
Погрешность образовывается из-за перевода оборотов в тыс. грн.: суммы делятся на 1000 и округляются до 1-го знака.

[2019-11-23 11:21] AndriyNesterenya opened #1219 "Коробочная версия - косяки и непонятки"
Косяки коробки Буккипер
=====================================
1. Инструкция: не закончена фраза "Для работы с платформой это ни имеет никакого значения. Эти файлы представляют собой" - **уже исправил**

2. Инструкция: Отсутствует слеш в пути "Запустите приложение C:\Program Files (x86)\a2v10\Tools\dbManagerA2v10.DbManager.exe."
между папкой dbManager и файлом A2v10.DbManager.exe. **тоже исправил**

[2019-11-23 11:28] AndriyNesterenya commented on #1219
5. Инструкция:  "Запустите приложение C:\Program Files (x86)\a2v10\Tools\dbManagerA2v10.DbManager.exe." - тоже пропущен слеш

[2019-11-23 11:49] AndriyNesterenya commented on #1219
6. Для боевого приложения - попереименовывать создаваемые файлы с A2v10ххх на Bookkeeper.
Мы продаем бухгалтерию, а не платформу, юзеру в общем и знать не надо, на основе чего приложение создано.
В нынешнем варианте Win10 воспринимает как имя программы только часть имени файла до первой точки.
И ярлыки выглядят как
![image](https://user-images.githubusercontent.com/38098758/69478166-1266d100-0df8-

[2019-11-23 13:20] AndriyNesterenya commented on #1219
7. Пиктограммы - тоже про А2, а не про Буккипер, что низачот для приложения (зачот для DBmanager и сервисного софта)
![BookKeeperIcon256](https://user-images.githubusercontent.com/38098758/69482789-6f7a7b00-0e28-11ea-912f-6d1fecc6322a.jpg)

[2019-11-23 13:25] AndriyNesterenya commented on #1219
8. В лицензии опечатка - "Л_**и**_цензована компанія"

[2019-11-23 14:39] AndriyNesterenya commented on #1219
9. Не работает поиск контрагента по ЕДРПОУ
![image](https://user-images.githubusercontent.com/38098758/69480388-aabc8000-0e0f-11ea-9c4f-d881c3cc1468.png)
думается, работать в коробочной версии и не должно, и нужно или скрывать это поле, или выдавать сообщение о том, что фича доступна только в онлайн-сервисе.

[2019-11-23 21:44] AndriyNesterenya commented on #1219
10. Не сохраняется выбор сервера/базы. Юзера взвоют. Нужно или запоминание с возможностью переподключиться через внешнюю утилиту, или возможность выбора из ранее введенных значений + какая-то авторизация на уровне юзера

[2019-11-23 21:46] AndriyNesterenya commented on #1219
11. Exeption при создании новой фирмы. Дает начать создавать,  ввести все ранные, на финише при сохранении - exeption
![image](https://user-images.githubusercontent.com/38098758/69485673-6f3fa700-0e4b-11ea-998b-981978452e01.png)

[2019-11-25 10:54] Illya-Lykhachov opened #1220 "Проверить календарь"
25 грудня (середа) буде вихідним днем. Водночас робочі дні переносяться з понеділка 30 грудня на суботу 21 грудня, а також з вівторка 31 грудня на суботу 28 грудня

[2019-11-26 08:42] AndriyNesterenya commented on #1194
+ вспомнилась неприятная особенность.
На сегодня на диаграме оплат вообще не отображаются дни, когда оплат не было - такие дни просто пропускаются.

Низачот, потому как искажает картину динамики, и хорошо бы пустые дни тоже отображать

[2019-11-26 10:46] kattrina-brekhova opened #1221 "Расходные кассовые ордера: в электронной форме документов нужно создать строку "Додаток", где можно указывать прикрепленные документы к расходу (супровідна відомість інкасатора, квитанція, платіжна відомість...)"
на даный момент строка "додаток" есть в печатной форме документов, но это предполагает только внесение информации от руки

[2019-11-26 10:57] kattrina-brekhova commented on #1221
речь идет об операциях: выдача денег на счет в банке, инкассация банком, выплата зарплаты по платежной ведомости

[2019-11-26 11:18] Anestezia opened #1222 "В свойствах физ.лиц в Персонале вообще не ищет по Іван-коду банк при вводе личного счета. Также нет валидатора на формат счета"
![image](https://user-images.githubusercontent.com/42540074/69625384-1fc9c880-104f-11ea-960f-b402af0ff51e.png)

[2019-11-26 13:05] Anestezia opened #1223 "Затягивать списком проданные за день товары в ведомость РРО"

[2019-11-27 12:37] Anestezia commented on #1198
В операцию "Визнання операційного доходу за рахунок цільових надходжень" сделать выбор счета.

[2019-11-27 12:44] Anestezia commented on #1218
Все равно спрашивают, почему именно в эту строку идет такая корректировка, ведь это не правильно, если по тем счетам нет движений

[2019-11-27 12:50] AlexeyTishkin commented on #1218
Тогда нужна формализация заполнения отчета.
В данном конкретном случае что делать с не равенством баланса в тыс. грн ? В грн баланс сходится.

[2019-11-28 09:24] AndriyNesterenya opened #1224 "[Улучшайзинг] Новая админка - нет возможности редактировать "Назву" у реферралки"
Нет возможности редактировать "Назву" у созданной реферралки.

Опыт показал, что часто при создании реферральной ссылки мы не точно знаем имя/название партнера, или реферралка дается частному лицу, а потом переделывается на контору, или в конторе меняется манагер или начальник, или просто опечатка приключается, и в результате хорошо бы подкорректировать Назву/коммент к реферралке.
А на данный моме

[2019-11-29 14:49] AndriyNesterenya opened #1225 "[Улучшайзинг] нумерация выставляемых счетов из личного кабинета"
На данный момент мы при выставлении счетов нумерацией не заморачиваемся вообще, номер формируемого счета (вероятно) нигде не хранится, и составляется из номера тенанта + даты.

Если юзер формирует больше одного счета в сутки - номера будут одинаковые.

Хорошо бы к номеру счета добавлять какую-то доп. нумерацию, все равно сквозную для всех или для конкретного юзера за какой-то период.
Просто чтобы

[2019-12-02 12:14] AndriyNesterenya opened #1226 "[Улучшайзинг] Админка - ID юзера кривое"
В админке в разделе Просування в таблице регистраций конкретного партнера в колонке ID выводится ненужное шопопало, которое информаци не дает и только сбивает с толку.

Туда хорошо бы номер выводить тенанта.

![image](https://user-images.githubusercontent.com/38098758/69958338-41262b00-150d-11ea-8fcf-fffddcb46527.png)

[2019-12-02 13:25] alex-kukhtin commented on #1226
Это Id юзера. Добавлю тенант.

[2019-12-02 13:36] AndriyNesterenya opened #1227 "[Улучшайзинг] Админка - возможность редактировать оплаты в Биллинге"
Нужна возможность внесения изменений во внесенные оплаты в биллинге
https://bookkeeper-admin.azurewebsites.net/billing/payment

В случае опечаток и не-то-скопипастил на данный момент ничего исправить нельзя.

Как вариант - таковая возможность не у всех, а у конкретного юзера-суперадминистратора.

[2019-12-03 09:41] Anestezia opened #1228 "Питання по 685/377 рахунках."
в розділі придбання
- видаток з банку - перерахування коштів іншим кредиторам -кореспондується  685 рахунок
в розділі придбання
- придбання послуг кореспондується 631 рах
- придбання послуг інших дебіторів кореспондується з 377 рах і в подальшому кореспонд. з 91 (витрати), хоча в бухгалтерській практиці 377 рахунок коресп. з доходами підприємтва і є реалізацєю інших послуг а не придбанням
Питання

[2019-12-03 09:44] Anestezia opened #1229 "Аліменти, як в договорах ЦПХ, так і по звичайній ЗП."
Таким чином, робимо висновок: із сум винагороди за договорами ЦПХ аліменти утримуються.
Наприкінці зазначимо, що утримання аліментів із суми заробітку (доходу) здійснюється після утримання податків та зборів (ч. 1 ст. 70 Закону № 1404 та п. 13 Переліку № 146). Це стосується і того випадку, коли утримання провадиться із сум винагороди за договорами ЦПХ. Тому, здійснюючи утримання аліментів з таких

[2019-12-03 09:46] Anestezia opened #1230 "В конечной ведомости расчета зп по аналогии с авансом, добавить колонку До виплати на руки"
Но нужно понимать, что это к выплате только по этой веломости без учёта выплаченных авансов и недовыплаченных долгов

[2019-12-03 10:18] Anestezia commented on #1228
Дб 9 - Кт 377 - обычная бухгалтерская практика.
"перерахування коштів іншим кредиторам -кореспондується  685 рахунок" - у нас используется в схеме комиссионной торговли
"можливо операцію "придбання послуг інших дебіторів" - эта операция делалась по просьбе реальных пользователй.
Можно добавить операцию "придбання послуг в інших кредиторів ".
Надо подумать. Нафига им услуги с 685 счетом? Какой в эт

[2019-12-03 12:55] AndriyNesterenya opened #1231 "Сделать ссылки с сайта помощи на продающий сайт"
Начал индексироваться сайт хелпа.
Оказалось, что с сайта хелпа вообще нет ссылок на продающий сайт.

Хочется:

1. Внизу в футере где-то рядом с "про довідкову систему..." приделать ссылки на продающий сайт https://bookkeeper.kiev.ua/ и на вход в сервис https://service.bookkeeper.kiev.ua/

2. Вверху на темной полосе с  текстом "BookkeepeR SaaS довідкова система користувача" по центру или в правом в

[2019-12-03 14:06] Anestezia opened #1232 "Символ черновика в цепочке заменить на Желтый с восклицательным знаком"
![image](https://user-images.githubusercontent.com/42540074/70058028-d812e600-15e6-11ea-9c45-d1598fcb71ef.png)

[2019-12-04 12:49] #1232 closed, assigned to nobody

[2019-12-04 21:07] #1070 closed, assigned to nobody

[2019-12-04 21:09] alex-kukhtin commented on #931
Проверьте, плиз!

[2019-12-05 10:23] #1231 closed, assigned to alex-kukhtin

[2019-12-05 10:23] #931 closed, assigned to alex-kukhtin

[2019-12-05 12:37] Anestezia commented on #1222
По новому номеру счета банк ищет.
Валидатора на неправильный ввод счета нет.

[2019-12-05 13:02] Anestezia opened #1233 "Панель управления - Продажи - Дебиторская задолж. нужен перенос, если название фирмы сильно длинное."
Там берется сокращенное название, но кто знает у кого какое оно по документам.
![image](https://user-images.githubusercontent.com/42540074/70237639-5058e300-1770-11ea-901e-8b325a2b716d.png)

[2019-12-05 13:02] GalinaLuk opened #1234 "Подтягивание расчетного счета для выплаты ЗП или аванса по ЗП проекту"
Не получается запомнить, как правильно сохранять счет для выплаты ЗП или аванса.
Я помнила, что где-то должна быть фраза "Запам'ятати цей рахунок", но не увидела ее.
Предлагаю сделать ее красным шрифтом.
![image](https://user-images.githubusercontent.com/46449132/70237577-2dc6ca00-1770-11ea-9b82-814bde1889ca.png)
Есть ли еще какие-то варианты напомнить о более раннем введении счета, если вовремя н

[2019-12-05 13:13] Illya-Lykhachov opened #1235 "Договор зарплатного проекта. Добавить банковский счёт получателя"

[2019-12-05 13:39] #1222 closed, assigned to Illya-Lykhachov

[2019-12-05 15:05] Anestezia opened #1236 "Можливість створення платіжних доручень оплати в бюджет (ПДФО,ВЗ,ЄСВ) з документів нарахування авансу та розрахунку зарплати"

[2019-12-06 08:21] #993 closed, assigned to alex-kukhtin

[2019-12-06 09:29] alex-kukhtin commented on #1139
Done (7294)

[2019-12-06 09:56] #1226 closed, assigned to alex-kukhtin

[2019-12-06 09:57] #1224 closed, assigned to alex-kukhtin

[2019-12-06 10:00] #1215 closed, assigned to alex-kukhtin

[2019-12-06 17:36] alex-kukhtin opened #1237 "При создании нового тенанта неправильный тип моей фирмы"
Мы создаем ФОП-а без имени и фамилии с названием "Моє підприємство".
Надо почистить.

[2019-12-07 09:55] AlexeyTishkin commented on #1237
Сделал.

[2019-12-08 08:36] #1237 closed, assigned to AlexeyTishkin

[2019-12-08 08:51] #1103 closed, assigned to alex-kukhtin

[2019-12-08 08:53] #1099 closed, assigned to alex-kukhtin

[2019-12-08 15:44] alex-kukhtin opened #1238 "НА. Дашбоард. Проверка прав на документы"
Под ролью "Бухгалтер" при клике, например, на "Отримання рахунку" получаем такую картинку.
Над добавть Permissions в модель и проверять их при вызове диалогов.

![image](https://user-images.githubusercontent.com/26379138/70391840-23ac0200-19e2-11ea-98bc-d5708552b631.png)

[2019-12-08 15:49] alex-kukhtin commented on #1104
done in 7596

[2019-12-09 07:50] alex-kukhtin commented on #1233
v 7595

[2019-12-09 09:32] Illya-Lykhachov opened #1239 "Сумма документов расчётных ведомостей и авансов - только начисление"
И существующие документы пересчитать бы

[2019-12-09 09:55] AndriyNesterenya opened #1240 "[Улучшайзинг] Личный кабинет - при выставлении счета давать выбирать фирму"
С введением мультифирменности все больше народу просит сделать возможность при выставлении счета выбирать фирму, на имя которой выставляется счет.

Видимо, стоит делать в комплексе с https://github.com/a2develop/bugTracker/issues/1225

[2019-12-09 10:39] htrofymova opened #1241 "Початковий баланс, роль "бухгалтер", пункт меню Зарплата"
![image](https://user-images.githubusercontent.com/43743331/70429190-c6b35900-1a80-11ea-8409-b3e67edd1d9a.png)

[2019-12-09 12:09] alex-kukhtin commented on #1117
Таки починил вроде.

[2019-12-09 12:38] alex-kukhtin commented on #1177
done in 7596

[2019-12-09 12:50] #1233 closed, assigned to alex-kukhtin

[2019-12-09 12:52] #1177 closed, assigned to alex-kukhtin

[2019-12-09 12:56] #1139 closed, assigned to alex-kukhtin

[2019-12-09 13:04] Anestezia commented on #1240
https://github.com/a2develop/bugTracker/issues/1151 -- одного поля ягоды?

[2019-12-09 13:33] Anestezia opened #1242 "В бюджетні платежі (і виписку) додати Повернення платежів, всередині зробити селектор вибору податків і платежів"

[2019-12-09 13:33] #1104 closed, assigned to alex-kukhtin

[2019-12-09 21:35] AndriyNesterenya commented on #1240
Да. Я этого issue не видел :(

[2019-12-10 16:18] alex-kukhtin commented on #1194
Done (10.12.2019)

[2019-12-10 18:02] #1194 closed, assigned to alex-kukhtin

[2019-12-11 10:07] #952 closed, assigned to nobody

[2019-12-11 11:30] AlexeyTishkin opened #1243 "Таблица a2security.[Menu.Acl]"
Разобраться с использованием. Проблема возникает при удалении записей из a2ui.Menu.

[2019-12-11 11:31] AlexeyTishkin opened #1244 "Раздел "Вступительный баланс""
Возможность отключения/включения пользователем.

[2019-12-11 19:41] #1241 closed, assigned to Illya-Lykhachov

[2019-12-11 20:03] htrofymova opened #1245 "Роли "Менеджер з закупівель" и "Менеджер з продажу""
Меню ПРИДБАННЯ.
При попытке создать (открыть) оплату по банку (кассе).

![image](https://user-images.githubusercontent.com/43743331/70654580-4a2aa100-1c5f-11ea-905e-664f4cba560b.png)

Меню ЗАПАСИ.
Кнопка [Нова операція] как бы запрещена:
![image](https://user-images.githubusercontent.com/43743331/70655220-89a5bd00-1c60-11ea-9126-534a68f56ee9.png)
 НО! при аккуратном нажатии на стрелочку - работает

[2019-12-11 20:52] #1117 closed, assigned to alex-kukhtin

[2019-12-13 08:32] alex-kukhtin opened #1246 "Бухгалтерия | Платежи | Экспорт в Excel"
Если платежей много, то повторяется шапка.
Надо в стимулсофте режим поставить "все на одной странице"

Возможно надо формат передать в параметры. Для ворда разбивать, а для экселя - нет.