[2019-12-13 08:33] alex-kukhtin commented on #1246
![image](https://user-images.githubusercontent.com/26379138/70785880-0be2ce00-1d94-11ea-88a8-3a62d9a725a3.png)

[2019-12-13 10:56] Anestezia commented on #1056
Напомните, пожалуйста, откуда наша система берет данные про Зарплатный транзитный счет? Где он указывается?
 - в шаблоне
![image](https://user-images.githubusercontent.com/42540074/70794843-45710480-1da7-11ea-93cf-584c84eecb13.png)
Здесь что выбрать? Откуда программа знает, какой счет у нас в договоре прописан?
В свойствах контрагента Приват банк мы прописываем свой транзитный зарплатный счет?
 -

[2019-12-13 12:10] Anestezia commented on #1114
У них заправки, сеть, несколько касс, соответственно. Речь и о наценке идет. Ее установление, списание.

[2019-12-13 12:32] Anestezia commented on #1149
Резервування грошових коштів під видану банком гарантію доцільно відобразити проводкою: Дт 313 — Кт 311 (а при їх поверненні — зворотною проводкою: Дт 311 — Кт 313).

Комісію банку за забезпечення гарантії слід віднести до адміністративних витрат (Дт рахунка 92). Адже плата за розрахунково-касове обслуговування та інші послуги банку згідно з п. 18 П(С)БО 16 належить до адміністративних витрат підп

[2019-12-13 12:41] #1153 closed, assigned to Anestezia

[2019-12-13 12:50] Anestezia commented on #1183
Дата, номер, контрагент, сумма. Внутренность можно не проверять. И дальше выдавать сообщение, если по всем внешним параметрам сходится, а табличная часть другая (объекты учета разные), то пусть уже сам клиент решает, что это.

[2019-12-13 12:54] Anestezia commented on #1192
Тогда, если сумма не фиксированная, то пусть будет самонаборная (в смысле с селекторами) таблица, за которую услугу и сколько платит клиент. Или таблица статичная, а клиент распихивает суммы по ячейкам. Поставить проверку, если сумма не сходится с той, которая по счету автоматом выставилась.

[2019-12-13 12:54] #1192 closed, assigned to nobody

[2019-12-13 12:59] #1204 closed, assigned to nobody

[2019-12-13 13:01] #1238 closed, assigned to htrofymova

[2019-12-13 13:04] Anestezia commented on #1217
Есть место над окном Ставка ПДВ. Там просто указать его, без подбора. справочно.

[2019-12-13 13:11] Anestezia commented on #1230
Самое интересное, что эти данные (сумма на руки) выводятся все равно в списке операций.

[2019-12-13 13:27] kattrina-brekhova commented on #222
и какое это может быть волшебное место, куда все пользователи попадали, читали, и понимают, что нужно разрешить всплывалку? ))))

[2019-12-13 13:29] kattrina-brekhova commented on #222
![image](https://user-images.githubusercontent.com/38099938/70803709-5cbaec80-1dbd-11ea-9871-68fecceead51.png)
и даже когда-то об этом писала

[2019-12-13 13:34] AndriyNesterenya commented on #1227
А чё duplicate?
Где еще такая хотелка была?

[2019-12-14 11:09] Illya-Lykhachov opened #1247 "Приказ на отпуск. Изменять дату отпуска при наличии дочерних документов"
- Я так понимаю, тебе нужно редактировать период отпуска после начисления и выплаты аванса. Причём сумма аванса не уже изменится. Таки да?

- Ну да. Сумма остается такой-же, просто даты начала и окончания отпуска сместили на день вперед...

[2019-12-14 15:04] AndriyNesterenya opened #1248 "[Docs] Дописать в инструкцию по импорту замечание об откусывании Excel нулей слева"
Написать в инструкции по импорту, что Эксель может откусывать незначащие в числовом смысле нули слева у кодов типа ЕДРПОУ и прочих артикулов, что ведет к проблемам.

Порекомендовать делать соотв. поля текстовыми или ставить слева кавычку, а-ля '00001234

[2019-12-14 15:05] AndriyNesterenya opened #1249 "Cделать команду "смена типа контрагента" на случай некорректного импорта."
Cделать команду "смена типа контрагента" на случай некорректного импорта.

[2019-12-14 15:07] AndriyNesterenya opened #1250 "При импорте дополнять коды ЕДРПОУ нулями слева до длины 8 символов"
В связи с откусыванием Экселем незначащих нулей слева в числовых полях, при импорте проверять длину кода ЕДРПОУ и дополнять нулями слева до 8 символов.

[2019-12-15 08:32] alex-kukhtin commented on #1225
Проблема в том, что эти счета "от фонаря". Они нигде не запоминаются. И это правильно в общем-то. Если сохрянять, то непонятно что с этим вообще делать.
Двадцать раз нажать на кнопку - будет двадцать счетов.

[2019-12-16 14:42] Anestezia opened #1251 "Возможность прикреплять к Подотчету Акт услуг."

[2019-12-18 07:43] alex-kukhtin opened #1252 "Зеленый плюс на главной. Неправильные ссылки."
"Інші операції" должны вести в operations2, а не в operations

[2019-12-18 12:23] htrofymova commented on #1251
готово

[2019-12-18 12:31] AlexeyTishkin commented on #1252
Сделал.

[2019-12-18 12:42] AlexeyTishkin commented on #1242
Добавил

[2019-12-18 13:24] #1252 closed, assigned to AlexeyTishkin

[2019-12-18 13:30] alex-kukhtin commented on #1151
Не будет этого.
Все фирмы внутри тенанта - это личные проблемы владельца тенанта.
Нас они никоим образом не касаются.

[2019-12-19 10:04] #1251 closed, assigned to nobody

[2019-12-19 10:06] #1242 closed, assigned to AlexeyTishkin

[2019-12-19 11:19] AndriyNesterenya commented on #1151
Клиенты-аутсорсеры и владельцы холдингов с тобой люто-бешено не согласны.
Хотят и настаивают на возможности платить за фирмы из тенанта со счетов соответствующих фирм.
И если мы видим аутсорсеров-аудиторов своими клиентами - фишка с выбором плательщика таки необходима :(

[2019-12-19 11:34] alex-kukhtin commented on #1151
Выбор - пофиг. Это не важно.
Важно то, что платежи никогда и ни при каких условиях не разбиваются по фирмам/логинам.
Грубо - есть тенант, есть его стоимость и оплаты.
А кто платит - нам пофиг.

[2019-12-19 11:57] AndriyNesterenya commented on #1151
нам-то пофиг.
А бухам-аутсорсерам - не пофиг.
И они уже бесятся.
А бедная Настя руками лепит им счета и акты.

[2019-12-19 12:12] #1151 closed, assigned to nobody

[2019-12-19 12:14] #1240 closed, assigned to nobody

[2019-12-19 12:23] AndriyNesterenya opened #1253 "[Улучшайзинг] - в личном кабинете - Стан рахунку в выставлении счета сделать селектор фирм из тенанта"
Хочу в Личном кабинете в разделе Стан рахунку сделать селектор с выбором любой фирмы из текущего тенанта.

Цель - дать возможность хозяину тенанта выставить счет на любую фирму из тенанта на произвольную сумму.

[2019-12-19 12:29] GalinaLuk opened #1254 "Изменять "признак проведения", если было сообщение о дубликате номера"
Не  меняется "признак проведения", если было сообщение о дубликате номера в платежном поручении (может еще где-то?)

[2019-12-19 14:28] #1239 closed, assigned to Illya-Lykhachov

[2019-12-20 12:40] AndriyNesterenya opened #1255 "[Bug] Тенанти - Тенанти не работает поиск по ОСНОВНОМУ ЕДРПОУ"
[Bug] Тенанти - Тенанти не работает поиск по ОСНОВНОМУ ЕДРПОУ

[2019-12-21 13:46] Illya-Lykhachov opened #1256 "Отчёт "Личная карточка сотрудника""
1.В разделе Персонал – хотелось бы и документ ОСОБОВА КАРТКА ПРАЦІВНИКА, Типова форма № П-2, ЗАТВЕРДЖЕНО наказом Держкомстату та Міністерства оборони України від 25 грудня 2009 р. № 495/656.

[2019-12-22 13:19] AndriyNesterenya opened #1257 "[BUG] Некорректные сообщения об окончании оплаченного периода"
Обнаружились косяки с уведомлениями о задолженности

1. SE-1091
Пережили триал, платили достаточно долго, по организационным причинам платить перестали
Выводится лишнее сообщение о " Період **безкоштовного** використання сервісу закінчився " - при том, что бесплатній период кончился очень давно и юзер был платящий.

![image](https://user-images.githubusercontent.com/38098758/71322132-beb9d700-24cc

[2019-12-23 09:05] #1142 closed, assigned to alex-kukhtin

[2019-12-23 09:19] alex-kukhtin commented on #559
Закрывайте нафиг.
Если все еще вопрос остался, пишите новый issue и назначайте его на дизайнера.

[2019-12-23 11:21] alex-kukhtin commented on #1244
Done

[2019-12-23 11:23] #1244 closed, assigned to alex-kukhtin

[2019-12-23 11:27] alex-kukhtin commented on #1158
Не могу повторить.

[2019-12-23 20:49] AndriyNesterenya opened #1258 "[BUG] В выписке Укрсиба вместо даты операции подтягивается дата документа"
Клиенты жалуются, что выписке Укрсиба вместо даты операции подтягивается дата документа.
А документ может быть создан черт знает когда заранее.
Во вложении - ZIP-архив с примером выписки.
В строке 28 операция прошла 20го, а документ датирован 16м числом.

[УкрсибВыписка_строка 28.zip](https://github.com/a2develop/bugTracker/files/3996255/_.28.zip)

[2019-12-24 14:33] Anestezia commented on #1027
В январе-феврале возможен массовый переход к нам. Это бы ускорить, чтоб при переносе информации затыков не было у услужников.

[2019-12-24 14:37] Anestezia commented on #1006
http://1c.ua/v8/prod-ua/43405/

[2019-12-24 14:52] alex-kukhtin opened #1259 "208 счет. Матеріали с/г призначення"
Добавить вид объектов учета

[2019-12-25 18:03] AndriyNesterenya opened #1260 "[BUG] Мультифирменность - подхватывает API Привата из основной фирмы при создании новой со счетом в Привате"
Поймал косячок с мультифирменностью.
Суть проблемы:
Имеется основная фирма аккаунта со счетом в Приватбанке + с настроенным API в выписке.
Создается дополнительная фирма а этом же аккаунте.
Создается новый юзер, имеющий полные права на доп. фирму и запрет доступа к основной фирме (вариант для буха-аутсорсера или мини-холдинга).
Заводится счет доп. фирмы в том же Привате.
Логинимся под новым юзером

[2019-12-25 18:07] AndriyNesterenya commented on #1260
При этом тест настроек API проходит, но кнопка Импортировать неактивна.
Изменение настроек API у доп фирмы меняет настройку API основной фирмы.

[2020-01-01 08:11] Illya-Lykhachov commented on #1230
Лучше этого не делать - не все поймут.
При выплате аванса берётся **только** сумма начисленная минус удержания (без учёта состояния взвиморасчётов с сотрудниками). Выплата задолженности наоборот не учитывает какие-либо документы, только задолженность. Т.е. суммы в расчётной ведомости прямо не связаны с суммой выплаты.
Пообщался с пользователем, она вообще не поняла сама логики сумм документов аван

[2020-01-01 08:13] Illya-Lykhachov opened #1261 "Отчёт "расчётный листок" для сотрудника и всех сотрудников предприятия"

[2020-01-02 07:54] AlexeyTishkin commented on #1259
Добавил.

[2020-01-02 07:56] AlexeyTishkin commented on #1217
Сделал.

[2020-01-02 08:16] #1259 closed, assigned to AlexeyTishkin

[2020-01-02 08:27] AlexeyTishkin commented on #1258
Колонка "Дата операцiї" с временем. При импорте ошибка: Invalid external date 20.12.2019 10:40

[2020-01-02 08:31] #1243 closed, assigned to alex-kukhtin

[2020-01-02 09:42] AndriyNesterenya opened #1262 "Новая форма платежки и т.п. с 13.01.2020"
Нужна новая форма платежек и чеков до 13.01.2020 - пора убрать МФО
Подробности:
https://news.dtkt.ua/state/cash-handling/58929
https://bank.gov.ua/legislation/Resolution_06112019_127

[2020-01-02 09:50] alex-kukhtin commented on #1258
Done (02.01.20)

[2020-01-02 09:51] alex-kukhtin commented on #902
Done (02.01.20)

[2020-01-02 09:55] AndriyNesterenya commented on #1262
![image](https://user-images.githubusercontent.com/38098758/71661408-c001c400-2d56-11ea-97a0-fdf29a706499.png)

[2020-01-02 09:56] AndriyNesterenya commented on #1262
![image](https://user-images.githubusercontent.com/38098758/71661485-f8090700-2d56-11ea-8337-1701186f32c9.png)

[2020-01-02 10:01] AndriyNesterenya commented on #1262
Зацепить должно формы:

- платіжного доручення;
- платіжної вимоги-доручення;
- платіжної вимоги;
- розрахункового чека;
- інкасового доручення.

[2020-01-02 10:10] #902 closed, assigned to alex-kukhtin

[2020-01-02 11:22] alex-kukhtin commented on #1260
Done (02.01.20).
Проверяйте ВНИМАТЕЛЬНО!

[2020-01-02 11:24] alex-kukhtin commented on #1255
done

[2020-01-02 13:59] alex-kukhtin commented on #1253
Done (02.01.20)

[2020-01-02 14:01] alex-kukhtin opened #1263 "Оплата счета в ЛК"
Формат платежки левый
И, дополнительно, при экспорте в Word вадиковы выравнивалки пустыми клетками.

[2020-01-02 16:55] #1253 closed, assigned to alex-kukhtin

[2020-01-02 16:56] #1260 closed, assigned to alex-kukhtin

[2020-01-02 17:47] AndriyNesterenya commented on #1255
Поиск отрабатывает четко.
Поломалось отображение фирм (предположительно на 2м сегменте).
![image](https://user-images.githubusercontent.com/38098758/71682501-95385f80-2d98-11ea-9081-730a48bf3bf9.png)
в старом тестовом тенанте с моими ЕДРПОУ фирмы во всплывалке показываются,
в свежесозданном аккаунте - нет

[2020-01-03 14:35] AlexeyTishkin commented on #1262
У только "Платежное поручение".

[2020-01-03 14:35] AlexeyTishkin commented on #1262
Сделал.

[2020-01-03 14:35] AlexeyTishkin commented on #1263
Сделал новую форму.

[2020-01-03 20:46] #1263 closed, assigned to AlexeyTishkin

[2020-01-04 13:13] kattrina-brekhova opened #1264 "Новая форма декларации на прибыль - уже за 1 квартал 2020"
https://news.dtkt.ua/accounting/reposts/59657

[2020-01-04 13:15] kattrina-brekhova opened #1265 "Новая форма декларации по НДС - за январь 2020"
https://news.dtkt.ua/accounting/reposts/59899

https://news.dtkt.ua/accounting/reposts/59813

[2020-01-04 13:16] #1217 closed, assigned to AlexeyTishkin

[2020-01-04 13:17] #867 closed, assigned to alex-kukhtin

[2020-01-04 13:17] #559 closed, assigned to alex-kukhtin

[2020-01-04 16:00] alex-kukhtin commented on #1255
Проверь, плиз.
Вроде сделал все, что сязано с сегментами.

[2020-01-04 18:03] #1258 closed, assigned to alex-kukhtin

[2020-01-04 18:04] #1255 closed, assigned to alex-kukhtin

[2020-01-04 18:04] #1158 closed, assigned to alex-kukhtin

[2020-01-04 20:24] AndriyNesterenya opened #1266 "Исчезла возможность поменять Основной счет"
После убирания счетов из реквизитов фирмы нельзя переставить галку "Основной" с первого созданного счета на любой другой, созданный позже.

У первого созданного счета есть чекбокс "Основний"
![image](https://user-images.githubusercontent.com/38098758/71771246-bcca2c00-2f40-11ea-9ad7-ebb59b4dc19b.png)

у всех последующих - нет
![image](https://user-images.githubusercontent.com/38098758/71771248-c52

[2020-01-04 20:48] alex-kukhtin commented on #1266
Леша. Все последующие - сделаны клиент-банком.
И они ВАЛЮТНЫЕ (но в гривне!)

[2020-01-05 10:07] AlexeyTishkin commented on #1266
Исправил.

[2020-01-05 10:13] AlexeyTishkin commented on #1265
Есть описание изменений (что добавили/изменили/убрали) ?

[2020-01-05 10:41] kattrina-brekhova commented on #1265
пока нахожу крохи. на следующей неделе изучу еще источники, повыбираю

[2020-01-06 09:25] alex-kukhtin opened #1267 "Счет в банке. Не запоминается корр. счет."
А он вообще нафига там нужен? Может выкинуть его нахрен?

[2020-01-06 09:30] htrofymova commented on #1149
Добавлены 2 операции:
Платеж контрагенту - Резервування коштів під банківську гарантію : Дт 313 — Кт 311;
Входящий платеж - Повернення суми банківської гарантії: Дт 311 — Кт 313.
Для комиссии банка есть операция - Оплата банківських послуг.

[2020-01-06 17:07] #1266 closed, assigned to AlexeyTishkin

[2020-01-06 17:08] #1262 closed, assigned to AlexeyTishkin

[2020-01-06 17:25] AndriyNesterenya opened #1268 "Косяки при печати незаполненного счета или инвойса."
Мелкий не особо важный косяк:
Если в незаполненном исходящем счете (не выбран плательщик и номенклатура одновременно и не добавлено строк) нажать на "Надрукувати" - получается вот такая некрасивость:
![image](https://user-images.githubusercontent.com/38098758/71834858-e0b07d80-30b8-11ea-971c-1bd346ac88ca.png)

Если хоть что-то выбрать или добавить строк - печатается нормальная форма с таблицей.
Та

[2020-01-06 19:56] AndriyNesterenya commented on #1149
Упражнялся на своем реальном кейсе.

Нашел в выписке платежи по гарантии - реквизиты есть.
![image](https://user-images.githubusercontent.com/38098758/71844533-08aadb80-30cf-11ea-830b-b8d2281287b0.png)

выбираю операцию "Резервування коштів під банківську гарантію" - все пропало
![image](https://user-images.githubusercontent.com/38098758/71844627-355ef300-30cf-11ea-8b1c-599cb8592b8e.png)

с возвра

[2020-01-07 10:52] alex-kukhtin commented on #583
Done (7608)
Сделан акселератор в TextBox.
Посмотреть можно в Продажі / Операції (бета) / Рахунок

[2020-01-07 11:12] alex-kukhtin commented on #1119
Закрывайте это нафиг. Непонятно, что с этим делать.

[2020-01-08 15:16] AlexeyTishkin commented on #1267
Используется в реквизитах в Инвойсе.

[2020-01-08 15:16] AlexeyTishkin commented on #1267
Исправил.

[2020-01-08 17:31] kattrina-brekhova commented on #1265
собираю с миру по нитке
это еще осенняя информация, когда был проект приказа

внесення змін до форми податкової декларації з ПДВ, зокрема:

додатка 6, доповнивши його відповідними реквізитами (код пільги, сума пільги тощо);
додатка 4, виключивши дві графи „МФО” та їх цифрові поля.
Крім того, проєктом наказу передбачено внесення змін до Розрахунку податкових зобов’язань, нарахованих отримувачем пос

[2020-01-08 17:43] kattrina-brekhova commented on #1265
вот приказ, которым вносятся изменения в отчетность НДС
https://tax.gov.ua/zakonodavstvo/podatkove-zakonodavstvo/nakazi/74175.html

вносять зміни до:

форми податкової декларації з ПДВ;
уточнюючого розрахунку податкових зобов’язань із ПДВ у зв’язку з виправленням самостійно виявлених помилок;
Розрахунку податкових зобов’язань, нарахованих отримувачем послуг, не зареєстрованим як платник податку на

[2020-01-08 18:02] htrofymova commented on #1221
готово

[2020-01-08 19:55] alex-kukhtin commented on #1071
Делается через catchError в $invoke. Примерно так

[code]

[2020-01-08 19:57] #1267 closed, assigned to AlexeyTishkin

[2020-01-09 11:10] AlexeyTishkin commented on #1246
Это управляется параметрами экспорта. В команде экспорта нужен доступ к этим параметрам.
![image](https://user-images.githubusercontent.com/35917940/72062722-07e99380-32e1-11ea-922e-6124f5f7486c.png)

[2020-01-09 11:20] #1071 closed, assigned to alex-kukhtin

[2020-01-09 11:57] alex-kukhtin commented on #1246
Сделал в 7610.
Сделал "по умолчанию". Выключать не понадобиться, как по мне.
После релиза проверишь и закроешь issue.

[2020-01-09 11:59] alex-kukhtin commented on #874
Закрывайте этот issue.
Только глаза мозолит. Все равно никто ничего делать из этого не будет.

[2020-01-09 12:33] Anestezia opened #1269 "При нажатии на цифру (синюю) оборотов в ОСВ в Мозиле открывается меню перехода в другие отчеты, но курсор проходит насквозь."

[2020-01-09 12:39] Anestezia opened #1270 "В Митну декларацію в правое меню добавить операцию с названием Перерахування коштів іншим дебіторам (в т.ч. Митних платежів)"
Или просто назвать Перерахування Митних платежів в списке документов, созданных на основании, а внутри пусть это будет все та же Перерахування коштів іншим дебіторам.

[2020-01-09 13:21] #1221 closed, assigned to htrofymova

[2020-01-09 13:29] kattrina-brekhova commented on #1265
собранные изменения в декларации ндс + додатки + уточненке

https://drive.google.com/file/d/12Jd1zSiA_z-MeI7OqHZlv4xZ7QfB6UNx/view?usp=sharing

форму расчета ндс обязательств неплательщика ндс по операциям приобретения у нерезидентов  скачивайте отсюда в экселе https://tax.gov.ua/zakonodavstvo/podatkove-zakonodavstvo/nakazi/74175.html

у меня при выгрузке и загрузке на гугл док меняется размер яче

[2020-01-09 13:30] alex-kukhtin commented on #1269
Исправил. Будет в следующем билде (7610).
После релиза, когда обновится билд, надо будет проверить и закрыть этот issue.

[2020-01-09 13:33] kattrina-brekhova commented on #1264
по этому отчету измененения подготовлю позже

[2020-01-09 15:13] AndriyNesterenya opened #1271 "Перезагружать страницу при первичном вводе реквизитов Моей фирмы"
Уже несколько обращений с проблемами было из-за того, что при заполнении реквизитов базовой "моей фирмы" с приветственного окна после регистрации главное окно не перегружается, в селекторе выбора фирм остается Моя фирма, народ тупит и начинает новые создавать.

Оч. хочется после сохранения данных в мастере Моей фирмы перегружать главное окно, как мы это делаем при создании дополнительных фирм

[2020-01-09 16:17] Anestezia opened #1272 "Подсказка по Свифт коду не видна, появляется скрол."
![image](https://user-images.githubusercontent.com/42540074/72084054-7d6a5980-330b-11ea-8025-992955b9db45.png)

[2020-01-09 16:19] Anestezia commented on #1272
Также нет валидатора при введении Свифт-кода на отечественный банк. Можно вводить любой формат.

[2020-01-10 08:24] #1246 closed, assigned to alex-kukhtin

[2020-01-10 08:51] #1159 closed, assigned to alex-kukhtin

[2020-01-10 08:51] #583 closed, assigned to alex-kukhtin, AlexeyTishkin

[2020-01-10 08:51] #1257 closed, assigned to alex-kukhtin

[2020-01-10 09:19] Anestezia commented on #1269
сейчас проверила. На деве работает в мозиле

[2020-01-10 09:19] #1269 closed, assigned to alex-kukhtin

[2020-01-10 09:24] #874 closed, assigned to alex-kukhtin, Illya-Lykhachov, AlexeyTishkin, htrofymova

[2020-01-10 10:04] AlexeyTishkin commented on #1250
Сделал.

[2020-01-10 10:36] AlexeyTishkin commented on #1245
Исправил.

[2020-01-10 11:24] #1245 closed, assigned to AlexeyTishkin

[2020-01-10 11:25] AlexeyTishkin commented on #1272
Отображение сообщения исправил.

[2020-01-10 11:26] AlexeyTishkin commented on #1272
Повторить не смог. Подробней.

[2020-01-10 11:32] AlexeyTishkin commented on #1268
Кнопки "Надрукувати", "Експортувати" отображаются только после ввода пользователем каких-то данных.

[2020-01-10 13:54] AlexeyTishkin commented on #1027
Добавил.

[2020-01-10 15:19] AndriyNesterenya opened #1273 "Добавить название компании на печатные отчеты"
У нас сейчас на печатных кроме собственно данных печатается 1) название самого отчета/ведомости +2) период
Типа
"Загальна оборотно-сальдова відомість
Період: 09.01.2020"

С введением мультифирменности ИМХО нужно выводимть еще и название фирмы, иначе будут путаться.

[2020-01-10 15:38] alex-kukhtin commented on #1273
А теперь, пожалуйста, список отчетов в студию.
Поскольку искать будет напряжно.

[2020-01-10 16:13] AndriyNesterenya opened #1274 "Возможность переназначения основной фирмы или ее удаления."
Назрела необходимость реализовать возможность для клиента переназначать "основную" фирму, создаваемую при регистрации, с целью ее удаления.

Критически важно для
1. Аутсорсеров, у которых состав ведущихся в БКПР фирм может тасоваться произвольным образом, и которых становится все больше.
2. Слепых дебилов, которые окна приветствия не читают, не догадываются заполнить "Мою фирму" и начинают добавля

[2020-01-10 22:07] #1268 closed, assigned to AlexeyTishkin

[2020-01-11 11:08] Anestezia opened #1275 "В расчет при увольнении добавить Ведомость на выплату"

[2020-01-11 14:32] #1119 closed, assigned to alex-kukhtin

[2020-01-12 14:11] AndriyNesterenya commented on #1273
По большому счету ВСЕ наши отчеты (которые Звіти в левом меню каждого раздела) инфы о фирме не содержат.
ИМХО достаточно в верхней строке каждого отчета выводить имя текущей фирмы + ЕДРПОУ.
Если хочешь - слеплю полный перечень.

[2020-01-12 14:14] AndriyNesterenya commented on #1273
ЗЫ Оборотна відомість по складу,  которая присутствует в списке Звітів в разделах Купівля-Продаж-Запаси (http://dev.a2start.com/reports/entities/warehouseturnoversheetentity/) это один отчет с разными параметрами или три разных отчета?

[2020-01-12 14:15] alex-kukhtin commented on #1273
Если урл один - то один отчет. Если разные - то разные.

[2020-01-12 14:23] alex-kukhtin commented on #1273
Мне надо, чтобы кто-то (например ты :-) составил себе полный список отчетов и заставил/проконтролировал, чтобы это было добавлено везде.
Иначе будет как всегда.

[2020-01-13 09:12] AndriyNesterenya commented on #1273
- [x] Відомість за розрахунками з покупцями/постачальниками (Купівля-Продаж)
http://dev.a2start.com/reports/agents/turnoversheetagent631/

- [x] Відомість за розрахунками з покупцями/постачальниками в валюті (Купівля-Продаж)
http://dev.a2start.com/reports/agents/turnoversheetagent632/

- [x] Відомість за розрахунками з іншими дебіторами  (Купівля)
http://dev.a2start.com/reports/agents/turnovershee

[2020-01-13 09:58] Anestezia commented on #1275
1. В этот документ "Розрахунок зарплати при звільненні" добавить
еще один раздел  - "Розрахунки" В нем показать развернутую сумму по 661 счету на дату и соответственно "К выплате"
2. Сделать нормальную печатную форму с разделом "Стан розрахунків на дату".

[2020-01-13 11:58] #1272 closed, assigned to AlexeyTishkin

[2020-01-13 12:05] Anestezia opened #1276 "Приват-выписка выдает ошибку на некоторые входящие платежи"
[0000001733664869.1.0.zip](https://github.com/a2develop/bugTracker/files/4053421/0000001733664869.1.0.zip)
![image](https://user-images.githubusercontent.com/42540074/72254700-8447e380-360d-11ea-86d6-39331cd0bb6c.png)
Пробовали старый и новый период устанавливать пробовали.

Я нашел ошибку.
Связана с тем. что добавляли привязку настроек клиент-банка к фирме.

[2020-01-13 13:57] Anestezia commented on #1273
Предлагаю также внизу подписантов добавить. Может пригодиться.

[2020-01-13 14:40] Anestezia opened #1277 "Начисление налогов для ФОП - Неправильный подсчет, если в периоде были изменения ставки и т.д."
1. Кейс: ФОП зарегился с начала мая, первый месяц, согласно законодательства, работает на Общей системе. По факту доходов не получал — ждал, когда перейдет на ЕП, так как нужно РРО ставить.
Насчитываем налоги: Берем сразу 2 квартал 2019 года. Нажимаем в документе Бух.справка - Начисление налогов Розрахувати.
Соответственно, за 4 месяц удаляем налоги, так как вообще не были зарегены, за 5 месяц ост

[2020-01-13 15:38] Anestezia opened #1278 "Отчет ФОП по Единому пенсионному взносу (за себя) - Срочная доработка"
1. Автоматом подставляется база начисления за 2018 год вместо сумм за 2019.
![image](https://user-images.githubusercontent.com/42540074/72268762-17dbdd00-362b-11ea-9d5e-84ff48dc3fe5.png)
2. И еще из наблюдений, нет привязки к дате начала деятельности, в том числе, и к той, которая непосредственно указана в основной таблице, и к той, согласно которой создан документ Начисление налогов
![image](http

[2020-01-13 17:15] #1276 closed, assigned to nobody

[2020-01-13 17:17] alex-kukhtin commented on #1254
Связано с последними изменениями (catchError)
Надо бы добавить

[2020-01-14 11:39] Illya-Lykhachov commented on #1273
В Розрахункові листи название и подпись не нужны. Этот отчёт печатается и нарезается на куски. Каждому сотруднику по куску

[2020-01-14 11:58] #1261 closed, assigned to Illya-Lykhachov

[2020-01-14 14:10] htrofymova commented on #1273
В Инвентрной карте необоротных активов - это не лажа. Инвентарная карта строится не за период , а на конец выбранного периода, потому так и написано в заголовке.

[2020-01-14 14:14] alex-kukhtin commented on #1273
Значит надо убрать возможность выбора "За все время" и написать более понятно метку.

[2020-01-14 14:29] htrofymova commented on #1273
Почему убрать? Это нормальный выбор для этого отчета. И почему не  понятно написано?

[2020-01-14 21:49] AndriyNesterenya opened #1279 "Интеграция с "Лига - контрагент""
Jira: [https://bookkeeper.atlassian.net/browse/BKS-27](https://bookkeeper.atlassian.net/browse/BKS-27)

Реализовать проверку контрагента средствами Liga - Контрагент (https://ca.ligazakon.net/)
API: https://democa.ligazakon.net/api .

![image](https://user-images.githubusercontent.com/38098758/72385488-44c1ea00-3728-11ea-91b1-a307032da292.png)
Цвет # f05e22

Предлагаемая схема взаимодействия **на

[2020-01-14 21:56] AndriyNesterenya opened #1280 "Импорт документов (счет, ПН, РН, Акт и др) из внешних источников (просили 1С) поштучно"
Jira: https://bookkeeper.atlassian.net/browse/BKS-28

Реализовать возможность импорта документов :
**Счет
Приходная накладная
Расходная накладная
Акт**
**_Z-отчет
Продажи за день_**

Идея: При создании документа соотв. типа отображать дополнительную кнопку "Импортировать из файла" с возможночтью импорта XML-файла соотв. формата.
Форматы XML придумываем сами, утверждаем и сообщаем 1Сникам.

[2020-01-15 05:39] Illya-Lykhachov commented on #1273
![image](https://user-images.githubusercontent.com/35328100/72407930-d867da80-3769-11ea-9f7d-d3b1d3166636.png)

Для этого отчёта нелогичен именно период. Ведь нужна только **одна** дата. Стоит заменить контрол в фильтре на DateTimePicker

[2020-01-15 10:42] htrofymova commented on #1273
готово

[2020-01-15 12:37] htrofymova commented on #1277
исправлено

[2020-01-15 15:59] #1250 closed, assigned to AlexeyTishkin

[2020-01-15 16:03] AndriyNesterenya commented on #1273
Уберите Done
Названий на документах не видно пока

[2020-01-16 11:45] AlexeyTishkin commented on #1218
Почему есть сумма - понятно.
Если нужно менять алгоритм заполнения, то отдельный issue с описанием алгоритма.

[2020-01-17 16:16] alex-kukhtin opened #1281 "Перенести FiscalEnums в Segment с TenantId = 0."
И переделать все места, где вызывается отдельный invoke,

[2020-01-18 10:52] AndriyNesterenya opened #1282 "Кнопку Экспорт в XML во всех непроведенных регламентированных отчетах не скрывать, а отображать как Disabled"
Кнопку Экспорт в XML во всех непроведенных регламентированных отчетах не скрывать, а отображать как Disabled

Новые юзера дергаются и нервничают, когда не видят возможности экспортнуть.

[2020-01-18 12:15] alex-kukhtin commented on #1282
Ну и в лучших (новых) традициях - найти все эти отчеты и написать здесь их список.
Это надо сделать Леше.
Чтобы тестировщик мог проверить.

[2020-01-19 09:19] AndriyNesterenya opened #1283 "Рабочие графики - 6-дневная неделя"
Хотелка от клиента:
"в зарплатній відомості за замовчуванням указана 5 дений робочий день. Та у нас 6ти дений робочий день. Нам потрібно щоб було вказано 25 робочих днів, але були незміні 160 годин."

![image](https://user-images.githubusercontent.com/38098758/72678312-52bb9600-3aad-11ea-9829-cb85e25bb396.png)

![image](https://user-images.githubusercontent.com/38098758/72678319-5ea75800-3aad-11ea

[2020-01-19 20:14] AndriyNesterenya opened #1284 ""Колонтитулы" в счетах - реализовать отдельные для всех фирм тенанта."
Выяснилось, что у нас крайне полезная фишка Верхний и Нижний колонтитулы в исходящем счете привязана не к текущей фирме, а к общему аккаунту.
При переключении фирмы колонтитулы не меняются.

Надо бы исправить.

[2020-01-20 09:34] kattrina-brekhova commented on #1248
в хэлпе нет смысла это писать, потому что нет прямой ссылки на соответствую страницу в хэлпе (и нет самой страницы)
может есть смысл 1-2 предложениями это здесь написать?
![image](https://user-images.githubusercontent.com/38099938/72715263-d42c2a80-3b78-11ea-9f16-fcfeb4d53187.png)

[2020-01-20 10:04] AndriyNesterenya opened #1285 "ОС для Неприбыльных - много и подробно"
От Зои Степановой:

Здравствуйте.
Возможно сия проблема проявляется конкретно для неприбыльных предприятий (НП).
Начну с просьбы-заказа: необходимо вашим аналитикам уточнить нюансы учета ОС в НП, и доработать эту ветку. Кратко поясню: судя по результату - формируемым проводкам - в Буккипере (БК) заложено однозначное соответствие, что если предприятие является НП, то вдобавок к стандартным проводка

[2020-01-20 12:38] kattrina-brekhova opened #1286 "Приходный кассовый ордер на возврат денег поставщиком: не подтягивает документ-основание - у меня это накладная на возврат"
вот возвратная накладная
![image](https://user-images.githubusercontent.com/38099938/72726874-2d548800-3b92-11ea-89e2-9b98410d6c88.png)

в приходном кассовом ордере строка "документ-основание" не активны
![image](https://user-images.githubusercontent.com/38099938/72726984-74427d80-3b92-11ea-89d7-d979e851fcf5.png)

[2020-01-20 13:25] Anestezia commented on #1230
[Ведомость.docx](https://github.com/a2develop/bugTracker/files/4086347/default.docx)
Такую ведомость 1С выдает.

[2020-01-20 13:59] Illya-Lykhachov commented on #1275
Сделал специальную печатную форму для увольнения.

[2020-01-20 14:17] kattrina-brekhova opened #1287 "Прибутковий касовий ордер на отримання цільового фінансування: какая-то лажа со строкой-селлектором "Вид надходжень" в самой форме документа"
в правой части документа все отлично выбрает
![image](https://user-images.githubusercontent.com/38099938/72733304-42d0ae80-3ba0-11ea-816f-48de6b66a7d9.png)

а в самом документе при входе в селлектор не видно названия рядов для выбора
![image](https://user-images.githubusercontent.com/38099938/72733345-5845d880-3ba0-11ea-87f0-867e638b6220.png)

[2020-01-20 14:35] htrofymova commented on #1287
не подтверждается

[2020-01-20 16:05] kattrina-brekhova commented on #1287
прикольно
у меня уже тоже получилось

[2020-01-20 16:05] #1287 closed, assigned to nobody

[2020-01-21 09:21] Anestezia commented on #1218
А если добавить сразу сообщение всплывающее, чтоб бухгалтер уже сам выбирал, в какую ячейку закинуть эту погрешность? С себя ответственность снимем, клиента предупредим, что имеет место погрешность.

Возможно, с полным разворотом расчета со знаками после запятой в тыс.грн.
Или сделать внутренний отчет-расшифровку (Детальніше, как в документе Нарахування податків) и там эту информацию предоставить.

[2020-01-21 09:41] AlexeyTishkin commented on #1218
Как именно расшифровывать ? Вот в этом конкретном случае что должно быть написано ?

[2020-01-21 09:42] AlexeyTishkin commented on #1218
Для этого нужно самим понимать какие варианты есть.

[2020-01-21 13:27] AlexeyTishkin commented on #1265
Сделал: Податкова декларація з податку на додану вартість (J0200121, F0200121), Приложение 1 - Розрахунок коригування сум податку на додану вартість (J0200521, F0200421), Приложение 5 - Розшифровки податкових зобов'язань та податкового кредиту в розрізі контрагентів (J0215121, F0215121).

[2020-01-21 16:40] kattrina-brekhova opened #1288 "операция Перерахування коштів з поточного на дпв-рахунок: в предварительном показе проводок фигурирует проводка д311-к333. нужна д315-к333"

[2020-01-21 21:11] htrofymova commented on #1278
готово

[2020-01-22 08:53] alex-kukhtin opened #1289 "Клиент-банк загрузка выписки. Сделать кнопку "Очистить""
После загрузки файла есть возможность только загрузить выписку.
Если я ошибся, и выбрал не тот файл, то повторить невозможно. Надо закрывать окно и начинать по новой.
Надо сделать кнопку "Очистить", чтобы можно было повторить загрузку файла.

[2020-01-22 09:38] Anestezia opened #1290 "В Нарахуванні авансу сделать возможным редактирование дней и часов по графику с закреплением при дальнейших расчетах"
![image](https://user-images.githubusercontent.com/42540074/72882680-b216e180-3d0b-11ea-8a8d-f82327f9217f.png)
![image](https://user-images.githubusercontent.com/42540074/72882694-b93def80-3d0b-11ea-8cc9-15915a606453.png)

[2020-01-22 11:26] alex-kukhtin opened #1291 "Добавить группу объектов в отчеты"
![image](https://user-images.githubusercontent.com/26379138/72890525-bd253e00-3d1a-11ea-937b-7356047d90df.png)

[2020-01-22 11:26] alex-kukhtin commented on #1291
И во все отчеты, связанные с объектами учета.

[2020-01-22 11:29] alex-kukhtin commented on #1291
![image](https://user-images.githubusercontent.com/26379138/72890713-358bff00-3d1b-11ea-8fbb-677baf27935e.png)

Сюда тоже

[2020-01-22 11:30] alex-kukhtin commented on #1291
Стар, перенеси эту лабуду в Jira и разбей на подзадачи

[2020-01-22 13:24] kattrina-brekhova opened #1292 "Ведомость амортизации"
У клиента 3 000 объектов ОС
При заполнении ведомости амортизации БК пишет, что недопустимое кол-во строк
какой там запрет?

[2020-01-22 14:08] alex-kukhtin opened #1293 "Оборотка по счету в банке. Расшифровка. Неправильный урл."
![image](https://user-images.githubusercontent.com/26379138/72900919-6d9e3c80-3d31-11ea-8aec-3fdab8cdfb8a.png)

[2020-01-22 14:09] alex-kukhtin commented on #1293
Если нажать оранжевую кнопку - появляется очень странное окно.

[2020-01-22 15:24] AlexeyTishkin commented on #1265
Сделал: Уточнюючий розрахунок податкових зобов'язань з податку на додану вартість у зв'язку з виправленням самостійно виявлених помилок (J0217021, F0217021).

[2020-01-22 16:04] Anestezia opened #1294 "Нумерацию Налоговых накладных сделать не строгой, чтоб редактировать можно было."
У некоторых нумерация НН начинается с каждого месяца сначала, а система не дает исправить.

[2020-01-22 17:40] alex-kukhtin commented on #1271
Done (7619)

[2020-01-23 09:29] AlexeyTishkin commented on #1265
Сделал: Розрахунок податкових зобов’язань, нарахованих отримувачем послуг, не зареєстрованим як платник ПДВ, які постачаються нерезидентами, у тому числі їх постійними представництвами, не зареєстрованими платниками податків, на митній території України (J0215521, F0215521).

[2020-01-23 10:36] AlexeyTishkin opened #1295 "Придбання/Продажі - Операції (beta)"
Пересмотреть принцип группировки/сортировки списка документов.

[2020-01-23 10:46] Anestezia commented on #1277
Считает правильно, но даже после обновления страницы в списке отображается полная сумма
![image](https://user-images.githubusercontent.com/42540074/72977811-ee1a7700-3ddd-11ea-8183-f0a5fe141de0.png)
![image](https://user-images.githubusercontent.com/42540074/72977863-04c0ce00-3dde-11ea-924a-86d8567d888d.png)
как минимум, одна сумма такая должна быть.
В отчете также показывается полная возможная су

[2020-01-23 10:53] Anestezia commented on #1278
Все правильно подставляется, внизу подсчет по всем колонкам есть. Тут одна маленькая заковыка: с одной стороны нужны нули при заполнении 3 столбца, когда удалили сумму. Но что делать с нулями за все полугодие?
![image](https://user-images.githubusercontent.com/42540074/72978455-2e2e2980-3ddf-11ea-8095-8975f3476dce.png)
Предлагаю оставить там редактируемое значение. При удалении пусть будет пусто,

[2020-01-23 11:06] #1228 closed, assigned to nobody

[2020-01-23 11:07] #1027 closed, assigned to AlexeyTishkin

[2020-01-23 12:01] Anestezia commented on #1034
Это точно не правильно:
![image](https://user-images.githubusercontent.com/42540074/72982738-769e1500-3de8-11ea-9938-bf4a8dadbd68.png)
![image](https://user-images.githubusercontent.com/42540074/72982796-91708980-3de8-11ea-9919-037112875eb4.png)
Тут бы кнопку по аналогии с НДС -- Комиссия в т.ч. и ставить сумму комиссии не на 361 счет, а на 92/93. Сумма по налоговой накладной тоже должна закрывать

[2020-01-23 12:37] #1265 closed, assigned to AlexeyTishkin

[2020-01-23 12:40] kattrina-brekhova commented on #1218
изучала этот кейс
неравенства могут быть, такое случается
дельту округлений нужно вводить в строки баланса, которые не проверяется
например, строки по налогам, по зарплате, по расчетным счетам, по установному капиталу вносить не нужно
а вот в строках запасов, дебиторки и кредиторки можно отразить эту дельту

[2020-01-23 12:43] AlexeyTishkin commented on #1218
Вместо 1420 в какую именно строку переместить ?

[2020-01-23 12:54] htrofymova commented on #1277
не могу повторить

[2020-01-23 13:00] kattrina-brekhova commented on #1218
если отвечать прямо, то скорее сюда подойдут следующие строки (если это Баланс) 1100 (1101, 1102, 1103, 1104), 1125, 1615
если это отчет субъекта малого предпринимательства, то строки: 1100, 1125, 1615
если это упрощенный отчет субъекта малого предпринимательства, то: 1100, 1155, 1615

[2020-01-23 13:23] Anestezia opened #1296 "Внесення майна до статуту - при введении нескольких объектов разных типов все идет на один счет"
![image](https://user-images.githubusercontent.com/42540074/72988015-2a58d200-3df4-11ea-8b1b-1910fefe9811.png)
все они в этом списке. Авто - ос, идея - немат, дымоход - інші. Проводки другие должны быть:

[2020-01-23 14:21] #1278 closed, assigned to htrofymova

[2020-01-23 14:21] Anestezia commented on #1278
В хмл идет без нулей. Это только визуально так. Закрываю.

[2020-01-23 16:37] Anestezia opened #1297 "Получение дивидендов добавить в операции платежи полученные."
Одно предприятие может получать дивиденды от другого.

[2020-01-23 16:44] kattrina-brekhova opened #1298 "сделать и открыть для черновицкого ун-та аккаутны для студентов. нужно к 1 февраля"

[2020-01-23 16:45] #1271 closed, assigned to alex-kukhtin

[2020-01-23 17:15] AlexeyTishkin commented on #1297
Проводки ?

[2020-01-23 17:25] Anestezia opened #1299 "НН нерезиденту, тип причины 12"
Скорее всего надо ставить название контрагента. Сейчас у нас автоматом ставится просто Неплатник.

![photo_2020-01-23_19-24-18](https://user-images.githubusercontent.com/42540074/73007939-2473e880-3e16-11ea-9d61-380f00b1c81d.jpg)

Постачання товарів (послуг) особам, названим у п. 10 Порядку № 1307 (це дипломатичні місії в Україні, особи із числа дипломатичного персоналу цих дипломатичних місій і ч

[2020-01-23 18:30] Anestezia opened #1300 "Дополнения 1 и 5 к Уточненке НДС воспринимаются как основные Доп.1,5 в Декларации и не проводятся в одинаковом периоде."

[2020-01-23 18:33] #1277 closed, assigned to htrofymova

[2020-01-24 07:39] alex-kukhtin opened #1301 "Банківська виписка - не запрещаются ПДВ/без ПДВ"
В проведенной строке выписки не запрещаются радиокнопки "ПДВ/без ПДВ"
![image](https://user-images.githubusercontent.com/26379138/73052271-67bd6e00-3e8d-11ea-83bf-930ffb2db3f8.png)

[2020-01-24 10:01] AndriyNesterenya commented on #1280
Импорт счетов просят еще и туристы.
Задумали варианты документооборота с тамошней отраслевой системой Титбит

[2020-01-24 16:08] AlexeyTishkin commented on #1300
В Приложениях, которые создаются из уточняющего расчета добавлено свойство "Номер нового звітного/уточнюючого документа". При создании равно 1.
Принцип следующий: первое подаваемое приложение имеет тип "Звітний" и номер равный 0 (в этом случае номер указывать не надо и он не отображается). Для каждого последующего приложения этого же типа для данного отчётного периода тип должен быть "Звітний нови

[2020-01-24 16:09] AlexeyTishkin commented on #1300
Тестируем [здесь](https://github.com/a2develop/testing/issues/467)

[2020-01-27 16:45] kattrina-brekhova opened #1302 "Бухгалтерская справка - формирование уставного фонда: не правильно формирует проводку: Д401-К401"
в самой бух справке правильно Д46 -К401
![image](https://user-images.githubusercontent.com/38099938/73194552-091a1d80-4135-11ea-8e30-e1f80e117abc.png)

но зайдя в проводки не правильно:
![image](https://user-images.githubusercontent.com/38099938/73194571-12a38580-4135-11ea-93b8-69b6a6ea2650.png)

![image](https://user-images.githubusercontent.com/38099938/73194594-1931fd00-4135-11ea-8278-922ec951e

[2020-01-27 16:47] kattrina-brekhova opened #1303 "не подается баланс (фин отчет субъекта малого предпринимательства) через сонату и не сохраняем в xml"
![image](https://user-images.githubusercontent.com/38099938/73194816-70d06880-4135-11ea-9771-02ddfee5740a.png)
![image](https://user-images.githubusercontent.com/38099938/73194842-7b8afd80-4135-11ea-826d-dd7dd0870832.png)

[2020-01-27 16:54] kattrina-brekhova commented on #1303
упрощенный отчет малого сбъекта малого предпринимательства тоже не подается
и полноценный Баланс не подается

[2020-01-28 01:38] htrofymova commented on #1302
исправлено

[2020-01-28 09:30] AlexeyTishkin commented on #1303
Исправлено.

[2020-01-28 10:57] htrofymova commented on #1286
Возникли вопросы: что к чему привязывать, касается также и платежного поручения:
1. Если приходная накладная не оплачена?
2. Если приходная накладная оплачена?
3. Если это услуги и оплачен выставленный счет, акта нет?
4. Если услуги и акт есть?
5. Если услуги и нет ни счета, ни акта, оплатили по договору?
6. По товару, наверно, тоже могут оплатить аванс без счета по договору.
7. А вот тут вот прос

[2020-01-28 11:20] AlexeyTishkin commented on #1198
Вместо выбора счета добавлена отдельная операция "Безоплатне одержання необоротних активів".
Тестирование [здесь](https://github.com/a2develop/testing/issues/472).

[2020-01-28 14:57] AlexeyTishkin commented on #1282
Список основных отчетов:

F0103306 Податкова декларація платника єдиного податку - фізичної особи - підприємця (квартальна)
F0103404 Податкова декларація платника єдиного податку - фізичної особи - підприємця (річна)
F0100702 Податкова декларація з податку на прибуток підприємств
J0100117 Податкова декларація з податку на прибуток підприємств
F0200121 Податкова декларація з податку на додану варті

[2020-01-28 15:20] AlexeyTishkin commented on #1301
Исправил.

[2020-01-28 15:21] AlexeyTishkin commented on #1289
Добавил.

[2020-01-28 15:35] AlexeyTishkin commented on #1282
Сделал.

[2020-01-28 15:36] AlexeyTishkin commented on #1273
Сделано.

[2020-01-28 20:08] #1301 closed, assigned to AlexeyTishkin

[2020-01-28 20:08] #1289 closed, assigned to AlexeyTishkin

[2020-01-29 09:02] AlexeyTishkin commented on #1218
Одной строкой обойтись можем ? В балансе 1420 меняем на какую ?

[2020-01-29 10:01] #1302 closed, assigned to nobody

[2020-01-29 10:03] #1303 closed, assigned to nobody

[2020-01-29 10:27] kattrina-brekhova commented on #1286
1. здесь движения по банку не будет, только возврат товара
2. вечером вернули стулья, а утром вернули деньги - это редкий зверь, но бывает - здесь расходную накладную. это если работают без счетов
3. основание счет
4. такого не бывает, принятые услуги никто не возвращает
5. здесь основания нет. в платежных документах указывается договор, который указывался в платежке по операции оплата покупателя

[2020-01-29 10:31] kattrina-brekhova commented on #1218
а вот не уверена
а если в выбранном нами строке у клиента не будет никаких сумм? и если дельта минусовая пойдет
а если все-таки служебное сообщение, мол при округлении результатов строк баланса возникла дельта между пассивом и активом. откорректируйте сумму разницы в ручном режиме. рекомендуемые строки баланса такие то.....

[2020-01-29 10:35] AlexeyTishkin commented on #1286
Я думаю, что возврат денег нужно привязывать к отправке денег. Т.е. операцию "Повернення коштів постачальником" привязывать к операции "Оплата постачальнику". По факту он может вернуть нам только ту сумму, которую мы ему первоначально перечисляли и эта сумма напрямую не связана ни со Счетом, ни с Приходной накладной.

[2020-01-29 10:39] AlexeyTishkin commented on #1286
В случае привязки денег к деньгам существует только один вариант, без вариаций: Счет, Накладная, без привязки.

[2020-01-29 10:41] kattrina-brekhova commented on #1286
в общем-то правильно
летом покупала обувь. платила картой. обувь не подошла, на следующий день вернула и мне выдали деньги с кассы
какую здесь привязку?

[2020-01-29 10:47] AlexeyTishkin commented on #1286
Не совсем тот кейс :) В этом случае покупатель - не персонифицированный, т.е. нет никаках привязок. Кстати, сколько делал такие возвраты - всегда возвращали на карту.

Но если есть желание, то можно расход из кассы привязать к приходу по банку.

[2020-01-29 10:49] kattrina-brekhova commented on #1286
я тоже первый такой возврат повстречала, и меня заинтересовало как связать такое в учете

[2020-01-29 10:52] AlexeyTishkin commented on #1286
Ну в данном конкретном случае: оплата картой - эквайринг - просто деньги на счет, без указания отправителя, возврат из кассы - служебный вынос - тоже обезличенный. Т.е. нет никаких связей.

[2020-01-29 10:56] AlexeyTishkin commented on #1218
Можно и сообщение :)
Тогда полный текст, пжл.

[2020-01-29 11:09] kattrina-brekhova commented on #1218
добро, надо подумать

[2020-01-29 12:39] kattrina-brekhova commented on #1218
При заповненні звіту виникла дельта заокруглення рядків, і призвела до того, що підсумки Активу та Пасиву не збігаються. В ручному режимі відкорегуйте необхідний рядок на суму різниці.
Рекомендовано використовувати рядки: 1100, 1125, 1155, 1615.

[2020-01-29 12:43] kattrina-brekhova commented on #1218
важно, чтоб это сообщение выпадало только если разница между активом и пасивом только из-за округления
до какого момента это делать? во время "провести", или до этого? после "заполнить"?
есть всплывающее окно что сумма актива и пассива не совпадают (но они вызваниы ошибками в учете). а округления - это не ошибка

[2020-01-29 12:45] kattrina-brekhova commented on #1218
и нужно обдумать, эта дельта будет показываться в каком-то из рядков другим цветом вместе со всплывающим сообщением?
или это просто служебное сообщение при нажатии "провести"?

[2020-01-29 12:46] AlexeyTishkin commented on #1218
Только при нажатии "Заполнить". Там получение оборотов, расчет, округление. На проведении контроль равенства Актива Пасиву. Почему нет равенства (ошибка в учете, округления) уже неизвестно, т.к. пользователь после заполнения может редактировать данные.

[2020-01-29 12:47] AlexeyTishkin commented on #1218
Будет только в сообщении.

[2020-01-29 12:53] kattrina-brekhova commented on #1218
+++

[2020-01-29 13:24] AlexeyTishkin commented on #1291
Сделал.

[2020-01-29 14:41] AlexeyTishkin commented on #1293
Исправлено

[2020-01-29 15:08] kattrina-brekhova commented on #1288
при углублении, проводка правильная
только предварительная с ошибкой

[2020-01-29 17:45] AlexeyTishkin commented on #1254
Исправлено

[2020-01-29 21:29] #1293 closed, assigned to AlexeyTishkin

[2020-01-29 21:29] #1291 closed, assigned to AlexeyTishkin

[2020-01-30 09:04] Anestezia commented on #1218
Предупреждение, это хорошо, но нужно его в правильном месте и без уже сделанного распределения, или скинуть остаток округления в ячейку и тут же выдать это сообщение. Типа мы закинули сюда, но вам рекомендуется проверить вручную

[2020-01-30 09:08] AlexeyTishkin commented on #1218
Сообщение будет после нажатия "Заполнить". Никакого распределения не будет. Сумма разницы только в сообщении.

[2020-01-30 09:12] Anestezia commented on #1275
У них такой кейс, что 26.12 они человека уволили, а 27.12 приняли по новому проекту под новое финансирование. А в расчет при увольнении во вторую таблицу попадают данные не на дату увольнения как последний день, а за весь Грудень. Они возмущаются, что так быть не должно.

Вот их формы, которые они себе делают
![image](https://user-images.githubusercontent.com/42540074/73435267-fbd97a80-4350-11ea-8

[2020-01-30 09:20] Anestezia opened #1304 "Курсовая разница (доход) -- копейка не идет. Кейс."
Выписка банка (почистила только персонифицированные данные получателя/плательщика, вот цифры они так дают:
![image (3)](https://user-images.githubusercontent.com/42540074/73436003-60490980-4352-11ea-9927-9e01c49a0f12.png)
не знаю, как считает банк, курсовая разница у них 0,01 в доход, сумма грн.остатка увеличивается, мне нужно исполнить состояние на счете так, как в выписке банка, т.е.  Дт 312  -

[2020-01-30 09:24] Illya-Lykhachov commented on #1275
Это не будет работать в простой зарплате. Там нет понятия сотрудник (нет приёма и увольнения), а есть только физик.

[2020-01-30 09:26] Anestezia commented on #1230
https://github.com/a2develop/bugTracker/issues/1230#issuecomment-570032956
Общалась с ней вчера, Она все равно не довольна, что в ведомости Расчетной нет колонок Сумма выплаченного аванса и сумма До виплати.

[2020-01-30 09:31] Illya-Lykhachov commented on #1230
1. Так мы не учтём суммы переплат и долгов за прошлые периоды.
2. Если в расчётной ведомости у одного сотрудника 2 строки (больничные или отпускные за другие периоды) как мы отобразим задолженность по нему (в какой строке)? Делать отдельные колонки для каждого периода как в её примере - это ... (нет слов).

[2020-01-30 15:21] htrofymova commented on #1304
Не понятно, что такое прошлый негараз?
А по картинкам:
У нас считает себестоимость валюты от введенного оф.курса,
Для расчета надо определиться, что считать фиксированным: официальный курс или себестоимость валюты. Но все равно тот оф. курс, который у них в выписке не получится, если указанную в выписке себестоимость разделить на сумму валюты.
Делать бух.справку, чтобы они могли подгонять под выпи

[2020-01-30 16:28] htrofymova commented on #1296
исправлено

[2020-01-31 11:42] Anestezia opened #1305 "Нужна инвентаризация с печатными версиями для товаров, др. объектов учета, кассы, банка, 39 счет, Визнання операційного доходу за рахунок цільових надходжень"
Инвентаризация остатков на указанных счетах, и возможно, еще, где это проводится.

[2020-02-03 12:53] kattrina-brekhova opened #1306 "К операциям раздела Бухгалтерия подвязать новые ссылки на хэлп"
документ со ссылками:
https://drive.google.com/file/d/1WGlCB3F_l4p--LLerc3YsUkfSiykOyRs/view?usp=sharing

[2020-02-03 14:50] kattrina-brekhova opened #1307 "Операция Вступительный баланс по зарплате: изменение текста подсказки"
Залишок у взаєморозрахунках зі співробітником по зарплаті (Кредитовий залишок 661 рахунка). Якщо сальдо 661 за Дебетом, сума вказується зі знаком мінус.

Залишок у взаєморозрахунках зі співробітником по інших виплатах (Кредитовий залишок 663 рахунка). Якщо сальдо 663 за Дебетом, сума вказується зі знаком мінус.

Строка "Початковий баланс. Заробітна плата (661)" = Початковий баланс. Виплачені суми

[2020-02-03 16:53] htrofymova commented on #1306
В основном - готово.
Есть пожелание:
для множественных бюджетных и обязательных платежей созданы две операции:
"Перерахування інших податків" и "Перерахування інших обов'язкових платежів", для которых выбираются конкретные налоги или платежи. Таким образом, ссылки можно привязать только две, а не на каждый налог/платеж отдельно.

[2020-02-03 22:37] alex-kukhtin opened #1308 "Админка, оплаты"
Біллинг/Тенанти, Біллінг/користувачі - Popup на колонке "Tenant"

[2020-02-04 09:24] #1254 closed, assigned to AlexeyTishkin

[2020-02-04 09:52] Illya-Lykhachov commented on #1307
Сделано.
Заодно убрал возможность создавать старые документы вступительного баланса

[2020-02-04 10:07] kattrina-brekhova commented on #1306
хорошо
тогда нужно будет внести изменения в структуре хэлпа
создам 2 отдельные страницы по этим налогам, остальные убью
дам знать

[2020-02-04 12:00] AlexeyTishkin commented on #1218
Автоматическая корректировка погрешности округления в строку 1420 заменена сообщением. В случае возникновения погрешности сообщение выдается в момент заполнения отчета (кнопка "Заполнить").

[2020-02-04 13:07] Anestezia opened #1309 "Запрещать проведение Декл. НДС в случае, если заполнены суммы в строках, привязанных к приложению, а приложение не создано."

[2020-02-04 13:38] #1307 closed, assigned to Illya-Lykhachov

[2020-02-04 13:38] #1306 closed, assigned to nobody

[2020-02-04 13:42] Anestezia commented on #1300
Да, работает.

[2020-02-04 13:42] #1300 closed, assigned to AlexeyTishkin

[2020-02-04 14:03] kattrina-brekhova opened #1310 "Таблица 1 Нарахування ЄСВ до звіту F3000512 (форма Д5 річна) для ФОП - не проводится"
кнопка "провести" не активная
![image](https://user-images.githubusercontent.com/38099938/73751379-abef1f00-4767-11ea-8175-a738e1bb6a19.png)
а сам отчет без проведения этого документа не проводится
![image](https://user-images.githubusercontent.com/38099938/73751412-bc9f9500-4767-11ea-8071-2ec923fe566e.png)

[2020-02-04 14:05] Anestezia commented on #1296
да, ок

[2020-02-04 14:05] #1296 closed, assigned to nobody

[2020-02-04 14:10] kattrina-brekhova opened #1311 "Податкова декларація платника ЄП юр особа 3 групи квартальна) - если не рассчитаны налоги нужно сделать служеюное сообщение"

[2020-02-04 14:39] kattrina-brekhova commented on #1282
кнопка видна
когда нужно не активна
после проведения работает во всех отчетах

[2020-02-04 14:39] #1282 closed, assigned to Illya-Lykhachov, AlexeyTishkin, htrofymova

[2020-02-04 14:48] kattrina-brekhova commented on #1291
работает, перепроверила

[2020-02-04 14:50] kattrina-brekhova commented on #1218
а решили только для отчета Фінансовий звіт суб'єкта малого підприємництва делать?
а для остальных форм стат отчетности?

[2020-02-04 14:54] AlexeyTishkin commented on #1218
Ну именно в нем возникла проблема. В первом сообщении прикреплен pdf клиента.

[2020-02-04 14:55] AlexeyTishkin commented on #1218
Там тоже есть проблемы ?
Изначально эти отчеты делал Вадим. Я разбирался только с S0110011.

[2020-02-04 14:57] kattrina-brekhova commented on #1218
ну вообще такая ситуация может возникнуть с любым стат отчетом
и я общалась с бухгалтерами - не зависимо - это статотчет малого или большого предприятия (баланс) - и все они говорили, что строка 1420 для дельты округления не годится

[2020-02-04 14:58] kattrina-brekhova commented on #1218
лучше дать юзеру самому решать куда внести эту дельту

[2020-02-04 15:00] AlexeyTishkin commented on #1218
Тогда остальные отчеты надо проверять на этот кейс...
Пример отчета с проблемой делаем на тестовом аккаунте и отдельный issue.

[2020-02-04 15:11] kattrina-brekhova commented on #1218
Леша, тогда если сообщение отдельно для этого отчета, оно должно быть таким:

При заповненні звіту виникла дельта заокруглення рядків, і призвела до того, що підсумки Активу та Пасиву не збігаються. В ручному режимі відкорегуйте необхідний рядок на суму різниці.
Рекомендовано використовувати рядки: 1100, 1125, 1615

я просто не знала, что это только для 1 отчета, думала, что оптом для всей статотч

[2020-02-04 15:13] kattrina-brekhova commented on #1218
а как проверить?
служебное сособщение возникает при автоматическом заполнении отчета
ввести операциями цыфры из оборотки, которую пользователь дал?

[2020-02-04 15:23] AlexeyTishkin commented on #1218
Для S0110011 простой кейс проверки: https://github.com/a2develop/testing/issues/475#issuecomment-581874538

По поводу остальных отчетов - я не знаю... Можно попробовать по такому же принципу. Смысл в том, что:
1. Обороты до округления должны сходиться.
2. Заполнено несколько строк. При округлении каждой возникает общая погрешность.
3. Обратить внимание на строки, которые согласно оборотов должны б

[2020-02-04 15:29] AlexeyTishkin commented on #1218
Одна проблема - один issue :)

[2020-02-04 15:39] kattrina-brekhova commented on #1218
а как же тогда? во всех отчетах разные коды строчек

[2020-02-04 15:46] AlexeyTishkin commented on #1218
Поэтому каждый отчет индивидуально и рассматриваем...

[2020-02-04 15:49] kattrina-brekhova commented on #1218
проверила баланс, разницу вносит в 1420 строку
![image](https://user-images.githubusercontent.com/38099938/73760889-afd66d80-4776-11ea-9094-b9a3871a973d.png)

[2020-02-04 15:51] AlexeyTishkin commented on #1218
Пример отчета с проблемой делаем на тестовом аккаунте и отдельный issue.

[2020-02-04 15:56] kattrina-brekhova commented on #1218
хорошо, сделаю отдельным ишью
в упрощенном отчете малого предпринимательства такая ошибка не вылазит. там кредит по 631 и дебет по 681 отдельно считает одной суммой в строке 1155
не знаю, может есть смысл с другими счетами проверить

[2020-02-04 16:00] kattrina-brekhova commented on #1218
![image](https://user-images.githubusercontent.com/38099938/73761881-19a34700-4778-11ea-9378-a787f9b70477.png)

[2020-02-04 16:13] kattrina-brekhova opened #1312 "Баланс: дельта округления и строка 1420: сделать служебное сообщение вместо автоматического отнесения разницы"
использовала эти данные, внесла вступительным балансом
![image](https://user-images.githubusercontent.com/38099938/73761751-efea2000-4777-11ea-808e-1b31e941d449.png)
в балансе отражается разница  в 1420 строке
причем по 152 и 642 счетам в строках остатки не показывает
там большие числа округлений?

![image](https://user-images.githubusercontent.com/38099938/73762982-7eab6c80-4779-11ea-98da-fc606c2

[2020-02-04 16:14] kattrina-brekhova commented on #1218
логин test@3.ua

пароль behappy1204

фирма "чупакабра"

[2020-02-04 16:15] kattrina-brekhova commented on #1312
логин test@3.ua

пароль behappy1204

фирма "чупакабра"

[2020-02-04 17:34] htrofymova commented on #1310
исправлено

[2020-02-04 17:35] htrofymova commented on #1310
но, все-таки, лучше заполнять налоговую в свойствах Моей фирмы.

[2020-02-04 17:39] htrofymova opened #1313 "Добавить maxRequestLength в бету и релиз"
В сязи с https://github.com/a2develop/bugTracker/issues/1292 -  при сохранеии выдает maximum request length exceeded

[2020-02-04 18:06] Illya-Lykhachov commented on #1313
добавил

[2020-02-04 18:06] Illya-Lykhachov commented on #1292
пробуйте

[2020-02-05 09:10] AlexeyTishkin commented on #1312
там большие числа округлений?

Округление до целого. В S0110011 округление до 1-го знака.

[2020-02-05 09:11] AlexeyTishkin commented on #1312
На будущее - общий тестовый аккаунт: test@a2.net.ua, пароль 123123. Все примеры в нем.

[2020-02-05 09:12] AlexeyTishkin commented on #1312
Сделал сообщение.

[2020-02-05 10:44] AlexeyTishkin commented on #1309
Сделал предупреждение.
Тестируем [здесь](https://github.com/a2develop/testing/issues/465).

[2020-02-05 11:29] kattrina-brekhova commented on #1310
орган налоговой ввели
почем-то ошибку такую дает при создании додатка
![image](https://user-images.githubusercontent.com/38099938/73838058-7c015380-481b-11ea-9613-1f25a1d27767.png)

[2020-02-05 11:30] kattrina-brekhova commented on #1292
а как попробовать
у кого из нас сейчас будет больше 3000 ОС
уже после релиза связаться с пользователем?

[2020-02-05 11:40] kattrina-brekhova commented on #1312
работает, спасибо
запомню

[2020-02-05 11:40] #1312 closed, assigned to AlexeyTishkin

[2020-02-05 12:26] kattrina-brekhova opened #1314 "Бухгалтерська довідка нарахування податків загальна система оподаткування: заменить проводки + чтоб результат попадал в строку 2300 отчета фин результаты (форма2)"
бух справка, расчет налогов общая система:

Дт 98 Кт 641 - нарахування податку,

Дт 791 Кт 98 - списання витрат з податку нa прибуток на фінансовий результат.

результат должен попасть в строку 2300 отчета о фин результатах

[2020-02-05 12:27] kattrina-brekhova commented on #1314
нужно проконтролировать, чтоб изменение проводок не поломало автоматическое заполнение баланса и налога на прибыль для общей системы
а также для упрощенцев заполнение отчетов, в которых используются операции расчета налогов

[2020-02-05 12:33] kattrina-brekhova commented on #1314
для юр лица 3 группа эти проводки тоже должны быть применены

Дт 98 Кт 641 - нарахування податку,

Дт 791 Кт 98 - списання витрат з податку нa прибуток на фінансовий результат.

[2020-02-05 13:00] kattrina-brekhova opened #1315 "значение некоторы х строк баланса нужно указывать в скобках"
https://zakon.rada.gov.ua/laws/show/z0336-13

![image](https://user-images.githubusercontent.com/38099938/73843878-2b442780-4828-11ea-92c5-33357ea6e327.png)

[2020-02-05 15:14] htrofymova commented on #1292
я так понимаю, что уже сейчас пользователь может попробовать.

[2020-02-05 17:56] kattrina-brekhova commented on #1292
где попробовать?
на сервисе?

[2020-02-05 18:02] htrofymova commented on #1292
да

[2020-02-05 18:26] kattrina-brekhova commented on #1292
а, уже на сервисе исправлена?
завтра напишу тогда юзеру

[2020-02-05 18:38] htrofymova commented on #1314
Для юр.лиц 3 группа начисляется единый налог.
https://i.factor.ua/journals/nibu/2016/september/issue-71/article-21085.html
публикация за  2016 год, конечно, но все-таки: дт 92 - кт 641

Для юр.лиц общей системы - готово.

[2020-02-05 20:39] htrofymova commented on #1310
исправлено

[2020-02-06 08:10] Illya-Lykhachov commented on #1283
Между 2 и 3 в каталог нормы рабочего времени для 6-ти дневки. Дни и часы берутся из норм, а не из графика :(
Сделаю пока один график на весь документ, иначе для каждой строки придётся в каталог лазить или организовывать кеш

[2020-02-06 09:32] Illya-Lykhachov opened #1316 "Расшифровка расчёта средней зарплаты"
Для подложить к расчётным ведомостям

[2020-02-06 12:53] kattrina-brekhova commented on #1314
не спорю

[2020-02-06 12:57] #1198 closed, assigned to AlexeyTishkin, htrofymova

[2020-02-06 12:58] #1309 closed, assigned to AlexeyTishkin

[2020-02-06 13:06] kattrina-brekhova commented on #1314
для общей системы отражает в строке 2300 ф2

я смотрю информацию в этой статье, что упрощенцы тоже должны показывать эти суммы в отчете
![image](https://user-images.githubusercontent.com/38099938/73939468-32376c80-48f2-11ea-918a-b9d0493ce632.png)

делаем отдельное ишью, это закрываем?

[2020-02-06 13:10] #1310 closed, assigned to nobody

[2020-02-06 13:11] kattrina-brekhova commented on #1292
работает

[2020-02-06 13:11] #1292 closed, assigned to nobody

[2020-02-06 14:04] Anestezia opened #1317 "Нужен подбор контрагентов - Розрахунок податкових зобов’язань, нарахованих отримувачем послуг, не зареєстрованим як платник ПДВ"
Нужен инструмент подбора контрагента в первую и вторую таблицы
![image](https://user-images.githubusercontent.com/42540074/73934559-5b063480-48e7-11ea-9bc8-8f6e96f20f69.png)

[2020-02-06 14:40] kattrina-brekhova opened #1318 "заполнение строки 1620 баланса - не попадает военный сбор и налоги/платежи по 642 счету"
![image](https://user-images.githubusercontent.com/38099938/73946955-6b2a0e00-48ff-11ea-87bd-08e8ef8a56e8.png)

[2020-02-06 15:54] kattrina-brekhova opened #1319 "лажа с заполнением Додатка АМ к отчету на прибыль"
на начало года у меня не было ОС
![image](https://user-images.githubusercontent.com/38099938/73952172-5c475980-4907-11ea-9623-1348daa087e9.png)

делаю отчет за 1 квартал, все хорошо

![image](https://user-images.githubusercontent.com/38099938/73952238-6f5a2980-4907-11ea-9217-8489335fa0e8.png)

во 2 квартале уже начинается свистопляска - в качестве данных на начало периода использует  итог на конец

[2020-02-07 09:57] AlexeyTishkin commented on #1319
А сумма амортизации должна попадать тоже с начала года ?

[2020-02-07 10:22] AlexeyTishkin commented on #1319
Переделал.

[2020-02-07 10:58] AlexeyTishkin commented on #1318
Проверил - попадает.
Нужен пример на тестовом аккаунте.

[2020-02-07 12:10] #1313 closed, assigned to Illya-Lykhachov

[2020-02-07 14:58] kattrina-brekhova commented on #1319
работает

[2020-02-07 14:58] #1319 closed, assigned to AlexeyTishkin

[2020-02-07 15:14] kattrina-brekhova commented on #1318
странно
я у себя вчера не перепроверила
позвоню клиентке попрошу ее данные

[2020-02-07 15:19] AlexeyTishkin commented on #1318
Там же в тысячах, с округлением.

[2020-02-07 15:28] Anestezia commented on #1304
Привет!
Состояние мое истерическое....
Никак невозможно "договориться" с программой в плане курсовых разниц. Вычислила я в чем негаразд. В расчет курсовых разниц заложен принцип  определить разницу между курсом на текущую дату и курсом по фактическим данным на счете, причем этот курс не берется из справочника на предыдущую дату, а вычисляется делением суммы в грн на сумму в валюте. Полученная разн

[2020-02-07 15:42] kattrina-brekhova commented on #1318
ага
у меня попадает 642 счет
нужно ее данные посмотреть

[2020-02-07 16:11] kattrina-brekhova opened #1320 "Бухгалтерська довідка вручну: странное поведение отражения суммы документа в общем списке"
показываю:
вот список доков:
![image](https://user-images.githubusercontent.com/38099938/74045165-f6290800-49d4-11ea-9cf9-964d640fb8cd.png)

открываю бух справку вручну
ничего не меняю, а просто например сморю проводки
![image](https://user-images.githubusercontent.com/38099938/74045221-0b9e3200-49d5-11ea-862b-653b6d0fd02e.png)

закрываю и смотрю на список доков
а сумма где-то пропала
![image](htt

[2020-02-09 00:04] kattrina-brekhova opened #1321 "при расчете аванса через раздел зарплата а потом расчете зарплаты через раздел персонал неправильно указывает суммы"
начислила аванс
![image](https://user-images.githubusercontent.com/38099938/74093819-1691b900-4ae0-11ea-8f7b-6b05292ba4a5.png)
выплатила
расчитала зарплату
![image](https://user-images.githubusercontent.com/38099938/74093824-28735c00-4ae0-11ea-8432-a77d94ce4115.png)
создаю ведомость на пополнение карточных счетов
и такая сумма выходит
![image](https://user-images.githubusercontent.com/38099938/740

[2020-02-09 00:06] kattrina-brekhova commented on #1321
![image](https://user-images.githubusercontent.com/38099938/74093860-aa638500-4ae0-11ea-9d18-4c8556249acf.png)

![image](https://user-images.githubusercontent.com/38099938/74093867-bc452800-4ae0-11ea-878c-1ae56411febe.png)

[2020-02-10 09:34] kattrina-brekhova opened #1322 "таблица 1 отчета по есв (3000512) для фоп общая система - не создается, выдает ошибку"
![image](https://user-images.githubusercontent.com/38099938/74137897-4c769080-4bf9-11ea-96b5-c6b644452b33.png)

[2020-02-10 09:42] kattrina-brekhova opened #1323 "а можно к печатным формам документов прикрутить какую-то увеличивалку? очень мелко (экран 15"), а контрл + срабатывает только на увеличение только электронной формы доков"

[2020-02-10 11:00] kattrina-brekhova opened #1324 "гривневое платежное поручение по операции "надходження коштів від продажу валюти" - не проводится, дает ошибку"
![image](https://user-images.githubusercontent.com/38099938/74144363-4686ac80-4c05-11ea-8449-841e4c3b0c01.png)

[2020-02-10 11:00] #1298 closed, assigned to nobody

[2020-02-10 11:06] htrofymova commented on #1322
исправлено

[2020-02-10 11:11] kattrina-brekhova commented on #1324
"сохранить" - єта же ошибка

[2020-02-10 11:12] Anestezia opened #1325 "Добавить логотип на накладные, акты, акты с материалами."

[2020-02-10 11:15] #1322 closed, assigned to nobody

[2020-02-10 11:19] Anestezia opened #1326 "Корректировать автонумерацию по последним цифрам, даже если есть дробь (/)"
Кейс:  префикс для счетов не настраивается? Например, счета имеют формат ДР-20/ххх. Те ДР-20/ в пределах года не меняется, а меняется ххх. Буккипер меняет первое число, которое нашел те второй счёт он делает просто ДР-21. А должен менять ххх.
Я ставлю ДР-20/001. Следующий счёт создается ДР-21.

[2020-02-10 11:21] Anestezia commented on #1323
Ще було питання що до розміру вікна при введенні рахунків чи актів. Екран монітора великий, вікно не на весь екран, а вікно для вибору позицій - ще меньше. Велика частина екрану не задіяна у момент складання рахунків чи актів.

[2020-02-10 11:33] kattrina-brekhova opened #1327 "Предложение: заменить текст автоматического ответа на письма клиентов на почту саппорт"
сейчас єто выглядит так:

Ви маєте рацію, таке питання є актуальним. Так зроблено щоб користувачам було легше вносити дані в систему, що є важливим для правильної роботи онлайн-сервісу. В подальшому, вірогідно, ми вирішимо це питання таким чином, який ви запропонували.

Дякуємо, що допомагаєте нам зробити сервіс ще краще.

Лучше нейтральнее:

Дякуємо за звернення. Найближчим часом ми вирішемо ваше

[2020-02-10 14:02] AndriyNesterenya commented on #1327
Сделал

[2020-02-10 14:10] htrofymova commented on #1320
исправлено

[2020-02-10 14:14] kattrina-brekhova opened #1328 "при расчете аванса и зп сотрудник, по которому создан приказ на отпуск без сохранения зарплаты все-равно попадает в ведомость"

[2020-02-10 14:31] kattrina-brekhova commented on #1327
дякую

[2020-02-10 14:31] #1327 closed, assigned to nobody

[2020-02-10 15:42] Anestezia commented on #1323
Какое же это улучшение? Это баг!!!

[2020-02-10 15:45] Anestezia commented on #941
Какое же это улучшение? Это баг!

Як зробити, щоб баланс був 0.00 грн? Отримали рахунок на 5000 грн. (гарантійний платіж, без ПДВ), сплатили. Потім постачальник гарант. платіж повернув. Якщо не робити придбання, то на головній сторінці світиться - очікує оприбуткування. Якщо робити оприбуткування, то баланс по даному контрагенту ТОВ "Будпрокат- Україна" дорівнює -5000 грн. Яким документом мені зак

[2020-02-10 17:01] kattrina-brekhova commented on #1321
на деве
test@3.ua
behappy1204
Чупакабра

[2020-02-11 12:30] #1290 closed, assigned to nobody

[2020-02-11 12:32] Anestezia commented on #1275
Пусть хоть в Персонале работает. В просто ЗП итак нет кадров.

[2020-02-11 12:37] #1320 closed, assigned to nobody

[2020-02-11 13:00] AndriyNesterenya opened #1329 "Персонал - Зарплата: дать возможность ручного ввода сумм ЗП в случае, если оклад не устанавливается приказом, а насчисляется сдельно/по табелю"
Есть куча схожих кейсов, когда у нас пытаются вестись компании с большим кол-ыом наемных сотрудников, ЗП которым насчитывается исходя из фактически отработанных дней/часов.
Такие люди часто считаю табель ручками в Экселе, а потом руками вводят что насчитали в ведомость 1С Бухгалтерии, чего хотят и от нас.
И все это с сохранением приказов о приеме на работу, отпусках и больничных.

Наобсуждали тези

[2020-02-12 06:45] Illya-Lykhachov commented on #1275
Проверил. Неправда ваша. В Розрахункова відомість при звільненні попадают обороты и сальдо только на дату увольнения включительно

[2020-02-12 07:04] Illya-Lykhachov commented on #1321
Исправлено. В т.ч. на сервисе

[2020-02-12 08:25] Illya-Lykhachov commented on #1328
Исправлено

[2020-02-12 16:03] Anestezia opened #1330 "Сделать переключатель перемотки периода шагом в 1 год."
![календарь](https://user-images.githubusercontent.com/42540074/74352509-4d5a1e80-4dc1-11ea-8b5a-f7a5961f0bda.jpg)
У нас стоит шаг в 1 месяц и это не удобно, если нужен период не заданный в выборе. Например, предлагает выбрать Прошлый год = 2019. А мне понадобился отчет за 2018. Я руками мотала помесячно на 01.01.18, потом руками на 01.12.18. Даже вручную напечатать дату я не могу, система не позв

[2020-02-13 11:36] #1321 closed, assigned to Illya-Lykhachov

[2020-02-13 11:39] kattrina-brekhova commented on #1330
встречное предложение - не перемотка год, а возможность указать цыфрами период

![image](https://user-images.githubusercontent.com/38099938/74430765-39b4c380-4e66-11ea-8784-4cdcabd298dd.png)

[2020-02-13 12:49] kattrina-brekhova commented on #1328
все равно попадает
![image](https://user-images.githubusercontent.com/38099938/74436920-efd0db00-4e6f-11ea-96a0-9793244f5b08.png)
![image](https://user-images.githubusercontent.com/38099938/74436948-fcedca00-4e6f-11ea-9ed7-d60d86a04e85.png)

[2020-02-13 13:48] Anestezia opened #1331 "Амортизация закрытие 9 кл. счетов. добавить проводку"
Неприбыльщики спрашивали,
9й класс счетов  на 791 закрывать

[2020-02-13 14:03] Anestezia opened #1332 "Сделать выписку Альфа банк"
[Выписки альфа.zip](https://github.com/a2develop/bugTracker/files/4198727/default.zip)
Можливі формати pdf, xls, csv , xml

Dbf  формату немає

[2020-02-13 16:10] AndriyNesterenya commented on #1329
Пока предлагаю ничего не делать и сил на это не тратить.
Настина схема с назначением оклада каждый месяц всему списку сотрудников по трудоемкости  для буха не особо отличается от ручного ввода цифр в месяц
В уши страдающим бузам внес - будут пробовать

[2020-02-13 16:13] AndriyNesterenya opened #1333 "ОСВ по 48му счету"
"1. 48 по аналитике, ее отчет мы не будем делать только стандартную ОСВ по счету. Дальше хай вставляет в свю форму копипастом. "

Dmytro Saltovets
Цільове фiнансування і цільові надходження

Alex Kukhtinadmin
Ok. Issue на Галину. Она сделает и привяжет к 48-м счетам.

Dmytro Saltovets
щас он синтетический, предлагается сделать аналитическим и аналитикой названой "Цільове фiнансування і цільові над

[2020-02-13 21:09] AndriyNesterenya opened #1334 "Добавить в шапку на печатную форму расходной накладной основание (счет) если подвязано"
Просят продавальцы всякого промышленного
Добавить в шапку на печатную форму расходной накладной основание (счет) если подвязано

[2020-02-14 08:15] AlexeyTishkin commented on #1332
Сделал.

[2020-02-14 08:43] AlexeyTishkin commented on #1325
В расходную добавил.

[2020-02-14 08:44] AlexeyTishkin commented on #1325
В Акт в какое место добавлять ? В Акте шапка отличается от Счета и Накладной.

[2020-02-14 09:36] #1273 closed, assigned to htrofymova

[2020-02-14 09:37] #1285 closed, assigned to nobody

[2020-02-15 11:05] kattrina-brekhova opened #1335 "Таблицы 5 и 6 отчета Д4 (ЕСВ): сотрудники, которые выходят в отпуск без сохранения зп (например уход за ребенком) должны попадать дополнительной строкой в отчет"
кейс такой:
сотрудница ушла на больничный по родам, который заканчивается 27.01.
и с 28. идет в отпуск без сохранения
оба события должны попадать различными строками в отчет
ну или если до 27.01. сотрудник работает, а потом уходит с 28.01. в отпуск без сохранения зп — то тоже должны попадать разными строками
то есть, 1 строка - дата, когда заканчивается трудовой период 27.01
и 2 строка - когда нач

[2020-02-15 11:39] kattrina-brekhova commented on #1335
в таблицу 6 тоже должны попадать дни без сохранения зп

[2020-02-15 11:43] kattrina-brekhova commented on #1335
Таблицю 5. Відомості про трудові відносини осіб та період проходження військової служби складають та подають лише у випадках, якщо протягом звітного місяця:

із застрахованою особою було укладено, або розірвано трудовий, або цивільно-правовий договір (на виконання послуг);
застрахованій особі надана, або в неї закінчилася відпустка у зв’язку з вагітністю та пологами, а також догляду за дитиною;
ос

[2020-02-15 11:43] kattrina-brekhova commented on #1335
Таблиця 6. Відомості про нарахування заробітної плати (доходу, грошового забезпечення) застрахованим особам складають та подають всі суб’єкти господарювання, які у звітному місяці використовували працю фізичних осіб за трудовими та цивільно-правовими договорами. В ній зазначаються дані про суми нарахованих доходів, які входять до бази ЄСВ, а також інформація про застрахованих осіб. Також ця таблиц

[2020-02-17 11:41] kattrina-brekhova opened #1336 "перепроверить, на какой сайт хэлпа ведет всплывающее окно-привествия (я у себя везде поотключала), исли на буккипертэтч, то переправить на буккипер.киев"

[2020-02-17 12:02] Anestezia opened #1337 "Курсовые разницы -- не активно Дополнительно Договор и Проект"
![image](https://user-images.githubusercontent.com/42540074/74652137-0d62b500-518e-11ea-8e0a-f7e46ebc1907.png)
Нет возможности их заполнить. ГО спрашивали, если есть разница.

[2020-02-17 14:52] htrofymova commented on #1337
исправлено

[2020-02-17 14:58] htrofymova commented on #1331
готово

[2020-02-17 15:40] htrofymova commented on #1324
Это настоящий номер счета? Потому что он длиннее 29 знаков

[2020-02-17 15:42] kattrina-brekhova commented on #1324
нет конечно
от фонаря
в этом может быть ошибка?
сейчас перепроверю с другим счетом

[2020-02-17 15:43] kattrina-brekhova commented on #1324
точно
да, с другим номером провелось
сори за панику
спасибо
![image](https://user-images.githubusercontent.com/38099938/74668005-039c7a00-51ad-11ea-8ed5-c36b4e7fe16c.png)

[2020-02-17 15:43] #1324 closed, assigned to nobody

[2020-02-17 15:57] kattrina-brekhova opened #1338 "отчет 1ДФ: попадают суммы по наемным (код 101) и по ГПХ (код 102). а что с суммами по аренде от физлиц (рухоме, нерумоме) майно? у них кода 127 и 106 соответственно. как можно автоматизировать чтоб эти операции попадали в отчет?"

[2020-02-17 17:14] kattrina-brekhova commented on #1129
коды в 1ДФ по этим операциям
https://github.com/a2develop/bugTracker/issues/1338

[2020-02-17 17:55] kattrina-brekhova opened #1339 "доработка операции получение НА в аренду: нельзя правильно провести"
1. в качестве "передает" указывается склад. видимо должен быть контрагент
2. создаю НА в справочнике "объекты учета"
![image](https://user-images.githubusercontent.com/38099938/74676644-1f108080-51bf-11ea-9c50-e0676c24ace7.png)
но в введении в экплутацию не видит
![image](https://user-images.githubusercontent.com/38099938/74676751-65fe7600-51bf-11ea-85a2-9c8c0c149609.png)

[2020-02-18 05:13] htrofymova commented on #1339
готово

[2020-02-18 11:50] Anestezia commented on #1129
Login: vitaukrainets@gmail.com
Доброго дня, підкажіть, як провести у програмі 1. акт надання послуг з оренди транспортного засобу у фізичної особи (авто директора) - 685 рахунок 2. утримання з нарахованої суми ПДФО та ВЗ 3. а також з даної суми(після вирахування ПДФО та ВЗ) утримується 25% аліментів

До бази обкладення ЄСВ входять такі виплати фізособі (не суб’єкту підприємницької діяльності): зар

[2020-02-18 11:53] Anestezia opened #1340 "НА - Добавить аналитику Проект в Акты приймання/передачі об'єктів немат активов."
![image](https://user-images.githubusercontent.com/42540074/74733925-099a6580-5256-11ea-9a0c-92a6ee0d92c8.png)
Просят ГО

[2020-02-18 12:05] kattrina-brekhova opened #1341 "Бухгалтерская справка расчет курсовой разницы продажа валюты - поломана логика: доходы отражает как расходы, а расходы как доходы"
продала 100 долларов
курс НБУ (24,331) меньше чем муждубанковский, по которому была продажа (24,40)
![image](https://user-images.githubusercontent.com/38099938/74734509-5f234200-5257-11ea-8da8-167a478f3ceb.png)

в бухсправке
![image](https://user-images.githubusercontent.com/38099938/74734601-8da11d00-5257-11ea-859f-1ca72cbcbdbd.png)
![image](https://user-images.githubusercontent.com/38099938/7473

[2020-02-18 12:11] kattrina-brekhova commented on #1341
курсовая разница — расход — видит доходом
продала 100 долларов
курс НБУ (24,331) больше чем муждубанковский, по которому была продажа (22,00)
![image](https://user-images.githubusercontent.com/38099938/74735034-89293400-5258-11ea-995b-e569f92fb0c9.png)
![image](https://user-images.githubusercontent.com/38099938/74735056-92b29c00-5258-11ea-8864-c8f299f16497.png)

[2020-02-18 12:24] kattrina-brekhova commented on #1341
по операции курсовая разница покупка валюты таких проблем не наблюдается

[2020-02-18 12:27] #1339 closed, assigned to nobody

[2020-02-18 13:55] kattrina-brekhova commented on #1336
@AlexeyTishkin

[2020-02-18 14:20] kattrina-brekhova commented on #1336
@alex-kukhtin

[2020-02-18 15:12] #1336 closed, assigned to nobody

[2020-02-18 15:45] htrofymova commented on #1341
Все навпаки:
1. перерахування валюти для продажу - ще не є продажем. В обліку - по курсу НБУ на дату перерахування.
2. курс продажу - це курс за яким була продана валюта, вказується в платіжці на зарахування гривень, зазвичай у призначенні платежу, наприклад: "Гривні від вільного продажу... по курсу...".
3. Сума гривень від продажу - не є сумою гривнєвого еквіваленту в платіжці на переказ валюти д

[2020-02-18 16:51] kattrina-brekhova commented on #1341
постепенно заполняю бух справку:
выбираю валюту, курс у меня автоматически подтянул (я заранее завела в справочнике)
![image](https://user-images.githubusercontent.com/38099938/74757388-99540a00-527e-11ea-9687-0aeaab9f5592.png)

сумма в валюте - та сумма, которую я продала. и автоматически у меня расчитывается себестоимость валюты за курсом нбу
![image](https://user-images.githubusercontent.com/38

[2020-02-18 16:53] kattrina-brekhova commented on #1341
и в даном примере курс НБУ ниже, чем то, что зашло на счет
значит мы имеет доход

[2020-02-18 16:54] kattrina-brekhova commented on #1341
мы ведь получили 2440
а учитывалось в системе 100 долларов = 2 433,10

[2020-02-18 17:16] htrofymova commented on #1341
правильно. Смотрела старые примеры. Все правильно. Надо проверять.

[2020-02-18 17:37] kattrina-brekhova commented on #1341
и эти проводки правильные для ситуации, когда курс НБУ выше, чем к нам зашло на счет
![image](https://user-images.githubusercontent.com/38099938/74762203-0919c300-5286-11ea-9d1b-5fee45529d88.png)

то есть в логике операции все-таки что-то не так?

[2020-02-18 18:18] htrofymova commented on #1341
в "старых" операциях (август) все правильно. А новые - навпаки. ПРоверю и исправлю

[2020-02-18 19:16] htrofymova commented on #1341
готово

[2020-02-18 19:42] htrofymova commented on #1340
готово

[2020-02-19 08:00] Illya-Lykhachov commented on #1230
[Proof](https://dtkt.com.ua/show/1bid16588.html)
Типовые формы документов для начисления заработной платы утверждены приказом Госкомстата от 05.12.2008 г. №489 (далее — Приказ №489), вступившим в силу с 01.01.2009 г.
....
Обращаем внимание, что в Приказе №489 уже нет форм сводных расчетных ведомостей, которые предусматривали бы представление детальной информации о начислении заработной платы в одн

[2020-02-19 10:46] kattrina-brekhova commented on #1341
дяк

[2020-02-19 10:46] #1341 closed, assigned to nobody

[2020-02-19 11:10] kattrina-brekhova opened #1342 "Бухгалтерская справка: операционная курсовая разница (расходы) - проблемы в заполнении документа"
выставила счет, получила оплату по курсу 24,331 (курс НБУ)
на след день предоставила услуги, курс НБУ поменялся, вырос, стал 24,40
у нас расходы

[2020-02-19 11:15] #1342 closed, assigned to nobody

[2020-02-19 11:34] kattrina-brekhova opened #1343 "Бух справка: операц курсовая разница - расходы - не после указания сумма в валюте, строка "операция" становится красной, не проводит документ"
кейс:
оказали услуги на сумму 1000 долларов за курсом доллара НБУ 25,424348

![image](https://user-images.githubusercontent.com/38099938/74830413-c4406b80-531b-11ea-9efd-67b5c2021e8f.png)

покупатель не расплатился
на дату баланса пересчитываем его задолженность (монетарная статья). курс НБУ 25,020755
создаю бух справку на операционные курсовые разницы (у нас расход получается), проводка нужна Дт

[2020-02-19 11:46] kattrina-brekhova commented on #1343
если я рассчитываю курсовую разницу по остаткам на валютном счете (312 счет), то при указании суммы в валюте - у меня она не сохраняется и строка "операция" также подсвечивается красным
![image](https://user-images.githubusercontent.com/38099938/74831604-3d40c280-531e-11ea-9467-8d315b0bb243.png)

[2020-02-19 11:48] kattrina-brekhova commented on #1343
при использовании 482 счета таких проблем не наблюдается

[2020-02-19 11:51] kattrina-brekhova commented on #1343
для 483, 484 и 632 счетов та же проблема
![image](https://user-images.githubusercontent.com/38099938/74831966-f6070180-531e-11ea-9cc8-24f6f781e3a4.png)

[2020-02-19 12:16] #1343 closed, assigned to nobody

[2020-02-19 14:42] Anestezia opened #1344 "Юрлицо 3 группы -- Проценты по текущему счету и по депозиту должны включаться в доход (Бух. справка, Налоги)"
Проценти, отримані від банку за користування коштами на рахунку (як депозитному, так і поточному), включаються до доходу юридичної особи — платника єдиного податку третьої групи.

[2020-02-19 15:50] Anestezia commented on #1340
Да, в Придбання есть. А в Продаж тоже может добавить? Тем, кто типа нас, торгует ПО, может пригодиться.

[2020-02-19 15:50] #1340 closed, assigned to nobody

[2020-02-19 15:51] #1332 closed, assigned to AlexeyTishkin

[2020-02-19 15:52] Anestezia commented on #1337
Есть. Теперь интересно, в каком отчете можно этот документ увидеть в разрезе проектов.

[2020-02-19 15:57] Illya-Lykhachov commented on #1275
Переделал печатную форму расчётной ведомости при увольнении

[2020-02-19 15:58] Anestezia commented on #1331
Почему-то не могу провести амортизацию, не активна кнопка.

[2020-02-19 18:58] htrofymova commented on #1331
Ввели в эксплуатацию ОЗ с ликвидационной стоимостью превышающей первоначальну, в результате отрицательные и нулевые суммы амортизации.
Добавила проверок.

[2020-02-19 22:56] htrofymova commented on #1304
исправлено округление. Добавлена возможность ручного ввода себестоимости валюты (для "подгонки" под выписку)

[2020-02-20 00:53] htrofymova commented on #1344
готово.

[2020-02-20 07:49] Illya-Lykhachov commented on #1335
Насчёт отражения отпуска без сохранения зарплаты в таблице 6, не согласен. Согласно рашифровке кодов типов начислений: "10 – нарахована сума заробітку (доходу) за дні відпустки"
Во-первых **нарахована сумма**. Т.е. если начисленной суммы нет, то отражать не нужно (нечего).
Во-вторых. Для беспланого отпуска нет кода вида начислений, код 10 не подходит по определению.
Во-третьих. Если сотрудник ушёл

[2020-02-20 10:23] Illya-Lykhachov commented on #1335
Таблица 5. Добавил рожениц и мамашек

[2020-02-20 10:32] kattrina-brekhova commented on #1335
согласна, в 6 таблице только указывается в случае:

нарахованих виплат за минулий період (тимчасова непрацездатність, допомога при вагітності та пологах);

[2020-02-20 10:57] Anestezia commented on #1344
Отлично! Работает.

[2020-02-20 10:57] #1344 closed, assigned to htrofymova

[2020-02-20 13:57] #1335 closed, assigned to Illya-Lykhachov

[2020-02-20 13:58] #1328 closed, assigned to Illya-Lykhachov

[2020-02-20 13:58] #1318 closed, assigned to AlexeyTishkin

[2020-02-20 14:02] #1331 closed, assigned to nobody

[2020-02-20 14:43] #1275 closed, assigned to Illya-Lykhachov

[2020-02-20 14:45] #1337 closed, assigned to nobody

[2020-02-20 16:42] kattrina-brekhova opened #1345 "к обсуждению кейс: налогообложение ФОП 3 группы доходы по % по остаткам - нужно включить в налогообложение"
с депозитом выяснили - что налогооблагает банк
а с остатком на счете не все так однозначно:
https://www.profiwins.com.ua/uk/letters-and-orders/ink/15261-4042-19.html
![image](https://user-images.githubusercontent.com/38099938/74957527-57f36400-5410-11ea-9e1e-cb801ec70f9f.png)

полагаю, что нужно допилять, чтоб операции получения % по остатках на валютном и гривневом счете включались в налогооблага

[2020-02-20 16:44] #1314 closed, assigned to nobody

[2020-02-20 16:49] #1304 closed, assigned to htrofymova

[2020-02-20 16:50] #1218 closed, assigned to AlexeyTishkin

[2020-02-20 16:51] #1176 closed, assigned to Illya-Lykhachov

[2020-02-20 16:53] #222 closed

[2020-02-20 16:54] kattrina-brekhova commented on #234
и опять просили по доверенностям на основании счета

[2020-02-20 16:55] kattrina-brekhova commented on #294
наверное закрываю, потому что ОУ которых нет на складе давно уже нельзя вставить в расходную

[2020-02-20 16:55] #294 closed

[2020-02-20 19:30] #644 closed, assigned to htrofymova

[2020-02-20 19:35] kattrina-brekhova commented on #858
вроде ж уже есть, закрываю

[2020-02-20 19:35] #858 closed, assigned to Illya-Lykhachov

[2020-02-20 19:42] kattrina-brekhova commented on #1049
рядки можна добавлять и удалять
ишью закрываю

[2020-02-20 19:42] #1049 closed, assigned to Illya-Lykhachov

[2020-02-20 19:43] #1037 closed, assigned to GalinaLuk

[2020-02-20 19:52] #1001 closed, assigned to Illya-Lykhachov

[2020-02-20 19:53] #986 closed, assigned to AlexeyTishkin

[2020-02-20 19:54] kattrina-brekhova commented on #969
кажется это просят неприбыльные

[2020-02-20 19:55] kattrina-brekhova commented on #1149
исправлено?

[2020-02-20 19:57] #1144 closed, assigned to nobody

[2020-02-20 19:57] #1135 closed, assigned to nobody

[2020-02-20 19:58] #1125 closed, assigned to nobody

[2020-02-20 20:06] kattrina-brekhova commented on #1248
вот в этой инструкции пунктом 4 дополнить:
Excel не відображає «0», з яких можуть початися ЄДРПОУ (ІПН). Ці коди в таблиці Excel доповніть цифрами «0» зліва так, щоб числове значення ЄДРПОУ містило 8 знаків. Наприклад, «00415487».
![image](https://user-images.githubusercontent.com/38099938/74974019-2b017a00-542d-11ea-94d2-90d86e468052.png)

[2020-02-20 20:06] kattrina-brekhova commented on #1248
по объектам учета тоже может быть такая проблема?

[2020-02-20 20:10] kattrina-brekhova commented on #1108
да, об этом недавно настя просила здесь https://github.com/a2develop/bugTracker/issues/1330

[2020-02-20 20:17] #1288 closed, assigned to nobody

[2020-02-21 16:23] Anestezia opened #1346 "Повернення товару не учитывается в задачах Операций Бета"
Є пов'язані документи: Рахунок - Видаткова накладна - Накладна на повернення. А на головному меню світиться - рахунок потребує оплати. Документи розпровести не вдається

![image](https://user-images.githubusercontent.com/42540074/75051790-31e4c700-54d7-11ea-81d0-df8387dc6c95.png)

[2020-02-21 17:36] htrofymova commented on #1149
В этих операциях контрагентом должен быть банк. Точнее, нельзя самому себе такое перечислить. Вы же делаете "платіж контрагенту", а не "переказ між своїми рахунками". Если в жизни это не так, то расскажите как надо.

[2020-02-24 12:31] Anestezia opened #1347 "Нужна адекватная операция на Повернення товарів від комісіонера, а то на складе комитента не учитывается выбытие."

[2020-02-24 17:40] htrofymova commented on #1345
готово

[2020-02-25 13:21] kattrina-brekhova commented on #1248
в хэлпе по контрагентам описала этот момент

[2020-02-25 14:36] kattrina-brekhova commented on #1264
ЗМІНИ В ДЕКЛАРАЦІЇ:

1. Декларацію з ПНП доповнено новим блоком «Податкові зобов’язання, інші штрафні санкції та пені, визначені відповідно до Податкового кодексу України, не пов’язані з виправленням помилок» з рядками 35–37:

рядок 35 — суми збільшення податкового зобов’язання за порушення вимог цільового використання вивільнених від оподаткування коштів;
рядок 36 — штрафні санкції за порушення п

[2020-02-25 14:41] kattrina-brekhova commented on #1264
ЗМІНИ В ДОДАТКАХ:

новий додаток ПП
https://drive.google.com/file/d/18g1mWr3gJzCUUTDRo_c0hC2KehcrYB6g/view?usp=sharing

[2020-02-25 14:49] kattrina-brekhova commented on #1264
ЗМІНИ В ДОДАТКАХ яких в нас не має — нові бланки:

ВП
https://drive.google.com/file/d/1MWq05BuWKz7xNygJeS56KRkSIp3Gw5pJ/view?usp=sharing

ПН
https://drive.google.com/file/d/1VJtEFnf-gLp0jyZ0UVl7uLcYVKOuXzWz/view?usp=sharing

[2020-02-25 15:04] kattrina-brekhova commented on #1264
ЗМІНИ В ДОДАТКУ РІ:

1. Додаток РІ доповнено новим рядком 4.1.4.1 «позитивна різниця між сумою будь-яких виплат (винагород) страховим посередникам та іншим особам за надані послуги щодо укладання (пролонгації) договорів страхування та сумою нормативу витрат на виплати страховим посередникам, що розраховані за методикою, визначеною уповноваженим органом, що здійснює державне регулювання у сфері рин

[2020-02-27 07:49] AlexeyTishkin commented on #1264
Новые формы налоговой отчетности: Податкова декларація з податку на прибуток підприємств (J0100118, F0100703), Додаток РІ - Різниці (J0111818, F0171803), Додаток АМ - Інформація щодо нарахованої амортизації (J0110618, F0170603).

[2020-02-28 11:09] AndriyNesterenya opened #1348 "Добавить период "за когда" в строки документа аванса"
Добавить период "за когда" в строки документа аванса (кейс Дримтревела)

[2020-02-28 13:11] htrofymova commented on #1333
готово в первом приближении

[2020-03-02 10:33] Anestezia commented on #1325
![unnamed](https://user-images.githubusercontent.com/42540074/75668397-f1790c00-5c81-11ea-92ae-e6747c116823.jpg)
![bby so idaslgvj ectyk k eogvlzsqa](https://user-images.githubusercontent.com/42540074/75668408-f63dc000-5c81-11ea-8d5d-4c5e3fe4db08.png)
![product412-1](https://user-images.githubusercontent.com/42540074/75668420-fb027400-5c81-11ea-9648-8cbc763a063e.png)
Или вообще не добавлять.

[2020-03-02 10:39] Anestezia commented on #1098
https://github.com/a2develop/bugTracker/issues/1150

Эти связанные.

[2020-03-02 10:50] Anestezia opened #1349 "Нужна корректировка данных про "пильгу" в приказе на Прием сотрудника."
Бывает, что данные по этому вопросу на протяжении срока работы сотрудника меняются, например, ребенок родился, и льгота увеличивается. Нужен режим корректировки проведенного. или даже строка с новой датой установления льготы.  Или отдельный Документ как установление оклада, так и установление льготы.

[2020-03-02 10:52] Anestezia opened #1350 "Нужно создать возможность зачисления сотрудника параллельно с основным местом работы и по совместительству."
С разными окладами, разными строками начисления зп, разными должностями.

[2020-03-02 16:17] kattrina-brekhova opened #1351 "Операция "оплата с комиссией" - решить что-то с хвостом в счете, расходных накладных и актах, который остается "не закрытым" на сумму комиссии"
![image](https://user-images.githubusercontent.com/38099938/75694982-0bcade00-5cb2-11ea-83ec-128e72e59fdc.png)

[2020-03-02 16:21] kattrina-brekhova commented on #1034
операцию закрываю
так как есть реальные сторонники не включать сумму комиссии в базу налогообложения
пока в ЗИР указаний ВКЛЮЧАТЬ - НЕТ

[2020-03-03 13:55] kattrina-brekhova opened #1352 "вступительный баланс по зарплате - лажа с версткой, если большое кол-во строк"
![image](https://user-images.githubusercontent.com/38099938/75782282-59555280-5d67-11ea-8cfd-5885db95385b.png)

кнопка "провести" не работает, хоть и смещается

[2020-03-04 08:08] Illya-Lykhachov commented on #1352
исправлено

[2020-03-04 08:08] Illya-Lykhachov commented on #1348
сделано

[2020-03-05 03:17] htrofymova commented on #1333
Готово.
Так же добавлен Контрагент в бух.справку для операции "Визнання операційного доходу за рахунок цільових надходжень"

[2020-03-05 05:21] Illya-Lykhachov commented on #1338
Зачем движимое имущество относить на 127 код? 106 подходит для любой аренды.
"Дохід вiд надання майнa в лізинг, оренду абo суборенду (строкове володіння тa/абo користування), визначений у порядку, вcтановленому пунктом 170.1 стaтті 170 Кодекcу (пп. 164.2.5 п164.2 cт. 164 Кодексу)."
127 это вообще "Прочее" -
"Інші доходи крім сум грошового зaбезпечення, грошових винагород та інших виплaт, одержаних

[2020-03-05 05:28] Illya-Lykhachov commented on #1129
Два варианта:
1. В существующий договор ГПХ добавить признак "Аренда" и все акты по нему проводить по особым правилам.
2. Сделать отдельный документ "Начисление арендной платы физлицу". Вопрос: в какой раздел сервиса его поместить (это как бы и не зарплата, и не персонал)
В любом случае, придётся делать ещё один метод начисления и во все методы добавить "признак дохода"

[2020-03-05 05:31] Illya-Lykhachov opened #1353 "Налоговая льгота. Приказ на изменение"

[2020-03-05 07:19] #1353 closed, assigned to Illya-Lykhachov

[2020-03-05 08:08] #1345 closed, assigned to nobody

[2020-03-05 08:22] #1352 closed, assigned to Illya-Lykhachov

[2020-03-05 09:21] kattrina-brekhova commented on #1338
налоговики в письме вот так пишут
http://cv.sfs.gov.ua/media-ark/news-ark/380643.html

с апреля кстати добавятся новые кода

[2020-03-05 09:23] kattrina-brekhova commented on #1129
документ "Начисление арендной платы физлицу". Вопрос: в какой раздел сервиса его поместить (это как бы и не зарплата, и не персонал) — по логике это "придбання"

[2020-03-05 09:25] kattrina-brekhova commented on #1129
новые кода с апреля
https://news.dtkt.ua/accounting/reposts/60204

[2020-03-05 09:25] kattrina-brekhova commented on #1338
новые кода https://news.dtkt.ua/accounting/reposts/60204

[2020-03-05 11:09] Anestezia opened #1354 "Зарплатный калькулятор -- просят добавить графу Индексация"

[2020-03-05 12:16] Anestezia commented on #1039
Порядок. Кол-во дней в трудовых отношениях есть.
![image](https://user-images.githubusercontent.com/42540074/75980912-0fe24000-5eec-11ea-9190-75d129027f1a.png)

[2020-03-05 12:16] #1039 closed, assigned to Illya-Lykhachov

[2020-03-05 12:24] Anestezia opened #1355 "Добавить Посаду подписанта в первичные документы и счета"
Прохання додати посаду особи, яка підписує документ від імені підприємства. Відповідно до ПОЛОЖЕННЯ про документальне забезпечення записів у бухгалтерському обліку документ має містити ПОСАДИ і прізвища осіб, відповідальних за здійснення господарської операції. На сьогодні в системі Буккіпер при обранні посадової особи в документ додається лише Прізвище та ініціали, тож по-правильному доводиться д

[2020-03-05 12:34] Anestezia opened #1356 "Необходимо в поле ИНН ввести серию и номер паспорта у ФОПа в настройках своей фирмы"

[2020-03-06 12:26] Anestezia commented on #1350
Неожиданное продолжение зарплатной истории со внутренним совмещением. 1326 тенант, ГО. Тоже умудрились принять одного и того же человека на основную ставку и по совместительству. Отследили цифры, Получается, что идет в Расчете ЗП двумя строками с двумя должностями и окладами. И в удержаниях идет ошибка: По первой строке — основное место, расчет налогов: сумма удержанная раньше берется из аванса, с

[2020-03-06 15:00] kattrina-brekhova opened #1357 "ведомость амортизации: в некоторых периодах не хочет рассчитывать - пишет, что в этом периоде амортизация уже рассчитана, хотя документов проведенных за этот период нет + странное поведение при расчете ведомости"
такое подозрение, что она не хочет создавать ведомость по тем периодам, по которым были созданы ведомости, но потом я их удаляла
знаю, звучит как бред
но иного понимания нету
еще 5 минут назад создала ведомость за апрель, потом удалила
а теперь уже не могу это сделать - пишет, что уже расчитана была

![image](https://user-images.githubusercontent.com/38099938/76094404-3fb44500-5fcb-11ea-9f9a-a5069

[2020-03-06 15:02] kattrina-brekhova commented on #1357
на бете
test@3.ua
behappy1204

фирма ОмегО

[2020-03-06 15:30] htrofymova commented on #1357
исправлено

[2020-03-10 11:56] kattrina-brekhova opened #1358 "просят отчет Податкова декларація з податку на нерухоме майно, відмінне від земельної ділянки"

[2020-03-11 11:43] Anestezia opened #1359 "В авансовый отчет добавить режим редактирования проведенного документа."
Там все равно нет номенклатуры. Единственное, что может упереться -- это дата позже накладной (акта), и то, смотря как посмотреть. ведь, чтоб отчитаться, дается несколько дней (в разных случаях по-разному), а товар может быть уже куплен.

Login: buhgalter.ogp@gmail.com
Добрий день! Було б добре, щоб можна було коригувати документи без розпроведення інших. Наприклад, мені потрібно виправити помилку

[2020-03-11 11:45] kattrina-brekhova opened #1360 "Операція: Продаж нематеріальних активів - в Акт додати рядок "договір""
рядка договір немає
![image](https://user-images.githubusercontent.com/38099938/76413701-8eccf200-639e-11ea-801e-a555ead0b209.png)

[2020-03-11 11:46] #1348 closed, assigned to Illya-Lykhachov

[2020-03-11 11:46] #1333 closed, assigned to htrofymova

[2020-03-11 11:47] #1264 closed, assigned to AlexeyTishkin

[2020-03-11 12:15] AndriyNesterenya commented on #1334
Продаванам без этого реально грустно.
Особенно в случае частичных отгрузок вразнобой.
Очень просят.

![image](https://user-images.githubusercontent.com/38098758/76413982-1a468300-639f-11ea-9b3f-3fd0a84dd73a.png)

![image](https://user-images.githubusercontent.com/38098758/76415895-ba51db80-63a2-11ea-97e6-c0a22146f1b7.png)

![image](https://user-images.githubusercontent.com/38098758/76415772-854589

[2020-03-11 21:19] htrofymova commented on #1360
готово

[2020-03-13 10:01] kattrina-brekhova opened #1361 "клиент просит в Приказ о приеме на работу подтянуть список дочерних документов - чтоб было видно, какие документы нужно перепровести чтоб сделать правку в приказе о приеме"

[2020-03-13 14:17] kattrina-brekhova opened #1362 "просят, чтоб в карточке сотрудника можно было где-то указать табельный номер"

[2020-03-13 14:18] kattrina-brekhova commented on #1362
чтоб он потом выводился на кадровые приказы

[2020-03-13 14:26] #1357 closed, assigned to nobody

[2020-03-13 14:27] kattrina-brekhova opened #1363 "Ведомость амортизации: кнопка "провести" не активна"
![image](https://user-images.githubusercontent.com/38099938/76629780-8368fa80-6547-11ea-9d79-874260274db9.png)

[2020-03-13 23:55] htrofymova commented on #1363
В одной из строк сумма амортизации = 0 (ввод в эксплуатацию очень старый, не заполнен "термін корисного використання", сейчас такое сделать невозможно). Сделала, чтобьі это бьіло видно "красньім".

[2020-03-16 08:44] kattrina-brekhova commented on #1363
ага
точно
спасибо

[2020-03-16 08:44] #1363 closed, assigned to nobody

[2020-03-16 10:29] kattrina-brekhova opened #1364 "виготовлення ОЗ: указала материалы и расходы при изготовлении, но в строка "ликвидационная стоимость" подствечена красным - мол не может быть больше первичной стоимости. расчет первичной стоимости происходит только после проведения документа. указать ликвидационную стоимость получается только распроведя документ"

[2020-03-16 10:35] kattrina-brekhova commented on #1364
![image](https://user-images.githubusercontent.com/38099938/76747763-53596b80-6782-11ea-9501-0071e2d4e05e.png)

закладка необоротний акти подствечивает, что есть ошибка (имеется в виду строка "ликвидационная стоимость")
![image](https://user-images.githubusercontent.com/38099938/76747862-826fdd00-6782-11ea-8038-62fc33e66056.png)
и провести нельзя
только если удалив значение со строки ликвидац стои

[2020-03-16 10:43] kattrina-brekhova commented on #1364
введя все расходы программа считает перичную стоимость только после проведения
это не проведенный документ
![image](https://user-images.githubusercontent.com/38099938/76748619-bef00880-6783-11ea-9f77-4f94136bd53d.png)

[2020-03-16 13:14] kattrina-brekhova commented on #1364
кстати, в панели управления нет блок-схемы" выготовлення" - так и задумано или забыли?

[2020-03-16 14:18] htrofymova commented on #1364
Переделала расчет суммы.
На панели управления заменила:  "Виготовлення" замість "Поліпшення" (так как "Поліпшення" не актуально теперь).

[2020-03-16 14:26] kattrina-brekhova commented on #1364
спасибо
а почему не актуально?
я что-то пропустида?
операция создается только с пунтка "операции"?

[2020-03-16 14:28] htrofymova commented on #1364
не пропустила, забыла, мы даже обсуждали ( в телеграмме 27/01). Нельзя теперь относить затраты на ремонт ОС на увеличение стоимости.

[2020-03-16 14:30] kattrina-brekhova commented on #1364
это в связи с изменением методологии - вот то что недавно было?

[2020-03-16 14:30] kattrina-brekhova commented on #1364
операция улучшение ОС формирует такие проводки
![image](https://user-images.githubusercontent.com/38099938/76768289-76484780-67a3-11ea-8366-af8773918b52.png)

[2020-03-16 14:31] htrofymova commented on #1364
операция, какя была, такая и осталась, просто делать ее не нужно, или нельзя, наверно.

[2020-03-16 14:32] kattrina-brekhova commented on #1364
так, все вспомнила
ок
дякую

[2020-03-16 14:36] #1364 closed, assigned to nobody

[2020-03-18 10:21] #1334 closed, assigned to alex-kukhtin

[2020-03-18 13:21] AndriyNesterenya opened #1365 "[Bug] Косяк с версткой в Счете - Панель управления."
Имеем косяк.
Если у счета больше 3х отгрузок - картинка не влазит в окно и не скроллится влево
![image](https://user-images.githubusercontent.com/38098758/76964748-dd910380-692b-11ea-80ff-334ec8aeaad1.png)

Это та панель управления, которая слева на окне счета.
![image](https://user-images.githubusercontent.com/38098758/76964875-10d39280-692c-11ea-914f-9e854cad693c.png)

[2020-03-23 12:10] Anestezia opened #1366 "В валютные операции нужно получение возвратной помощи (или кредита от банка)"

[2020-03-23 22:23] htrofymova commented on #1366
Добавлено 4 операции:
Отримання кредиту в валюті: ДТ 312 - КТ 502 (долгосрочный);
Отримання кредиту в валюті (до 12 міс.): ДТ 312 - КТ 602 (краткосрочный, до 12 месяцев);
Погашення кредиту в валюті:  ДТ 502 - КТ 312;
Погашення кредиту в валюті (до 12 міс.): ДТ 602 - КТ 312.
Для начисления курсовых разниц по телу кредита в списки счетов для операций "Операційна курсова різниця (витрати/дохід)" доба

[2020-03-24 16:36] AndriyNesterenya opened #1367 "[Мелочь] Админка - дашбоард, показывать по умолчанию статистику помесячно"
В админке БКПР на дашбоарде в "Оплати та реєстрації" установить по умолчанию отображение не по неделям, а по месяцам.

![image](https://user-images.githubusercontent.com/38098758/77452136-45e55680-6dfe-11ea-894b-ae66a0b60a7f.png)

[2020-03-25 11:58] Anestezia opened #1368 "Виготовлення ОЗ (МНМА) добавить проводки по начислению износа сразу или 50% суммы, и 50% в списании."

[2020-03-25 12:14] Anestezia opened #1369 "Добавить операции от инвестора: Взнос в уставной капитал другого предприятия"
Надо операцию для инвестора сделать с двумя проводками, чтобы в платежке сразу формировались.

Бухгалтерський облік у інвестора. Як ми вже зазначали, придбаваючи в емітента корпоративні права, інвестор фактично придбаває фінансову інвестицію. При цьому така інвестиція, як правило, є довгостроковою. Адже корпоративні права отримуються з метою отримання доходу протягом часу, що перевищує 1 рік. Такі

[2020-03-25 16:57] Anestezia opened #1370 "Акт приймання-передачі нематеріальних активів (списання на 92 рахунок) додати проводки у неприбуткових."
Програма робить проводку ДТ92 КТ631 (чи можливе продовження  ДТ 791 КТ92  )
   я роблю через бухгалтерську довідку
ГО Стейтвотч

[2020-03-26 17:59] htrofymova commented on #1368
готово

[2020-03-26 17:59] htrofymova commented on #1370
готово

[2020-03-30 11:10] kattrina-brekhova opened #1371 "В Ведомости расчета больничных за счет ФСС казывается проводка Д91-К663, а должна Д378 - К663"
в платежном поручении на поступление средств от ФСС проводка правильная Д311 - К378

[2020-03-30 11:11] #1360 closed, assigned to nobody

[2020-03-31 20:31] htrofymova commented on #1369
готово.

[2020-04-01 09:09] Anestezia opened #1372 "Аванс (персонал) возможность вносить сумму руками."

[2020-04-02 11:31] Anestezia commented on #1354
и тогда уже и доплаты за внутреннее совмещение тоже.

[2020-04-02 12:07] #1370 closed, assigned to nobody

[2020-04-02 12:32] #1366 closed, assigned to nobody

[2020-04-02 14:16] #1368 closed, assigned to nobody

[2020-04-02 15:36] #1369 closed, assigned to nobody

[2020-04-03 09:51] Anestezia commented on #1372
В том числе и дополнительные выплаты за внутреннее совмещение.  И в печатной форме отобразить эту строку. (Многие будут ее использовать как премию)

[2020-04-03 09:54] Anestezia opened #1373 "Сделать отдельный внутренний приказ на внутреннее совмещение"
Можно пока без отображения в зарплатных ведомостях на разных строках. С указанием должностей будет труднее. В кейсе клиента вообще 4 должности человек содержит. Придется каждый раз руками вводить общую сумму и без указания этих должностей -- без аналитики.

[2020-04-06 08:41] #1349 closed, assigned to nobody

[2020-04-06 09:36] Anestezia commented on #1297
https://i.factor.ua/ukr/journals/nibu/2017/march/issue-18/article-25628.html

[2020-04-06 09:40] Anestezia commented on #1294
1. Можно сделать автонумерацию в пределах месяца.
2. Для этого нужно добавить  "птичку" в настройки. Всю эту лабуду пробросить везде, где нужно.
3. Внимательно проверить и протестировать.

[2020-04-06 09:52] Anestezia commented on #1230
И все же предлагается вывести отдельную одну колонку До виплати и туда дублировать сумму, которая указывается в следующей ведомости на выплату. А с остальным пусть сами разбираются: ка и по каким долгам эта сумма образовалась. Давайте пока так вопрос решим, ведь эта информация все равно выводится. Давайте продублируем. Кроме того, каждый может внутри фирмы написать заявление о том, что он согласен

[2020-04-07 14:57] kattrina-brekhova opened #1374 "раздел персонал: акт за договором цпх - неправильно отражения чистой и грязной сумм вознаграждения"
сумма за договором 20 000
![image](https://user-images.githubusercontent.com/38099938/78684202-dfc9fa80-78f8-11ea-95d9-f6a03662e9c5.png)
сумма к выплате должна быть за минусом налогов = 16 100
![image](https://user-images.githubusercontent.com/38099938/78684368-0b4ce500-78f9-11ea-974f-afcfb8642378.png)
в печатной форме документа стоит, что сумма вознаграждения исполнителя 20 000
так и должно быть

[2020-04-07 18:15] htrofymova commented on #1311
готово

[2020-04-07 18:22] htrofymova commented on #1297
готово.
Добавлена операция:
одержання дивідендів: дт 311 кт 373.
Так же для бух.справки добалены операции для дивидендов от инвестиций по методу участия в капитале:
нарахування дивідендів (інвестор) : дт 373 кт 141
дохід від участі в капіталі: дт  141 кт 721
втрати від участі в капіталі: дт 961 кт 141.
Обьічное начисление дивидендов дт 373 кт 731 - можно сделать бухгалтерской стравкой вручную.

[2020-04-09 09:54] Anestezia opened #1375 "Выбор одного (только директор) или двух (директор и главный бухгалтер) подписантов."
Есть такой момент - если на предприятии не предусмотрена позиция главного бухгалтера, и согласно приказа об учетной политике ответственность за учет несет первый ркуоводитель. Отчетность для таких предприятий подается с подписью только директора, по главбуху проставляются прочерки.
Мои подопечные подают отчетность только с подписью директора. Без второй подписи БК не проводит и не формирует ,xml.

[2020-04-14 10:34] kattrina-brekhova opened #1376 "просят вшить в БукКипер справочники кодов ДКПП и УКТ ЗЕД"

[2020-04-15 10:16] Anestezia opened #1377 "Перенос информации по прошлым начислениям ЗП из Начального баланса для расчета Средней по отпуску."
У меня сотрудник работает с 1.01.19. Базу я начала вести 1.01.20. Создала Начисление ЗП только за 2 месяца. А остальные ЗП указала в Начальном балансе по ЗП. Ранее был разговор, что при расчете отпускных эти месяцы учитываются. оказалось — нет.
Вот начальный баланс:
![image](https://user-images.githubusercontent.com/42540074/79326143-0c929900-7f1b-11ea-8d81-142fde2e9383.png)
сотруднику за прошлые

[2020-04-15 14:17] Illya-Lykhachov commented on #1377
Исправлено

[2020-04-16 01:25] htrofymova commented on #1113
готово.
Операции оплаты :  ДТ 685 - КТ 301 (311). 39 бух.справкой пусть закрывают.

[2020-04-16 05:07] Illya-Lykhachov commented on #1372
Сделано

[2020-04-16 05:30] Illya-Lykhachov commented on #1374
Исправлено

[2020-04-16 06:23] Illya-Lykhachov commented on #1354
Добавдена индексация

[2020-04-16 09:21] #1311 closed, assigned to nobody

[2020-04-16 09:39] #1374 closed, assigned to Illya-Lykhachov

[2020-04-16 10:04] #1377 closed, assigned to Illya-Lykhachov

[2020-04-16 10:26] Anestezia commented on #1372
Есть.

[2020-04-16 10:26] #1372 closed, assigned to Illya-Lykhachov

[2020-04-16 10:34] Anestezia commented on #1354
Есть, работает.

[2020-04-16 10:34] #1354 closed, assigned to Illya-Lykhachov

[2020-04-16 10:56] Anestezia commented on #1350
А вот это пока не получилось. Запрет в приказе на принятие стоит. Я что-то не так делаю?

[2020-04-16 11:01] #1350 closed, assigned to Illya-Lykhachov

[2020-04-16 13:33] #1297 closed, assigned to nobody

[2020-04-16 13:38] #1113 closed, assigned to htrofymova

[2020-04-20 08:43] kattrina-brekhova opened #1378 "отчет по есв таблица 6: отпуск без сохранения зп сотрудника на целый месяц должен показываться в таблице"
задача касается месяцев выхода в отпуск и его окончания
я в бк дала сотруднику отпуск на месяц, но он в таблицу не попал
а должен был и заполняются такие колонки:
9 - прочерк
10 - прочерк
11 - месяц
14 - кол-во дней отпуска (весь месяц)
15 - кол-во дней труд отношений
18 - 0
19 - 0
21-0,00

[2020-04-20 08:51] kattrina-brekhova opened #1379 "таблица 6 отчета с есв: нужно чтобы доначисление есв по минималке делалось отдельной строкой - сейчас БК лепит одной строкой"
кол-во дней отпуска без сохранения зп должно показываться в колонке 14
![image](https://user-images.githubusercontent.com/38099938/79732766-c9f70500-82fc-11ea-8ff1-07f72c3402e0.png)

в колонке 21 должна указываться сумма начисленного есв (даже на ту маленькую часть начисленной зарплаты)? а в строку ниже — сумма доначисления
![image](https://user-images.githubusercontent.com/38099938/79733050-35d96

[2020-04-20 08:56] kattrina-brekhova commented on #1379
доначисление нужно делать с кодом 13. не получается это сделать

или может это не совсем поняла заполнение этой таблицы, и для начисления нужно добавить строку для этого сотрудника и проставить нужные данные?

[2020-04-20 08:58] kattrina-brekhova commented on #1379
ага, поняла. буккипер лепит все в одну строку, но нужно разбивать

[2020-04-20 09:03] kattrina-brekhova commented on #1379
вот так нужно
![image](https://user-images.githubusercontent.com/38099938/79734172-f57aef00-82fe-11ea-8fe4-8c63d923c46a.png)

[2020-04-20 09:08] kattrina-brekhova commented on #1378
у нас в БК обязательно нужно заполнить колонку 9 (незаполненная считается ошибкой)
но так поняла, что в случае с отпуском без сохранения зп она не заполнятся

[2020-04-21 12:23] kattrina-brekhova commented on #1379
но бывает, что не нужно доначислять, если совместитель

[2020-04-21 14:24] kattrina-brekhova opened #1380 "Инвентарная карточка ОУ НА СЕРВИСЕ - не выставляет дату (стоит по умолчанию 2999 год - никак не меняется), на деве такой проблемы не наблюдается"
![image](https://user-images.githubusercontent.com/38099938/79877303-c050c880-83f4-11ea-966b-e4ddcd6606e3.png)

![image](https://user-images.githubusercontent.com/38099938/79877337-c9da3080-83f4-11ea-959b-f25ae0af8a66.png)

[2020-04-21 14:26] #1149 closed, assigned to htrofymova

[2020-04-22 13:19] Anestezia opened #1381 "Начальный баланс НА - не начислять амортизацию, если стоимость+износ+ликвидационная стоимость=0."
Ввожу нач. остатки, стоимость 10 000,00, износ 9000,00, ликвидационная стоимость - 1000,00. Год изготовления  2019, срок эксплуатации 10 месяцев. В ведомость амортизации попадает. Объект Чугунок.
![image](https://user-images.githubusercontent.com/42540074/79986616-00778000-84b5-11ea-9ea9-019824d2adb1.png)
![image](https://user-images.githubusercontent.com/42540074/79986641-09685180-84b5-11ea-842b-

[2020-04-27 12:28] kattrina-brekhova opened #1382 "баланс - фінансова звітність малого підприємства: Военный сбор попадает в строку 1690, а надо 1620"
Военный сбор попадает в строку 1690, а надо 1620.

[2020-04-27 15:45] kattrina-brekhova opened #1383 "бланк отчета S0111003 заменить на S0111004 - форма 1 мс - ИЗМЕНИЛОСЬ НАЗВАНИЕ"
что изменилось:
название Фінансова звітність мікропідприємства

![image](https://user-images.githubusercontent.com/38099938/80391992-36eb3b80-88b7-11ea-8cd2-e67112341bb5.png)

[2020-04-27 15:54] kattrina-brekhova opened #1384 "бланк отчета S0110011 заменить на S0110012 (форма 1м)"
изменилось?
1. название:
Фінансова звітність малого підприємства

2. появились дополнительные строки для отражения нематериальных активов

![image](https://user-images.githubusercontent.com/38099938/80392555-00fa8700-88b8-11ea-8ff2-f5b00c20774d.png)

[2020-04-27 15:54] htrofymova commented on #1381
исправлено

[2020-04-27 16:01] kattrina-brekhova opened #1385 "в операции расчет налогов (общая система налогообложения юрлицо) просят добавить еще проводку на закрытие счета 79"
это после того как расчитан налог и отражен через 98 и 64 счета - остаток с 79 закрыть:

если сальдо по кредиту 791, то: ДТ 442 - КР 791 (убыток)
если сальдо по дебету 791, то: ДТ 791 - Кр 441 (прибыль)

[2020-04-27 17:07] kattrina-brekhova commented on #1384
алгоритм заполнения такой же, как и в балансе
![image](https://user-images.githubusercontent.com/38099938/80399489-f0e7a500-88c1-11ea-93a8-aa7727fc15cc.png)

РЯДОК 1000: Відображають вартість об’єктів, віднесених до складу нематеріальних активів.
До підсумку балансу включають залишкову вартість, яку визначають як різницю між первісною вартістю та сумою накопиченої амортизації, що наводять у дужках

[2020-04-27 18:30] htrofymova commented on #1380
Изменено.
Так как "в жизни" "Инвентарная карта" содержит ВСЕ данные о необоротном активе, т.е. выбор периода не имеет смысла, то теперь отчет "Инв.карта ОЗ" строится ВСЕГДА на текущую дату, дату поменять нельзя.

[2020-04-28 10:46] htrofymova commented on #1385
Что-то мне подсказывает, что такие проводки нужны далеко не всем. А точнее, это же один раз в год делается.

[2020-04-28 11:20] kattrina-brekhova commented on #1385
да, один раз в год, не ежеквартально
пусть пока повисит ишью
когда бух определит задачу - допишу
у нее там что-то автоматически не показывалось в отчетах

[2020-04-30 05:28] Illya-Lykhachov commented on #1329
Дал возможность вносить сумму начисления вручную, как в авансе, больничных, отпускных...

[2020-04-30 06:33] MaksymTikhomirov commented on #1329
Уря!

[2020-04-30 09:23] #1371 closed, assigned to Illya-Lykhachov

[2020-04-30 10:26] Anestezia commented on #1381
Все ок.

[2020-04-30 10:26] #1381 closed, assigned to nobody

[2020-04-30 10:29] Anestezia commented on #1380
Да, теперь без даты.
![image](https://user-images.githubusercontent.com/42540074/80700568-9aa77b80-8ae6-11ea-8005-7b3fd5034180.png)

[2020-04-30 10:30] #1380 closed, assigned to nobody

[2020-04-30 10:35] #1009 closed, assigned to Illya-Lykhachov

[2020-04-30 10:45] Anestezia commented on #1329
Есть, работает.

[2020-04-30 11:17] #1329 closed, assigned to Illya-Lykhachov

[2020-04-30 16:00] AndriyNesterenya opened #1386 "Косяки в верстке и печати "АКТ ПРИЙОМУ-ПЕРЕДАЧІ ОБ'ЄКТА НЕМАТЕРІАЛЬНИХ АКТИВІВ""
Нашлись косяки при печати "АКТ ПРИЙОМУ-ПЕРЕДАЧІ ОБ'ЄКТА НЕМАТЕРІАЛЬНИХ АКТИВІВ"

1. При экспорте подставляется странное имя файла "_.._printforms_act_out_IA"

2. Если полное название контрагента не помещается в одну строку - обрезается и при печати и при экспорте в PDF (причем по-разному)

Печать:
![image](https://user-images.githubusercontent.com/38098758/80732259-b9246b80-8b14-11ea-9375-0871eb74

[2020-04-30 18:49] AndriyNesterenya opened #1387 "[Улучшайзинг] добавить текстовое название к операции "Створення рецептури""
Нарисовалось неудобство для производства.
У нас все рецептуры имеют номер, но не имеют имени/названия.
В результате когда нужно найти и проверить или изменить рецептуру на конкретную продукцию в списке невозможно.
Народ выкручивается путем выписывания названий в Примітку, но выглядит криво и нелогично.

Просят или добавить отдельное поле названия, или выводить имя готовой продукции вместо или рядо

[2020-05-04 17:12] htrofymova commented on #1386
готово

[2020-05-05 18:54] htrofymova commented on #1382
исправлено

[2020-05-05 20:57] htrofymova commented on #1383
готово

[2020-05-05 20:58] htrofymova commented on #1384
готово

[2020-05-06 05:30] Illya-Lykhachov commented on #1338
Заодно в акт ГПХ от Зои.
"От нахіба ви так перестарались в отражении суммы "До сплати" - от начислено отняли все, что можно, включая ЕСВ???"
![Zoya](https://user-images.githubusercontent.com/35328100/81140944-c48ff080-8f73-11ea-8e41-87777da04951.png)

[2020-05-06 07:15] MaksymTikhomirov commented on #1384
Спасибо!

[2020-05-06 07:15] MaksymTikhomirov commented on #1383
Спасибо!

[2020-05-06 07:16] MaksymTikhomirov commented on #1382
Спасибо!

[2020-05-06 10:56] kattrina-brekhova commented on #1384
![image](https://user-images.githubusercontent.com/38099938/81168265-5a8d4080-8f9f-11ea-948a-9dc3f8c9a613.png)

еще название нужно изменить Фінансова звітність малого підприємства

https://i.factor.ua/ukr/journals/buh911/2019/july/issue-29/article-45583.html

![image](https://user-images.githubusercontent.com/38099938/81169309-519d6e80-8fa1-11ea-93e4-11c673717742.png)

[2020-05-06 10:57] #1383 closed, assigned to nobody

[2020-05-06 13:30] #1382 closed, assigned to nobody

[2020-05-06 14:11] kattrina-brekhova commented on #1382
надо бы то же самое сделать и для отчета микропредприятия. делаю ишью

[2020-05-06 14:12] kattrina-brekhova opened #1388 "баланс - фінансова звітність мікропідприємства: Военный сбор попадает в строку 1690, а надо 1620"

[2020-05-06 17:52] htrofymova commented on #1384
исправлено

[2020-05-06 17:53] htrofymova commented on #1388
исправлено

[2020-05-06 18:51] #1386 closed, assigned to nobody

[2020-05-07 08:54] #1384 closed, assigned to nobody

[2020-05-07 08:55] #1388 closed, assigned to nobody

[2020-05-07 15:34] kattrina-brekhova opened #1389 "інвентарна картка обліку ОЗ: в фильтре выбора объекта учета не работает применение какой-то из групп ТМЦ"
например:
![image](https://user-images.githubusercontent.com/38099938/81314051-55a8b980-9091-11ea-895d-c377cb0b110a.png)

[2020-05-11 19:55] htrofymova commented on #1389
исправлено

[2020-05-11 20:23] htrofymova commented on #1387
готово.

[2020-05-13 06:53] Illya-Lykhachov commented on #1338
сделано

[2020-05-13 06:53] Illya-Lykhachov commented on #1129
сделано

[2020-05-13 07:03] kattrina-brekhova opened #1390 "Видатковий касовий ордер "оплата іншим кредиторам": відмінити заборону вибору контрагентом юридичну особу"
![image](https://user-images.githubusercontent.com/38099938/81781537-ee5f8f00-9500-11ea-9ded-35a414e543c0.png)

![image](https://user-images.githubusercontent.com/38099938/81781570-020af580-9501-11ea-953e-1ee49c557e19.png)

[2020-05-13 07:18] kattrina-brekhova commented on #1390
єто сообщение появляется на "провести"
кнопка "сохранить" не активна

[2020-05-13 07:51] #1389 closed, assigned to nobody

[2020-05-13 07:53] kattrina-brekhova commented on #1338
что-то не так с актом, не проводится
![image](https://user-images.githubusercontent.com/38099938/81786157-fc64de00-9507-11ea-929e-a1ba5259a522.png)

![image](https://user-images.githubusercontent.com/38099938/81786184-038bec00-9508-11ea-9ee4-c756e782da5d.png)

[2020-05-13 10:06] kattrina-brekhova opened #1391 "нужна операция выплаты больничных с 663 счета"
у клиента зашли деньги с ФСС (больничные)
видимо еще за прошлый год - они их вводили вступительным балансом
теперь их нужно выплатить
сейчас больничные начисления идут по 663 счету
но выплата по 661

[2020-05-13 10:22] Illya-Lykhachov commented on #1338
исправлено

[2020-05-13 10:39] #1338 closed, assigned to Illya-Lykhachov

[2020-05-13 11:16] htrofymova commented on #1390
готово

[2020-05-13 11:27] kattrina-brekhova commented on #1129
вроде все ок
в отчеты попадает
ишью закрываю

[2020-05-13 11:27] #1129 closed, assigned to Illya-Lykhachov

[2020-05-14 06:10] Illya-Lykhachov commented on #1379
Доначисление правильно отражается в отчёте. Если оно есть.

![image](https://user-images.githubusercontent.com/35328100/81899072-ac971d00-95c2-11ea-9c9b-89398ef8a5f0.png)

![image](https://user-images.githubusercontent.com/35328100/81899001-82455f80-95c2-11ea-9574-21fada5a9184.png)

[2020-05-14 06:15] Illya-Lykhachov commented on #1378
Если суммы взноса нулевая, то и в отчёт этот сотрудник не попадает.
Читаем название отчёта "**Сведения о начислении зарплаты**". Нет начислений - нет сведений.

[2020-05-14 08:41] kattrina-brekhova commented on #1390
странно, но у меня по прежнему не проводится
![image](https://user-images.githubusercontent.com/38099938/81912747-b0816a00-95d7-11ea-81e3-589ffd9dbf49.png)

![image](https://user-images.githubusercontent.com/38099938/81912776-baa36880-95d7-11ea-9351-6206b7c29a40.png)

на деве

test@3.ua
behappy1204

ТОВ Омего

[2020-05-14 08:50] #1379 closed, assigned to Illya-Lykhachov

[2020-05-14 08:52] kattrina-brekhova commented on #1378
по тем месяцам, в которых сотрудник ушел в отпуск или вышел из него, даже без начисления зп сотрудник отражается в 6 таблице

[2020-05-14 08:57] kattrina-brekhova commented on #1378
я по этой теме вебинар слушала
и Мойсеенко 100% об этом упоминала
конечно, сотрудник не попадает в месяц неначисления зп, если в этом периоде не было "значимых" дат - выхода на работу, ухода в отпуск

но если эти даты были, они показываются в таблице

собственно, колонка 14 для этого и предназначена - кол-во дней без сохранения зп

[2020-05-14 09:02] #1390 closed, assigned to nobody

[2020-05-14 09:47] #1387 closed, assigned to nobody

[2020-05-14 14:35] AndriyNesterenya opened #1392 "[Localization] Сообщение о несовместимом браузере перевести с английского"
Сообщение о несовместимом браузере перевести с английского на украинский

![image](https://user-images.githubusercontent.com/38098758/81947291-0d494880-9609-11ea-9a0e-5dac625c4194.png)

[2020-05-16 15:20] kattrina-brekhova opened #1393 "Раздел Персонал: после изменения оклада не применяется льгота ПДФО"
![image](https://user-images.githubusercontent.com/38099938/82123374-c0e54080-97a1-11ea-97d4-0dffb2b544b9.png)

![image](https://user-images.githubusercontent.com/38099938/82123388-c9d61200-97a1-11ea-9309-168d13a0f983.png)

![image](https://user-images.githubusercontent.com/38099938/82123399-d6f30100-97a1-11ea-8549-56e21449be59.png)

![image](https://user-images.githubusercontent.com/38099938/8212

[2020-05-16 15:22] kattrina-brekhova commented on #1393
льготу удалось применить после того, как я сделала приказ об измненении льготы 01.01

![image](https://user-images.githubusercontent.com/38099938/82123441-1b7e9c80-97a2-11ea-94d0-80cee37a9a60.png)

![image](https://user-images.githubusercontent.com/38099938/82123458-36511100-97a2-11ea-8311-d11a48882648.png)

[2020-05-16 15:24] kattrina-brekhova opened #1394 "документ Наказ про встановлення пільги в общем списке документов имеет название Наказ про переведення"
![image](https://user-images.githubusercontent.com/38099938/82123486-64365580-97a2-11ea-8618-01817f2c943e.png)

![image](https://user-images.githubusercontent.com/38099938/82123493-6ef0ea80-97a2-11ea-8887-08bc2ad84906.png)

[2020-05-17 11:16] #1393 closed, assigned to nobody

[2020-05-18 11:37] kattrina-brekhova opened #1395 "расчет налогов ФОП общая системе: в базу попадают только суммы оплат. но ведь общая система ведет учет доходов не только по оплатам, но и по реализации. независимо от того ФОП или юрлицо. или я чего-то не понимаю?"
![image](https://user-images.githubusercontent.com/38099938/82208751-bdbe9180-9914-11ea-9754-41f285b0769b.png)

![image](https://user-images.githubusercontent.com/38099938/82208840-eb0b3f80-9914-11ea-9833-a997cfeb3a42.png)

и не понимаю, почему за 1 месяц базу считает 31 280,00

если

61 280,00 - 45 000 = 16280

[2020-05-20 09:47] kattrina-brekhova commented on #1395
таки правильно
Доходи і витрати загальносистемник відображає за касовим методом

[2020-05-20 09:47] #1395 closed, assigned to nobody

[2020-05-28 14:50] kattrina-brekhova opened #1396 "ведомость выплаты зарплаты на карточки: при создании на основании расчетной ведомости - создается и проводится. если делать отдельной ведомостью - нет"
кнопка "сохранить" не активная
при попытке проведения

![image](https://user-images.githubusercontent.com/38099938/83156803-85386800-a10b-11ea-973b-1f6740aebe04.png)

дев
ТОВ ОМЕГО

test@3.ua
behappy1204

[2020-05-28 14:51] #1394 closed, assigned to Illya-Lykhachov

[2020-05-28 16:17] AndriyNesterenya opened #1397 "Допилить обновление справочника ЕДРПОУ"
Допилить обновление справочника ЕДРПОУ:

1. Добавить в UploadAgent режим -check. Парсить, но не писать.

2. В админке сделать возможность посмотреть, что именно импортировалось из внешнего XML.

[2020-05-28 17:24] kattrina-brekhova opened #1398 "ведомость РРО: не видит перемещенный товар"
переместила товар на нужный склад
![image](https://user-images.githubusercontent.com/38099938/83172738-b707f980-a120-11ea-8485-424391e0e592.png)

продала с этого склада
![image](https://user-images.githubusercontent.com/38099938/83172994-0ea66500-a121-11ea-82c6-0767330e0d02.png)

![image](https://user-images.githubusercontent.com/38099938/83173018-1534dc80-a121-11ea-8ab9-b61ee7b47620.png)

но при

[2020-05-28 17:59] kattrina-brekhova commented on #1398
и вообще не видит товар
оприходовала товар на нужный склад - и все равно не видит

[2020-05-29 09:56] htrofymova commented on #1398
исправлено

[2020-05-29 11:42] htrofymova commented on #1359
Все-таки хотелось бы уточнить, какие именно ошибки хотят исправлять.

[2020-05-29 13:22] AndriyNesterenya opened #1399 "[Админка] При наличии задолженности в сумму формируемого счета подставлять сумму задолженности вместо абонплаты."
Юзера не всегда догоняют, что в админке можно формировать счет не только на сумму месячной абонплаты, а и на произвольную сумму вообще.

Предложение:
При наличии задолженности в сумму формируемого счета подставлять сумму задолженности вместо абонплаты.

[2020-06-01 09:00] Anestezia opened #1400 "Операция Оплата банковских процентов по кредиту в валюте"
Просят Сплату відсотків по валютному кредиту. Дт 915 кт 684. Нет такой операции в банке и никак вручную ее создать тоже не могут
не могут именно в банковской выписке операцией закрыть, и теперь не идет остаток. Кредит погасили, а теперь проценты по нему.
дт 915 кт 684 — сделали в бухсправке начисление процентов. А теперь фактическую оплату их желают.

[2020-06-01 10:26] #1247 closed, assigned to Illya-Lykhachov

[2020-06-01 11:27] kattrina-brekhova opened #1401 "операция Переміщення ТМЦ: при нажатии на строку выбора ОУ выдает ошибку"
![image](https://user-images.githubusercontent.com/38099938/83404737-d8643080-a413-11ea-8ad6-6b1ec1751ae3.png)

[2020-06-01 12:04] htrofymova commented on #1401
Прямо сейчас вносятся изменения. Извините за временные неудобства

[2020-06-01 12:04] kattrina-brekhova commented on #1401
пардон
не мешаю)

[2020-06-01 12:04] #1401 closed, assigned to nobody

[2020-06-02 07:06] #1398 closed, assigned to nobody

[2020-06-10 10:28] htrofymova commented on #1400
готово. Добавила 2 операции: для гривны и валюты

[2020-06-10 18:20] htrofymova commented on #1355
готово.

[2020-06-11 13:18] #1400 closed, assigned to nobody

[2020-06-11 13:22] Anestezia commented on #1355
Есть!

[2020-06-11 13:22] #1355 closed, assigned to nobody

[2020-06-12 10:00] Anestezia opened #1402 "Нет проводки в Формування Відомості РРО. Нужно срочно так как касса не сходится!"
![image](https://user-images.githubusercontent.com/42540074/84490996-96a57680-acac-11ea-822f-602ca8d72a55.png)
![image](https://user-images.githubusercontent.com/42540074/84491029-a1600b80-acac-11ea-8233-62dc24953a86.png)

[2020-06-12 12:08] htrofymova commented on #1402
готово

[2020-06-16 13:01] kattrina-brekhova opened #1403 "новая операция "выручка по эквайрингу" не попадает в базу налогообложения?"
хотела проверить, какая сумма попадает в базу налогообложения - с комиссией, или без
в итоге в расчете налогов, этой операции вообще не оказалось
![image](https://user-images.githubusercontent.com/38099938/84777352-266b5d80-afea-11ea-961b-706400b5fa84.png)

![image](https://user-images.githubusercontent.com/38099938/84777399-35521000-afea-11ea-8ef0-d5afbac8496d.png)

как так?
в таких операциях вед

[2020-06-16 13:05] kattrina-brekhova commented on #1403
речь идет о фоп 3 группа

[2020-06-22 13:17] Anestezia opened #1404 "Додати можливість створювати декілька Накладних та актів з Авансового звіту."
![image](https://user-images.githubusercontent.com/42540074/85291903-cbcb7900-b4a3-11ea-96b7-034d77af40dd.png)

[2020-06-22 13:17] #1402 closed, assigned to nobody

[2020-06-24 13:53] htrofymova commented on #1403
исправлено

[2020-06-25 09:10] kattrina-brekhova commented on #1403
не попадает, что-то не так делаю?

![image](https://user-images.githubusercontent.com/38099938/85690975-c0af5d80-b6dc-11ea-9de6-77e2f2d5ff13.png)

![image](https://user-images.githubusercontent.com/38099938/85691028-cd33b600-b6dc-11ea-9918-ba986239072a.png)

![image](https://user-images.githubusercontent.com/38099938/85691061-d4f35a80-b6dc-11ea-9b13-6177423221e1.png)

![image](https://user-images.

[2020-06-25 09:13] Anestezia opened #1405 "Текст примера счета и платежки -- изменение"
Мы платник ПДВ с 24.06
Нужно будет добавить в текст Счета клиенту в ЛК данные об этом,

после номера ЄДРПОУ запятая, и пишем ІПН 419913726555, запятая и в следующей строке Є платником  податку на прибуток на загальних підставах.

[2020-06-25 09:35] htrofymova commented on #1403
готово

[2020-06-25 09:37] #1403 closed, assigned to nobody

[2020-06-28 18:39] AndriyNesterenya commented on #1397
3. Исправить парсинг: В поле Повна назва в БКПР попадает КВЭД контрагента

[2020-06-28 18:52] AndriyNesterenya opened #1406 "Шапка счета + ПДВ + система налогообложения"
Выяснилось, что в "шапку"  счета  прочих документов не попадает информация о номере плательщика ПДВ и вообще о системе налогообложения.

Хорошо бы если в настройках фирмы стоит галка "Є платником ПДВ" поле номера плательщика непустое - выводить в шапку под строкой с ЕДРПОУ текст
**_Є платником ПДВ
ІПН ХХХХХХХХХХХХХХХ_**

+если в поле "Система оподаткування" стоит "Платник податку на загальних підс

[2020-06-30 20:48] AndriyNesterenya opened #1407 "Производство, Рецептуры: реализовать возможность включать в Рецептуру ранее произведенные объекты (полуфабрикат?)"
Имеем реальный кейс в качестве иллюстрации:
Компания закупает полиамидную нить и производит из нее веревку (у нас при этом эта самая веревка после Акта производства есть Готовой продукцией).
Произвольная часть этой веревки тут же продается.
Другая часть является сырьем/комплектующим для производства более сложной продукции, типа стропов и страховочных поясов.
А наша "Рецептура" не позволяет исполь

[2020-07-07 12:41] AndriyNesterenya opened #1408 "Документы для "Повернись Живим" и благотворителей"
Реализовать два документа для Повернись живим
Письмо - заявку на благотворительную помощь + Акт приема-пережачи юлаготворительной помощи
Печатные формы:
[587 лист.xlsx](https://github.com/a2develop/bugTracker/files/4884862/587.xlsx)
[587 акт.xlsx](https://github.com/a2develop/bugTracker/files/4884863/587.xlsx)

Желательно успеть до конца июля.

[2020-07-09 10:06] kattrina-brekhova opened #1409 "добавились новые коды доходов - по аренде недвижимого имущества и фин помощи"
Ознаку 106 розділили на:

106 "Дохід від надання земельної частки (паю) в лізинг, оренду або суборенду (п. 170.1 ст. 170 Податкового кодексу України (далі - Кодекс) (пп. 164.2.5 п. 164.2 ст. 164 Кодексу)";
195 "Дохід від надання земельної ділянки сільськогосподарського призначення, майнового паю в лізинг, оренду, суборенду, емфітевзис згідно п. 170.1 ст. 170 Кодексу (пп. 164.2.5 п. 164.2 ст. 164 К

[2020-07-09 10:07] kattrina-brekhova commented on #1409
https://news.dtkt.ua/ru/accounting/reposts/63316

[2020-07-15 10:07] Anestezia commented on #1359
Так, в авансовому звіті помилка. І я хочу її виправити. Але для того, щоб розпровести цей авансовий звіт, мені потрібно розпровести і всі наступні таким же чином - розпроводячі і видаляючі всі привязані до них документи!!! А їх 69. Цей звіт - 31-й!
Про це я і кажу. Я уже зверталась до вас із такою проблемою. Чому вона не вирішується? Навіщо розпроводити і видаляти наступні документи?
Чи є простіши

[2020-07-16 17:23] Anestezia opened #1410 "Код УКТЗЕД в чеках РРО з 1 серпня."

[2020-07-20 09:40] kattrina-brekhova commented on #1408
вроде ок
можно изменить еще название пункта раздела "благодійна допомога військовим" или "благодійна допомога військового характеру" - чтоб народ понимал о чем єто

[2020-07-20 09:51] kattrina-brekhova opened #1411 "счета отнесения расходов на зарплаты сотрудников - к примеру, для нашей компании нужен 154 счет - для того, чтоб отнести эти расходы на себестоимость сервиса БК"
сначала программисты делали программу БК, и фонд зарплаты шел на увеличение стоимости нематериального актива (154 сче). значит для этого нужно чтоб их зарплата шла не на 23 или 9-ые классы счетов, а на 154.... (или у кого-то 153, 152....)
но потом со временем программисты начали работать на кастомные решения
а это уже другие затраты - 9-класса
то есть даже если добавить в карточку сотрудника, счет

[2020-07-20 10:23] kattrina-brekhova opened #1412 "Бухгалтера - в том числе и наш бухгалтер очень просит Додаток 6 и Додаток 7 к Декларации ПДВ"

[2020-07-20 10:26] #1220 closed, assigned to Illya-Lykhachov

[2020-07-20 10:27] kattrina-brekhova opened #1413 "Бухгалтера, в том числе и наш, очень просят выгрузку налоговых накладных в Сонату одним пакетом"

[2020-07-20 11:18] kattrina-brekhova opened #1414 "Наш бухгалтер очень просит, чтоб можно было акты (документы) одним пакетом экспортировать в pdf"
это упростит выгрузку наших мелких актов через вчасно и т.д....
к примеру, если в списке всех документов за период, напротив необходимых доков можно было поставить галочку.... - и экспортировать в pdf

[2020-07-20 11:38] kattrina-brekhova opened #1415 "Расчет налогов ЕН 3 группа - в Реєстр документів по нарахуванню податків не отражаются документы для определения базы налогообложения: юрлицо 3 группа ЕН"
![image](https://user-images.githubusercontent.com/38099938/87933771-85fbd380-ca96-11ea-9554-36b1532b55a5.png)

![image](https://user-images.githubusercontent.com/38099938/87933803-91e79580-ca96-11ea-84dd-9682da8efe2e.png)

![image](https://user-images.githubusercontent.com/38099938/87933838-a2980b80-ca96-11ea-9d27-76351bb055dc.png)

[2020-07-20 13:00] kattrina-brekhova opened #1416 "нужно, чтоб на основании счета (где есть материалы и услуги) можно было сделать не только акт с использованием материалов, но и отдельно Акт + удалив в акте материалы - отдельно и Расходную"
клиент просит, чтоб на основании счета (где есть услуга и материалы (у него в данном случае - оборудование)) можно было создать отдельно акт (у нас он создается по умолчанию) и расходную накладную
БК не понимает этого
и после удаления оборудования в акте, при создании новой реализации на основании этого же счета БК предлагает снова создать Акт. а нужна расходная

[2020-07-20 14:22] htrofymova commented on #1415
исправлено

[2020-07-20 14:29] #1415 closed, assigned to nobody

[2020-07-20 19:35] AndriyNesterenya commented on #1408
Косячит заявка по верстке при попытке добавить строку
![image](https://user-images.githubusercontent.com/38098758/87978456-165b0800-cad9-11ea-8550-32975401cd6e.png)
или несколько строк
![image](https://user-images.githubusercontent.com/38098758/87980381-350ece00-cadc-11ea-86ce-ec7f6e4ea669.png)

[2020-07-20 19:43] AndriyNesterenya commented on #1408
Если я правильно понимаю, нужна связь между заявками и актами.
Акт должно быть можно связать с заявкой + из заявки должно быть можно создать акт.
Предполагаю, что может понадобиться вариант связи одной заявки с несколькими актами.

[2020-07-20 19:48] AndriyNesterenya commented on #1408
Косяки по Заявке:
1. Позволяет провести без выбора контрагента
2. Ссылка на Акт/реализацию после поведения неактивна
![image](https://user-images.githubusercontent.com/38098758/87979581-f88ea280-cada-11ea-9868-8078a42169a6.png)
3. На печатной форме не влазит дата.
Думаю, там перенос между номером и датой потерялся.
![image](https://user-images.githubusercontent.com/38098758/87979728-2d9af500-cadb-

[2020-07-20 20:09] AndriyNesterenya commented on #1408
В Акте - те же косяки с версткой при добавлении строк(и), что по одной, что списком
![image](https://user-images.githubusercontent.com/38098758/87981518-0b56a680-cade-11ea-89f4-ec9dd09bdc6e.png)

[2020-07-20 20:13] AndriyNesterenya commented on #1408
Косяк при печати - рвет список на разные листы
![image](https://user-images.githubusercontent.com/38098758/87981650-45c04380-cade-11ea-826a-cf1cb3dd2ed6.png)
и при печати и при экспорте в PDF

Если открываем для всех - не забыть подправить надписи, забитые сейчас жестко на печатные формы - название фонда, реквизиты и т.п.

[2020-07-21 11:46] #1397 closed, assigned to nobody

[2020-07-22 09:30] kattrina-brekhova opened #1417 "Во вступительном балансе по счетам 48 класса просят реализовать аналитику - строку "проекты""
бухгалтеру нужно распределение сумм вступительного баланса по проектах нужно для отчета Оборотная ведомость по проектах
очень просит сделать в операциях вступительного баланса аналитику строки по проектам - ее интересует счет 484
или в бухгалтерской справке ручной проводки ввести строку аналитику проект, чтоб можно было распределить вступительные остатки по проектах и они не зависали
ей и то и то

[2020-07-22 11:32] AndriyNesterenya commented on #1408
Ошибка при попітке редактировать проведенній документ
"Dialog 'chatmodify' not found in model inventory/charity
at A2v10.Request.RequestModel.get_CurrentDialog() at A2v10.Request.BaseController.<RenderElementKind>d__40.MoveNext() --- End of stack trace from previous location where exception was thrown --- at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw() at System.Runtime.CompilerS

[2020-07-22 19:16] alex-kukhtin commented on #1410
Done

[2020-07-22 19:21] alex-kukhtin commented on #1365
Done

[2020-07-22 19:21] #1365 closed, assigned to nobody

[2020-07-22 19:57] #1216 closed, assigned to nobody

[2020-07-22 23:07] htrofymova commented on #1408
готово

[2020-07-23 00:12] htrofymova commented on #1417
В бухгалтерской  справке "Вручну" есть проект.
![image](https://user-images.githubusercontent.com/43743331/88241257-44377c80-cc92-11ea-96d6-35bfc2c32aca.png)

[2020-07-23 07:33] #1410 closed, assigned to nobody

[2020-07-23 07:42] kattrina-brekhova commented on #1417
бух справка в текущем виде не совсем решает задачу

![image](https://user-images.githubusercontent.com/38099938/88262504-01e16000-ccd1-11ea-86b6-da6c54bbb61f.png)

она дала только оборот в разрезе проэкта и сальдо не сформировала
![image](https://user-images.githubusercontent.com/38099938/88262564-1cb3d480-ccd1-11ea-85a4-55979445f591.png)

я так понимаю задача в том, чтоб на начало периода иметь с

[2020-08-05 08:07] Anestezia opened #1418 "Печатная форма счетов, накладных, актов. Отображать цену Без ПДВ, или з ПДВ, в зависимости от ситуации"
Просят, чтоб отображалось то, что в таблице, при наборе документа
![image](https://user-images.githubusercontent.com/42540074/89387615-6b1e9580-d70b-11ea-9ece-d1401e0591de.png)
А не так:
![image](https://user-images.githubusercontent.com/42540074/89387751-9b663400-d70b-11ea-8b2a-8fa37b9b49f9.png)

Срочная просьба от Индзахиста!

[2020-08-05 09:01] AndriyNesterenya opened #1419 "Операция "Возврата тела депозита""
Банк приход, нет специальной операции для возврата тела депозита.
Приходится использовать перемещение между собственными счетами.
С недавних пор эта операция попадает в базу налогообложения для единоналожников, т.е. расчёт сумм налога поплыл.

[2020-08-05 10:04] Anestezia opened #1420 "Просят добавить в бух.справку действующую аналитику Проекты по всем счетам"
![image](https://user-images.githubusercontent.com/42540074/89400143-22bba380-d71c-11ea-99e1-fee8faff59b7.png)
Можно начать с 48, 154, 23, 9 кл.

[2020-08-05 11:16] Anestezia opened #1421 "Карточка объекта - Добавить код льготы на вторую вкладку Коди, если выбран НДС 0%"
![image](https://user-images.githubusercontent.com/42540074/89406636-1fc5b080-d726-11ea-8933-d0b9467ba358.png)
Вот сюда добавить
![image](https://user-images.githubusercontent.com/42540074/89406678-33711700-d726-11ea-9bd8-0227c66e7558.png)

[2020-08-05 11:43] Anestezia opened #1422 "Сделать автоподстановку значения БЕЗ ПДВ в НН, в указанную графу в операциях на освобожденные от налогообложения"
У ПН, яка оформлена на звільнені від ПДВ операції, у лівому верхньому куті в графі «Складена на операції, звільнені від оподаткування» ставиться позначка «Без ПДВ» (п. 201.3 ПК).

НН на освобожденные операции
Составляется на операции, которые освобождены от обложения согласно ст. 197 НКУ и подразд. 2 разд. XX НКУ. Заполнение НН имеет такие особенности:

1. В шапке — в поле «Складена на операції, з

[2020-08-05 11:48] Anestezia opened #1423 "В список операций в Дії добавить кнопку Ввести на основании,с выпадающим списком: НН, оплату, акт, накладную."
Чтоб не нужно было каждый раз открывать документ. Это ускорит работу бухгалтера.  Наш кейс.
Для счетов, накладных и актов
![image](https://user-images.githubusercontent.com/42540074/89409411-b1372180-d72a-11ea-9937-c85d68f8bab1.png)

[2020-08-05 18:31] htrofymova commented on #1419
Добавлены две операции:
1. Перерахування грошових коштів на депозитний рахунок: дт 351 - кт 311
2. Повернення основної суми депозита: дт 311 - кт 351

[2020-08-05 18:34] htrofymova commented on #1417
Чтобы операции попали в остатки, надо поставить дату ранее начала ведения учета в буккипере, например,
30.12.1899

[2020-08-05 18:37] htrofymova commented on #1420
Есть же проект! Один на всю бух.справку, никаких ограничений по заполнению проекта - НЕТ!

[2020-08-06 06:26] kattrina-brekhova commented on #1417
ничего не меняется
![image](https://user-images.githubusercontent.com/38099938/89498137-5521db00-d7c6-11ea-94e2-ea7c49fe894f.png)

![image](https://user-images.githubusercontent.com/38099938/89498303-ac27b000-d7c6-11ea-8000-00e30b225347.png)

![image](https://user-images.githubusercontent.com/38099938/89498361-c82b5180-d7c6-11ea-99a1-e58efe691fbb.png)

при этом операция в списке документов после п

[2020-08-06 06:28] #1408 closed, assigned to htrofymova

[2020-08-06 20:36] #1419 closed, assigned to nobody

[2020-08-11 07:59] Anestezia opened #1424 "Исправить 0 на пустое значение в графе 11 НН при выписке НН без ндс"
Звонила клиентка, говорит от нас пришла Налоговая накладная, и типа показывает у нее в программе, что она с ошибкой. В графе 11 стоит 0,00, а должно быть вообще пусто.

Буккипер поставил в 11 строке налоговой "0", Соната этот "0" проверила как без ошибок. Налоговая эту нн зарегила, как правильно оформленную. Не знаю. Есть ли смысл делать корректировку. думаю нет так как все так без ндс операция)))

[2020-08-11 08:57] Anestezia commented on #1421
![photo_2020-08-11_11-56-31](https://user-images.githubusercontent.com/42540074/89878140-d237c080-dbc9-11ea-91fc-8bdf3cac54ca.jpg)

[2020-08-11 09:14] Anestezia commented on #1424
[нн 903 код.pdf](https://github.com/a2develop/bugTracker/files/5055935/903.pdf)
код пільги складається з 8 цифр

а ноль треба прибрати

глянуть в консультации последний пункт

[2020-08-11 16:18] htrofymova commented on #1422
Уже есть и, видимо, давно. Нужно сменить ставку вот здесь:
![image](https://user-images.githubusercontent.com/43743331/89922201-6411ee80-dc07-11ea-93f5-7426fe2503df.png)

[2020-08-11 16:53] #1422 closed, assigned to nobody

[2020-08-11 17:23] Anestezia commented on #1424
Здесь внутри проведенной НН графа 11 в Буккипере ничего,
![image](https://user-images.githubusercontent.com/42540074/89928303-4d23ca00-dc10-11ea-93c6-2bffe53c7f9f.png)
Когда в сонату переносится, то появляется ноль в ней
![image](https://user-images.githubusercontent.com/42540074/89928404-73e20080-dc10-11ea-83f1-0ff489ebe9d8.png)
и в самом хмл файле ноль есть
![image](https://user-images.githubuse

[2020-08-12 11:52] htrofymova commented on #1424
готово

[2020-08-15 09:49] AndriyNesterenya opened #1425 "Изменить реквизиты в формируемом счете в личном кабинете"
Изменился счет и МФО Приватбанка в реквизитах Буккипера
Нужно внести изменения в бланк формируемого в личном кабинете счета.

Вместо
Р/р UA553007110000026008052662772 в ПЕЧЕРСЬКА ФIЛIЯ АТ КБ "ПРИВАТБАНК" в м. Київ

написать
Р/р UA143052990000026009046211222 в АТ КБ "ПРИВАТБАНК"

[2020-08-15 09:52] AndriyNesterenya opened #1426 "Изменить реквизиты в оферте"
Изменить реквизиты Буккипера в оферте  https://service.bookkeeper.kiev.ua/app/termsofuse

Новый счет -
Р/р UA143052990000026009046211222 в АТ КБ "ПРИВАТБАНК"

[2020-08-19 13:31] Anestezia opened #1427 "Додати можливість створити компенсуючу податкову накладну, де продавець і отримувач -- Власна фірма"

[2020-08-19 14:07] Anestezia opened #1428 "При импорте накладной, и постановкой "С НДС", неправильное отображение в списке операций и суммы при внесении оплат."

[2020-08-19 14:12] Anestezia commented on #1421
Есть в карточке. В накладную подставляется, если выбрать сбоку ставку ПДВ.

[2020-08-19 14:12] #1421 closed, assigned to nobody

[2020-08-19 14:23] Anestezia commented on #1424
В сонате все ок, в хмл тоже.

[2020-08-19 14:23] #1424 closed, assigned to nobody

[2020-08-19 17:10] htrofymova commented on #1425
готово

[2020-08-19 17:10] htrofymova commented on #1428
исправлено

[2020-08-19 17:32] htrofymova commented on #1426
готово

[2020-08-20 00:52] htrofymova commented on #1417
добавила [Проект] в карточку нач.баланса - раздел "Інше"

[2020-08-20 02:04] htrofymova commented on #1404
готово

[2020-08-20 11:07] #1417 closed, assigned to nobody

[2020-08-20 11:08] #1426 closed, assigned to nobody

[2020-08-20 11:08] #1425 closed, assigned to nobody

[2020-08-21 11:40] kattrina-brekhova opened #1429 "через раздел Касса (Бухгалтерия) не формируется кассовая книга ? на"
![image](https://user-images.githubusercontent.com/38099938/90886648-76d0b400-e3bb-11ea-9e0e-a1315db01fd6.png)

![image](https://user-images.githubusercontent.com/38099938/90886664-7a643b00-e3bb-11ea-88d7-50f16490a0bb.png)

[2020-08-21 11:44] kattrina-brekhova commented on #1429
на сервисе та же история с фоп

![image](https://user-images.githubusercontent.com/38099938/90887200-99af9800-e3bc-11ea-847f-525ba5b30980.png)

![image](https://user-images.githubusercontent.com/38099938/90887219-a03e0f80-e3bc-11ea-8cfa-be5637901eb4.png)

при чем кассовая книга для юрика заполняется
![image](https://user-images.githubusercontent.com/38099938/90887320-ca8fcd00-e3bc-11ea-8e66-22f6f1

[2020-08-21 11:46] #1429 closed, assigned to nobody

[2020-08-26 07:23] #1428 closed, assigned to nobody

[2020-08-26 07:33] Anestezia commented on #1404
![image](https://user-images.githubusercontent.com/42540074/91274265-19f04780-e787-11ea-9122-9395254ee8d9.png)
![image](https://user-images.githubusercontent.com/42540074/91274328-2eccdb00-e787-11ea-9249-56530a9c3e12.png)
![image](https://user-images.githubusercontent.com/42540074/91274407-4e640380-e787-11ea-9f16-b6ea9da863d8.png)

У меня покупка в один день у двух разных контрагентов, агропостач

[2020-08-28 00:05] htrofymova commented on #1427
Добавлена опепрация "Податкове зобов'язання (компенсуюче)". Искать с разделе ПРИДБАННЯ

[2020-08-28 00:27] htrofymova commented on #1404
готово

[2020-09-03 11:02] kattrina-brekhova opened #1430 "в связи с увеличением минзарплаты, изменить сумму минимального взноса есв для фопов - 1, 2, 3 и общая групп"
новая минималка 5 000, минимальный есв из нее 1 100

[2020-09-03 12:33] kattrina-brekhova commented on #1430
в годовой отчет по есв должны попадать новые суммы взносов

[2020-09-03 12:35] #1404 closed, assigned to nobody

[2020-09-16 00:02] htrofymova commented on #1430
готово

[2020-09-22 01:03] htrofymova commented on #1406
Добавлено в следующие "прочие" документы:
рахунок (продаж), видаткова накладна, акт виконаних робіт (продаж), накладна на повернення постачальнику, накладна на повернення від покупця.
Если еще в какие-то "прочие" нужно добавить, перечислите, пожалуйста.

[2020-09-22 01:54] htrofymova commented on #1407
"Просто" разрешила включать готовую продукцию в Рецептуру и Акт изготовления. Не нашла именно запретов (только рекомендации) использовать готовую продукцию опять в производстве без перевода в сырье-материалы. Пусть попробуют.

[2020-09-22 18:28] htrofymova commented on #1418
Сделано,
Следующим образом:
1. Если стоит "птица" [ПДВ в т.ч.], то в печатной форме будут заголовки "Ціна з ПДВ", "Сума з ПДВ", содержимое колонок - тоже с ПДВ.
2. Если "птица" [ПДВ в т.ч.] не стоит, то заголовки остаются стандартными "Ціна", "Сума", содержимое колонок также стандартно - без ПДВ.
3. В итогах: самая первая строка теперь называется "Разом без ПДВ".

[2020-09-24 07:34] #1430 closed, assigned to nobody

[2020-09-24 11:00] Anestezia commented on #1427
Все есть.
Тут дополнительный момент: единицы измерения, которые подставляются автоматом при выборе объекта и не редактируются в НН
 Соната выдает такое. В ней можно поменять, а если сразу сдавать без редактирования во внешней проге, то так и будет, и может не приняться
![image](https://user-images.githubusercontent.com/42540074/94136848-38249280-fe6e-11ea-9b5d-6a99d77d680b.png)

![image](https://u

[2020-09-24 11:21] Anestezia commented on #1427
![image](https://user-images.githubusercontent.com/42540074/94138524-f0533a80-fe70-11ea-973b-48c451557783.png)
![image](https://user-images.githubusercontent.com/42540074/94138549-f812df00-fe70-11ea-9ca2-6272f38ec09d.png)
![image](https://user-images.githubusercontent.com/42540074/94138573-ffd28380-fe70-11ea-85f6-03dc574e2200.png)
![image](https://user-images.githubusercontent.com/42540074/9413860

[2020-09-24 12:15] Anestezia commented on #1405
"запятая и в следующей строке Є платником податку на прибуток на загальних підставах." Это тоже, как я поняла, надо?
![image](https://user-images.githubusercontent.com/42540074/94143612-c140c700-fe78-11ea-86a4-15f07df52b51.png)

[2020-09-24 12:37] #1418 closed, assigned to nobody

[2020-10-05 12:40] Anestezia opened #1431 "Добавить остальные Додатки в Декларацию по НДС"

[2020-10-06 19:47] htrofymova commented on #1427
готово

[2020-10-06 19:49] htrofymova commented on #1356
готово

[2020-10-06 21:38] htrofymova commented on #1347
Добавлены две операции: "Повернення товарів від комісіонера", "Повернення товарів комітенту". Создаются на основе, соответственно, расходной накладной "Передача товарів на комісію" и приходной "Отримання товарів від комітента".

[2020-10-07 11:12] Anestezia opened #1432 "В списке операций по контрагенту нет отбора по дате"
Если выбрать контрагента и просматривать операции по нему, то отображаются ВСЕ операции в базе, а не операции за выбранный период

[2020-10-08 01:44] htrofymova commented on #1432
исправлено

[2020-10-08 08:00] #1432 closed, assigned to nobody

[2020-10-08 08:26] Anestezia commented on #1427
Странным образом из этого

![image](https://user-images.githubusercontent.com/42540074/95431762-61f1b500-0956-11eb-9081-c903611a0561.png)
в Сонате при передаче появилось вот такое
![image](https://user-images.githubusercontent.com/42540074/95431804-72099480-0956-11eb-8d39-b5e0343b7b9f.png)
Добавились данные в столбцах.
И дальше непонятно что творится при проверке сонатовской
![image](https://user-

[2020-10-15 12:16] Anestezia opened #1433 "Не выведены подписанты в кассовом ордере на выплату зп, в печатной форме они есть"
![photo_2020-10-15_14-46-03](https://user-images.githubusercontent.com/42540074/96121940-6fc8ac80-0ef9-11eb-9119-84d3c0872af2.jpg)

[2020-10-15 12:57] Anestezia opened #1434 "У Виготовленні додати можливість обирати зі списку запасів - Матеріали с\г призначення"
![image](https://user-images.githubusercontent.com/42540074/96127462-1498b900-0efd-11eb-8653-cd5e11eb85b6.png)

[2020-10-15 13:03] Anestezia opened #1435 "Д4, Табл.6, графа 14 - не отображается количество дней отпуска за свой счет"
![photo_2020-10-15_15-27-49](https://user-images.githubusercontent.com/42540074/96129480-59255400-0eff-11eb-8601-38451502250c.jpg)
Здесь в примере у Вовченко оформлен приказ на такой отпуск, с 01.10 по 06.10. Показано, что ЗП меньше (оклад 6000, отработано 17 дней из 21, база начисления 4857,14 грн. )

Также по этому же кейсу вопрос: по этой сумме указано, что есть доначисление до минимальной зп в

[2020-10-15 13:06] Anestezia opened #1436 "Возможность из ведомости РРО формировать отдельно две НН, одну на обычные товары, а вторую на БезНДС-ные, типа масок."
Из ведомости, которая из z-отчета. 0%(903), по которой отдельно делают.
Задача изъять льготные товары из основной НН и сформировать вторую НН на них.

[2020-10-15 21:29] htrofymova commented on #1434
Готово. Проверить "Створення рецептури" также.

[2020-10-15 22:17] htrofymova commented on #1433
исправлено

[2020-10-16 05:31] Anestezia commented on #1434
Есть, работает

[2020-10-16 05:31] #1434 closed, assigned to nobody

[2020-10-16 05:39] Anestezia commented on #1433
Есть, работает. Немного не влезает при экспорте документа длинное название нашей фирмы в шапке, нужен перенос побольше

[2020-10-16 05:42] Anestezia commented on #1407
Есть, работает

[2020-10-16 05:42] #1407 closed, assigned to nobody

[2020-10-16 05:55] Anestezia commented on #1356
Есть, работает. в документы на печать выводится

[2020-10-16 06:07] #1356 closed, assigned to nobody

[2020-10-16 07:55] Anestezia commented on #1406
Есть, в перечисленных документах. и на едином и на общей

[2020-10-16 09:31] htrofymova commented on #1405
готово

[2020-10-16 10:57] Anestezia commented on #1433
Есть, влезает

[2020-10-16 10:57] #1433 closed, assigned to nobody

[2020-10-16 10:58] Anestezia commented on #1427
Осталось только в хмл файле в графе Код ставки при переносе убрать 0, чтоб было просто пустое значение.

[2020-10-16 10:58] Anestezia commented on #1405
Есть.

[2020-10-16 10:58] #1405 closed, assigned to nobody

[2020-10-16 11:00] Anestezia commented on #1347
Работает. И из Накладной если делать, и просто без привязки из операций. В обоих документах.

[2020-10-16 11:00] #1347 closed, assigned to nobody

[2020-10-16 13:54] kattrina-brekhova opened #1437 "Переходящие больничные: ошибка при доначисление ЕСВ до минималки и формирование отчета по ЕСВ"
создаю больничный
![image](https://user-images.githubusercontent.com/38099938/96265124-bb4c8a80-0fcd-11eb-8ff7-d657e6682b3f.png)

делаю продолжение больничного

![image](https://user-images.githubusercontent.com/38099938/96265169-cbfd0080-0fcd-11eb-9557-9a18131c66b2.png)

делаю начисление зарплаты - к примеру, ее выплачиваю в начале месяца за предыдущий

![image](https://user-images.githubusercont

[2020-10-19 08:00] #1406 closed, assigned to nobody

[2020-10-20 10:31] kattrina-brekhova opened #1438 "Оборотно сальдовая ведомость по складу: просят фильтр по контрагентам"

[2020-10-21 07:25] kattrina-brekhova opened #1439 "Просят добавить счет "незавершенное производство""
Було б дуже добре як би ви додали такий рахунок як незавершене виробництво - 23/1, наше підприємство с/г виробник, наприклад коли я хочу списати с/г матеріали (наприклад мінеральне добриво) там є лише виробництво, але якщо ми вносимо мінеральне добриво в грунт під посів пшениці у 2020 році - це є незавершене виробництво, оскільки урожай пшениці (готової продукції) ми отримаїмо у серпні наступного

[2020-10-21 08:06] #1367 closed, assigned to nobody

[2020-10-21 10:08] kattrina-brekhova opened #1440 "Доп блага сотрудникам (на примере добровольного медицинского страхования сотрудников): суммы должны облагаться ндфл, вз, отражаться в 1дф и в расчетно платежной ведомости"
есть просьба от бухгалтера Иштар, для которых мы делали операцию оплата страховых платежей
эти страховые платежи должны зачисляться в счет налогооблагаемых пдфо и вз доходов сотрудников
то есть, если перечислили компании по страхованию 700 гривен для 7 сотрудников, то для каждого из 7 сотрудников на сумму 100 гривен должен быть начислен ндфл и вз
есв не начисляется
такие доходы являются дополнител

[2020-10-21 10:09] kattrina-brekhova commented on #1440
![Uploading image.png…]()

[2020-10-21 10:10] kattrina-brekhova commented on #1440
![image](https://user-images.githubusercontent.com/38099938/96706048-bd806180-139e-11eb-8f5c-b62ca3cb9929.png)

[2020-10-22 10:09] kattrina-brekhova opened #1441 "изменились коды доходов в 1дф уже за 3 квартал"
недвижимое имущество было раньше только с 1 кодом
![image](https://user-images.githubusercontent.com/38099938/96857143-52e72880-1467-11eb-95db-2ce73726e0f6.png)

а теперь разграничили
![image](https://user-images.githubusercontent.com/38099938/96857370-95106a00-1467-11eb-88ee-48f90c94a751.png)

код при оренду движимого имущества остался тот же - 127

[2020-10-22 10:43] kattrina-brekhova commented on #1441
у нас вроде суммы возвратной фин помощи не попадают автоматически в 1дф

в этом тоже изменили коды
узагальнену ознаку 153 «Основна сума поворотної фінансової допомоги, наданої платником податку іншим особам, яка повертається йому, основна сума поворотної фінансової допомоги, що отримується платником податку» поділено на дві:

153 «Сума поворотної фінансової допомоги наданої платником податку іншим

[2020-10-22 10:45] kattrina-brekhova commented on #1441
https://github.com/a2develop/bugTracker/issues/1409

[2020-10-22 10:48] kattrina-brekhova commented on #1441
https://www.youtube.com/watch?v=gsJpN0Wunkw

[2020-10-26 07:58] kattrina-brekhova opened #1442 "при расчете амортизации программа не учитывает данные, внесенные в карточку вступительного баланса, и превышает сумму месячной амортизации за последний месяц эксплуатации"
обратилась клиентка
у нее такая история с ОС
внесла 01/01 вступительным балансом ОС
![image](https://user-images.githubusercontent.com/38099938/97146509-a364cb80-1770-11eb-9933-85960402df66.png)
уже была начислена какая-то амортизации (похоже не прямолинейным методом)
ПВ 3080
АМ 1399,13
Срок использования 10 мес
ЛВ 100

Расчитываю амортизацию:
01/20, 02/20, 03/20, 04/20, 05/20 по 298 гривен (3080

[2020-10-28 08:56] htrofymova commented on #1442
готово

[2020-10-29 13:54] kattrina-brekhova commented on #1442
нашла интересный момент
делаю перемещение этого фонда в состав, удерживаемых для продажи, и сумма ампортизации идет полностью на сумму первичной стоимости
это правильно?
если мы указывали в карточке объекта ликвидационную стоимость 100 грн
значит, сумма амортизации должна быть 2 980
![image](https://user-images.githubusercontent.com/38099938/97582648-aaa10900-19fe-11eb-9ff8-89f9d27cf2a1.png)

![im

[2020-10-29 14:50] htrofymova commented on #1442
ликвидационная стоимость тут ни при чем

[2020-10-29 15:19] htrofymova commented on #1427
готово

[2020-10-31 13:17] #1399 closed, assigned to nobody

[2020-10-31 13:24] #1227 closed, assigned to alex-kukhtin

[2020-10-31 13:27] #1214 closed, assigned to alex-kukhtin

[2020-11-02 09:10] Anestezia opened #1443 "Проводки "Визнання доходу" для ОСББ, вопросы"
Login: lyudshv@gmail.com
ЯК відкоригувати проводки? Це неприбуткова організація. Всі витрати збираються на 94 рах. Рахунки 92, 93, 91 рах., 23 рах. - не використовуються. При проведенні розрахунково-касового обслуговування створюється провадка Дт 92 Кт 311. Нам потрібно ДТ 949 кТ 311. Дт 791 Кт 949. І одночасно визнається дохід в сумі понесених витрат Дт 484 Кт 719 Дт 719 Кт 791 Як ці проводки від

[2020-11-03 15:07] htrofymova commented on #1443
готово.
Добавлены две опрации для ОСББ: по банку и по бух.справке

[2020-11-03 15:47] htrofymova commented on #1438
готово

[2020-11-04 09:23] #1438 closed, assigned to nobody

[2020-11-04 09:23] #1442 closed, assigned to nobody

[2020-11-04 23:29] htrofymova commented on #1436
готово

[2020-11-05 11:41] Anestezia opened #1444 "Компенсация за использование автомобиля с одновременным отражением выплаты такого налога в форме 1дф с кодом 126"
![image](https://user-images.githubusercontent.com/42540074/98236659-5fda4080-1f6c-11eb-967f-9db36369ca6a.png)

[2020-11-05 11:52] #1427 closed, assigned to nobody

[2020-11-05 15:40] Anestezia commented on #1443
Работает

[2020-11-12 17:29] htrofymova commented on #1346
готово

[2020-11-12 17:55] htrofymova commented on #916
Доработано или изменено следующее:
1. Возврат денег (от поставщика или покупателю) теперь можно привязать к документу оплаты (поставщику или от покупателя).
2. Документы на возврат оплат отображаются в разделе (колонке) "Платежі" с пометками [оплата] или [повернення].
3. Вовратные накладные отображаются в разделе (колонке) "Повернення". При чем отображаются у документа-родителя и у базового докуме

[2020-11-26 14:16] Anestezia opened #1445 "Код платника ПДВ"
yan@persey.biz
Контрагент ФОП Шерстюк Сергій Петрович. У "Властивості контрагента" в полі "номер платника ПДВ" копіюються дані з поля "ІПН". МАЄ бути в полі "ІПН" 2712710875. в полі "номер платника ПДВ" 271271087540

Головне управління ДПС у Київській області інформує, що пп. 2 п. 1.6 розділу І Положення про реєстрацію платників податку на додану вартість, затвердженого наказом Міністерства фінанс

[2020-12-01 07:22] #1443 closed, assigned to nobody

[2020-12-01 07:22] #1436 closed, assigned to nobody

[2020-12-01 07:24] kattrina-brekhova opened #1446 "новая форма декларации по прибыли - за 1 квартал 2021. но есть вероятность, что налоговики настоят на новой форме отчета за 4 квартал 2020"

[2020-12-01 07:28] kattrina-brekhova commented on #1446
наказ Минфин від 29.10.2020 р. №649. здесь же новые показатели отчета и его изменения

https://news.dtkt.ua/state/laws-and-regulations/66442

вот статья про изменения, которые вводят в отчет
https://news.dtkt.ua/accounting/reposts/66441

[2020-12-01 07:43] #1034 closed, assigned to nobody

[2020-12-01 07:44] #1248 closed, assigned to kattrina-brekhova

[2020-12-02 08:53] kattrina-brekhova opened #1447 "отчет комиссионера: сделать возможность создать налоговый кредит на сумму вознаграждения комиссионеру"
![image](https://user-images.githubusercontent.com/38099938/100849512-5a98e480-348b-11eb-911f-53a4b4b7801f.png)

![image](https://user-images.githubusercontent.com/38099938/100849583-700e0e80-348b-11eb-85eb-f2df20df6c94.png)

[2020-12-03 03:29] htrofymova commented on #1416
Исправлено: есть уже такая операция "Реалізація послуг з матеріалами" - вот она и будет создаваться.

[2020-12-03 08:49] kattrina-brekhova commented on #1416
делаю счет

![image](https://user-images.githubusercontent.com/38099938/100985429-a5326380-3554-11eb-8bba-78f7c2f94b1a.png)

на основании делаю реализацию. удаляю из акта материалы

![image](https://user-images.githubusercontent.com/38099938/100985609-ddd23d00-3554-11eb-91fc-5a8ae3e6ee0f.png)

провожу чисто акт

![image](https://user-images.githubusercontent.com/38099938/100985659-e9256880-3554-11

[2020-12-03 10:00] #1346 closed, assigned to nobody

[2020-12-03 10:09] Anestezia commented on #1445
Ипн запрашивает 10 цифр, код ПДВ 12, но все равно идет копирование ипн в строку пдв, это небольшое неудобство, если при импорте контрагентов файлом ы ипн была допущена ошибка, то при ее исправлении (при правильной нижней строке -- код ПДВ), он сразу копируется из ИПН, и тогда приходится  код ПДВ тоже корректировать, хотя до этого он был правильный. А так, все ок, просто небольшое неудобство при ис

[2020-12-03 10:09] #1445 closed, assigned to nobody

[2020-12-03 10:45] #1441 closed, assigned to Illya-Lykhachov

[2020-12-03 10:45] #1409 closed, assigned to nobody

[2020-12-07 13:17] kattrina-brekhova opened #1448 "в расчете налогов бухсправкой неправильно считается сумма дохода у фоп-комиссионера на ЕН: нужно включать только комиссионное вознаграждение, а программа тянет все деньги, полученные за проданный комиссионный товар"
у меня фоп 3 группы:
получила товары
![image](https://user-images.githubusercontent.com/38099938/101355354-1d738e80-389f-11eb-86bc-30984d73849e.png)

продала товары 2-мя расходными
![image](https://user-images.githubusercontent.com/38099938/101355378-26fcf680-389f-11eb-91d7-cccf68f7a516.png)

получила оплаты на сумму 64 000

составила акт комиссионера
![image](https://user-images.githubusercontent

[2020-12-07 13:19] kattrina-brekhova commented on #1448
логика программы понятна
видимо проблема в том, что оплата зашла как от обычных операций
![image](https://user-images.githubusercontent.com/38099938/101355596-76dbbd80-389f-11eb-9ba9-bcac19cda0e7.png)

и никаких дополнительных признаков не указать
но так неправильно

[2020-12-09 11:36] kattrina-brekhova opened #1449 "производство: добавить возможность в себестоимость готовой продукции включать услуги (работы)"
как в примере изготовления (или ремонта) НА - там есть возможность включить и материалы и услуги
в производстве нет
обратился клиент, у него правда кейс еще "круче": Постачальник послуг отримав від нас матеріали для виготовлення готової продукції на наше замовлення.
В результаті ми отримали певну кількість готової продукції і Акт на надані послуги по виготовленню продукції де вказано кількість виг

[2020-12-09 13:31] Anestezia opened #1450 "Схема с получением целевых средств на покупку НА, оплатой и приходом"
Витрати неприбуткових організацій формуються відповідно до П(С)БО-16.
Враховуючи особливості діяльності, неприбуткові організації можуть вести
аналітичний облік витрат за напрямками, проектами.
В багатьох документах вашої програми аналітичний облік по проектам
відсутній,наприклад в бухгалтерській довідці,Акті введення основниз засобів
в експлуатацію і т.д.
Також в програмі немає всіх необхідних пр

[2020-12-15 11:25] Anestezia opened #1451 "Ошибка при создании начального баланса из импорта объектов"
Не можливо добавить "початковий баланс" на "Запаси" при імпорту товарі з файлу. Вручну можливо. Самі товари імпортуються без помилок.
Я внесла изменения в номер документа — активировалась кнопка Зберегти, а провести таки нет. Я закрыла, полезла в Початковий баланс по Запасам — документа этого там нет, даже как черновика, я открыла один из добавленных объектов учета, операции конкретно по нему — Пр

[2020-12-15 14:37] AndriyNesterenya commented on #916
Обнаружились недоработки:

1. Не сделали возврат по валютным инвойсам

2. Не совсем корректно отслеживается ситуация с оплатами и возвратами.
Кейс:
Был выставлен счет на услугу.
Счет был оплачен.
Потом еще раз (ошибочно) оплачен.
Сделан возврат лишней оплаты.
Сделка закрыта актом.
В результате висит статус "Переплата"
![image](https://user-images.githubusercontent.com/38098758/102228578-88524480-3

[2020-12-21 10:11] #1420 closed, assigned to nobody

[2020-12-22 09:18] #1033 closed, assigned to AlexeyTishkin

[2020-12-22 09:41] #759 closed, assigned to htrofymova

[2020-12-22 10:16] Anestezia commented on #1391
https://github.com/a2develop/bugTracker/issues/1005

[2020-12-22 10:44] #753 closed, assigned to Illya-Lykhachov

[2020-12-22 10:57] Anestezia opened #1452 "Добавить приказ на премию и с Расчетной ведомости ее тоже учитывать/ показывать"

[2020-12-22 20:58] htrofymova commented on #1451
исправлено

[2020-12-22 21:03] htrofymova commented on #1416
сделано же, можно закрьіть

[2020-12-22 22:19] htrofymova commented on #1450
Сделала новую операцию для приходной накладной: "Придбання необоротних активів за рахунок коштів цільового фінансування": дт 152 или 153 - кт 48. Остальное уже реализовано.
151 счет - отдельная история: получают целевое финансирование, платят, приходуют от поставщика, перемещают на 151, услуги относят на 151 в акте, признают доход.
831 счета не будет, так как 8 класс у нас не ведется.

[2020-12-23 07:47] htrofymova commented on #1448
готово

[2020-12-23 08:48] #1416 closed, assigned to nobody

[2020-12-23 09:05] kattrina-brekhova commented on #1448
я указала, что вознаграждение комиссионера НЕ ВЫЧИТЫВАЕТСЯ ИЗ СУММЫ ПРОДАЖИ, а перечисляется комитентом отдельно
вот что у меня вышло
![image](https://user-images.githubusercontent.com/38099938/102979315-9402c400-450e-11eb-81e5-36347f9468fe.png)

![image](https://user-images.githubusercontent.com/38099938/102979403-af6dcf00-450e-11eb-854c-88eb6cc219f3.png)

смотрите только расчет за 23 число
![ima

[2020-12-23 09:08] kattrina-brekhova commented on #1448
если ставить галочку "сума вознаграждения удерживается" расчет такой же
![image](https://user-images.githubusercontent.com/38099938/102979695-19867400-450f-11eb-8b3a-b49decd48555.png)

![image](https://user-images.githubusercontent.com/38099938/102979720-23a87280-450f-11eb-89a9-fe16deb4cd29.png)

[2020-12-23 09:09] kattrina-brekhova commented on #1448
в общем, логика ясна
но в случае, если вознаграждение не удерживается, а перечисляется комитентом, то получается задваивание

[2020-12-23 10:54] htrofymova commented on #916
1. А оно вообще бывает такое?
2. Изменила отображение статуса "такой" оплаты. Но, вообще-то просто так такую переплату не сделаешь.
3. а в "Запасах" посмотреть?

[2020-12-23 18:13] htrofymova commented on #1448
надо подумать

[2020-12-23 22:30] htrofymova commented on #1448
придумалось, проверяйте

[2020-12-24 09:12] kattrina-brekhova commented on #1448
прекрасно!

[2020-12-24 09:12] #1448 closed, assigned to nobody

[2020-12-25 13:10] AndriyNesterenya commented on #916
1. Еще как бывает.
У всяких туристов/перевозчиков/доставщиков сплошь и рядом.
2. Ага, покажу страдальцам
3. В запасах нет счетов. Всяких "продавцам воздуха" с услугами - не лечит. Или я чего-то не знаю?

[2020-12-28 13:41] #1451 closed, assigned to nobody

[2020-12-29 18:46] AndriyNesterenya commented on #916
... Запасы никак не лечат, если речь об услугах.
Требуют любым способом возможность выбора выписанных/полученных счетов и инвойсов со всеми вытекающими

[2021-01-01 11:19] AndriyNesterenya opened #1453 "[Верстка] Косяк в выписке при ручном вводе ЕДРПОУ контрагента"
Мелкий косяк в верстке.
Если при ручном вводе выписки ввести код ЕДРПОУ прямов поле - всплывающая выбиралка результатов поиска не помещается в окно.
При поиске по названию все ОК.

![image](https://user-images.githubusercontent.com/38098758/103437739-fb69f380-4c33-11eb-9c44-9794d5e7e5e6.png)

[2021-01-01 11:22] AndriyNesterenya commented on #1453
там же
![image](https://user-images.githubusercontent.com/38098758/103437782-69161f80-4c34-11eb-93aa-a0982d11dea7.png)

[2021-01-04 19:51] #1453 closed, assigned to nobody

[2021-01-04 19:58] AndriyNesterenya opened #1454 "[Улучшайзинг] Новая админка - экспорт после поиска"
Нашелся мелкий неудобный косяк в экспорте из Біллінг/Оплати

Если осуществляется отбор по селектору "Регистрации" или по периоду - в экспорт попадает только результат отбора, видимый на экране.
Если осуществляется поиск (например по новому тенанту) - в экспорт попадает весь список за выбраный период, результаты поиска на экране игнорируются

[2021-01-05 08:02] kattrina-brekhova opened #1455 "Зарплата: изменился размер соц льготы в 2021 году"
У 2021 році податкова соціальна пільга дорівнює 1135,0 грн при граничному доході – 3180,0 гривень.

[2021-01-05 10:53] kattrina-brekhova opened #1456 "Настройка РРО: в свежей версии хрома не появился значек с параметрами A2v10 equipment host"
вносить параметры РРО нужно было через "параметры расширения"
версия хром Версия 87.0.4280.88 (Официальная сборка), (64 бит)

[2021-01-06 09:19] alex-kukhtin commented on #1456
Не думаю, что я смогу понять почему.

[2021-01-06 09:21] MaksymTikhomirov commented on #1456
Гремлины завелись, не иначе )))

[2021-01-06 14:16] Anestezia opened #1457 "Несоответствие количества дней отпуска в приказе и в Расчетной ведомости, если были праздники"
![image](https://user-images.githubusercontent.com/42540074/103777954-4ae85f00-503a-11eb-8002-7cddc5bc74a5.png)
![image](https://user-images.githubusercontent.com/42540074/103778024-59cf1180-503a-11eb-94ab-6217af2b2433.png)
Возможно, следует установить не календарное наследование по датам, а из ячейки количество дней отпуска.

[2021-01-06 15:52] kattrina-brekhova opened #1458 "просят, чтоб в карточке сотрудника можно было один раз указать, что его ФИО проставляется в расходных накладных автоматически"
а например, если много менеджеров и они меняются, то эту галочку не обязательно ставить

[2021-01-06 15:54] kattrina-brekhova opened #1459 "расходная накладная: просят, чтоб можно было указать місце складання"
насколько поняла этот реквизит спорный, но некоторые клиенты боятся и считают, что лучше перебздеть
как вариант, этот реквизит оставить в закладке "для друкованої форми"

[2021-01-11 12:59] kattrina-brekhova opened #1460 "расчет налогов ФОП: изменился размер ЕН и ЕСВ"
ЕН

Платники ЄП 1 групи | До 10% від прожиткового мінімуму для працездатних осіб на 01.01.21, тобто до 227,00 грн.
Платники ЄП 2 групи | До 20% від мінімальної зарплати на 01.01.21, тобто до 1 200,00 грн.
Платники ЄП 3 групи | 3% від доходу (для платників ПДВ) або 5% від доходу (для неплатників ПДВ).

ЕСВ

1 січня — 30 листопада | 1 320,00
1 грудня — 31 грудня | 1 430,00

[2021-01-13 14:23] Anestezia opened #1461 "Добавить операцию Повернення коштів цільового фінансування"
48

[2021-01-13 22:31] htrofymova commented on #1459
готово

[2021-01-13 23:47] htrofymova commented on #1461
готово

[2021-01-14 11:49] #1460 closed, assigned to nobody

[2021-01-14 11:50] #1455 closed, assigned to Illya-Lykhachov

[2021-01-14 11:52] #1459 closed, assigned to nobody

[2021-01-15 08:49] #1461 closed, assigned to nobody

[2021-01-15 08:54] Anestezia opened #1462 "Собственное предприятие в контрагентах или переброс средств самому себе через 48 счет"
Кейс

Доброго дня..
На кожний діючий проект відкривається новий рахунок в банку (така умова гранта надавачів)
Коли надходять кошти по проекту робимо проводку  ДТ311  КТ484.
Коли в проекті задіяні тільки ФОПи все гаразд.Але коли є трудові  угоди і згідно  яких необхідно
виплачувати заробітну плату два рази на місяць(не зважаючи чи є кошти на рахунку проекту,а він діє.
Гранта надавач затримує перера

[2021-01-15 14:40] #1458 closed, assigned to nobody

[2021-01-15 14:41] kattrina-brekhova opened #1463 "свойство сотрудника "Підписує накладні" перенести в свойство "Посади", и название "Підписує Видаткові накладні""
![image](https://user-images.githubusercontent.com/38099938/104740329-82e55580-5750-11eb-9af7-3ddb8a4b295f.png)

[2021-01-15 15:28] Anestezia opened #1464 "Отбор в списке контрагентов не работает без обновления страницы"
Зайти в контрагенты, поставить отбор Покупці, Банки — и ничего, только при обновлении страницы отбор таки происходит.
![image](https://user-images.githubusercontent.com/42540074/104745756-19b51080-5757-11eb-951c-3dfb931ce618.png)

[2021-01-18 15:38] Anestezia opened #1465 "Список счетов контрагента в банковской выписке - поверх окон установить"
TabPanel  Overflow="True"
![image](https://user-images.githubusercontent.com/42540074/104935498-018dfd00-59b4-11eb-9a4c-9779fb8e9611.png)

[2021-01-19 21:34] htrofymova commented on #1463
Все-таки, я думаю, что не нужно переносить. Получится, что эта подпись будет привязана к должности и все сотрудники с таой должностью будут подписантами, а смысл вроде бы ж в том, что бы подписант такой был один.

[2021-01-20 13:26] #1465 closed, assigned to nobody

[2021-01-20 13:31] Anestezia opened #1466 "Поч.баланс-банк-формувати проводку по властивості розрахункового рахунку"
Некоторые счета идут на 351, 184 и т.д. счета, а проводка при внесении нач.остатков формируется по 311. Потом в оборотке из банковской выписке этих начальных остатков не видно.
![image](https://user-images.githubusercontent.com/42540074/105181329-5789ae80-5b34-11eb-8e0b-7783e36f19e6.png)
![image](https://user-images.githubusercontent.com/42540074/105181426-71c38c80-5b34-11eb-8872-a436a9834366.png)

[2021-01-21 12:37] htrofymova commented on #1466
готово

[2021-01-21 16:03] kattrina-brekhova commented on #1463
Галина, а вы таки правы
значит, все правильно изначально сделали

[2021-01-21 16:03] #1463 closed, assigned to nobody

[2021-01-21 16:05] kattrina-brekhova opened #1467 "Ведомость инвентаризации: при ручном выборе объектов учета хотелось бы, чтоб фактическое наличие и цена автоматически проставлялись"
ситуация: у клиента тысячи наименований, но он хочет сделать инвентаризацию только по интересующим его товарам
при выборе в ручном режиме объектов учета учетное кол-во и цена автоматически не проставляется
а хотелось бы

[2021-01-21 16:06] kattrina-brekhova commented on #1467
![image](https://user-images.githubusercontent.com/38099938/105377389-6d21d580-5c13-11eb-8e49-12677c4136fa.png)

[2021-01-22 09:15] Anestezia commented on #1466
Пока по счетам все по-старому. И в Начальном балансе на 311 вместо 184 идет. и в оборотке из банковской выписки тоже начального остатка не видит по 184.

[2021-01-25 13:23] htrofymova commented on #1466
исправила

[2021-01-25 18:48] htrofymova commented on #916
Добавила фильтр по операции. Группировку убрала.

[2021-01-27 12:56] Anestezia opened #1468 "У контрагента ФОПа автоматом пишет, что он "Є платником податку на прибуток на загальних підставах""
Контрагент - ФОП 3 група, плательщик НДС, в печатной форме акта пишет "платник податку на прибуток...."
Как исправить?
В карточке контрагента мы можем только поставить Платит он НДС или нет, группу не поставить. А в акте действительно пишет у фопа, что Платник на загальних

Ключевое, что это КОНТРАГЕНТ, там нет системы налогообложения, а он может быть и на едином.

[2021-01-28 10:08] kattrina-brekhova opened #1469 "расчет зарплаты: автоматически не отражается кол-во рабочих дней в периоде"
![image](https://user-images.githubusercontent.com/38099938/106122578-8cfc5080-6161-11eb-9ce2-4d3c0ef03d53.png)

[2021-01-28 14:42] htrofymova commented on #1462
Добавлены две операции:
Надходження коштів цільового фінансування з іншого власного рахунку
Видаток коштів цільового фінансування на інший власний рахунок
Операции выбираются в выписке. На закладке "Додатково" выбирается "Вид надходжень" (вместе с ним выбирается 483, 482 или 484 счет). Там же выбирается Проект.

[2021-01-28 16:29] htrofymova commented on #1468
В диалог свойст контрагента добавлена возможность заполнить систему налогообложения.

[2021-01-28 19:36] AndriyNesterenya commented on #916
Косяки/вопросы на примерах SA-726:

1. Счет 3875 от 11.12.2020	на сумму 15 000,00
оплата  № 78 від 11.12.2020 на суму 15 000,00 UAH
повернення № 44 від 29.12.2020 на суму 15 000,00 UAH
На главной и в Панели управления висит в "Очікує відвантаження" - надо бы допилить отображение.

2.  счет от 03.04.2019 №3365 на 43354,00
и две оплаты
№ 43 від 04.04.2019 на суму 22 000,00 UAH
№ 51 від 15.04.2019 на

[2021-01-28 19:49] AndriyNesterenya commented on #916
PS может быть важно
Счет UA453807750000026002056117342 - старый
в 2020 году Приват им поменял МФО и номер счета на новый UA563052990000026006026701249.

[2021-02-02 09:09] kattrina-brekhova opened #1470 "Новая форма отчета для ФОП по ЕН и ЕСВ (1-4 группы с додатками)"
https://www.buh24.com.ua/minfin-nakaz-752-vid-09-12-2020r/
https://ips.ligazakon.net/document/RE35586?an=566

[2021-02-02 09:15] kattrina-brekhova opened #1471 "Новая форма 1ДФ (ндфл и есв) для работодателей уже за 1 квартал"
https://ips.ligazakon.net/document/RE35587?an=54

https://buhgalter911.com/uk/news/news-1055471.html

[2021-02-04 16:15] #1470 closed, assigned to nobody

[2021-02-05 14:52] #1466 closed, assigned to nobody

[2021-02-05 15:06] Anestezia commented on #1468
Важно это перенести в печатную форму актов, которые по всей реализации

[2021-02-05 15:14] #1462 closed, assigned to nobody

[2021-02-05 15:19] #1468 closed, assigned to nobody

[2021-02-06 14:48] kattrina-brekhova opened #1472 "автоматическое заполнение баланса (форма 1-мс): с строку 1420 не попадает сумма убытка, указанная в прошлом периоде"
из-за этого и неправильно расчитывается прибыль (убыток) текущего года
баланс пассив 19
![image](https://user-images.githubusercontent.com/38099938/107121402-e0297e00-689a-11eb-9f05-4fc53ee4b1ba.png)
баланс пассив 20
![image](https://user-images.githubusercontent.com/38099938/107121430-064f1e00-689b-11eb-9b8d-0ed9a79ebe06.png)
оборотка 19
![image](https://user-images.githubusercontent.com/38099938

[2021-02-06 15:08] kattrina-brekhova commented on #1444
эта же компенсация должна отражаться в форме 1дф с кодом 126

[2021-02-06 15:16] kattrina-brekhova opened #1473 "виплата благодійної допомоги, безповоротної фінансової допомоги фізичній особі!!! - с одновременным отражением в 1дф с кодом 169"
при этом следует учитывать, что суммы с этим кодом попадают в рамках допустимого неналогооблагаемого лимита
все что свыше - код 127
я про это готовила материал в 20 году. тогда граница была 2940
https://bookkeeper.kiev.ua/zakonno-groshovi-viplati-pratsivnikam-bez-splati-yesv/
сейчас граница другая - 3180
у нас выплата безповоротной фин помощи никак не отражается в 1дф

[2021-02-06 15:18] kattrina-brekhova commented on #1444
еще по єтой теме
https://www.buhoblik.org.ua/normativka/2017/09/0393.html
https://www.buhoblik.org.ua/uchet/zadolzhennosti/3873-kompensatsiya-za-ispolzovanie-avtomobilya.html

[2021-02-08 09:37] kattrina-brekhova opened #1474 "новая налоговая накладная и декларация по ндс с 1 марта"
налоговые накладные и РК с 1 марта
первый отчет по новой форме:
одни источники говорят, что за февраль, другие -- что за март
новые формы:
https://buhgalter911.com/normativnaya-baza/prikazy/minfin/pro-vnesennya-zmin-1056073.html

https://news.dtkt.ua/accounting/reposts/67643?utm_source=tg_messenger&amp;utm_medium=Tg&amp;utm_campaign=news_04022021

[2021-02-08 09:45] kattrina-brekhova opened #1475 "новый объединенный отчет с ЕСВ и ЕН для ФОП 1-3 груп"
3 группа будут оставлять впервые отчет по новой форме за 1 квартал в апреле-мае
https://buhgalter911.com/uk/news/news-1055472.html

[2021-02-08 12:57] Anestezia opened #1476 ""Безоплатне одерження Немат.активів" - убрать статус "Потребує оплати""

[2021-02-09 12:43] Anestezia opened #1477 "Разрешить вводить дробное значение в количество отработанных дней/часов фактически, Аванс и Розрахунок ЗП."
Login: ketkosto@gmail.com
В звітному періоді працівник відпрацював 4,5 дні .Коли нараховую з\п програма виправляє на 4 дні. (працівник оформлений на пів ставки).Що робити щоб з/п нараховувалась вірно?

[2021-02-09 13:26] kattrina-brekhova commented on #695
наверное речь идет о производстве, когда можно на 23 отправить и акты по электроэнергии, и амортизацию, и зарплату.
это то можно и сейчас, но штука в том, что в документе производство нельзя подтянуть эти суммы. таким образом, даже если в производстве используются эти затраты, они не увеличивают себестоимость изготовленной единицы продукции, а просто подвисают на 23 счете

[2021-02-09 13:28] #740 closed, assigned to AlexeyTishkin

[2021-02-09 13:32] #1376 closed, assigned to nobody

[2021-02-09 13:36] kattrina-brekhova opened #1478 "нужен бланк доверенности с автозаполнением на основании счета и приходной накладной"
вроде где-то видела уже такое ишью, но полистала и не нашла
бланк доверенности -- стандартный, с автонумерацией с начала года
заполняется на основании счета и приходной накладной
п.с. не удивлюсь, если попросят еще книгу учета доверенностей (что логично) (по типу кассовой книги) -- заполняется, потом печатается и прошивается

[2021-02-11 12:46] AndriyNesterenya opened #1479 "[BUG] Ошибка в начальном балансе по банку - "The stored procedure '[a2].[Init.Bank.Update]' doesn't exist.""
Ошибка в начальном балансе по банку - "The stored procedure '[a2].[Init.Bank.Update]' doesn't exist."
По кассе все ОК

[2021-02-11 12:55] AndriyNesterenya opened #1480 "В файловой выписке Приватбанка установить "Новый интерфейс" по умолчанию"
В файловой выписке Приватбанка установить "Новый интерфейс" по умолчанию

[2021-02-15 09:59] kattrina-brekhova commented on #1474
https://news.dtkt.ua/taxation/pdv/67901?utm_source=tg_messenger&utm_medium=Tg&utm_campaign=news_15022021

[2021-02-15 09:59] kattrina-brekhova commented on #1474
Зокрема, податкову накладну та розрахунок коригування доповнено новим реквізитом «код», в якому зазначається ознака джерела податкового номера відповідно до реєстру, якому належить податковий номер особи:

1 – Єдиний державний реєстр підприємств та організацій України (ЄДРПОУ);

2 – Державний реєстр фізичних осіб – платників податків (ДРФО);

3 – реєстраційний (обліковий) номер платника податків,

[2021-02-15 11:06] Anestezia opened #1481 "Початковий баланс по банку -- попадает на 312 счет, хотя валюта счета - гривня"
![image](https://user-images.githubusercontent.com/42540074/107938773-83ab1a80-6f8e-11eb-9072-5d98fd03048c.png)
![image](https://user-images.githubusercontent.com/42540074/107938790-89a0fb80-6f8e-11eb-819b-90b25b88f014.png)
![image](https://user-images.githubusercontent.com/42540074/107938810-9160a000-6f8e-11eb-8189-9889bd25b3c5.png)

[2021-02-16 01:10] #1479 closed, assigned to nobody

[2021-02-16 11:19] Anestezia commented on #1469
Это влияет на отпускные, при расчете за январь ставит 0 дней, хотя вручную в расчете ЗП эти дни по графику и фактически проставлены были. В результате неправильно рассчитывается среднедневная

[2021-02-16 11:46] Anestezia opened #1482 "При экспорте данных контрагентов не экспортируется поле Юр. адрес, Факт. адрес"
При экспорте данных контрагентов не экспортируется поле Юр. адрес, Факт. адрес
Можно решить? Нужно для переноса в другую учетку
![image](https://user-images.githubusercontent.com/42540074/108058885-54171380-705d-11eb-8e49-b83100017d95.png)

[2021-02-16 12:10] Anestezia opened #1483 "При формуванні розрахункових листків місяці перемішані."
![image (19)](https://user-images.githubusercontent.com/42540074/108061255-b6bdde80-7060-11eb-985b-ed37890da3c9.png)

[2021-02-16 14:58] htrofymova commented on #1481
исправлено

[2021-02-16 17:00] htrofymova commented on #1482
добавила

[2021-02-16 17:09] htrofymova commented on #1480
готово

[2021-02-16 17:13] htrofymova commented on #1476
сейчас стоит статус "не потребує оплати". Убрать совсем? т.е. не писать ничего в статусе оплаты?

[2021-02-16 18:37] htrofymova commented on #1472
исправлено

[2021-02-19 10:26] #1472 closed, assigned to nobody

[2021-02-22 12:53] #1481 closed, assigned to nobody

[2021-02-22 12:54] #1450 closed, assigned to nobody

[2021-02-22 12:57] #1482 closed, assigned to nobody

[2021-02-22 13:01] Anestezia opened #1484 "Поч. баланс по 39 рахунку - в проводках сума має попадати на 39 рах, а не на рахунок з властивостей об'єкта"
![image](https://user-images.githubusercontent.com/42540074/108711926-b325ce00-751e-11eb-9099-12065f296ec8.png)
![image](https://user-images.githubusercontent.com/42540074/108711944-bcaf3600-751e-11eb-8914-9aa9d6984c41.png)

[2021-02-22 13:46] kattrina-brekhova commented on #1474
уточняющий расчет по НДС тоже изменился
Як ми зазначили на початку матеріалу, форма УР також зазнала змін, але вони є дзеркальними тим змінам, що відбулись у формі власне декларації з ПДВ.
и внести новую форму нужно раньше даже, чем декларацию ндс, так как Уточнюючий Розрахунок за новою формою складатимемо вже у березні, незважаючи на не, за якою формою була подана Декларація, до якої УР подається

[2021-02-22 15:39] Anestezia opened #1485 "Додати в Акт списання рах 39."
Login: sfg.khliborob@gmail.com
можно добавить в акт списания списання на 39 витрати майбутніх періодів?

[2021-02-25 10:05] kattrina-brekhova opened #1486 "новая форма S0111005 - Фінансовий звіт мікропідприємства, № 1-мс, 2-мс (річна, квартальна) за 2020 год"
https://buhgalter911.com/uk/news/news-1056398.html

[2021-02-25 10:16] kattrina-brekhova opened #1487 "нова форма J0103804 - Податкова декларація платника єдиного податку четвертої групи із додатком (J0138104) J0901205 - Фінансова звітність мікропідприємства"
у нас у нас J0103803

[2021-02-25 10:18] kattrina-brekhova commented on #1487
подается впервые за 2021 год

[2021-02-26 00:56] htrofymova commented on #1486
готово

[2021-03-01 14:25] kattrina-brekhova opened #1488 "податкові накладні для аграріїв із ставкою ПДВ 14% — нужно держать руку на пульсе, изменения приняты с 1 марта, но налоговая еще не утвердила новую форму нн для таких операций"
https://buh.ligazakon.net/news/201929_restratsya-podatkovikh-nakladnikh-dlya-agrarv-z-stavkoyu-pdv-14-vdkladatsya--dps

[2021-03-05 03:11] htrofymova commented on #1469
заполнила графики рабочего времени на 2021

[2021-03-05 08:12] #1486 closed, assigned to nobody

[2021-03-05 08:27] #1469 closed, assigned to nobody

[2021-03-05 08:33] #1474 closed, assigned to nobody

[2021-03-11 12:09] #1464 closed, assigned to nobody

[2021-03-11 12:26] kattrina-brekhova opened #1489 "вступительный баланс по заборгованості підзвітної особи - в отчете подотчетного лица неправильное отражение суммы - отражается как "перевитрата", хотя по сути это выдача"
вступительный баланс
![image](https://user-images.githubusercontent.com/38099938/110786581-fb5e2380-8274-11eb-890b-ba4c1b3ca1c9.png)

проводка правильная
![image](https://user-images.githubusercontent.com/38099938/110786644-0ca73000-8275-11eb-8eb3-8067522ac630.png)

а в отчете подотчетного лица видит как долг ПЕРЕД сотрудником
![image](https://user-images.githubusercontent.com/38099938/110786815-4

[2021-03-11 19:06] htrofymova commented on #1489
исправлено

[2021-03-16 15:35] htrofymova commented on #1488
готово

[2021-03-18 17:20] #1484 closed, assigned to nobody

[2021-03-18 17:21] #1485 closed, assigned to nobody

[2021-03-19 07:47] #1489 closed, assigned to nobody

[2021-03-19 08:03] #1488 closed, assigned to nobody

[2021-03-19 08:03] #1480 closed, assigned to nobody

[2021-03-19 08:05] kattrina-brekhova opened #1490 "звіт про продажи: добавить колонку %маржи, как есть в отчете "валовий прибуток" - и % с ндс, и % без ндс"

[2021-03-26 10:19] Anestezia opened #1491 "Справочник валют единый для всех фирм в тенанте, если валюта не использовалась, ее не дает удалить, потому что в другой фирме она есть."
![image](https://user-images.githubusercontent.com/42540074/112617117-38a5e200-8e2d-11eb-9732-2c185177c4d5.png)
Из счетов на фирме у меня только гривневый
Пытаюсь удалить валюту из справочника (USD), система сообщает:
![image](https://user-images.githubusercontent.com/42540074/112617206-55dab080-8e2d-11eb-9504-3d7986768e84.png)
Операций по этой валюте нет
![image](https://user-images.githubusercon

[2021-03-26 10:29] Anestezia opened #1492 "Валюта по умолчанию в валютных отчетах всегда ставится USD, даже если она удалена из справочника и операций по ней не было."
Отчеты Оборотно-сальдова відомість по рахунках в банках  в валюті" та "Відомість по розрахунках з покупцями в валюті", "Відомість за розрахунками з постачальниками в валюті"

1. Завела новую фирму на новом акке.
2. В справочнике валют по умолчанию Доллар и Евро.
3. Зашла в отчет Відомість за розрахунками з покупцями в валюті - там по умолчанию доллар стоит.
4. Тут же в этой ведомости зашла в выбор

[2021-03-26 10:36] Anestezia opened #1493 "Оплата покупця з комісією - Продажи - Новые операции - Пересмотреть статус"
1. Выставлен счет на сумму 8400 грн.
2. Произведена оплата - операцией Оплата покупця з комісією (фото выше). 8300 + 100 (комис)
3. Операции новые - Статус Оплачено частково, залишок 100 грн. Это как-то неправильно. Долг по клиенту будет висеть? Он все заплатил. Если логически, то может там нужна разбивка по контрагентам на Покупателя и Банк по этой сумме в аналитике.
![image](https://user-images.

[2021-03-30 11:51] kattrina-brekhova commented on #1446
https://blank.dtkt.ua/blank/239

http://sfs.gov.ua/elektronni-formi-dokumentiv/podatok-na-pributok-pidpriemstv/podatkova-deklaratsiya-z-podatku-na-pri/

[2021-03-30 11:56] kattrina-brekhova commented on #1446
https://tax.gov.ua/data/material/000/006/58768/Forms_deklar.htm

[2021-03-30 11:58] kattrina-brekhova opened #1494 "декларация с ндс, с учетом ставки 14%"
https://news.dtkt.ua/accounting/reposts/68611

https://tax.gov.ua/data/material/000/006/58768/Forms_deklar.htm

[2021-03-30 12:05] kattrina-brekhova commented on #1475
https://tax.gov.ua/data/material/000/006/58768/Forms_deklar.htm

но у них какая-то лажа с формами, они не соответствуют порядку заполнения
пока ни новых форм ни розъяснений от минфина

https://bookkeeper.kiev.ua/novi-formi-ob-yednanoyi-zvitnosti-ne-vidpovidayut-vimogam-poryadku-zapovnennya/

[2021-03-30 12:05] kattrina-brekhova commented on #1471
https://tax.gov.ua/data/material/000/006/58768/Forms_deklar.htm

но у них какая-то лажа с формами, они не соответствуют порядку заполнения
пока ни новых форм ни розъяснений от минфина

https://bookkeeper.kiev.ua/novi-formi-ob-yednanoyi-zvitnosti-ne-vidpovidayut-vimogam-poryadku-zapovnennya/

[2021-04-01 02:03] htrofymova commented on #1494
готово

[2021-04-02 10:35] Anestezia opened #1495 "Создать операцию "Встановлення інвалідності" - Персонал, кадри"
Чтоб можно было устанавливать, если сотрудник приобрел статус инвалида, или менять, убирать, если не подтвердил на комиссии.

[2021-04-02 10:42] Anestezia opened #1496 "При расчете отпуска средняя не учитывает количество дней в 01,02.03 месяцах 2021 года. Ставит 0 дней."
![image](https://user-images.githubusercontent.com/42540074/113408906-e6c70400-93b8-11eb-9889-37cd852ece58.png)
Возможно все месяца 2021 года будут по 0 дней считаться при расчёте отпуска.

[2021-04-02 16:43] htrofymova commented on #1496
исправлено

[2021-04-02 19:55] htrofymova commented on #1492
Сделала, чтобы в валюных отчетах по умолчанию была одна из валют, по которым есть проводки. На диалог выбора валют - не распространяется, т.е. там все валюты, какие есть у тенанта.

[2021-04-02 20:01] htrofymova commented on #1491
Где информация-то? Пустой отчет. Ну, и пусть будет валюта, мешает что ли? Нет валюты, ну, и не стройте валютные отчеты. А курсы - они вообще у всех одинаковые, по определению или даже "по жизни".

[2021-04-02 21:40] htrofymova commented on #1490
готово

[2021-04-06 12:32] #1496 closed, assigned to nobody

[2021-04-06 12:47] Anestezia opened #1497 "Відомість на виплату готівки по ЗП -- не заполнены данные по фирме, ЕГРПОУ при экспорте и печати бланка"
![image](https://user-images.githubusercontent.com/42540074/113712863-51e14500-96ef-11eb-9c44-1a52242be8f4.png)

[2021-04-06 12:54] Anestezia opened #1498 "Идет доначисление до минимальной ЕСВ в месяце увольнения с работы при неполном отработанном месяце."
![image](https://user-images.githubusercontent.com/42540074/113713230-be5c4400-96ef-11eb-94b1-67194eb464d5.png)
Кейс: сотрудник был в отпуске с 04.01.22 по 14.01.22, а потом сразу уволился. Отпускные ему оплачены. Отработанных дней 0 за январь. Приказ на увольнение проведен, уволен с 17.01.22. Денег ему не должны.
И тут идет доначисление до минималки по ЕФСС. В месяце увольнения.
![image](https://

[2021-04-06 22:47] htrofymova commented on #1483
Добавила сортировку по периоду з/п. Хотя, этот отчет имеет смысл строить за один расчетный период (месяц), а за несколько периодов - как-то странно и не понятно, зачем.

[2021-04-06 23:32] htrofymova commented on #1493
готово

[2021-04-08 12:05] #1490 closed, assigned to nobody

[2021-04-08 13:04] AndriyNesterenya commented on #1475
Похоже, в налог шарашит всю сумму дохода.

У ФОП 3 группы на Деве:
![image](https://user-images.githubusercontent.com/38098758/114031412-0613d480-9884-11eb-9972-f6ffbda0a6ff.png)

[2021-04-08 17:13] htrofymova commented on #1475
исправила

[2021-04-16 06:53] #1483 closed, assigned to nobody

[2021-04-16 10:21] Anestezia opened #1499 "Включить аналитику по контрагенту в Початковий баланс-Інше-По счету."
Кейс: Початковий баланс - Інше - Створити документ - вносим по 484 счету. Выглядит до проведения так
![image](https://user-images.githubusercontent.com/42540074/115010789-7fc84580-9eb6-11eb-9778-f9a7ea6b4f09.png)
После проведения так: Табличная часть с контрагентом исчезает
![image](https://user-images.githubusercontent.com/42540074/115010831-8ce53480-9eb6-11eb-9c09-098bf4b8b1c9.png)
И в отчете по

[2021-04-16 11:38] #1492 closed, assigned to nobody

[2021-04-16 11:54] #1493 closed, assigned to nobody

[2021-04-16 12:43] Anestezia commented on #1446
J0100119
--
1) В таблице 9 основной декларации:

При проведении исчезает отметка "Іноземної компанії" и "інституту спільного інвестування у вигляді утворення без статусу юридичної особи2"
![Screenshot_10](https://user-images.githubusercontent.com/42540074/115025644-4a2d5780-9eca-11eb-8508-d880c49ce345.png)

2) Указывают на наличие Додатка КІК, у нас в отметках его нет
![image](https://user-images.